/// <reference path="../../variables/__variables.scss" />
/// <reference path="../../utlis/__utils.scss" />
/// <reference path="../../base/__base.scss" />

.admin-part {
    .chart-detail {
        float: left;
        width: 100%;
        margin: 0 0 10px 0;
    }

    .growth {
        float: left;
        width: 100%;
        background-color: #010101;
        border-radius: 4px;
        padding: 15px 15px;

        .a-title {
            text-transform: capitalize;
            color: #ffffff;
            font-size: 15px;
        }

        .p-value {
            margin-right: 5px;
            vertical-align: sub;
        }

        .c-value {
            font-size: 15px;
            margin: 10px 0px 5px 0px;
            font-weight: bold;
            color: #e3e3e3;

            .c-sub {
                color: #a7a7a7;
                font-size: 13px;
                font-weight: normal;
                margin-left: 5px;
            }
        }

        .month-value {
            color: #a7a7a7;

            .positive {
                color: $theme-success !important;
            }

            .negative {
                color: $red-color !important;
            }
        }

        .v-btn {
            background-color: #363637;
            border-radius: 4px;
            padding: 5px 10px;

            i {
                color: $theme-color;
            }
        }
    }

    .chart-value {
        background-color: #fff;
        float: left;
        width: 100%;
    }


    .dashboar-card {
        min-height: 250px;
        width: 100%;
        background: #2a2a2b;
        padding: 10px 20px;
        color: whitesmoke;

        .card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 10px;
            border-bottom: 1px solid #dbdbdb;
        }

        .card-body {
            padding-top: 10px;

            table {
                border: 1px solid #060606;

                thead {
                    th {
                        color: $theme-color;
                        background: black;
                        padding: 5px;
                    }
                }

                tbody {
                    tr {
                        border-bottom: 1px solid black;

                        td {
                            padding: 5px;
                        }
                    }
                }
            }
        }
    }
}
