/// <reference path="../../variables/__variables.scss" />
/// <reference path="../../base/__base.scss" />

.swap-animation {
    -webkit-animation-name: highlightBack;
    -webkit-animation-duration: .2s;
    -moz-animation-name: highlightBack;
    -moz-animation-duration: .2s;
    animation-name: highlightBack;
    animation-duration: .2s;
}

.position-animation {
    -webkit-animation-name: highlightBack;
    -webkit-animation-duration: .8s;
    -moz-animation-name: highlightBack;
    -moz-animation-duration: .8s;
    animation-name: highlightBack;
    animation-duration: .8s;
}



@-moz-keyframes highlightBack {
    0% {
        background-color: $lemon-color;
    }

    50% {
        background-color: $light-lemon;
    }

    100% {
        background-color: $lemon-color;
    }
}

@-o-keyframes highlightBack {
    0% {
        background-color: $lemon-color;
    }

    50% {
        background-color: $light-lemon;
    }

    100% {
        background-color: $lemon-color;
    }
}

@keyframes highlightBack {
    0% {
        background-color: $lemon-color;
    }

    50% {
        background-color: $light-lemon;
    }

    100% {
        background-color: $lemon-color;
    }
}

@-webkit-keyframes highlightLay {
    0% {
        background-color: $lay-2-color; // #fac9d4;
    }

    50% {
        background-color: $light-lemon;
    }

    100% {
        background-color: $lay-2-color;
    }
}

@-moz-keyframes highlightLay {
    0% {
        background-color: $lay-2-color;
    }

    50% {
        background-color: $light-lemon;
    }

    100% {
        background-color: $back-2-color; // #a6d8ff;
    }
}

@-o-keyframes highlightLay {
    0% {
        background-color: $lay-2-color;
    }

    50% {
        background-color: $light-lemon;
    }

    100% {
        background-color: $lay-2-color;
    }
}

@keyframes highlightLay {
    0% {
        background-color: $lay-2-color;
    }

    50% {
        background-color: $light-lemon;
    }

    100% {
        background-color: $lay-2-color;
    }
}

@-webkit-keyframes highlightGrey {
    0% {
        background-color: $white-color;
    }

    50% {
        background-color: $light-lemon;
    }

    100% {
        background-color: $white-color;
    }
}

@-moz-keyframes highlightGrey {
    0% {
        background-color: $white-color;
    }

    50% {
        background-color: $light-lemon;
    }

    100% {
        background-color: $white-color;
    }
}

@-o-keyframes highlightGrey {
    0% {
        background-color: $white-color;
    }

    50% {
        background-color: $light-lemon;
    }

    100% {
        background-color: $white-color;
    }
}

@keyframes highlightGrey {
    0% {
        background-color: $lay-2-color;
    }

    50% {
        background-color: $light-lemon;
    }

    100% {
        background-color: $lay-2-color;
    }
}


.blink-color, .blink-color a {
    -webkit-animation: blinkcolor 2s linear infinite;
    -moz-animation: blinkcolor 2s linear infinite;
    -ms-animation: blinkcolor 2s linear infinite;
    -o-animation: blinkcolor 2s linear infinite;
    animation: blinkcolor 2s linear infinite;
}

@-webkit-keyframes blinkcolor {
    0% {
        color: $theme-color;
    }

    25% {
        color: red;
    }

    100% {
        color: $theme-color;
    }
}

@-moz-keyframes blinkcolor {
    0% {
        color: $theme-color;
    }

    25% {
        color: red;
    }

    100% {
        color: $theme-color;
    }
}

@-ms-keyframes blinkcolor {
    0% {
        color: $theme-color;
    }

    25% {
        color: red;
    }

    100% {
        color: $theme-color;
    }
}

@-o-keyframes blinkcolor {
    0% {
        color: $theme-color;
    }

    25% {
        color: red;
    }

    100% {
        color: $theme-color;
    }
}

@keyframes blinkcolor {
    0% {
        color: $theme-color;
    }

    25% {
        color: red;
    }

    100% {
        color: $theme-color;
    }
}


.newitem {
    .team-name, .empty-score, .sports_data {
        -webkit-animation: blinknewitem 2s linear;
        -moz-animation: blinknewitem 2s linear;
        -ms-animation: blinknewitem 2s linear;
        -o-animation: blinknewitem 2s linear;
        animation: blinknewitem 2s linear;
    }
}


@-webkit-keyframes blinknewitem {
    0% {
        background-color: #9ba7b7;
    }

    100% {
        background-color: $white-color;
    }
}

@-moz-keyframes blinknewitem {
    0% {
        background-color: #9ba7b7;
    }

    100% {
        background-color: $white-color;
    }
}

@-ms-keyframes blinknewitem {
    0% {
        background-color: #9ba7b7;
    }

    100% {
        background-color: $white-color;
    }
}

@-o-keyframes blinknewitem {
    0% {
        background-color: #9ba7b7;
    }

    100% {
        background-color: $white-color;
    }
}

@keyframes blinknewitem {
    0% {
        background-color: #9ba7b7;
    }

    100% {
        background-color: $white-color;
    }
}
