<div id="ssc-footer-container"
     class="ssc-container ssc-theme-betfair ssc-loggedOut  ssc-prod-exchange-eds ssc-jur-intl ssc-reg-gb ssc-lang-en_gb ssc-cc-gb ssc-cha-desktop ssc-webkit ssc-js ssc-os-Windows">
    <footer id="footer">
        <div id="mod-footer-55113-container" class="mod">
            <div id="mod-footer-55113" class="mod-footer mod-footer-footer">
                <div class="ssc-seos">
                    <div class="ssc-seotc">
                        <p></p>
                        <div id="liveScoresFooter">
                            <div id="liveScoresFooterBlock">
                                <strong>Warning</strong>: Although the current score,
                                time elapsed, video and other data provided on this site is sourced from
                                "live" feeds provided by third parties, you should be aware that this
                                data may be subject to a time delay and/or be inaccurate.&nbsp; Please also be
                                aware that other {{displayName}} customers may have access to data that is faster
                                and/or more accurate than the data shown on the {{displayName}} site. If you rely on this data to place bets, you do so entirely at your own
                                risk. {{displayName}} provides this data AS IS with no warranty as to the accuracy,
                                completeness or timeliness of such data and accepts no responsibility for any
                                loss (direct or indirect) suffered by you as a result of your reliance on it.
                            </div>
                        </div><p></p>
                    </div>
                </div>
                
                <div class="ssc-fw">
                    <div class="ssc-tlc">
                        <ul class="ssc-flnk ssc-tl">
                            <li class="ssc-lw">
                                <a ui-sref="termsconditions" target="_blank">Terms &amp; Conditions</a>
                            </li>
                            <li class="ssc-lw">
                                <a ui-sref="responsiblegambling" target="_blank">Responsible Gambling Policy</a>
                            </li>
                            <li class="ssc-lw">
                                <a ui-sref="privacypolicy" target="_blank">Privacy Policy</a>
                            </li>
                            <li class="ssc-lw ssc-hdn">
                                <a ui-sref="cookiepolicy" target="_blank">Cookie Policy</a>
                            </li>
                        </ul>
                    </div>

                    <div class="ssc-fbtm">
                        <img ng-src="/public/images/{{currentWebApp}}/logo.png" />
                        <div class="social-icon" ng-if="supportDetail.instagram || supportDetail.telegram || supportDetail.twitter || supportDetail.facebook">
                            <a href="{{supportDetail.telegram}}" target="_blank" ng-if="supportDetail.telegram">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16" fill="none">
                                    <g clip-path="url(#clip0_2_11)">
                                        <path class="fill" fill-rule="evenodd" clip-rule="evenodd" d="M14.5553 2.95322C15.3324 2.64784 16.1655 3.26112 16.0283 4.03758L14.4076 13.2087C14.2513 14.093 13.2108 14.6004 12.3416 14.1597C11.6142 13.791 10.5351 13.2235 9.56248 12.6303C9.07684 12.3341 7.58976 11.3844 7.77255 10.7083C7.92883 10.1303 10.4288 7.95832 11.8573 6.66666C12.4185 6.15928 12.1629 5.86616 11.5002 6.33332C9.85619 7.49219 7.21678 9.25413 6.34395 9.74999C5.57386 10.1875 5.17177 10.2621 4.69216 10.1875C3.81636 10.0513 3.00438 9.84033 2.34146 9.58386C1.44548 9.23719 1.48913 8.08799 2.34086 7.75332L14.5553 2.95322Z" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_2_11">
                                            <rect width="17.1429" height="16" fill="white" transform="translate(0.428711)" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </a>
                            <a href="{{supportDetail.twitter}}" target="_blank" ng-if="supportDetail.twitter">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="16" viewBox="0 0 19 16" fill="none">
                                    <g clip-path="url(#clip0_2_17)">
                                        <path d="M3.81929 3.32254C4.09175 3.29385 4.35936 3.404 4.51414 3.60856C5.60311 5.04776 6.91107 5.64647 8.36237 5.78268C8.4336 5.22189 8.60115 4.66779 8.91609 4.17995C9.37806 3.46418 10.1294 2.93722 11.2028 2.7425C12.6859 2.47344 13.8152 2.95857 14.4705 3.55271L15.793 3.3294C16.0755 3.28171 16.363 3.38644 16.5298 3.59783C16.6965 3.80922 16.7123 4.08882 16.5701 4.31442L15.301 6.32914C15.4167 9.23674 14.5221 11.2659 12.6148 12.6639C11.6031 13.4054 10.1553 13.826 8.56609 13.9559C6.96447 14.0867 5.15405 13.9285 3.35434 13.4538C3.0386 13.3705 2.82196 13.1086 2.82313 12.8115C2.82429 12.5144 3.04296 12.2539 3.35934 12.1726C4.26441 11.9401 4.95327 11.7391 5.57597 11.3881C4.69139 10.9639 4.03961 10.4094 3.57831 9.77721C2.93714 8.89848 2.6994 7.91888 2.6522 7.03534C2.605 6.1519 2.74635 5.33366 2.89521 4.74311C2.97995 4.40694 3.07893 4.0692 3.21536 3.74656C3.31445 3.51403 3.54683 3.35123 3.81929 3.32254Z" class="fill" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_2_17">
                                            <rect width="17.7143" height="16" fill="white" transform="translate(0.428711)" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </a>
                            <a href="{{supportDetail.instagram}}" target="_blank" ng-if="supportDetail.instagram">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16" fill="none">
                                    <g clip-path="url(#clip0_2_29)">
                                        <path class="fill" d="M11.4285 2C13.401 2 15 3.49239 15 5.33333V10.6667C15 12.5076 13.401 14 11.4285 14H5.71425C3.74181 14 2.14282 12.5076 2.14282 10.6667V5.33333C2.14282 3.49239 3.74181 2 5.71425 2H11.4285ZM8.57139 5.33333C6.99344 5.33333 5.71425 6.52724 5.71425 8C5.71425 9.47273 6.99344 10.6667 8.57139 10.6667C10.1493 10.6667 11.4285 9.47273 11.4285 8C11.4285 6.52724 10.1493 5.33333 8.57139 5.33333ZM8.57139 6.66667C9.36039 6.66667 9.99997 7.2636 9.99997 8C9.99997 8.7364 9.36039 9.33333 8.57139 9.33333C7.78239 9.33333 7.14282 8.7364 7.14282 8C7.14282 7.2636 7.78239 6.66667 8.57139 6.66667ZM11.7857 4.33333C11.3912 4.33333 11.0714 4.63181 11.0714 5C11.0714 5.36819 11.3912 5.66667 11.7857 5.66667C12.1802 5.66667 12.5 5.36819 12.5 5C12.5 4.63181 12.1802 4.33333 11.7857 4.33333Z" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_2_29">
                                            <rect width="17.1429" height="16" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </a>
                            <a href="{{supportDetail.facebook}}" target="_blank" ng-if="supportDetail.facebook">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16" fill="none">
                                    <g clip-path="url(#clip0_2_23)">
                                        <path class="fill" d="M9.64288 14.5922C13.0795 14.1097 15.7143 11.342 15.7143 8.00001C15.7143 4.31811 12.5163 1.33334 8.57145 1.33334C4.62655 1.33334 1.42859 4.31811 1.42859 8.00001C1.42859 11.342 4.0634 14.1097 7.50002 14.5922V10H6.42859C5.83685 10 5.35716 9.55228 5.35716 9.00001C5.35716 8.44774 5.83685 8.00001 6.42859 8.00001H7.50002V6.66668C7.50002 5.37801 8.61931 4.33334 10 4.33334H10.3572C10.9489 4.33334 11.4286 4.78106 11.4286 5.33334C11.4286 5.88563 10.9489 6.33334 10.3572 6.33334H10C9.80281 6.33334 9.64288 6.48258 9.64288 6.66668V8.00001H10.7143C11.306 8.00001 11.7857 8.44774 11.7857 9.00001C11.7857 9.55228 11.306 10 10.7143 10H9.64288V14.5922Z" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_2_23">
                                            <rect width="17.1429" height="16" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>
</div>