<div class="row">
    <div class="col-sm-12">
        <div class="input-group" ng-if="!isRole">
            <span class="input-group-addon"><i class="fa fa-key"></i></span>
            <input id="key" type="text" minlength="1" maxlength="100"
                   placeholder="{{::'permission.key.placeholder' | translate}}"
                   required autofocus ng-model="$parent.$parent.$parent.key" class="form-control">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user-secret"></i></span>
            <input id="rolePermission" type="text" minlength="1" maxlength="100"
                   placeholder="{{::'permission.name.placeholder' | translate}}"
                   required ng-model="$parent.$parent.name" class="form-control">
        </div>
    </div>
</div>



