<footer class="footer" ng-controller="footerCtrl as fc">
    <div class="support">
        <div>
            <div class="w-100 text-center"><b>24X7 Support</b></div>
            <!--<div class="text-center w-100"><span>+447377773777 / +447411114111 </span></div>-->
        </div>
        <div class="footer-social">
            <a href="{{supportDetail.whatsapp}}" target="_blank" ng-if="supportDetail.whatsapp">
                <img ng-src="{{webImagePath}}icons/whatsapp.png" alt="whatsapp">
            </a>
            <a href="{{supportDetail.facebook}}" target="_blank" ng-if="supportDetail.facebook">
                <img ng-src="{{webImagePath}}icons/facebook.png" alt="facebook">
            </a>
            <a href="{{supportDetail.instagram}}" target="_blank" ng-if="supportDetail.instagram">
                <img ng-src="{{webImagePath}}icons/instagram.png" alt="instagram">
            </a>
            <a href="{{supportDetail.telegram}}" target="_blank" ng-if="supportDetail.telegram">
                <img ng-src="{{webImagePath}}icons/telegram.png" alt="telegram">
            </a>
            <a href="{{supportDetail.twitter}}" target="_blank" ng-if="supportDetail.twitter">
                <img ng-src="{{webImagePath}}icons/twitter.png" alt="twitter">
            </a>
            <a href="{{supportDetail.youtube}}" target="_blank" ng-if="supportDetail.youtube">
                <img ng-src="{{webImagePath}}icons/youtube.png" alt="youtube">
            </a>
        </div>
    </div>
    <div class="footer-menu">
        <ul>
            <li>
                <a href="#" class="" target="_blank">About Us</a>
            </li>
            <li><a href="#" class="" target="_blank">Terms and Conditions</a></li>
            <li><a href="#" class="" target="_blank">Responsible Gaming</a></li>
        </ul>
    </div>
    <div class="footer-box">
        <div class="footer-top">
            <div class="secure-logo">
                <div>
                    <img ng-src="{{webImagePath}}ssl.png" alt="ssl">
                </div>
                <div class="ml-2"><b>100% SAFE</b> <div>Protected connection and encrypted data.</div></div>
            </div>
            <div class="d-inline-block footer-other">
                <a href="javascript:void(0)" role="button">
                    <img ng-src="{{webImagePath}}18plus.png" alt="18plus">
                </a>
                <a href="https://www.gamcare.org.uk/" target="_blank">
                    <img ng-src="{{webImagePath}}gamecare.png" alt="gamecare">
                </a>
                <a href="https://www.gamblingtherapy.org/en" target="_blank">
                    <img ng-src="{{webImagePath}}gt.png" alt="gamblingtherapy">
                </a>
            </div>
        </div>
        <div class="footer-bottom">
            <span class="ws-pre-wrap">This website is operated by GIT Operations, registered in United Kingdom under the number 148532, with the address at Heelsumstraat 51 Curaçao. Authorized by The Autonomous Island of Anjouan through The Betting and Gaming Act 2005 under the gaming license number ALSI which operates this website.</span>
        </div>
    </div> <div class="text-center mt-1 w-100 copyright">
        © Copyright 2024.
        All Rights Reserved.
    </div> <!----> <!---->
</footer>