/*----------------------------------------------------------------------------*\
    #RESET
\*----------------------------------------------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    //font-size: 100%;
    //vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
}
ins {
    background: #ff0;
    color: $black-color;
    text-decoration: none;
}
mark {
    background: #ff0;
    color: $black-color;
    font-style: italic;
    font-weight: bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $border-color;
    margin: 1em 0;
    padding: 0;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}

/** {
    &,
    &::before,
    &::after {
        box-sizing: inherit;
    }
}*/
.input-group-addon{color:$dark-gray-black!important;}

.mCSB_dragger_bar{background-color:rgba(0, 0, 0, 0.50)!important;}
.mCSB_scrollTools{width:0px!important;}
.mCSB_scrollTools.mCSB_scrollTools_horizontal{width:auto!important;}
.mCSB_scrollTools_vertical{margin:0px!important;}

.fa-f10{font-size:10px!important;}