<div ng-scrollbars class="scroll-wrap">
    <div class="bf-row no-bottom-gutter gutter-pad-8" >
        <div class="bf-col-24-24">
            <section class="mod-promo-banners bf-row no-bottom-gutter" ng-if="renderingFor==1">
                <div class="load-screen ng-animate-enabled promo-banner-list">
                    <div class="promo-banner bf-col-md-8-24 bf-col-12-24">
                        <section class="promo-banner-container banner-directive">
                            <div class="banner-container">
                                <a class="banner-image-link">
                                    <img alt="Banner"
                                         ng-src="{{imagePath}}images/icon2/mobile-banner.jpg"
                                         class="banner-image">
                                </a>
                                <div class="banner-title" title="The New">The New Exchange</div>
                                <div class="banner-links-container">
                                    <div class="banner-subtitle" title="Try now">Try now</div>
                                    <div class="banner-links"></div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="promo-banner bf-col-md-8-24 bf-col-12-24">
                        <section class="promo-banner-container banner-directive">
                            <div class="banner-container">
                                <a class="banner-image-link">
                                    <img alt="Banner" ng-src="{{imagePath}}images/icon2/mobile-banner.jpg" class="banner-image">
                                </a>
                                <div class="banner-title" title="">Betting</div>
                                <div class="banner-links-container">
                                    <div class="banner-subtitle" title="Insights and betting tips">Insights and betting tips</div>
                                    <div class="banner-links">
                                        <a class="banner-link">Daily articles and tips</a>
                                        <a class="banner-link">Get the latest on Football</a>
                                        <a class="banner-link">Get the latest on Tennis</a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="promo-banner bf-col-md-8-24 bf-col-12-24">
                        <section class="promo-banner-container banner-directive">
                            <div class="banner-container">
                                <a class="banner-image-link">
                                    <img alt="Banner" ng-src="{{imagePath}}images/icon2/mobile-banner.jpg" class="banner-image">
                                </a>
                                <div class="banner-title" title="">Beat the Drop</div>
                                <div class="banner-links-container">
                                    <div class="banner-subtitle" title="Insights and betting tips">Chance of winning €1,000 daily</div>
                                    <div class="banner-links">
                                        <a class="banner-link">Daily articles and tips</a>
                                        <a class="banner-link">Get the latest on Football</a>
                                        <a class="banner-link">Get the latest on Tennis</a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
            <img class="img" ng-src="{{bannerPath}}" ng-if="renderingFor>1" />
        </div>
    </div>
    <div class="bf-row no-bottom-gutter gutter-pad-8" ng-if="renderingFor==1 && allUpcomingHorseRace.length>0">
        <div class="bf-col-24-24">
            <div>
                <div class="next-races-container">
                    <header class="card-header__container">
                        <h2 class="card-header__title" title="Next Races">Next Races</h2>
                    </header>
                    <div class="next-races-container__cards next-races-container__cards--medium">
                        <bf-next-race-card ng-repeat="r in allUpcomingHorseRace">
                            <div class="next-race-card">
                                <a class="next-race-card__link mod-link"
                                   ui-sref="base.home.sport.upcomingrace({nodetype:1,id:ctrl.settings.HorseRacingId,marketid:r.id,eventTypeId:ctrl.settings.HorseRacingId})">
                                    <div class="next-race-card__info">
                                        <div class="next-race-card__info-top">
                                            <!--<span class="next-race-card__time">{{r.startTime | date:'HH:mm'}}</span>-->
                                            <span class="next-race-card__venue">{{r.event.raceName}}</span>
                                        </div>
                                        <div class="next-race-card__info-bottom">
                                            <span class="next-race-card__matched-amount">{{r.name}}</span>
                                            <span class="next-race-card__on-tv">
                                                <svg class="next-race-card__on-tv-icon svg-icon-default " data-icon="on-tv" viewBox="0 0 100 100">
                                                    <path d="M0 13v68.75h25V88h50v-6.25h25V13H0zm87.5 56.25h-75V25.5h75v43.75z"></path>
                                                </svg>
                                            </span>
                                            <span class="next-race-card__live-video" ng-class="{'is-active': $ctrl.liveVideoActive}" ng-if="::$ctrl.liveVideoAvailable">
                                                <svg class="next-race-card__live-video-icon svg-icon-default " data-icon="live-video" viewBox="0 0 100 100">
                                                    <path d="M0 13v75h100V13H0zm38.12 55.939V32.06l30 18.75-30 18.129z"></path>
                                                </svg>
                                            </span>
                                        </div>
                                    </div><div class="next-race-card__status-container">
                                        <div class="next-race-card__status next-race-card__status--time">{{r.startTime | toDays}} {{r.startTime | date:'HH:mm'}}</div>
                                    </div><div class="next-race-card__arrow">
                                        <svg class="next-race-card__arrow-icon svg-icon-default " data-icon="arrow-medium" viewBox="0 0 100 100">
                                            <path d="M68.496,0.028L18.44,50.083l48.81,50.055l12.514-12.514L43.468,50.083l37.543-37.542 L68.496,0.028z"></path>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </bf-next-race-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bf-row no-bottom-gutter gutter-pad-8" ng-show="highlights && highlights.length>0">
        <div class="bf-col-24-24" ng-if="!highlights[0].markets">
            <main class="sports-highlights-coupon">
                <div class="load-screen ng-animate-enabled">
                    <section class="coupon-card">
                        <div class="card-header-title">{{eventTypes.length==1 ? eventTypeName+' Highlights' : 'Sport Highlights'}}</div>
                        <div class="card-content">
                            <div ng-repeat="s in eventTypes">
                                <div class="coupon-table-mod" ng-if="(highlights | filter:{eventTypeId:s.id}).length>0">
                                    <table class="coupon-table">
                                        <thead>
                                            <tr class="headers">
                                                <th>{{eventTypes.length>1 ? s.name : ''}}<span class="matched">Matched</span></th>
                                                <th class="small">1 </th>
                                                <th class="small" ng-if="(highlights | filter:{eventTypeId:s.id,hasAnyDrawMarket:true}).length>0"> X </th>
                                                <th class="small">2 </th>
                                                <th class="market-rules-table-header"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="h in (highlights | filter:{eventTypeId:s.id})">
                                                <td>
                                                    <a class="mod-link" ui-sref="base.home.sport.fullmarket({nodetype:2,id:h.event.competitionId,eventId:h.eventId,eventTypeId:h.eventTypeId})">
                                                        <section class="mod-event-line">
                                                            <section class="bf-livescores mini">
                                                                <div>
                                                                    <div class="default-template" ng-if="!h.isSoccer && !h.isCricket && !h.isTennis">
                                                                        <div class="bf-livescores-start-date" ng-if="!h.inPlay">
                                                                            <div class="start-date-wrapper">
                                                                                <span class="label">{{h.event.openDate | toDays}}<br /> {{h.event.openDate | date:'HH:mm'}}</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="bf-livescores-start-date in-play" ng-if="h.inPlay">
                                                                            <div class="start-date-wrapper">
                                                                                <span class="label">In-Play</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="default-template tennis" ng-if="h.isTennis">
                                                                        <div class="bf-livescores-match-scores in-play">
                                                                            <div class="scores">
                                                                                <span data-ng-class="side" class="home">{{h.score.score.home.sets}}</span>
                                                                                <span data-ng-class="side" class="away">{{h.score.score.away.sets}}</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="bf-livescores-extended-scores">
                                                                            <div class="games">
                                                                                <div class="cell">
                                                                                    <div data-ng-class="side" class="home">
                                                                                        <span class="quarter">{{h.score.score.home.games}}</span>
                                                                                    </div>
                                                                                    <div data-ng-class="side" class="away">
                                                                                        <span class="quarter">{{h.score.score.away.games}}</span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="default-template" ng-if="h.isSoccer">
                                                                        <div class="bf-livescores-time-elapsed">
                                                                            <div class="cell">
                                                                                <div class="middle-label">{{h.score.timeElapsed}}"</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="bf-livescores-match-scores in-play">
                                                                            <div class="scores">
                                                                                <span data-ng-class="side" class="home">{{h.score.score.home.score}}</span>
                                                                                <span data-ng-class="side" class="away">{{h.score.score.away.score}}</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div ng-if="h.isCricket" class="default-template">
                                                                        <div class="bf-livescores-innings in-play">
                                                                            <div class="current-inning">
                                                                                <div>
                                                                                    <div class="home">{{h.score.runs}} <span ng-if="h.score.overs">({{h.score.overs}})</span> </div>
                                                                                    <div class="away" ng-if="h.score.taget">Tgt {{h.score.taget}}</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </section>
                                                            <ul class="runners">
                                                                <li class="name" ng-repeat="mr in h.marketRunner | limitTo:2"> {{mr.runner.name}}</li>
                                                            </ul>

                                                            <ul class="matched-amount">
                                                                <li class="matched-amount-value">${{h.totalMatched | toRate}}</li>
                                                            </ul>
                                                            <ul class="icons">
                                                                <li class="icon-tv" ng-show="h.hasVideo">
                                                                    <svg class="svg-icon-default " data-icon="on-tv" viewBox="0 0 100 100">
                                                                        <path d="M0 13v68.75h25V88h50v-6.25h25V13H0zm87.5 56.25h-75V25.5h75v43.75z"></path>
                                                                    </svg>
                                                                </li>
                                                                <li class="icon-tv" ng-show="h.hasFancy">
                                                                    <img ng-src="{{imagePath}}images/icon2/ic_fancy.png" />
                                                                </li>
                                                            </ul>
                                                        </section>
                                                    </a>
                                                </td>
                                                <td class="coupon-runners" colspan="3">
                                                    <div class="coupon-runner" ng-init="m0 = h.marketRunner[0]">
                                                        <button class="bf-bet-button back-button back-selection-button" kt-animate-on-change="m0.backPrice[0].size"
                                                                kt-click ng-click="ctrl.placeBet(h,1,m0.runner.id,m0.backPrice[0].price ? m0.backPrice[0].price : '',m0.runner.name,m0.backPrice[0].percentage ? m0.backPrice[0].percentage : '');">
                                                            <kt-glc data-show-size="{{h.bettingType==1}}" data-item="m0.backPrice[0]"></kt-glc>
                                                        </button>
                                                        <button class="bf-bet-button lay-button lay-selection-button" kt-animate-on-change="m0.layPrice[0].size"
                                                                kt-click ng-click="ctrl.placeBet(h,2,m0.runner.id,m0.layPrice[0].price ? m0.layPrice[0].price : '',m0.runner.name,m0.layPrice[0].percentage ? m0.layPrice[0].percentage : '');">
                                                            <kt-glc data-show-size="{{h.bettingType==1}}" data-item="m0.layPrice[0]"></kt-glc>
                                                        </button>
                                                    </div>
                                                    <div class="coupon-runner" ng-init="m2 = h.marketRunner[2]" ng-if="(highlights | filter:{eventTypeId:s.id,hasAnyDrawMarket:true}).length>0">
                                                        <button class="bf-bet-button back-button"
                                                                kt-click ng-click="ctrl.placeBet(h,1,m2.runner.id,m2.backPrice[0].price ? m2.backPrice[0].price : '',m2.runner.name,m2.backPrice[0].percentage ? m2.backPrice[0].percentage : '');"
                                                                ng-class="{'back-button-empty back-selection-button empty':!m2,'back-selection-button':m2}"
                                                                kt-animate-on-change="m2.backPrice[0].size">
                                                            <kt-glc data-show-size="{{h.bettingType==1}}" data-item="m2.backPrice[0]"></kt-glc>
                                                        </button>
                                                        <button class="bf-bet-button lay-button "
                                                                kt-click ng-click="ctrl.placeBet(h,2,m2.runner.id,m2.layPrice[0].price ? m2.layPrice[0].price : '',m2.runner.name,m2.layPrice[0].percentage ? m2.layPrice[0].percentage : '');"
                                                                ng-class="{'lay-button-empty lay-selection-button empty':!m2,'lay-selection-button':m2}"
                                                                kt-animate-on-change="m2.layPrice[0].size">
                                                            <kt-glc data-show-size="{{h.bettingType==1}}" data-item="m2.layPrice[0]"></kt-glc>
                                                        </button>
                                                    </div>
                                                    <div class="coupon-runner" ng-init="m1 = h.marketRunner[1]" >
                                                        <button class="bf-bet-button back-button back-selection-button" kt-animate-on-change="m1.backPrice[0].size"
                                                                kt-click ng-click="ctrl.placeBet(h,1,m1.runner.id,m1.backPrice[0].price ? m1.backPrice[0].price : '',m1.runner.name,m1.backPrice[0].percentage ? m1.backPrice[0].percentage : '');">
                                                            <kt-glc data-show-size="{{h.bettingType==1}}" data-item="m1.backPrice[0]"></kt-glc>
                                                        </button>
                                                        <button class="bf-bet-button lay-button lay-selection-button" kt-animate-on-change="m1.layPrice[0].size"
                                                                kt-click ng-click="ctrl.placeBet(h,2,m1.runner.id,m1.layPrice[0].price ? m1.layPrice[0].price : '',m1.runner.name,m1.layPrice[0].percentage ? m1.layPrice[0].percentage : '');">
                                                            <kt-glc data-show-size="{{h.bettingType==1}}" data-item="m1.layPrice[0]"></kt-glc>
                                                        </button>
                                                    </div>
                                                </td>
                                                <td class="coupon-market-rules">
                                                    <kt-rules data-market="h"></kt-rules>
                                                </td>
                                            </tr>

                                            <tr class="coupon-table-loading"><td colspan="5"></td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--<div >
                                <div class="coupon-table-mod">
                                    <table class="coupon-table">
                                        <thead>
                                            <tr class="headers">
                                                <th>Football <span class="matched">Matched</span></th>
                                                <th class="small">1 </th>
                                                <th class="small">X </th>
                                                <th class="small">2 </th>
                                                <th class="market-rules-table-header"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a class="mod-link">
                                                        <event-line event-data="::event" timezone-offset="::vm.data.timezoneOffset">
                                                            <section class="mod-event-line">
                                                                <section class="bf-livescores mini">
                                                                    <div>
                                                                        <div class="default-template">
                                                                            <div class="bf-livescores-start-date">
                                                                                <div class="start-date-wrapper">
                                                                                    <span class="label">Today 11:00</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </section>
                                                                <ul class="runners">
                                                                    <li class="name" title="Shrewsbury">Shrewsbury</li>
                                                                    <li class="name" title="Port Vale">Port Vale</li>
                                                                </ul>

                                                                <ul class="matched-amount">
                                                                    <li class="matched-amount-value">$81,886</li>
                                                                </ul>
                                                                <ul class="icons">
                                                                    <li class="icon-tv">
                                                                        <svg class="svg-icon-default " data-icon="on-tv" viewBox="0 0 100 100">
                                                                            <path d="M0 13v68.75h25V88h50v-6.25h25V13H0zm87.5 56.25h-75V25.5h75v43.75z"></path>
                                                                        </svg>
                                                                    </li>
                                                                </ul>
                                                            </section>
                                                        </event-line>
                                                    </a>
                                                </td>
                                                <td class="coupon-runners" colspan="3">
                                                    <div class="coupon-runner">
                                                        <button class="bf-bet-button back-button back-selection-button">
                                                            <div class="bf-bet-button-info">
                                                                <span class="bet-button-price">3.65</span>
                                                                <span class="bet-button-size">$196</span>
                                                            </div>
                                                        </button>
                                                        <button class="bf-bet-button lay-button lay-selection-button">
                                                            <div class="bf-bet-button-info">
                                                                <span class="bet-button-price">3.75</span>
                                                                <span class="bet-button-size">$99</span>
                                                            </div>
                                                        </button>
                                                    </div>
                                                    <div class="coupon-runner">
                                                        <button class="bf-bet-button back-button back-selection-button">
                                                            <div class="bf-bet-button-info">
                                                                <span class="bet-button-price">3.65</span>
                                                                <span class="bet-button-size">$196</span>
                                                            </div>
                                                        </button>
                                                        <button class="bf-bet-button lay-button lay-selection-button">
                                                            <div class="bf-bet-button-info">
                                                                <span class="bet-button-price">3.75</span>
                                                                <span class="bet-button-size">$99</span>
                                                            </div>
                                                        </button>
                                                    </div>
                                                    <div class="coupon-runner">
                                                        <button class="bf-bet-button back-button back-selection-button">
                                                            <div class="bf-bet-button-info">
                                                                <span class="bet-button-price">3.65</span>
                                                                <span class="bet-button-size">$196</span>
                                                            </div>
                                                        </button>
                                                        <button class="bf-bet-button lay-button lay-selection-button">
                                                            <div class="bf-bet-button-info">
                                                                <span class="bet-button-price">3.75</span>
                                                                <span class="bet-button-size">$99</span>
                                                            </div>
                                                        </button>
                                                    </div>
                                                </td>
                                                <td class="coupon-market-rules">
                                                    <a class="market-rules-icon" title="Rules"></a>
                                                </td>
                                            </tr>
                                            <tr class="inline-betting-container ng-animate-enabled">
                                                <td colspan="5">
                                                    <section class="mod-inline-betting" tabindex="-1" data-ng-class="{'narrow': vm.data.isNarrowEnabled,'long-currency': vm.longCurrency,'line-betting-type': vm.isLineBettingType}" data-bf-below-width="vm.data.breakPointRules">
                                                        <div class="place-bet-panel-animate">
                                                            <div class="place-bet-panel back" data-bf-below-width="{'extra-small': 565, 'small': 625, 'medium': 670, 'large': 720, 'extra-large': 800}">
                                                                <div class="place-bet-container">
                                                                    <div class="place-bet-content">
                                                                        <div class="bet-info">
                                                                            <div class="info">
                                                                                <div class="bet-info-back">Back (Bet For):</div>
                                                                                <div class="bet-info-lay">Lay (Bet Against):</div>
                                                                                <div class="bet-info-description" title="Shrewsbury - Match Odds">
                                                                                    <span>Shrewsbury</span> <span data-ng-if="vm.canShowMarketName">-</span>
                                                                                    <span>Match Odds</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="place-bet-content">
                                                                        <div class="bet-actions-container" data-ng-class="{'nudges-visible': vm.data.placeBetPanel.nudgeButtons.visible}">
                                                                            <button class="reset-bet not-visible-when-narrow" tabindex="0" data-ng-click="vm.onCancel({state: vm.data})">
                                                                                Cancel
                                                                            </button>
                                                                            <div class="price-container">
                                                                                <div class="input">
                                                                                    <input class="price-input " maxlength="6" tabindex="0"
                                                                                           data-ng-attr-placeholder="{{ vm.data.placeBetPanel.priceInput.placeholder | translate }}"
                                                                                           data-ng-class="{'price-error': vm.data.placeBetPanel.priceInput.hasError}"
                                                                                           data-ng-disabled="!vm.data.placeBetPanel.priceInput.enabled"
                                                                                           data-bf-trigger-focus="vm.data.placeBetPanel.priceInput.focus" data-bf-restrict-number=""
                                                                                           data-ng-model="vm.price" data-ng-change="vm.onValueChange({state: vm.data, price: vm.price, size: vm.size})"
                                                                                           data-ng-blur="vm.onBlur({state: vm.data, price: vm.price, size: vm.size})"
                                                                                           data-ng-focus="vm.onFocusPrice({state: vm.data})"
                                                                                           data-ng-keypress="vm.onKeypress($event, {state: vm.data, isConfirmed: false, price: vm.price, size: vm.size})"
                                                                                           data-ng-keydown="vm.onPriceKeydown($event, {state: vm.data, price: vm.price})" placeholder="Odds">
                                                                                </div>
                                                                            </div><div class="size-container">
                                                                                <div class="input">
                                                                                    <input class="size-input ng-pristine ng-untouched ng-valid ng-empty ng-valid-maxlength" maxlength="9"
                                                                                           tabindex="0" data-ng-attr-placeholder="{{ vm.data.placeBetPanel.sizeInput.placeholder | translate }}"
                                                                                           data-ng-disabled="!vm.data.placeBetPanel.sizeInput.enabled" data-ng-model="vm.size"
                                                                                           data-bf-restrict-number="" data-ng-change="vm.onValueChange({state: vm.data, price: vm.price, size: vm.size})"
                                                                                           data-ng-blur="vm.onBlur({state: vm.data, price: vm.price, size: vm.size})"
                                                                                           data-ng-focus="vm.onFocusSize({state: vm.data})"
                                                                                           data-ng-keypress="vm.onKeypress($event, {state: vm.data, isConfirmed: false, price: vm.price, size: vm.size})"
                                                                                           placeholder="Stake">
                                                                                </div>
                                                                            </div>
                                                                            <button class="reset-bet visible-when-narrow" tabindex="1"
                                                                                    data-ng-if="vm.data.placeBetPanel.cancelButton.visible"
                                                                                    data-ng-click="vm.onCancel({state: vm.data})">
                                                                                Cancel
                                                                            </button>
                                                                            <button class="place-bet" type="submit" tabindex="0"
                                                                                    data-ng-click="vm.onSubmit({state: vm.data, isConfirmed: false, price: vm.price, size: vm.size})">
                                                                                <span class="place-bet-title">Place bet</span>
                                                                                <div class="button-message-container">
                                                                                    <span class="place-bet-profit">Profit £178.00</span>
                                                                                </div>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>

                                                </td>
                                            </tr>
                                            <tr class="coupon-table-loading"><td colspan="5"></td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>-->

                        </div>
                    </section>
                </div>
            </main>
        </div>

    </div>
    <div class="bf-row no-bottom-gutter gutter-pad-8" ng-show="highlights.length<=0">
        <div class="bf-col-24-24">
            <div class="no-event">
                <div class="tab-desc" style="padding:15px;font-size:13px;">
                    {{'common.noevents.display' | translate}}
                </div>
            </div>
        </div>
    </div>
    <div class="bf-row no-bottom-gutter no-side-gutter  gutter-pad-8">
        <div class="bf-col-24-24 footer-wrapper" ng-include="footerTemplate">

        </div>
    </div>
</div>