<div class="menu-popup">
    <div class="popup-overlay"></div>
    <div class="popup-content gambling-text" style="height:350px;max-width:500px;">
        <div style="overflow: auto;display: block;height: 80%;">
            <h4 class="k-title">Multiple Account & Bet Limit Rule Acceptance</h4>
            <p>Members are not permitted to hold multiple accounts. This includes holding an account with any associated site operating on the same platform as this site.</p>
            <p>Where maximum bet or maximum market limits are imposed, the Site reserves to the right to void bets from accounts found to be exceeding these limits by using multiple accounts across this and any other associated sites.</p>
            <p>Please confirm your acceptance and understanding of this rule.</p>

        </div>
        <div class="actions text-center" >
            <input type="checkbox" ng-model="isTermAccepted" style="display:inline-block;margin-right:10px;" />
            <button class=" small-btn" ng-disabled="!isTermAccepted" ng-click="closeMe()">Accept and Continue</button>
        </div>
    </div>
</div>
