<tr  class="position-bg" >
    <td style="padding-left:{{(d.userType-parentUserType+1) * 15}}px">
        <a class="p-user" ng-click="ctrl.open_Close_Check_Position(d,true);">
            {{d.username}}
            <i class="fa float-r" ng-if="d.downline" ng-class="{'fa-sitemap':!d.open,'fa-sort-amount-asc fa-rotate-180':d.open}"></i>
        </a>
    </td>
    <td  style="width:150px" ng-repeat="mr in market.marketRunner track by $index">
        <span class="market-team" ng-repeat="r in d.marketRunners | filter:{runner:{id:mr.runner.id}}"
              ng-class="{'green-light':r.pl>=0,'negative':r.pl<0}">
            {{r.pl  | toRate}}
        </span>
    </td>
</tr>
<tr ng-if="d.downline && d.open" style="background-color:rgba(245, 245, 245, 0);">
    <td colspan="{{market.marketRunner.length+1}}" style="padding:0px ">
        <table ng-repeat="d in d.downline track by $index" style="margin-top:7px;">
            <tbody ng-include="userpositionChildTemplate"></tbody>
        </table>
    </td>
</tr>