<div class="menu-popup">
    <div class="popup-overlay"></div>
    <div class="popup-content gambling-text">
        <div class="g-title bold">Protection of minors</div>
        <p>It is illegal for anybody under the age of 18 to gamble.</p>
        <p>Our site has strict policies and verification measures to prevent access to minors.</p>
        <p>We encourage parents consider the use of internet use protection tools. You may find the following links useful.</p>
        <ul>
            <li><a href="https://www.cyberpatrol.com/" target="_blank">Cyberpatrol</a></li>
            <li><a href="https://www.cybersitter.com" target="_blank">Cybersitter</a></li>
        </ul>
        <div class="actions">
            <button class="float-r small-btn" ng-click="closeMe()">ok</button>
        </div>
    </div>
</div>