
<div class="wcs" style="height:{{$parent.$parent.$parent.iframeHeight ? $parent.$parent.$parent.iframeHeight+'px' : 'inherit'}};width:inherit;">
    <div id="video_container"  style="height:inherit;width:inherit;">
        <video id="remoteVideoHLS" style="height:inherit;width:inherit;" playsinline
               controls preload="auto">
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading
                to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">
                    supports
                    HTML5 video
                </a>
            </p>
        </video>
    </div>
</div>
