/// <reference path="../../utlis/__utils.scss" />
/// <reference path="../variables/__variables.scss" />
/// <reference path="../base/__base.scss" />

.fair-promo {


    .w-60 {
        width: 60%;
    }

    .w-23 {
        width: 23.2%;
    }

    .full-wrap .right-part {
        background-color: transparent;
    }

    .bet-all {
        background: $section-header-bg;
        color: $section-header-fr;

        .col-game {
            text-align: left;
            padding-left: 10px;
            font-weight: 700;
        }
    }

    .tab .tab-desc {
        background-color: unset;
    }

    .highlight .team-score {
        border-bottom: none;
    }

    .widget-content {


        .game-item:nth-child(odd) {
            clear: both;
            padding: 0 1px 2px 0;
        }


        .game-item-overlay {
            width: 100%;
            vertical-align: top;
            display: none;
        }

        .game-item {
            width: 50%;
            float: left;
            position: relative;
            padding: 0 0 2px 1px;
            box-sizing: border-box;

            &:hover {
                .game-item-overlay {
                    display: block;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    height: 100%;
                    text-align: center;
                    background-color: rgba(117,117,117,0.5);
                }
            }
        }

        .game-item-overlay-cta-wrapper {
            margin-top: -8px;
            top: 50%;
            height: 16px;
            display: block;
            position: relative;
            text-align: center;
        }



        .game-item-default-cta {
            display: inline-block;
            height: 25px;
            border-radius: 2px;
            color: $bf-black-2;
            font-size: 10px;
            background-color: $bf-gray-1;
            line-height: 25px;
            text-decoration: none;
            padding: 0 11px;
            vertical-align: top;
            min-width: 70%;
            max-width: 100%;
        }

        .game-item-primary-cta {
            background-color: $theme-color;
            color: #1e1e1e;
        }

        .game-item-wrapper {
            display: block;
            overflow: hidden;
            //padding-top: 65%;
            position: relative;
            background: #1e1e1e;

            .game-item-image {
                /* position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;*/
                max-width: 100%;
                width: 100%;
                margin: auto;
            }
        }
    }

    .mod-quick-links {
        background-color: #fff;
        box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.40);
        border-radius: 2px;
        color: #b8860b;
        //font: 100% Arial,Regular;
        font-size: 12px;
        width: 100%;

        .header {
            background: $bf-black-2 !important;
            border-radius: 2px 2px 0 0;
            margin: 0;
            padding: 8px;
            font-size: 12px;
            font-weight: 700;
            color: #fff;
        }

        .inplay-events-link {
            text-decoration: none;
            display: block;
            background-color: #20a052;
            color: #fff;
            font-weight: 700;
        }

        .inplay-counter {
            display: inline-block;
            padding: 8px;
            background-color: #4db375;
        }

        .inplay-label {
            display: inline-block;
            padding: 8px;
        }

        .inplay-events-link .arrow {
            padding: 8px;
            fill: #fff;
        }

        .arrow {
            float: right;
            width: 9px;
            height: 14px;
            fill: #7f7f7f;
            transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
        }

        .links-list {
            list-style: none;
            margin: 0;
            padding: 0;
            border-radius: 2px;

            .link > a {
                overflow: auto;
            }

            .link {
                border-bottom: 1px solid #efefef;
                overflow: auto;
                width: 100%;

                &:hover {
                    background-color: #f6f6f6;
                }

                .label2 {
                    text-overflow: ellipsis;
                    -webkit-text-overflow: ellipsis;
                    -o-text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    float: left;
                    color: #1e1e1e;
                    line-height: 16px;
                    max-width: calc(100% - 44px);
                    margin: 0 8px;
                    display: inline-block;
                    vertical-align: middle;
                }

                .icon {
                    float: left;
                    width: 12px;
                    height: 14px;
                    display: inline-block;
                    vertical-align: middle;
                }

                a {
                    text-decoration: none;
                    display: block;
                    padding: 8px;
                }
            }
        }
    }

    .ssc-lifg {
        display: inline-block;
        position: relative;
    }

    .ssc-lib {
        display: inline-block;
        margin-left: 5px;
        margin-right: -10px;

        .grid-spinner {
            display: inline-block;
            width: 20px;
            height: 20px;
            position: relative;
            top: 2px;
            vertical-align: top;
            left: -27px;
            margin: 0px !important;
            margin-right: -8px !important;
        }

        .ssc-cta-simple {
            background: #e1e1e1;
            background: linear-gradient($p-login-btn-bg-1,$p-login-btn-bg-2);
            color: $p-login-btn-fr !important;
            border: 0;
            padding: 5px 11px 4px;
            font-weight: bold;

            &:hover {
                background: $p-login-btn-hover-bg-1;
                background: linear-gradient($p-login-btn-hover-bg-1,$p-login-btn-hover-bg-2);
            }
        }

        .ssc-lkh {
            background-position: -158px -2px;
            left: -21px;
            display: inline-block;
            width: 12px;
            height: 13px;
            position: relative;
            top: 8px;
            vertical-align: top;
        }

        .ssc-cta-simple {
            padding-right: 28px;
            cursor: pointer;
        }
    }

    .ssc-sprite {
        background-image: url(/public/images/icon2/ssc-sprite.svg) !important;
        background-repeat: no-repeat;
    }

    .ssc-shpb {
        position: absolute;
        right: 7px;
        bottom: 4px;
        cursor: pointer;

        &:before {
            background: url(/public/images/icon2/ssc-sprite.svg) no-repeat;
            background-position: -157px -101px;
            width: 17px;
            height: 17px;
            content: "";
            float: left;
        }
    }

    .ssc-cta-primary {
        padding: 7px 11px 7px;
        background: $p-reg-btn-bg-1;
        color: $p-reg-btn-fr;
        background: linear-gradient($p-reg-btn-bg-1,$p-reg-btn-bg-2);

        &.whatsapp {
            font-size: 16px;
            width: 100px;
            height: 35px;
        }
    }



    .ssc-lij {
        box-sizing: border-box;
        height: 24px;
        line-height: 1.2;
    }

    .ssc-itx {
        border-radius: 2px;
        border: 1px solid whitesmoke;
        height: 26px;
    }

    .ssc-lid {
        justify-content: flex-end;
        margin-top: 5px;
    }

    #captchaholder {
        display: none;
    }

    .ssc-fyup {
        color: black;

        a {
            color: black;
            font-weight: 700;
        }
    }

    .header-top {
        max-width: 100%;
    }

    .header {
        background: $theme-color;
    }
}

@media only screen and (max-width: 736px) {
    .modal-overlay form {
        .captcha-div {
            .captcha-img {
                right: 24px;
                height: 15px;
                top: 44%;
            }

            .fa-refresh {
                right: 6px;
                top: 50%;
            }
        }
    }
}

.modal-overlay {
    display: none;
    font-size: $font-size;

    .captcha-div {
        position: relative;
        width: 100%;

        .captcha-img {
            position: absolute;
            right: 20px;
            height: 18px;
        }

        .fa-refresh {
            position: absolute;
            right: 10px;
            top: 50%;
        }
    }

    &.disp {
        display: block;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 101;
        background-color: rgba(17,17,17,.8);
        display: table;
    }

    .dialog-container {
        display: table-cell;
        text-align: center;
        vertical-align: middle;

        .dialog {
            padding: 0;
            width: auto;
            height: auto;
            display: inline-block;
            vertical-align: top;
            background-color: #f8f8f8;
            box-shadow: 4px 3px 40px #000;
            position: relative;
            text-align: left;
            overflow: hidden;
            color: #444;
            border-radius: 15px;
            background: $pop-bg;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .dialog-header {
            .close-dialog {
                position: absolute;
                top: 10px;
                right: 16px;
                cursor: pointer;
                width: 10px;
                height: 10px;
                padding: 2px;
                border-radius: 0 0 0 0;
                background: url(/public/images/icon2/close-normal.svg) 0 0 no-repeat;
            }
        }

        .dialog-content {
            //padding: 16px;
            font-size: $font-size;
            display: flex;
        }
    }

    .left {
        float: left;
        width: 250px;
        padding: 20px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background: $pop-left-bg;

        .small-text {
            font-size: 10px;
        }

        .pop-title {
            text-align: center;
            margin-bottom: 20px;
        }

        .title {
            margin-bottom: 0px;
            font-size: 14px;
            font-weight: 700;
            line-height: 24px;

            &:after {
                content: unset;
            }
        }

        .label-text {
            width: 100%;
            height: 15px;
            margin-bottom: 3px;
            display: block;
            font-size: $font-size;
            color: #525b60;
        }

        .login-input {
            height: 15px;
            border-radius: 3px;
            border: 1px solid #939ca3;
            box-shadow: inset 0 2px 0 #fff;
            margin-bottom: 10px;
            padding: 12px 10px;
            cursor: text;
            width: 100%;
            background-attachment: scroll;
            background-clip: initial;
            background-color: #fff;
            background-origin: initial;
            background-size: auto;
            font-size: $font-size;
            box-sizing: border-box;
        }

        .login-btn-div {
            width: 100%;
            position: relative;
            box-sizing: border-box;
            margin: 5px 0 10px;
            clear: both;

            .p-abs {
                position: absolute;
                right: 0;
                top: calc(100% - 25px);
            }
        }

        a.forgot-link {
            color: $pop-forget-fr;
            font-weight: bold;
        }
    }

    .login-button {
        color: #273a47;
        overflow: visible;
        background: linear-gradient($p-login-btn-bg-1,$p-login-btn-bg-2);
        zoom: 1;
        cursor: pointer;
        padding: 5px 5px;
        width: auto;
        font-weight: 700;
        font-size: 14px;
        color: $p-login-btn-fr;
        width: 100%;
        border: 0;
        border-radius: 3px;
        box-sizing: border-box;

        &:disabled {
            opacity: 0.5;
        }

        &:hover {
            background: linear-gradient($p-login-btn-hover-bg-1,$p-login-btn-hover-bg-2);
        }
    }

    .logo-div {
        height: 80px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        max-width: 100%;
        width: 100%;
        justify-content: center;
        flex-wrap: nowrap;
        margin-bottom: 15px;

        .logo-img {
            width: 100%;
            display: block;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
        }
    }

    .right {
        width: 250px;
        height: auto;
        float: right;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $pop-right-fr;





        .title {
            margin-bottom: 10px;
            font-size: 14px;
            font-weight: 700;
            line-height: 24px;
            display: block;
        }

        .first-text, .second-text {
            margin-bottom: 10px;
            text-align: center;
            display: block;
        }

        .join-now-button {
            font-weight: 700;
            color: $pop-right-fr;
            // background: linear-gradient(0deg,#fff,#eaf0f5);
            border-radius: 3px;
            padding: 4px 5px;
            text-decoration: none;
            margin-top: 15px;
            box-shadow: 1px 1px 2px 0px #707070;
            background: rgba(255,255,255,0.34);

            &.whatsapp {
                font-size: 16px;
            }
        }
    }

    *, *::before, *::after {
        box-sizing: content-box;
    }

    .grid-spinner {
        height: 21px;
        margin: 0px;
        outline: none !important;
    }

    input [type="radio"], input[type="checkbox"] {
        vertical-align: sub;
    }

    .otp-timer {
        display: flex;
        justify-content: space-between;
    }

    .two_input {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: row;
        align-items: center;
        align-items: flex-start;

        .first_box {
            width: 30%;

            .btn {
                padding: 0px;
                font-size: unset;
            }

            .form-control {
                height: 26px;
                padding: 3px 8px 4px;

                &:focus, &:focus-within, &:active {
                    border-color: unset;
                    box-shadow: none;
                    padding: 0px 0px 0px;
                }
            }

            .ui-select-bootstrap .ui-select-toggle > .caret {
                right: 3px;
            }
        }

        .login-input {
            width: 65%;
        }
    }
}

.mobile-bg {
    .msg-list {
        word-break: break-all;
    }
}

.mobile-view {
    .m-logo {
        height: 30px;
    }


    .header_msg {

        .bal-outer {
            color: $theme-color;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
        }

        a {
            font-size: 14px;
            color: $theme-color;

            &.active {
                color: #4faeff;
            }
        }
    }
}

.fill {
    fill: $p-btn-shadow;
}

.fair-promo.mobile-view {
    .connect-wallet {
        height: 100%;

        &.special {
            position: relative;
            height: 100px;
            width: 100%;
        }

        .before-connect {
            width: 100%;
            padding: 5px 15px;
            top: 0;

            .wallet-text {
                font-size: 20px;

                span {
                    font-size: 16px;
                }
            }
        }

        .wallet-text {
            font-size: 14px;

            span {
                font-size: 12px;
            }
        }

        .after-connect {
            width: unset;
            top: -8px;
            position: relative;
            margin-right: -9px;
            height: calc(100% + 17px);
            padding: 5px 10px;

            .wallet-icon {
                margin-top: 0px;
            }

            .c-right {
                margin-left: 5px;

                .tran-btn {
                    background: transparent;
                    box-sizing: unset;
                    border: none;
                    margin-right: -5px;
                    padding: 0;
                    text-align: right;

                    .wallet-icon {
                        height: 20px;
                    }
                }
            }

            .wallet-text {
                font-size: 12px;

                span {
                    font-size: 10px;
                }
            }
        }
    }

    .m-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        .li-tv_bet {
            display: flex;

            img {
                width: 16px;
                margin-right: 10px;
            }
        }

        .a-open_bets {
            color: #fff;
            background-color: rgba(51,51,51,.63);
            box-shadow: inset 0 1px 0 0 rgba(255, 255, 255,0.40);
            border-width: 1px;
            border-style: solid;
            border-color: #000;
            border-radius: 0 1.06667vw 1.06667vw 0;
            float: left;
            padding: 1vw 2.66667vw;
            display: flex;
            height: 30px;
            align-items: center;
        }

        .m-header-center {
            // width: 100%;
            display: flex;
            justify-content: flex-start;
        }

        .main-wallet {
            display: flex;
            height: 100%;
            align-items: center;

            a.a-setting {
                padding: 6px 8px 5px;
                background: linear-gradient(to bottom,$bf-black-2 0,#2e2e2e 20%,#2a2a2a 31%,#2d2d2d 43%,#2a2a2a 51%,#272727 59%,#242424 67%,#222 79%,#212121 87%,#1f1f1f 93%,#1e1e1e 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gray_black', endColorstr='#1e1e1e', GradientType=0 );
                border-width: 1px;
                border-style: solid;
                border-color: #000;
                border-radius: 2px;
                margin-left: 5px;
                box-shadow: inset 0 1.5px 0 0 #686868;

                i {
                    color: white;
                }
            }
        }
    }
}

.bf-login-btn {
    //max-width: 106px;
    font-size: 12px;
    padding: 4px 0;
    align-items: center;
    min-width: 50px;
    justify-content: center;
    flex-direction: column;
    display: inline-flex;
    background-color: $bf-black-2;
    color: #fff;
    border-radius: 2px;
    height: 45px;
    margin-left: 2px;

    &:hover, &:active, &:focus, {
        background: $bf-black-2;
        color: white;
    }

    .txt {
        max-width: inherit;
        padding: 0 4px;
        margin-top: 2px;
    }

    &.active {
        color: $theme-color;
    }
}

.mobile_nav {
    svg.icon {
        fill: #dcdcdc;
    }

    li.active {
        svg.icon {
            fill: $theme-color;
            color: $theme-color;
        }
    }
}

body.mobile-bg {
    background-color: $body-color !important;

    .mb-topmenu {

        .tab-header {
            padding: 1px;
        }

        .item {
            flex: 1 0 auto;
            border-top: none;
            border-radius: 1px;
            margin: 5px 0 5px 5px;
            background-color: $m-menu-bg;
            min-width: 70px;
            transition: all 0.1s ease-in-out;

            &.active {
                background: $theme-color;

                a {
                    color: $m-menu-fr;
                }
            }
        }

        .tab-heading {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 8px 10px;
        }

        .i-sport {
            width: 20px;
            height: 20px;
            margin-right: 0px;
            background-size: 20px 20px;
        }

        a {
            color: white;

            &:focus, &:hover {
                color: white;
            }
        }
    }

    .team-title a, a.race-title {
        color: $bf-black-2;

        &:focus, &:hover {
            color: $bf-black-2;
        }
    }

    .dialog-content {
        flex-direction: column;

        .right {
            //padding-left: 7px;
            border: none;
        }
    }
}

.horse-racing .race {
    ul li a {
        background: #525252;
    }
}

.mobile-view {
    .m-inplay {
        color: #fff;
        font-weight: 700;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.40);
        float: left;
        width: 100%;
        z-index: 5;
        position: relative;

        .game-list-time {
            color: #938D86;
        }

        .ip-header {
            background-color: $bf-black-2;
            padding: 5px 8px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 50px;
        }

        .ip-btn {
            text-transform: capitalize;
            border-radius: 2px;
            border: 0;
            background-color: #bfbfbf;
            cursor: pointer;
            box-sizing: border-box;
            padding: 8px 14px;
            font-weight: 700;
            text-decoration: none;
            font-size: 11px;
            color: #1e1e1e;
            margin-left: 5px;

            &:hover {
                background-color: $bf-gray-1;
            }
        }

        .ip-btn.active {
            background-color: #fff;
        }

        .black-back {
            background-color: $bf-gray-1;
            padding: 9px 5px;

            a.to-expand {
                color: $bf-black-2 !important;
                font-weight: bold;
            }
        }
    }

    .new-info, .to_info, .match_title {
        .fa-info {
            margin: 0px 5px;
            background: #bfbfbf;
            padding: 3px 6px;
            color: $bf-black-2;
            border-radius: 2px;
        }
    }

    .market-detail, .scorecard {
        .bet-all {
            background: #fff;
        }
    }

    .team-score .team-name p {
        font-size: 14px;
    }

    .mobilewrap .fancy-market .game-info {
        background-color: $bf-black-2 !important;
        color: #fff;
    }

    .fancy-market .game-info .match_title {
        color: #fff;
    }

    .accordion .card {
        box-shadow: 1px 1px 3px 0px #121212;
    }

    .accordion .accordion-header {
        background-color: #000000;

        .btn-link {
            color: #fff;
        }

        time {
            color: whitesmoke;
        }

        .btn-link::before {
            top: 12px;
        }
    }

    .m-account {

        .sports-list {
            background: #FFF;
            border-top: 1px solid #d0d0d0;
        }

        .sports-list .games-name a {
            color: $bf-black-2;
            border-bottom: 1px solid #d0d0d0;
            font-size: 14px;
        }

        .m-a-bal {
            background: #f5f5f5;
            padding: 10px;
            padding-bottom: 20px;

            .bal-line {
                font-size: 14px;
                text-transform: capitalize;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                height: 40px;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                border-bottom: 1px solid #cccccc;
                align-items: center;
            }
        }
    }

    .my-profile {
        background: #fff;

        .profile-wrap {
            border: none;
        }

        .profile-wrap .heading {
            background: #dcdcdc;
            color: $bf-black-2;
            line-height: 30px;
        }
    }

    .my-wallet {
        display: flex;
        height: 100%;
        background: white;
        flex-direction: column;
    }

    .Profit-l {
        background: #fff;

        .filter-panel {
            background: #fff;
            margin: 0px;
        }

        .table-bets {
            margin: 0px;
        }

        .table-bets .list-view {
            background: #fff;
        }
    }

    .mobilewrap .title {
        padding: 5px 0px 20px 10px;
        margin: 0px !important;
        position: relative;
    }
}

.ssc-footer {
    clear: both;

    .ssc-sprite {
        background-image: url(/public/images/icon2/ssc-sprite.svg) !important;
        background-repeat: no-repeat;
    }

    .ssc-srg a {
        background: url(/public/images/icon2/ssc-footer-banners.png);
    }

    .mod-footer .ssc-srg .ssc-plus18 {
        background-repeat: no-repeat;
        display: inline-block;
        vertical-align: middle;
        padding: 3px 0;
    }

    .mod-footer .ssc-srg .rg-text {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        color: #c4c4c4;
        padding: 0 10px;
    }

    .ssc-cta {
        cursor: pointer;
        display: inline-block;
        font-weight: 700;
    }

    .ssc-srg .ssc-cta-primary {
        border-color: silver;
        color: #1e1e1e;
        background: #e1e1e1;
        background: linear-gradient(#e1e1e1,silver);
        border-radius: 2px;
        font-size: 12px;
    }

    .ssc-srg .ssc-cta-primary {
        padding: 10px 17px;
    }

    .ssc-seos {
        color: #1e1e1e;
        font-size: 12px;
        font-weight: 400;
        box-shadow: 0 4px 10px -5px #000;
        -webkit-user-select: text;
        -o-user-select: text;
        user-select: text;
        box-shadow: none;
    }

    .ssc-seos {
        background-color: $body-color;
        text-align: center;
    }

    .ssc-seos {
        padding: 0 10px;
        margin-top: 0;
    }

    .ssc-seotc {
        padding: 20px 0;
        margin: 0 auto;
    }

    .ssc-seotc {
        background-color: $body-color;
        width: 100%;
    }

    .ssc-fw {
        cursor: default;
        vertical-align: top;
        font-size: 12px;
        color: #1e1e1e;
        margin: 0 auto;
        min-width: 491px;
        padding-top: 16px;
    }

    .ssc-fw {
        margin-top: 16px;
        min-width: 100px;
        padding-bottom: 0;
    }

    .ssc-fw {
        width: 100%;
        background: $body-color;
        text-align: center;
        padding-bottom: 16px;

        .ssc-flnk {
            vertical-align: top;
            list-style-type: none;
            padding: 11px 0 14px;
            margin: 0 auto;
            text-align: center;
            display: inline-block;

            .ssc-lw {
                display: inline-block;
                line-height: 13px;
                padding-right: 7px;
                vertical-align: top;
                position: relative;
                cursor: pointer;
            }

            .ssc-lw:first-child {
                padding-left: 0;
            }

            .ssc-lw {
                display: block;
                padding-bottom: 10px;
                cursor: auto;
                line-height: normal;
            }
        }

        .ssc-flnk {
            display: block;
            padding: 0;
        }
    }

    #ssc-footer-container.ssc-theme-betfair .mod-footer .ssc-fw, #ssc-footer-container.ssc-theme-betfair .mod-footer .ssc-seos {
        padding: 0 10px;
        margin-top: 0;
    }

    #ssc-footer-container.ssc-theme-betfair .mod-footer .ssc-fw {
        width: auto;
    }

    .ssc-tlc {
        position: relative;

        .ssc-flnk {
            padding: 1px 0 16px;
            line-height: 12px;
        }
    }

    .ssc-fw a, .ssc-fw a:visited {
        color: #1e1e1e;
        font-weight: 700;
        outline: 0;
        font-size: 12px;
    }

    .ssc-container .mod-footer .ssc-fw .ssc-flnk .ssc-lw a, .ssc-container .mod-footer .ssc-fw .ssc-flnk .ssc-lw span {
        padding-right: 7px;
        //border-right: 1px solid #3b5160;
        position: relative;
        z-index: 9;
        font-size: 12px;
    }

    .ssc-lw a {
        font-size: 13px;
        border-right: 0;
        padding-right: 0;
    }

    .ssc-fw .ssc-fal {
        display: block;
        width: 100%;
        position: relative;
    }

    .ssc-fsal a {
        background: url(/public/images/icon2/ssc-logos-sprite-com-v22.png) no-repeat;
    }

    .ssc-fsal a {
        margin-bottom: 27px;
    }

    .ssc-fw .ssc-fal, .ssc-fw .ssc-fbtm {
        vertical-align: top;
        padding-top: 18px;
        padding-bottom: 11px;
    }

    .ssc-fw .ssc-fal {
        padding-top: 28px;
        padding-bottom: 0;
    }

    .ssc-lgaMalta {
        display: inline-block;
    }

    .ssc-fw .ssc-fal a:first-child, .ssc-fw .ssc-fbtm a:first-child {
        padding-left: 0;
    }

    .ssc-fw .ssc-fal a, .ssc-fw .ssc-fbtm a {
        margin-left: 7px;
        margin-right: 7px;
        outline: 0;
        display: inline-block;
    }
}

.ssc-container {
    color: #f7f9fa;
    font-size: 12px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.ssc-container .mod-footer {
    position: relative;
}


.ssc-container.ssc-theme-betfair .mod-footer {
    background-color: #fff;
    z-index: 0;
}

.ssc-container .mod-footer .ssc-srg {
    background: #1e1e1e;
    text-align: center;
    padding: 10px 0 8px;
    border-top: 1px solid #666966;
}

.BaseFooter_containerFooter__Dx72U {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;

    .BaseFooter_header__3Dvax {
        background: $theme-color;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-color: initial;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .BaseFooter_respo__6RXfU {
        display: flex;
        align-items: center;
        grid-gap: 15px;
        gap: 15px;
        justify-content: center;
        background-color: $theme-color;
        padding: 9px 0;
        width: 100%;

        p {
            font-weight: 500;
            font-size: 10px;
        }
    }

    .BaseFooter_socials__19ogQ {
        display: flex;
        align-items: center;
        padding-top: 16px;
        padding-bottom: 11px;
        justify-content: center;
        width: 100%;
        background-color: #1f2128;
        grid-gap: 6px;
        gap: 6px;
    }

    .BaseFooter_body__VaLts {
        background: #2c2e35;
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
    }

    img {
        vertical-align: middle;
        border-style: none;
    }

    .BaseFooter_certifications__1hsGS {
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        padding: 21px 0 0;
        display: flex;
        flex-wrap: wrap;
        grid-gap: 5px;
        gap: 5px;
    }

    .BaseFooter_address__1OD_3 {
        font-family: "Segoe UI","Poppins";
        padding: 20px 19%;
        font-size: 10px;
        line-height: 22px;
        text-align: center;
        color: #f5f5f5;
    }

    .BaseFooter_links__1ky5o {
        align-items: center;
        justify-content: center;
        color: #f5f5f5;
        font-size: 10px;
        padding: 22px 0;
        display: flex;
        grid-gap: 10px;
        gap: 10px;
        line-height: 15px;
        flex-direction: column;
        border-bottom: 1px solid rgba(235,241,255,.16);

        a {
            color: #f5f5f5;
        }
    }
}

.mobile-top {
    .modal-overlay {
        .left {
            max-width: 100%;
            border-radius: 15px;
        }
    }
}

.offer-float {
    position: absolute;
    left: 10px;
    bottom: 80px;
    z-index: 3;
    width: 81px;
    height: 81px;
    text-align: center;

    .offer_img {
        z-index: 2;
        position: relative;
        width: 72%;
    }
}

@keyframes showMessage {
    0% {
        opacity: 0;
        width: 0;
    }

    100% {
        opacity: 1;
        width: 265px;
    }
}

@keyframes MobileShowMessage {
    1%,49% {
        opacity: 1;
        -webkit-animation: showMessage 1s linear;
        animation: showMessage 1s linear;
        width: 265px;
        height: 50px;
    }

    50% {
        opacity: 0;
        width: 0px;
        height: 0px;
    }
}

.whatsApp-float {
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 3;
    width: 81px;
    height: 81px;

    &:hover .circleIconPanel {
        opacity: 1;
        -webkit-animation: showMessage 1s linear;
        animation: showMessage 1s linear;
        width: 265px;
        height: 50px;
    }

    .whatsApp_img {
        z-index: 2;
        position: relative;
    }

    .circleIconPanel {
        // width: 265px;
        //height: 50px;
        border-radius: 25px;
        z-index: 1;
        position: absolute;
        left: 30px;
        bottom: 19px;
        opacity: 0;
        text-align: start;
        padding: 8px 20px 7px 50px;
        font: normal normal 600 12px/17px Poppins;
        letter-spacing: 0;
        color: #fff;
        background: #2db642 0 0 no-repeat padding-box;
        background-image: url(/public/images/icon2/wmsg2.png);
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;


        &:hover {
            opacity: 1;
            -webkit-animation: showMessage 1s linear;
            animation: showMessage 1s linear;
            width: 265px;
            height: 50px;
        }
    }
}

.mobile-top {
    .offer-float {
        position: fixed;
        bottom: 45px;
        right: 0px;
        left: unset;
    }

    .whatsApp-float {
        left: 0px;
        bottom: 50px;
        position: fixed;

        .circleIconPanel {
            animation: MobileShowMessage 60s linear infinite;
        }
    }
}

.dw-btn {
    height: 33px;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-weight: bold;
    background: $bf-black;
    padding: 5px 15px;
    border-radius: 2px;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.5);
}

.mr-bt-5 {
    margin-bottom: 5px;
}

.banner__slider {
    .header {
        background: $bf-black-2 !important;
        border-radius: 2px 2px 0 0;
        margin: 0;
        padding: 8px;
        font-size: 12px;
        font-weight: 700;
        color: #fff;
    }

    .slide {
        position: relative;
        transition: 1s;

        .slide__img {
            /*@media (min-width: 992px) {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }*/

            width: 100%;
            height: auto;
            overflow: hidden;

            img {
                max-width: 100vw;
                height: auto;
                opacity: 1 !important;
                animation-duration: 3s;
                transition: all 1s ease;
                width: 100%;
            }
        }

        .slide__content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &.slide__content__left {
                left: 15%;
                transform: translate(-15%, -50%);
            }

            &.slide__content__right {
                right: 15%;
                left: auto;
                transform: translate(5%, -50%);
            }

            &--headings {
                color: #FFF;

                h2 {
                    font-size: 15px;
                    margin: 10px 0;
                }

                .animated {
                    transition: all .5s ease;
                }

                .top-title {
                    font-size: 16px;
                    padding: 5px 0px 8px 10px;
                }

                .title {
                    font-size: 14px;
                    padding: 5px 0px 20px 10px;

                    &::after {
                        border: none;
                    }
                }

                .button-custom {
                    text-decoration: none;
                    color: #333;
                    padding: 1.2rem 2.5rem;
                    font-size: 14px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
        }

        @keyframes zoomInImage {
            from {
                transform: scale3d(1, 1, 1);
                transition: 1s;
            }

            to {
                transform: scale3d(1.1, 1.1, 1.1);
                transition: 1s;
            }
        }

        .zoomInImage {
            animation-name: zoomInImage;
        }

        @keyframes zoomOutImage {
            from {
                transform: scale3d(1.1, 1.1, 1.1);
                transition: 1s;
            }

            to {
                transform: scale3d(1, 1, 1);
                transition: 1s;
            }
        }

        .zoomOutImage {
            animation-name: zoomOutImage;
            transition: 1s;
        }
    }

    .slider [data-animation-in] {
        opacity: 0;
        animation-duration: 1.5s;
        transition: opacity 0.5s ease 0.3s;
        transition: 1s;
    }
}

.slick-desktop {
    max-height: 223px;
    overflow: hidden;

    .slide__img {
        background-size: 100% 100%;
        height: 223px;
        width: 100%;
    }
}

.parent-status {
    box-shadow: inset 0px 0px 5px 2px rgba(188, 188, 188, 0.47);
    padding: 5px 10px;
    border-radius: 3px;
    margin-right: 5px;
}

.modal-overlay .right .join-now-button.whatsapp {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:white;
    font-size:24px;
}

.moving-gradient-button, .moving-gradient-button.whatsapp, .modal-overlay .right .join-now-button.moving-gradient-button.whatsapp {
    background: linear-gradient(270deg, #328E6E, #67AE6E, #FF3F33, #73946B);
    background-size: 600% 600%;
    animation: gradient-move 4s ease infinite;
    transition: transform 0.2s ease-in-out;
    &.bf-login-btn{font-size:16px;}
}

@keyframes gradient-move {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.moving-gradient-button:hover {
    transform: scale(1.05);
}
