/// <reference path="../../utlis/__utils.scss" />
/// <reference path="../variables/__variables.scss" />
/// <reference path="../base/__base.scss" />

[ui-view="main"] {
    height: 100%;
    width: 100%;
}

.login {
    width: 100%;
    height: 100%;

    .signup-form {
        top: 18%;
        transform: translateY(-18%)
    }

    .login-footer {
        position: fixed;
        float: left;
        width: 100%;
        text-align: center;
        bottom: 0;
    }

    footer {
        background-color: $login-footer;
        float: left;
        width: 100%;
        text-align: center;
        z-index: 2;
        position: relative;
        line-height: 20px;
        padding: 26px 20px;

        a {
            margin: 0 13px;
            font-size: 12px;
            color: #fff;
        }

        a:hover {
            color: #fff;
        }
    }

    .plus-18 {
        border: 1px solid #fff;
        border-radius: 100%;
        padding: 4px 4px;
        margin-right: 7px;
    }
}

.mobile-view {
    .login-page-lotus {
        position: unset;
        top: unset;
        -webkit-transform: unset;
        transform: unset;
        width: 100vw;
        height: 100vh;
        padding-top: 25vh;
    }

    .login-footer {
        position: fixed;
        float: left;
        width: 100%;
        text-align: center;
        bottom: 0;

        footer {
            background-color: transparent;
            padding: 0 0 22px;
            text-transform: uppercase;

            a {
                font-size: 1.4rem;
                color: #fff;
            }

            a:hover {
                color: #fff;
            }
        }
    }
}

.login-page-lotus {
    position: relative;
    top: 20%;
    transform: translateY(-30%);

    .login-link {
        width: 450px;
        margin: 0 auto;
        padding: 15px 0 0 0;
        text-align: center;

        a {
            color: $login-link;
            font-size: 12px;
        }

        .gambling {
            float: left;
            width: 100%;
            line-height: 15px;
            padding: 3px 0 0 0;
        }

        .age {
            border: 1.5px solid $login-link;
            border-radius: 100%;
            font-size: 9px;
            padding: 3px 1px;
            margin-left: 4px;
        }
    }

    .header-top {
        width: 280px;
        margin: 0 auto;

        .betfair-img {
            width: 100%;
            margin: auto;

            .powerby-bf {
                background-size: 100% 100%;
                position: absolute;
            }
        }

        .confirm-text {
            color: $confirm
        }

        .sub-text {
            color: $sub-text;
            float: right;
        }

        .register {
            color: $register-color;
            margin-left: 5px;
        }

        .login-text {
            color: $login-text;
        }

        .login-user {
            color: $login-user;
        }

        .login-form {
            margin: 10px 0 0 0;

            p {
                margin: 0 0 5px 0 !important;
            }

            input {
                border: 2px, solid, $border-color;
                width: 100%;
                height: 36px;
                padding: 6px 15px;
                font-size: 12px !important;
                border-radius: 3px !important;

                &:focus {
                    border: 2px solid #0f2327;
                    outline: none !important
                }
            }

            .captcha-div {
                input {
                    width: 60%;
                    padding: 6px 12px 6px 12px;
                }

                .code {
                    float: $float-right;
                    line-height: 32px;
                    border-radius: 3px !important;
                    border: 2px solid $border-color;
                }
            }

            .login-btn {
                margin: 25px 0 0 0 !important;

                .btn-login {
                    // @include padding(7px, 16px, 7px, 16px);
                    // @include headline($white-color, 15px);
                    //  @include border-radius(3px);
                    // background-color: $login-btn;
                    //border-bottom-color: $login-border;
                    //border-right-color: $login-border;
                    min-height: 30px;
                    line-height: 30px;
                    padding: 0 12px;
                    font-size: 14px;
                    border-radius: 0px !important;
                    background-color: $login-btn;
                    color: $login-btn-color;
                    border-bottom: 2px solid $login-border;
                    border-right: 2px solid $login-border;
                    opacity: 1;

                    &:hover {
                        //box-shadow: 1.5px 1.5px 0px 0px $login-shadow;
                        background-color: $login-btn-hover;
                    }
                }
            }

            .alert-wrapper {
                position: absolute !important;
                top: -27px;
                left: unset !important;
                width: 100% !important;
            }
        }
    }
}
