<div class="row">
    <div class="col-sm-6">
        <div class="input-group">
            <span class="input-group-addon">Twilio Acc SID</span>
            <input type="text" ng-model="data.otpConfig.twilioAccSid" class="form-control">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="input-group">
            <span class="input-group-addon">Twilio Auth Token</span>
            <input type="text" ng-model="data.otpConfig.twilioAuthToken" class="form-control">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="input-group">
            <span class="input-group-addon">Twilio Path Service Id</span>
            <input type="text" ng-model="data.otpConfig.pathServiceId" class="form-control">
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-6">
        <div class="input-group">
            <span class="input-group-addon">NX SMS App Key</span>
            <input type="text" ng-model="data.otpConfig.smsAppKey" class="form-control">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="input-group">
            <span class="input-group-addon">NX SMS Secret Key</span>
            <input type="text" ng-model="data.otpConfig.smsSecretKey" class="form-control">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="input-group">
            <span class="input-group-addon">NX Whatsapp App Key</span>
            <input type="text" ng-model="data.otpConfig.whatsAppAppKey" class="form-control">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="input-group">
            <span class="input-group-addon">NX Whatsapp App Secret Key</span>
            <input type="text" ng-model="data.otpConfig.whatsAppSecretKey" class="form-control">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="input-group">
            <span class="input-group-addon">NX Access Key</span>
            <input type="text" ng-model="data.otpConfig.nxAccessKey" class="form-control">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="input-group">
            <span class="input-group-addon">NX Access Secret</span>
            <input type="text" ng-model="data.otpConfig.nxAccessSecret" class="form-control">
        </div>
    </div>
</div>