/// <reference path="../variables/__variables.scss" />

html {
    font: {
        size: $font-size !important;
        family: $font-stack !important;
    }
}

body {
    font: {
        size: $font-size !important;
        family: $font-stack !important;
    }

    height: $height;
    max-height: $width;
    background-color: $body-color !important;
}

h1 {
}

h2 {
}

h3 {
}
