
<div class="odds-box float-right">
    <input type="text" class="form-control"
           ng-click="ctrl.focused()" kt-number-only allow-decimal="true" positive-only="true" ng-disabled="disable"
           ng-blur="ctrl.onLeave()" ng-model="value">
    <a ng-click="ctrl.up()" ng-hide="disable || disableArrow">
        <img ng-src="{{webImagePath}}arrow-down.svg" class="arrow-up">
    </a>
    <a ng-click="ctrl.down()" ng-hide="disable || disableArrow">
        <img ng-src="{{webImagePath}}arrow-down.svg" class="arrow-down">
    </a>
</div>