<div>
    <input ng-click="ctrl.focused()" kt-number-only allow-decimal="true" positive-only="true" ng-disabled="disable" ng-blur="ctrl.onLeave()" ng-model="value">
    <ul class="odd-add" ng-hide="disable || disableArrow">
        <li>
            <a id="oddsUp" class="up" ng-click="ctrl.up()">
                <i class="fa fa-angle-up "></i>
            </a>
        </li>
        <li>
            <a id="oddsDown" class="down" ng-click="ctrl.down()">
                <i class="fa fa-angle-down "></i>
            </a>
        </li>
    </ul>
</div>