/// <reference path="../../utlis/__utils.scss" />
/// <reference path="../../variables/__variables.scss" />
/// <reference path="../../base/__base.scss" />


.mobile-view {
    .login-page {
        position: unset;
        top: unset;
        -webkit-transform: unset;
        transform: unset;
        width: 100vw;
        height: 100vh;

        .header-top {
            padding-top: 25vh;
            width: 97vw;
            //margin-left: 12.5vw;
        }

        .alert-wrapper{
            width:$width !important;
            top:-30px!important;
            left:unset!important;
        }
    }
}
