

.rp-game-list {
    background: url("/public/images/royalcasino/dashboard_background.jpg");
    padding: 0 5% !important;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;



    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    *,
    *:after,
    *:before {
        box-sizing: border-box;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 20px;
        background-color: transparent;
    }

    ::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 20px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
    }
    /* ////////////////////////////////////////////////////////////////////////////// */
    .green {
        color: #3cd13e;
    }

    .red {
        color: #ff7d7d !important;
    }



    .balans {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

        .b-bet {
            margin-bottom: 8px !important;
        }

        .b-exposure {
            margin-bottom: 0px !important;
        }
    }

    .menuDiv {
        width: 100%;
        height: 110px;
        display: flex;
        padding-bottom: 15px;
        justify-content: space-between;
        align-items: flex-end;

        .royal-logo {
            .logo-img {
                width: 152px;
            }
        }
    }

    .refreshImg {
        height: 50px;
        cursor: pointer;
    }

    .games {
        width: 100%;
        min-height: calc(100vh - 110px);
        background: url("/public/images/royalcasino/decorD.png");
        background-size: contain;
        background-repeat: repeat-x;
        padding: 5% 3% 2% 3%;
        justify-content: space-between;
        align-items: center;
        transition: 1s;

        .col-sm-3 {
            padding: 0px;
        }

        .gameCard {
            width: 240px;
            height: 380px;
            margin: 0 auto 50px;
            border: 2px solid #0079b2;
            background-repeat: no-repeat;
            background-size: cover;
            -webkit-box-shadow: 0px 0px 10px 2px rgba(0,121,178,1);
            -moz-box-shadow: 0px 0px 10px 2px rgba(0,121,178,1);
            box-shadow: 0px 0px 10px 2px rgba(0,121,178,1);
            color: white;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;

            p {
                font-size: 12px;
            }

            .gameTitle {
                font-size: 23px;
                margin-top: 5px;
            }

            .game-name {
                width: 100%;
                padding: 15px;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
            }

            .gameNameText {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 0 15px;
            }

            .line {
                width: 140px;
                height: 2px;
                border-radius: 2px;
                background: #0079b2;
                -webkit-box-shadow: 0px 0px 15px 2px rgba(0,121,178,1);
                -moz-box-shadow: 0px 0px 15px 2px rgba(0,121,178,1);
                box-shadow: 0px 0px 15px 2px rgba(0,121,178,1);
                margin: 5px 0;
            }

            .cardButtonDiv {
                padding: 15px 0;
                width: 100%;
                display: flex;
                justify-content: flex-end;
            }

            .joinNowBtn {
                width: 100px;
                height: 40px;
                background-color: transparent;
                text-align: center;
                padding-top: 8px;
                color: #92e125;
                border: 2px solid #92e125;
                font-size: 18px;
                border-radius: 5px;
                -webkit-box-shadow: 0px 0px 10px 1px #92e125;
                -moz-box-shadow: 0px 0px 10px 1px #92e125;
                box-shadow: 0px 0px 10px 1px #92e125;
                cursor: pointer;
                outline: none;

                &.red {
                    border: 2px solid #ff7d7d;
                    -webkit-box-shadow: 0px 0px 10px 1px #ff7d7d;
                    -moz-box-shadow: 0px 0px 10px 1px #ff7d7d;
                    box-shadow: 0px 0px 10px 1px #ff7d7d;
                }
            }
        }
    }

    .dekor {
        width: 100%;
    }

    @media all and (max-width: 1150px) {

        .gameCard {
            margin-top: 50px;
            width: 250px;
            height: 380px;
        }
    }

    @media all and (max-width: 960px) {

        .games {
            flex-direction: column;
            padding-bottom: 50px;
        }
    }
}
