<div class="main-content-block">
    <div class="home-middle-block">
        <div class="other-page-section d-flex" logo="sportsexch" layout="sportsexch" style="overflow-x: hidden;">
            <div class="mr-lg-3 mr-0 w-100 p-10">
                <div class="casino-banners" style="padding-bottom: 8px;">
                    <div class="banner mb-2">
                        <div class="swiper-container swiper-container-horizontal" id="slot-casino">
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="slider-item"><img ng-src="{{webImagePath}}casino/slot/EVP-battletanks.jpeg" alt="slider" class="animated"></div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slider-item"><img ng-src="{{webImagePath}}casino/slot/GMC-goldenchick.jpeg" alt="slider" class="animated"></div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slider-item"><img ng-src="{{webImagePath}}casino/slot/HAK-lebandit.jpeg" alt="slider" class="animated"></div>
                                </div>
                                <div class=" swiper-slide">
                                    <div class="slider-item"><img ng-src="{{webImagePath}}casino/slot/IDS-moiraiblaze.jpeg" alt="slider" class="animated"></div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slider-item"><img ng-src="{{webImagePath}}casino/slot/HAK-cubes2.jpeg" alt="slider" class="animated"></div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slider-item"><img ng-src="{{webImagePath}}casino/slot/HAK-forestfortune.jpeg" alt="slider" class="animated"></div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slider-item"><img ng-src="{{webImagePath}}casino/slot/TPG-highwaykings.jpeg" alt="slider" class="animated"></div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slider-item"><img ng-src="{{webImagePath}}casino/slot/DS-golf.jpeg" alt="slider" class="animated"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="live-casino-games-main-block mt-2">
                    <div>
                        <div class="live-casino-games-block">
                            <div class="live-casino-grid-block">
                                <div ng-repeat="lg in liveGamesMarkets | filter:{'type':'slot'}">
                                    <div class="casino-item live-casino-game">
                                        <img ng-src="{{webImagePath}}casino/slot/{{lg.img}}" class="pos-rel v-lazy-image v-lazy-image-loaded">
                                        <div class="overlay-bg text-center">
                                            <h4><a ng-click="ctrl.openFDCasino(lg)" class="casino-game-play-btn">PLAY</a></h4>
                                        </div>
                                    </div>
                                    <div class="game-thumb-info">
                                        <h4 class="game-thumb-name">{{lg.name}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-include="'sports/template/footer.html'"></div>
            </div>
        </div>
    </div>
</div>