.logo-img {
    background: url(/public/images/lucky7/logo.png);
    width: 80% !important;
}

.section-logo {
    background: url(/public/images/lucky7/logo.png);
    background-size: 12% 100% !important;
    height: 60px;
}

.login-page .header-top .login-top a.logo-img {
    top: 30px !important;
    height: 95px !important;
    width: 85% !important;
    left: 34px !important;
}

.splash {
    background: #ffb80c;
}

.header-top {
    background: linear-gradient(#191919, #000) !important;

    .account-wrap {
        .dark-red {
            color: #d32727 !important;
        }
    }
}

header .header-menu, .header .header-menu {
    background: linear-gradient(180deg, #FFCC2F 8%, #FFB80C 100%);

    li a {
        font-size: 12px !important;
    }
}

.full-wrap .left-part .sidebar-tab .vertical-tab .inner-nav .sidenav a {
    //  font-size:13px!important;
}

.live-rule-bg {
    background-color: #404040;
}

.live-rule-img {
    background-image: url(/public/images/lucky7/logo.png);
    transform: translate(15%, -5%) rotate(-30deg) !important;
}

.bg-img {
    background: url('/public/images/lucky7/login-bg.jpg') no-repeat center 0;
    background-size: cover;
    height: 100vh !important;
    width: 100%;

    .login-wrap {
        background-color: #FFB80C !important;
        top: 0px !important;
        //background: url('/public/images/lucky7/login-bg.jpg') round;
    }
}


$font-stack: 'Exo 2', sans-serif;
$font-size: 12px;
$font-market: 12px;
$market-bg: #e4e4e3;

$section-header-bg: #d0d0d0;
$section-header-fr: #333333;

$theme-color: #ffb80c;
$theme-yellow: #ffb80c;
$theme-dark-color: #000000;
$theme-light-dark-color: #404040;
$theme-danger: #a50b0b;
$theme-success: #508D0E;
$mobile-header-color: $theme-color;

$btn-border: #fa2;
$btn-border-2: #bf7c12;
$bf-black: #1e1e1e;
$bf-black-2: #303030;
$m-menu-bg: #525252;
$m-menu-fr: lighten($theme-color,50%);
$empty-box-bg: #ebebeb;
$font-on-dark: #ffb80c;
$bf-grid-header-bg: #d9e8ea;
$btn-gr-1: #e1e1e1;
$btn-gr-2: silver;
$btn-gr-color: $bf-black;
$p-btn-bg-1: #f6b800;
$p-btn-bg-2: #dea704;
$p-btn-shadow: #ffe98a;
$crypto-btn-1: #d6d6d6;
$crypto-btn-hover: #bebebe;
$bf-gray-1: #dfdfdf;
$wallet-bg: #ffd65c;
$wallet-text: #1f2128;
$wallet-text-font: 'Poppins', sans-serif;

$p-login-btn-fr: #1e1e1e;
$p-login-btn-bg-1: #e1e1e1;
$p-login-btn-bg-2: silver;
$p-login-btn-hover-bg-1: #b3b3b3;
$p-login-btn-hover-bg-2: #9a9a9a;
$p-reg-btn-bg-1: #404040;
$p-reg-btn-bg-2: #353535;
$p-reg-btn-fr: #fff;

$pop-bg: #1e8067;
$pop-left-bg: #ecf2f0;
$pop-right-fr: #aef8de;
$pop-forget-fr: #aef8de;

$color-text: $theme-dark-color;
$form-label-color: $color-text;
$login-back: $theme-color;
$red-color: $theme-danger;
$green-color: $theme-success;
$warning-yellow-color: $theme-yellow;
$black-color: $theme-dark-color;
$dark-gray-black: lighten($black-color, 8.3%); /* #151515  */
$theme-secondary-color: $theme-yellow; /* #1e1e1e  */
$light-gray-black: lighten($black-color, 7%); /* #121212 */


$white-color: #ffffff;
$light-gray: darken(desaturate($white-color, 10%), 10.5%); /* #e4e4e4  */
$light-white: darken(desaturate($white-color, 10%), 6.5%); /* #eeeeee  */
$light-grey: darken(desaturate($white-color, 10%), 10%); /* #e6e6e6  */
$light-graywhite: darken(desaturate($white-color, 10%), 16%); /* #d6d6d6  */
$base-color-light: darken(desaturate($white-color, 20%), 46.7%); /* #888888  */
$light-hover-color: darken(desaturate($white-color, 9%), 5%); /* #f2f2f2 */
$white-smoke: #efefef;
$red-dark-color: darken($red-color, 10%);

$light-green-color: #52920c;
$support-a-color: #F2DCA7;

$lay-1-hover: #f4496d;
$lay-1-color: lighten($lay-1-hover, 20%);
$lay-2-color: lighten($lay-1-color, 8%);
$lay-3-color: lighten($lay-2-color, 4%);

$back-1-hover: #1a8ee1;
$back-1-color: lighten($back-1-hover, 20%);
$back-2-color: lighten($back-1-color, 14%);
$back-3-color: lighten($back-2-color, 7%);
$moderate-blue: lighten($back-1-hover, 13.85%);

$dark-black-color: #1b2d39;
$medium-gray-black: lighten($dark-black-color, 5.20%); /* #243b4b */
//$dark-blue: lighten($medium-gray-black, 8%); /* #2180c4 */

$light-medium-grey: #999999;
$grayish: lighten($light-medium-grey, 17.4%); /* #c5c5c5  */
$light-skin: lighten($light-medium-grey, 8.9%); /* #b0b0b0 */
$medium-gray: darken(desaturate($light-medium-grey, 20%), 15.5%); /* #717171 */


$suspend-color: $red-color;
$suspend-background: lighten($suspend-color, 43%);
$suspend-border: lighten($suspend-color, 33%);
$gray_black: #303030;

$blue-color: #2c97e6;
$light-blue: lighten($blue-color, 8.305%);
$dark-blue: #2180c4;

$gray-blue: #7eabcc;
$medium-blue: #0e65a5;
$light-grya-blue: lighten($gray-blue, 23.35%);

$pantone-green: #0A7B89;
$light-pantone: #062a2e;
$stake-a: $theme-color;

/* ----------------------------- */

$icon-color: #77570c;
$body-color: #e4e4e4;
$light-green: #8ddc37;
$verylight-green: #e2ebb1;
$light-gray-blue: #7E97A7;
$table-header-color: #0E181E;
$purple: #4F2F4F;
$gray: #bbbbbb;
$very-light-gray: #cccccc;
$dark-grayish: #ced5da;
$light-grayish-blue: #E2E8ED;
$nav-total-color: #D9E4EC;
$dark-brown: #444444;
$light-grayish-yellow: #DDDCD6;
$active-background: #dfe8d4;
$active-border: #a7d07c;
$border-color: #dcdcdc;
$light-brown: #3e2e09;
$rose-white: #efebeb;
$light-red: #f58484;
$pink-red: #f3a6a6;
$nile-blue: #243A48;
$gray-gains: #dfdfdf;
$brown-zambezi: #5f5b5b;
$orange: #fab80c;
$black-mate: #4b4b4b;
$silver: #c5c5c5;
$lemon-green: #97af0e;
$lemon-color: #f9f99d;
$light-lemon: #ffff7f;
$green-mate: #00b271;

$link-color-default: #237dac;
$link-color-hover: darken(desaturate($link-color-default, 18%), 8%);
$link-color-active: darken(desaturate($link-color-default, 19%), 14%);

$link-border-color-default: lighten($link-color-default, 15%);
$link-border-color-hover: lighten($link-color-hover, 15%);
$link-border-color-active: lighten($link-color-active, 15%);

$tab-color: $white-smoke;
$menu-fr-color: $theme-dark-color;
$tab-top-color: $theme-yellow;
$one-top-border: $theme-secondary-color;

$header-account: $theme-yellow;
$header-font: $theme-yellow;
$header-hover: $black-color;
$stake-color: $theme-yellow;
$ok-btn: $theme-color;
$edit-btn: #ffb80c;
$font-color: $theme-yellow;
$bets-btn: $theme-yellow;
$bets-back: $light-gray-black;

$fancyname_bg: $theme-yellow;
$fancyname: #000000;
$fancy-headerbg: $light-gray-black;

$secondary-btn: $black-color;
$secondary-btn-hover: $white-color;
$secondary-bg-hover: #000;
$primary-btn: $white-color;
$primary-hover: $light-gray-black;
$primary-bg-hover: $theme-color;
$logout-btn: $theme-color;
$one-click: $white-color;
$one-click-active: $blue-color;
$sidebar-nav: $dark-black-color;
$refresh-back: #ffb80c;
$fancybet: $white-color;
$oneclick-edit: $gray-blue;
$btn-group: $login-back;
$btngroup-hover: $theme-color;
$btngroup-back: #686868;
$toggle-btn: $theme-yellow;
$comm_data-color: $theme-color;
$pagination: $theme-color;
$timezone: $grayish;
$place-btn: #1e1e1e;
$myaccount-hover: $dark-black-color;
$tablebtn-hover: #000000;


$tradex-bg: #142535;
$tradex-text: #394D61;
$tradex-icon-bg: #1F364C;
$tradex-border: #e3e6e9;
$tradex-table-bg: #1A2F42;
$tradex-table-th: #152738;
$tradex-table-tr: #1F364C;
$tradex-hover-tr: #031425;
$tradex-headerborder: #39556E;
$tradex-icon: #D8D8D8;
$tradex-menuhover-bg: #1F364C;
$tradex-menuhover: #fff;
$tradex-popup-color: #24A473;

$login-bg: #f3ffe2;
$login-top-bg: $theme-color;
$login-bottom-bg: #303030;
$login-icon-bg: #303030;
$login-full-bg: #e6f3e5;
$login-icon: $theme-color;
$login-btn: #ffb80c;
$login-border: $theme-color;

$tradex-green: #22b355;
$tradex-red: #f33b3b;
$theme-placeholder-color: $theme-dark-color;

$alert-tr-bg: #5f1d1d;

$mybook-header: #1e1e1e;
$mybook-m-name: #ffcc51;
$mybook-icon: #2ce5dd;
$mybook-dashboard: #ffb80c;
$mybook-list: #e4a409;
$mybook-sitemap: #2f3462;
$mybook-stake: #e4e4e4;
$mybook-runner: #f4f4f4;
$mybook-green: $light-green;
$mybook-open: #3a3934;

$master-bl-table: #010101;
$master-bl-bg: transparent;
$master-info: $white-color;
$master-info-bg: #010101;
$live-winnerbg: #FFB80C;

$header-icon: #fff;
$tab-bg-color: #fdd147;
$mb-tab-header: #303030;
$tab-bg-active: black;
$mb-tab-label: #fff;
$bet-color: #000;
$fancy-border: #000;
$mb-bet-color: #000;

$flip-clock-bg: #333;
$flip-clock: #FFB80C;
$flip-clock-shadow: #FFB80C;

$cashbtn-bg: #F2D660;
$cashbtn: #FF8624;
$cashbg: #FFB80C;

$notification-bg: $white-color;
$notification: #1666a1;

$login-royalbg: #08052F;
$loginborder: #0079B2;
$pattitr-hover: #f5f5f5;
$accordion_body: #dadada;
$accordion_border: #a0b2be;
$mbtab-header: #dadada;
$mbtab-border: #a0b2be;
$livenumber: #fff;
$liveresult-bg: #333333;
$result-a: #ab1944;
$result-b: #2573A7;
$result-g: #25a86f;


$payment-bg: #efefef;
$tab-text: #ccc;
$wallet-submitbg: #1e1e1e;
$wallet-submit: $theme-color;
$wallet-title: #4f4f4f;
$mbpayment-bg: #ffffff;

$earn-text: rgb(69, 29, 81);
$earn-bg: #fff;
$register-bg: #d8288f;
$register-hover: #bd1979;
$register: #ffffff;
$chat-now: #d8288f;
$chat-hover: #c4a366;
$register-form: rgba(255,255,255,.85);
$form-font: #3a335a;

$ab-header-bg: #1C1F3E;
$ab-detail-bg: #171A33;
$ab-blue: #B0202F;
$ab-red: #0A6BB6;
$ab-border: #292D55;
$ab-btn-bg: rgba(156, 168, 194, 0.65);
$winner: #fff;
$promotion-arrow: #cdcdcd;
$mb_play: #f8c137;
$coming-soon: #FF0000;
$blinking: #1e1e1e;

$lunching-bg: #1e1e1e;
$lunching-title: #f8c137;
$lunch-text: #d1d1d1;
$xgame-header: #303030;


$switch-on-color: #e0e319;
$switch-on-label: #000;
$switch-off-color: #fff;
$switch-off-label: $gray;

$event-0-bg: #5f5a16;
$event-0-bg-hover: #847d1e;
$event-1-bg: #847d19;
$event-1-bg-hover: #a79e1e;
$event-2-bg: #a59d38;
$event-2-bg-hover: #bcb44f;

$m_selectbox: #787818;
$m-selectbox-fr: white;
$m-header-border: #c2c257;

$master-table-bg: rgba(0,0,0,.4);
$grid-hover: rgba(245, 245, 245, 0.2);
$grid-date: #181818;

$loader-color1: #fff;
$loader-color2: #ddd;

$m-btn-default-border: #8e1e98;
$m-btn-default-bg: #8e1e98;
$m-btn-default-border-bottom: #66166d;
$m-btn-default-color: #fff;
$m-btn-default-shadow: #521158;
$m-bg: #3a0c3f;

$m-btn-success-border: #0a5616;
$m-btn-success-bg: #0f8422;
$m-btn-success-border-bottom: #0a5616;
$m-btn-success-color: #fff;
$m-input-border: #cd42da;


@import '../pages/_fair-promo.scss';

.mobile-view {
    div.header_msg {
        background-color: #534a33;

        .marquee-msg {
            color: $white-color;
        }
    }
}

.mobile-view header ul .main-wallet ul li .green-light {
    color: #52920c !important;
}

header .header-top .logo-img, .header .header-top .logo-img {
    background-size: 53% 100% !important;
}

.admin-header {
    .header-top {
        .logo-img {
            width: 60% !important;
            background-size: 48% 100% !important;
        }
    }
}

.master_header {
    .header-top {
        .logo-img {
            width: 75% !important;
            background-size: 56% 100% !important;
        }
    }
}




@media only screen and (min-device-width: 768px) and (max-device-width: 1135px) {
    .content-wrap-table {
        div.section-logo {
            background-size: 22% 100% !important;
            height: 70px !important;
        }
    }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 767px) {
    .content-wrap-table {
        div.section-logo {
            background-size: 24% 100% !important;
            height: 53px !important;
        }
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .content-wrap-table {
        div.section-logo {
            background-size: 44% 100% !important;
            height: 50px !important;
        }
    }
}

.mobile-view nav.mobile_nav ul .active {
    background-color: #46443d !important;
}

.master-headermenu {
    .header-top .account-wrap {
        .green {
            color: #acff51 !important;
        }

        .dark-red {
            color: #ff8d8d !important;
        }
    }
}
.new-loginpage .login-wrap .login-form-part form .validation-code img{right:0px!important;}
.mobile-view .m-logo {
    height: 55px;
}
.fake-fixed-menu {
    background-color: $theme-secondary-color;
    height: 53px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
