<div class="menu-popup">
    <div class="popup-overlay"></div>
    <div class="popup-content">
        <div class="kyc-inner">
            <h3 class="align-c" style="margin:0 0 35px 0">TERM & CONDITIONS</h3>
            <p>
                Limits The maximum deposit limit on your account will vary depending on how long you have been a customer with us and whether you have successfully passed our security checks.
            </p>

            <p>
                Security Please note you may be asked to supply proof of identity and address before making a withdrawal from your account. Credit and Debit card payments undergo a 3D Secure process.
            </p>
            <p>Withdrawals will be directed to the same source. If your query is not covered by the information contained here, please Contact Support number. where staff will be on hand to answer your query.</p>


        </div>
        <a class="k-close" ng-click="closeMe()"><i class="fa fa-close" aria-hidden="true"></i></a>
        <div class="actions text-center">
            <button class=" small-btn" ng-click="closeMe()">I Agree</button>
        </div>
    </div>
</div>
