<tr  class="position-bg">
    <td style="text-align:left;padding-left:15px">
        <a style="color:white;" ng-click="ctrl.open_Close_Check_Position(sm,true);">
            {{sm.username}}
            <span class="icons-list">
                <i class="fa fa-th-list fa-rotate-180 icons" ng-click="ctrl.openBetList($event,exposureTreeMarket.id,exposureTreeMarket.name,sm.userId)"></i>
                <i class="fa icons" ng-if="sm.downline" ng-class="{'fa-sitemap':!sm.open,'fa-sort-amount-asc fa-rotate-180':sm.open}"></i>
            </span>
        </a>
    </td>
    <td>{{sm.marketRunners | total:'stake' | toRate}}</td>
    <td ng-repeat="r in sm.marketRunners track by $index" >
        <span class="market-team"
              ng-class="{'positive':r.pl>=0,'negative':r.pl<0}">
            {{r.pl  | toRate}}
        </span>
    </td>
</tr>
<tr ng-if="sm.downline && sm.open"  >
    <td colspan="{{sm.marketRunners.length+2}}" style="padding:0px">
        <table ng-repeat="d in sm.downline track by $index" 
               style="margin:10px 15px;width:calc(100% - 15px)">
            <thead>
                <tr>
                    <th ></th>
                    <th style="width:200px"></th>
                    <th style="width:200px" ng-repeat="r in exposureTreeMarket.marketRunner track by $index"></th>
                </tr>
            </thead>
            <tbody ng-include="userpositionChildTemplate"></tbody>
        </table>
    </td>
</tr>