<div class="bets-wrap">
    <table class="table-score single-row">
        <thead class="t-header loading-header">
            <tr>
                <th class="align-l match-title">
                    <i class="fa  check-icon fa-star-o" aria-hidden="true"></i>
                </th>
                <th class="align-r oddsbox"></th>
                <th class="align-l oddsbox"></th>
            </tr>
        </thead>

        <tbody>
            <tr class="tr-data ">
                <td class="match-title loading-info">
                    <span class="runner-title ">&nbsp;</span>
                </td>
                <td class="back-1 loading-info"></td>
                <td class="lay-1  loading-info"></td>
            </tr>
            <tr class="tr-data ">
                <td class="match-title loading-info">
                    <span class="runner-title ">&nbsp;</span>
                </td>
                <td class="back-1 loading-info"></td>
                <td class="lay-1  loading-info"></td>
            </tr>
            <tr class="tr-data ">
                <td class="match-title loading-info">
                    <span class="runner-title ">&nbsp;</span>
                </td>
                <td class="back-1 loading-info"></td>
                <td class="lay-1  loading-info"></td>
            </tr>
        </tbody>
    </table>
    <table class="table-score single-row">
        <thead class="t-header loading-header">
            <tr>
                <th class="align-l match-title">
                    <i class="fa  check-icon fa-star-o" aria-hidden="true"></i>
                </th>
                <th class="align-r oddsbox"></th>
                <th class="align-l oddsbox"></th>
            </tr>
        </thead>

        <tbody>
            <tr class="tr-data ">
                <td class="match-title loading-info">
                    <span class="runner-title ">&nbsp;</span>
                </td>
                <td class="back-1 loading-info"></td>
                <td class="lay-1  loading-info"></td>
            </tr>
            <tr class="tr-data ">
                <td class="match-title loading-info">
                    <span class="runner-title ">&nbsp;</span>
                </td>
                <td class="back-1 loading-info"></td>
                <td class="lay-1  loading-info"></td>
            </tr>
        </tbody>
    </table>
</div>