
<table class="table-score">
    <thead>
        <tr>
            <th class="align-l th-col">match</th>
            <th class="align-c" colspan="2">1</th>
            <th class="align-c" colspan="2">x</th>
            <th class="align-c" colspan="2">2</th>
        </tr>
    </thead>
    <tbody>
        <tr class="loading-info" ng-repeat="i in [1,2,3]">
            <td class="match-title">
                <i class="check-icon icon-star-empty" aria-hidden="true"></i><a></a>
            </td>
            <td class="back1 align-c loading-info">
            </td>
            <td class="lay1 align-c loading-info">
            </td>
            <td class="back1 align-c loading-info">
            </td>
            <td class="lay1 align-c loading-info">
            </td>
            <td class="back1 align-c loading-info">
            </td>
            <td class="lay1 align-c loading-info">
            </td>
        </tr>
    </tbody>
</table>




