<div class="menu-popup">
    <div class="popup-overlay"></div>
    <div class="popup-content gambling-text" style="height:377px;">
        <div class="g-title bold" style="margin-bottom: 23px;text-align:center;">
            <svg class="icon" width="32" height="32" viewBox="0 0 16 16" fill="#000" xmlns="http://www.w3.org/2000/svg" style="margin-bottom: -12px;margin-top: -27px;margin-right: 7px;">
                <path d="M15.3,2.2V1.8c0-1-0.8-1.8-1.8-1.8c0,0,0,0,0,0l0,0c-0.5,0-0.9,0.2-1.3,0.5c-0.3,0.3-0.5,0.8-0.5,1.3v0.4
              c-0.4,0-0.7,0.3-0.7,0.7l0,0v2.9c0,0.4,0.3,0.7,0.7,0.7h3.6c0.4,0,0.7-0.3,0.7-0.7l0,0V2.9C16,2.5,15.7,2.2,15.3,2.2z M14.7,2.2
              h-2.5V1.8c-0.1-0.7,0.4-1.3,1.1-1.4c0.7-0.1,1.3,0.4,1.4,1.1c0,0,0,0,0,0c0,0.1,0,0.1,0,0.2V2.2z M13,8c0,0.2,0.1,0.5,0.1,0.7
              c0,1.5-0.5,2.9-1.5,3.9c-0.2-0.6-0.7-1-1.4-1H9.5V9.4c0-0.4-0.3-0.7-0.7-0.7c0,0,0,0,0,0H4.4V7.3h1.5c0.4,0,0.7-0.3,0.7-0.7V5.1H8
              c0.8,0,1.5-0.6,1.5-1.4c0,0,0,0,0,0V1.8C8.8,1.6,8,1.4,7.3,1.4C3.3,1.4,0,4.7,0,8.7S3.3,16,7.3,16s7.3-3.3,7.3-7.3V8H13z M6.6,14.5
              c-2.9-0.4-5.1-2.8-5.1-5.8c0-0.4,0.1-0.9,0.2-1.3l3.5,3.5v0.7c0,0.8,0.7,1.4,1.5,1.4V14.5z"></path>
            </svg>RESTRICTED TERRITORIES
        </div>
        <p>Access to this site is restricted in certain geographical territories. Customers residing in the listed territories are prohibited from accessing the site and its services.</p>
        <p>The restricted territories are:</p>
        <p>Afghanistan, Algeria, Australia, Bosnia and Herzegovina, Bulgaria, Canada, China (People's Republic of), Cuba, Cyprus, Denmark, Ethiopia, France (and French territories), Germany, Gibraltar, Iran (Islamic Republic of), Iraq, Ireland, Italy, Korea (Democratic People's Republic of), Lao (People's Democratic Republic of), Malta, Myanmar, Netherlands, New Zealand, Poland, Portugal, Puerto Rico, Qatar, Romania, Singapore, Slovakia, South Africa, Spain, Sudan, Syrian Arab Republic, Turkey, Uganda, United Kingdom, United States (and U.S. Territories), Yemen.</p>
        <div class="actions">
            <button class="float-r small-btn" ng-click="closeMe()">ok</button>
        </div>
    </div>
</div>