/// <reference path="../utlis/__utils.scss" />
/// <reference path="../variables/__variables.scss" />
/// <reference path="../base/__base.scss" />

.tab::-webkit-scrollbar {
    display: none;
}

.tab::-webkit-scrollbar-track {
    display: none;
}

.tab::-webkit-scrollbar-thumb {
    display: none;
}

.tab {
   
    @include respond-to2(medium-screens) {
        white-space: nowrap;
        overflow-x: auto;
    }

    @include respond-to2(extra-medium-screens) {
        white-space: nowrap;
        overflow-x: auto;
    }

    @include respond-to2(extra-small-screens) {
        white-space: nowrap;
        overflow-x: auto;
    }

    @include respond-to2(handhelds) {
        white-space: nowrap;
        overflow-x: auto;
    }

    .tabs-container {
        font: 12px Arial,Helvetica,sans-serif;
       // color: $theme-secondary-color;
        list-style-type: none;
        @include padding(0px, 0px, 0px, 0px);
     //   background-color: $white-smoke;

        .tab-container {
            @include display(inline-block);
         //   background-color: $tab-color;
            text-align: $center;
            cursor: $cursor;
            vertical-align: middle;
            height: 35px;
           // @include border('top', 3px, solid, transparent !important);
           // @include border('right', 1px, solid, $gray-gains);

            &:hover, &.active {
              //  @include border('top', 3px, solid, $tab-top-color !important);
                background-color: $white-color;
            }

            @include respond-to2(medium-screens) {
                font-size: 25px;
            }

            @include respond-to2(extra-medium-screens) {
                font-size: 17px;
                background-size: 26px !important;
            }

            @include respond-to2(extra-small-screens) {
                font-size: $font-size-tab;
                background-size: 16px !important;
            }

            @include respond-to2(handhelds) {
                font-size: $font-size-tab;
                background-size: 16px !important;
            }

            .tab-heading {
                margin: 0;
                @include display(block);
                @include padding(1px, 16px, 1px, 16px);
                @include  position(relative, top 50%);
               // top: 50%;
                transform: translateY(-50%);

                .tab-icon {
                    width: 14px;
                    height: 16px;
                    margin: 6px 6px 0 0;
                    background-color: transparent;
                }

                .tab-label {
                    color: $black-color;
                    @include txt(bold);
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
        }
    }

    .tab-desc {
        padding-top: 5px;
        background-color: $white-color;
    }
}

.tab-title {
    margin: 15px 0 0 0 !important;
    @include padding(0px, 10px, 0px, 10px);
    @include line-height(25px);
    @include txt(bold);
    @include resize (left, $width);
    @include headline($white-color, $font-size-tab );
  //  background-color:$gray_black;
}
