/// <reference path="../../utlis/__utils.scss" />
/// <reference path="../../variables/__variables.scss" />
/// <reference path="../../base/__base.scss" />

#fairxcasino {
    height: 100vh;
}
.mobile-top {
    #fairxcasino {
        height: calc(100vh - 61px);
    }
}

.casino-bg {
    // position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51,51,51,0.94);
    z-index: 999;

    .game-lobby {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        //padding: 2px;
        background: #000;
        //width: calc(100% - 60px);
        box-shadow: rgba(20, 21, 18,1) 0px 0px 5px 2px;
        height: 100vh;
    }

    .close-game {
        color: white;
        right: 10px;
        text-align: right;
        position: relative;
        top: 4px;
        font-size: 20px;
        cursor: pointer;
        float: right;
        display: inline-block;
    }

    .home-game {
        color: white;
        right: 20px;
        text-align: right;
        position: relative;
        top: 4px;
        font-size: 20px;
        cursor: pointer;
        float: right;
        display: inline-block;
    }
}

.mb-menulist {
    float: left;
    width: 100%;
    padding: 15px 0 0px 0;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


    .menulist-detail {
        .s1, .s2, .s3 {
            background-image: url(/public/images/icons/3patti.png);
        }

        .card32 {
            background-image: url(/public/images/icons/card32.png);
        }

        .nosource {
            background-image: url(/public/images/icons/nosource.png);
        }

        .ab001 {
            background-image: url(/public/images/icons/ab.png);
        }

        .\37 up {
            background-image: url(/public/images/icons/7up.png);
        }

        .dt001 {
            background-image: url(/public/images/icons/dt.png);
        }

        .pk01, .pk02, .pkt20 {
            background-image: url(/public/images/icons/poker.png);
        }

        .cok01 {
            background-image: url(/public/images/icons/cok.png);
        }

        .vcoq {
            background-image: url(/public/images/icons/vcoq.png);
            border-radius: 5px !important;
        }

        .evo {
            background-image: url(/public/images/icons/evo.png);
            border-radius: 5px !important;
        }

        .ezugi {
            background-image: url(/public/images/icons/ezugi.png);
            border-radius: 5px !important;
        }
    }

    .menulist-detail {
        position: relative;
        text-align: center;
        float: left;
        width: 16.2%;
        margin: 22px 0;

        .text-highlight {
            font-size: 10px;
            text-align: center;
            text-transform: capitalize;
            border-radius: 100%;
            display: table-caption;
            position: absolute;
            right: 10%;
            top: -23px;
            max-width: 7ch;
            line-height: 14px;
        }

        .menu-img {
            background-repeat: no-repeat;
            width: 50px;
            height: 50px;
            margin: 0 auto;
            background-position: center;
            background-size: cover;
            box-shadow: rgba(0, 0, 0, 0.30) 2px 2px 10px, rgba(0, 0, 0, 0.8) -1px 0px 4px;
            border-radius: 10px;
        }

        .mb_play {
            background-color: $open-link-bg;
            padding: 6px 8px;
            color: white;
        }


        .mb-title {
            display: block;
            width: 100%;
            font-size: 12px;
            line-height: 15px;
            margin-top: 5px;
        }
    }
}
