.feed-market {
    width: 100%;
    display: inline-block;

    .input-container {
        margin: 10px 0 0 0;
        display: inline-block;

        .input-group {
            float: left;
            width: -webkit-calc(25% - 10px);
            width: -moz-calc(25% - 10px);
            width: calc(25% - 10px);
            margin-right: 10px;

            input {
                height: 35px;
            }

            &:last-child {
                margin-right: 0;
                width: -webkit-calc(25% - 0px);
                width: -moz-calc(25% - 0px);
                width: calc(25% - 0px);
            }
        }
    }

    .start-bar {
        width: 100%;

        .input-group {
            width: -webkit-calc(75% - 10px);
            width: -moz-calc(75% - 10px);
            width: calc(75% - 10px);
            float: left;
            margin: 8px 10px 0 0;
        }

        .start-btn {
            width: 25%;
            float: left;
            height: 34px;
            margin: 8px 0 0 0;
        }
    }
}

.playing-cards {
    margin: 0px 10px;
    padding: 5px 5px;
    background-color: #536b78;

    .runner-selection {
        width: 200px;
        min-height: 100px;
        float: left;

        .btn {
            margin-bottom: 5px;
        }
    }

    .card-selection {
        width: calc(100% - 200px);
        display: inline-block;
    }

    .chk {
        width: 100%;
        float: left;
        color: white;
    }

    .cards {
        width: 35px;
        margin-left: 5px;
        transition: transform .2s;
        cursor: pointer;
    }

    .cards:hover {
        transform: scale(1.2);
    }

    .card-row {
        width: 100%;
    }
}

.cards-inside-runner {
    padding: 0px 2px;
    margin: -10px 0px;
    height: 35px;
    transition: transform .2s;
    cursor: pointer;
}

.card-on-video {
    position: absolute;
    z-index: 10;
    top: 5px;
    padding-left: 5px;
    display: inline-block;
    //background: rgba(67, 72, 73, 0.43);
    border-radius: 5px;
    padding: 5px;
    // height: calc(100% - 10px);

    .number-circle {
        background: white;
        border-radius: 64px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        display: inline-block;
        color: black;
        text-align: center;
        font-size:12px;
    }

    .cards-inside-video {
        padding: 0px 1px;
        // margin: -10px 0px;
        height: 35px;
        //transition: transform .2s;
        cursor: pointer;
    }

    .video-card-container {
        display: inline-block;
        width: max-content;
    }

    .rpt-div-video {
        //height:65px;
        display: block;
        width: 115px;
        margin-bottom: 4px;
    }

    .card-scroll {
        overflow-x: auto;
        white-space: nowrap;
    }

    .card-scroll::-webkit-scrollbar {
        width: 1px;
        height: 3px;
        margin-left: 3px;
        //background-color: #F5F5F5;
    }

    .card-scroll::-webkit-scrollbar-track {
        height: 4px;
        background-color: #d2d2d2;
    }

    .card-scroll::-webkit-scrollbar-thumb {
        background-color: #808080;
        height: 4px;
    }

    .rname-on-video {
        display: block;
        color: white;
        height: 20px;
    }

    .img-on-video {
        height: 35px;
    }
}
