/// <reference path="../../variables/__variables.scss" />
/// <reference path="../../base/__base.scss" />

.back.swap-animation, .back1.swap-animation, .back2.swap-animation, .back3.swap-animation, .tomatch-score.swap-animation,
.back-1.swap-animation {
    -webkit-animation-name: highlightBack;
    -webkit-animation-duration: .2s;
    -moz-animation-name: highlightBack;
    -moz-animation-duration: .2s;
    animation-name: highlightBack;
    animation-duration: .2s;
}

.lay.swap-animation, .lay1.swap-animation, .lay2.swap-animation, .lay3.swap-animation, .lay-1.swap-animation {
    -webkit-animation-name: highlightLay;
    -webkit-animation-duration: .2s;
    -moz-animation-name: highlightLay;
    -moz-animation-duration: .2s;
    animation-name: highlightLay;
    animation-duration: .2s;
}

.position-animation {
    -webkit-animation-name: highlightBack;
    -webkit-animation-duration: .8s;
    -moz-animation-name: highlightBack;
    -moz-animation-duration: .8s;
    animation-name: highlightBack;
    animation-duration: .8s;
}



@-moz-keyframes highlightBack {
    0% {
        background-color: $back-hover;
    }

    50% {
        background-color: $swap-color;
    }

    100% {
        background-color: $back-hover;
    }
}

@-o-keyframes highlightBack {
    0% {
        background-color: $back-hover;
    }

    50% {
        background-color: $swap-color;
    }

    100% {
        background-color: $back-hover;
    }
}

@keyframes highlightBack {
    0% {
        background-color: $back-hover;
    }

    50% {
        background-color: $swap-color;
    }

    100% {
        background-color: $back-hover;
    }
}

@-moz-keyframes highlightLay {
    0% {
        background-color: $lay-hover;
    }

    50% {
        background-color: $swap-color;
    }

    100% {
        background-color: $lay-hover;
    }
}

@-o-keyframes highlightLay {
    0% {
        background-color: $lay-hover;
    }

    50% {
        background-color: $swap-color;
    }

    100% {
        background-color: $lay-hover;
    }
}

@keyframes highlightLay {
    0% {
        background-color: $lay-hover;
    }

    50% {
        background-color: $swap-color;
    }

    100% {
        background-color: $lay-hover;
    }
}

.blink {
    -webkit-animation: blink 2s linear infinite;
    -moz-animation: blink 2s linear infinite;
    -ms-animation: blink 2s linear infinite;
    -o-animation: blink 2s linear infinite;
    animation: blink 2s linear infinite;
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    50.01% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    50.01% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-ms-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    50.01% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    50.01% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    50.01% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.blink-color {
    -webkit-animation: blinkcolor 2s linear infinite;
    -moz-animation: blinkcolor 2s linear infinite;
    -ms-animation: blinkcolor 2s linear infinite;
    -o-animation: blinkcolor 2s linear infinite;
    animation: blinkcolor 2s linear infinite;
}

@-webkit-keyframes blinkcolor {
    0% {
        color: #000000;
    }

    25% {
        color: red;
    }

    100% {
        color: red;
    }
}

@-moz-keyframes blinkcolor {
    0% {
        color: #000000;
    }

    25% {
        color: red;
    }

    100% {
        color: red;
    }
}

@-ms-keyframes blinkcolor {
    0% {
        color: #000000;
    }

    25% {
        color: red;
    }

    100% {
        color: red;
    }
}

@-o-keyframes blinkcolor {
    0% {
        color: #000000;
    }

    25% {
        color: red;
    }

    100% {
        color: red;
    }
}

@keyframes blinkcolor {
    0% {
        color: #000000;
    }

    25% {
        color: red;
    }

    100% {
        color: red;
    }
}
.table-score {
    tbody.newitem, tbody.newitem .empty-score {
        -webkit-animation: blinknewitem 3s linear;
        -moz-animation: blinknewitem 3s linear;
        -ms-animation: blinknewitem 3s linear;
        -o-animation: blinknewitem 3s linear;
        animation: blinknewitem 3s linear;
    }
}

@-webkit-keyframes blinknewitem {
    0% {
        background-color: #d7e7e7;
    }

    100% {
        background-color: $white-color;
    }
}

@-moz-keyframes blinknewitem {
    0% {
        background-color: #d7e7e7;
    }

    100% {
        background-color: $white-color;
    }
}

@-ms-keyframes blinknewitem {
    0% {
        background-color: #d7e7e7;
    }

    100% {
        background-color: $white-color;
    }
}

@-o-keyframes blinknewitem {
    0% {
        background-color: #d7e7e7;
    }

    100% {
        background-color: $white-color;
    }
}

@keyframes blinknewitem {
    0% {
        background-color: #d7e7e7;
    }

    100% {
        background-color: $white-color;
    }
}