/// <reference path="../../utlis/__utils.scss" />
/// <reference path="../../variables/__variables.scss" />
/// <reference path="../../base/__base.scss" />


.promotion{
    .carousel{
        .carousel-inner > .item > img{width:302px !important;}
    }
}
.web-promotion, .promotion{
   float:left; width:100%;
    .carousel{
        .carousel-control.left, .carousel-control.right{background-image:none !important;}
        .fa-angle-left, .fa-angle-right{ font-size:35px; font-weight:bold; color:$promotion-arrow}
        .carousel-control{
            top:66%;
            opacity:1;
            transform:translate(-0%, -66%);
        }
    }
}