/// <reference path="../../utlis/__utils.scss" />
/// <reference path="../../variables/__variables.scss" />
/// <reference path="../../base/__base.scss" />



.radar-view {
    background-color: #e1ebe7;
    height: 100%;

    .fa {
        margin-left: 5px;
    }

    .no-size {
        font-weight: normal;
        color: transparent;
    }

    .oneclickwrap {
        //width: 48%;
        margin-top: 15px;


        .selected-stake {
            width: 128px;
            margin-top: 16px;
            margin-left: 11px;
            float: left;
            height: 31px;
        }


        .oneclick-input {
            padding: 0px 5px;
            margin-bottom: 2px;
        }
    }

    .process-counter {
        @include position(relative);
        // clear: both;
        // overflow: hidden;
        height: 30px;

        .counter-betprocess {
            @include position(absolute);
            // width: 50px !important;
            height: 100% !important;
            overflow: hidden;
            z-index: 101;
            right: 0;

            .betprocess {
                // background-color: rgba(255,255,255,0.84);
                font-size: 12px;
                @include txt(bold);
                text-align: center;
                height: $height;
            }

            .loader {
                height: 30px;

                .delay {
                    font-size: 14px;
                    @include position(absolute);
                    top: 42%;
                    -webkit-transform: translate(52%,-34%);
                    transform: translate(-52%,-34%);
                }
            }

            .bet-process {
                -webkit-transform: translate(0%, 0%);
                transform: translate(0%, 0%);
                background-image: url(/public/images/gif/dual-ring.svg);
                background-repeat: no-repeat;
                background-size: 100% 100% !important;
                vertical-align: middle;
                text-align: center;
                width: 30px;
                height: 30px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

.rd-runner {
    float: left;
    text-align: center;
    padding: 0px 5px;
    border-right: 1px solid;
    height: 100%;
}

.rd-runner-2 {
    width: 50%;
}

.rd-runner-3 {
    width: 33.3%;
}

.rd-table-div {
    background-color: #fafafa;
    //height: 500px;
    //overflow-y: scroll;
}

.rd-runnername {
    height: 50px;
    padding-top: 10px;
    font-weight: bold;
}

.rd-table {
    font-size: 12px;
    border: 1px solid #DDDDDD;
    padding: 0px 5px;
    background-color: white;
    table-layout: fixed;
    margin: auto;

    thead {
        display: table;
        width: 100%;
        width: calc(100% - 18px);
        //tr{display:table; }
    }

    tbody {
        max-height: 300px;
        overflow: auto;
        overflow-x: hidden;
        display: block;
        width: 100%;

        tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }
    }

    tr:hover td {
        background-color: #fa8787 !important;
        color: black;

        &:active {
            background-color: #efefef !important;
        }
    }

    .summary-data {
        background-color: $light-grey;
    }
}

.rd-th {
    text-align: center;
    border: 1px solid #DDDDDD;
}

.rd-td {
    text-align: center;
    border: 1px solid #DDDDDD;

    a {
        color: black;
    }

    &:hover {
        .no-size {
            color: black;
        }
    }

    cursor: pointer;
}


.amt-td {
    width: 70px;
    color: black;
}

.odds-td {
    width: 45px;
    background-color: #2C97E6;
    color: white;
}

.bm-special {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-bottom: 5px;
    background: whitesmoke;
    position: relative;

    .rd-table thead tr {
        float: left;
        width: 100%;
        display: table;
    }

    .bm-tab {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        background: #efefef;
        position: relative;

        .tab-close {
            position: absolute;
            right: 10px;
            top: 35%;
            font-size: 15px;
            cursor: pointer;

            &:hover {
                color: #dcdcdc;
            }
        }

        .tab-head {
            max-width: 250px;
            width: 200px;
            text-align: center;
            padding: 10px 0px;
            background: #efefef;
            border-right: 1px solid #dfdfdf;
            border-top: 2px solid #efefef;
            cursor: pointer;
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 50px;
            box-sizing: border-box;

            &:first-child {
                border-left: 1px solid #dfdfdf;
            }

            &.active, &:hover {
                border-top: 2px solid #f6b800;
                background: whitesmoke;
            }
        }
    }

    .bm-content {
        width: 100%;
        min-height: 100px;
        display: flex;
        flex-direction: column;
        border: 1px solid #dfdfdf;
        border-top: none;
        padding: 5px;
        box-sizing: border-box;
        font-size:10px;
    }

    .join-now-button {
        font-weight: normal;
        padding: 2px 12px;
        transition: all 0.2s ease;

        &:hover {
            background: linear-gradient(0deg, #fff, #cacfd3);
        }
    }

    .stake-content {
        padding: 15px 0px 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .fa {
            margin-left: 5px;
        }

        .stake-btn {
            width: 65px;
            text-align: center;
            float: left;
            line-height: 20px;
            font-weight: normal;
            color: #1b2d39;
            font-size: 11px;
            color: #ffb80c;
            background: #444444 url(/public/images/bg-send.jpg) repeat-x;
            border-width: 1px;
            border-style: solid;
            border-color: #c5c5c5;
            margin: 2px;
            border-radius: 4px;
        }

        .stake-btn.select {
            background: #f6d042;
            color: black;
            font-weight: bold;
        }



        .section-item {
            input {
                width: 65px;
                margin-right: 5px;
                border-radius: 3px;
                border: 1px solid #cbc9c9;
                text-align: center;
                height: 20px;
            }
        }
    }

    .rd-table {
        thead tr, tbody tr td {
            height: 22px;
        }
    }

    .bottom-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .join-now-button {
        line-height: 26px;
        margin: 2px 5px;
        font-weight: 700;
        color: #273a47;
        background: linear-gradient(0deg,#fff,#eaf0f5);
        border-radius: 3px 3px 3px 3px;
        border: 1px solid #c6d5e0;
        border-bottom-color: #8093a0;
        //padding: 4px 5px;
        text-decoration: none
    }

    .bottom-right {
        padding: 15px 0px 5px;

        .join-now-button {
            background: linear-gradient(0deg, #ffe4e4, #ff5d5d)
        }
    }
}

.mobile-bg, .mobilebody {
    .bm-special {
        .bm-tab {
            font-size: 10px;

            .tab-head {
                flex-direction: column;
                position: relative;
                width: 140px;

                .process-counter {
                    position: absolute;
                    height: 30px;
                    right: 0;
                }
            }
        }

        .rd-table-div {
            overflow-y: scroll;
        }

        .bottom-line {
            flex-direction: column;
        }

        .join-now-button {
            font-size: 12px;
            font-weight: normal;
        }

        .amt-td {
            width: 60px;
            min-width: 60px;
        }

        .odds-td {
            min-width: 45px;
            width: 45px;
        }

        .rd-table {
            font-size: 10px;

            tbody {
                overflow: auto;

                tr {
                    height: 25px;
                }
            }
        }

        .no-size {
            color: rgba(166, 135, 135, 0.16);
        }

        td, th {
            vertical-align: middle;
        }
    }
}

.ad-auto-bm {
    display: inline-block;
    padding-left: 100px;

    .input-sec {
        width: 50px;
        border-radius: 3px;
        border: 1px px solid #bdbdbd;
        text-align: center;
    }
}

.full-radar.radar-view {
    .full-tab {
        display: flex;
        justify-content: flex-start;
        background: #e9e9e9;
        max-height: 50px;
    }

    .odd-tr {
        height: 20px;

        .amt-td {
            font-weight: bold;
        }
    }

    .rd-runner {
        width: 100%;
    }

    .rd-runnername {
        font-size: 14px;
        width: 30%;
        background: #e2e2e2;
        border-right: 1px solid #bfb7b7;
        cursor: pointer;

        &.active {
            background: #dce4da;
        }

        &:hover {
            background: #e2ebdf;
        }
    }

    .rd-runnername {
        font-size: 14px;
    }

    .rd-table {
        position: relative;
        height: 100%;

        tbody {
            max-height: 100%;
            position: relative;
            height: calc(100% - 53px);
        }
    }

    .rd-table-div {
        height: 73%;
        position: relative;
    }

    .rd-runner {
        box-sizing: border-box;
    }

    .oneclickwrap {
        display: inline-flex;
        justify-content: space-between;
        flex-direction: column;
        width: 50%;
        align-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .oneclick-stake-btn {
        display: flex;
    }

    .oneclick-btns {
        display: flex;

        a {
            margin-right: 5px;
        }
    }

    .form-control {
        width: 70px!important;
        border: 1px solid #b8b8b8;
        height: 30px;
        text-align: center;
        border-radius: 5px;
    }

    .manual-odd {
        display: flex;

        label, .form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-weight: normal;
        }

        .form-control {
            width: 100px;
        }
    }

    .oneclick-betstake {
        display: flex;
    }
}

.rd-icon {
    margin: 0px 5px;
    cursor: pointer;
    right: 24px !important;
}
