/// <reference path="../../utlis/__utils.scss" />
/// <reference path="../variables/__variables.scss" />
/// <reference path="../base/__base.scss" />

html, body {
    font-size: 1rem !important;
}
//body{overflow:hidden;}


.splash, .dsplash, .main-login {
    background-image: linear-gradient(#565656,#efae10);
}

.main-login .login-inner { .logo img{width:unset!important;}
}


$font-stack: 'Roboto Condensed', sans-serif !important;

$theme-color: #efae10;
$theme-dark-color: #000000;
$theme-light-dark-color: #404040;
$theme-danger: #fe0000;
$theme-success: #508D0E;


$p-btn-bg-1: #f6b800;
$p-btn-bg-2: #f9d020;
$p-btn-shadow: #fff5c8;
$crypto-btn-1: #d6d6d6;
$crypto-btn-hover: #bebebe;
$bf-gray-1: #dfdfdf;

$payment-bg: #efefef;
$tab-text: #ccc;
$wallet-submitbg: #1e1e1e;
$wallet-submit: #34727a;
$wallet-title: #4f4f4f;
$tab-active-border: #09363c;
$tab-top-color: $theme-color;

$color-text: $theme-dark-color;
$login-back: $theme-color;
$black-color: #000000;
$white-color: #ffffff;
$light-white: darken(desaturate($white-color, 10%), 6.5%); /* #eeeeee */
$light-grey: darken(desaturate($white-color, 10%), 10%); /* #e6e6e6  */
$green: #1d7f1e;
$red: #fe0000;
$yellow: #ffdf1b;
$gray: #bbbbbb;
$blue: #59b6ff;
$pink: #fb7e9a;
$purple: #b50037;
$light-purple: #b50037;
$grayish: #474747;
$light-gray: #e2e2e2;
$light-green: #4acfa5;
$light-graygreen: #d3e7e2;
$medium-gray: #e4e4e4;
$darkgrey: #5e5e5e;
$dark-blue: #2C97E6;
$racing-green: #bd1419;

$back-hover: #f2f9ff;
$lay-hover: #fef7f9;

$cashbtn-bg: #F2D660;
$cashbtn: #FF8624;
$cashbg: #efae10;
$border-color: #dcdcdc;

$heading: #1e1e1e;
$heading-hover-line: $theme-color;
$title: #6a604b;
$table-back: #f2f2f2;
$tab-bg: #cb9718;
$remark: #8B0000;
$fixedodd-bg: #2180c4;
$base-color-light: darken(desaturate($white-color, 20%), 46.7%); /* #888888  */

$result-first: #228997;
$result-bg: #0e87bc;
$result-cr: #fff;
$result-a-cr: #fff;
$ab-blue: #bfe3ff;
$ab-red: #ffb1b9;

$filter-bg: #6a604b;

.logo-img {
    background: url(/public/images/shaktiexch/logo.png);
    max-height:65px;
}
.main-login .login-inner .logo img{max-height:65px;}