<div class="row">
    <div class="col-sm-12">
        <div class="input-group">
            <label>{{::'pt.current.label' | translate}} : &nbsp;</label>
            <span>{{pt.current | number:0}}</span>
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
            <input  type="text" kt-number-only minlength="1" maxlength="15" tabindex="1"
                   placeholder="{{::'user.pt.placeholder' | translate}}"
                   ng-model="pt.pt" class="form-control">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user-secret" aria-hidden="true"></i></span>
            <input type="password" minlength="1" maxlength="25"
                   placeholder="{{::'user.password.placeholder' | translate}}" tabindex="2" autocomplete="new-password"
                   required ng-model="pt.password" class="form-control">
        </div>
    </div>
</div>



