
<div class="banner mb-2">
    <div class="swiper-container swiper-container-horizontal" id="banners">
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slider-item">
                    <img ng-src="{{webImagePath}}banners/banner-1.jpg" />
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slider-item">
                    <img ng-src="{{webImagePath}}banners/banner-2.jpg" />
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slider-item">
                    <img ng-src="{{webImagePath}}banners/banner-3.jpg" />
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slider-item">
                    <img ng-src="{{webImagePath}}banners/banner-4.jpg" />
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slider-item">
                    <img ng-src="{{webImagePath}}banners/banner-5.jpg" />
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slider-item">
                    <img ng-src="{{webImagePath}}banners/banner-6.jpg" />
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slider-item">
                    <img ng-src="{{webImagePath}}banners/banner-7.jpg" />
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slider-item">
                    <img ng-src="{{webImagePath}}banners/banner-8.jpg" />
                </div>
            </div>

        </div>

    </div>
</div>

<!-- ===== RECENT BIG WINS SECTION ===== -->
<div class="recent-big-wins-section" ng-if="hasCasino">
    <div class="rbw-header">
        <h3 class="rbw-title">Recent Big Wins</h3>
        <div class="rbw-tabs">
            <span class="rbw-tab" ng-class="{'active': !bigWinsFilter || bigWinsFilter === 'all'}" ng-click="bigWinsFilter='all'">All</span>
            <span class="rbw-tab" ng-class="{'active': bigWinsFilter === 'popular'}" ng-click="bigWinsFilter='popular'">Popular</span>
            <span class="rbw-tab" ng-class="{'active': bigWinsFilter === 'slots'}" ng-click="bigWinsFilter='slots'">Slots</span>
            <span class="rbw-tab" ng-class="{'active': bigWinsFilter === 'exclusive'}" ng-click="bigWinsFilter='exclusive'">Exclusive</span>
        </div>
    </div>
    <div class="rbw-games" id="mobileBigWinsSwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><div class="game_box tone-copper"><a ng-click="ctrl.openCasinoGame('630df58edc0c3fd8f78bee2e')"><div class="game_box-media"><img ng-src="/public/images/drpapaya/casino/img/tp-day.jpg" alt="Teenpatti One Day" /></div><div class="game_box-info"><span class="game_box-name">Teenpatti One Day</span><span class="game_box-tag tag-coral">Live</span></div></a></div></div>
            <div class="swiper-slide"><div class="game_box tone-gold"><a ng-click="ctrl.openCasinoGame('630df6a0dc0c3fd8f78bef3c')"><div class="game_box-media"><img ng-src="/public/images/drpapaya/casino/img/andarbahar.jpg" alt="Andar Bahar" /></div><div class="game_box-info"><span class="game_box-name">Andar Bahar</span><span class="game_box-tag tag-gold">Live</span></div></a></div></div>
            <div class="swiper-slide"><div class="game_box tone-lime"><a ng-click="ctrl.openCasinoGame('630df9a30c22dbface4f73cb')"><div class="game_box-media"><img ng-src="/public/images/drpapaya/casino/img/roulette.jpg" alt="Roulette" /></div><div class="game_box-info"><span class="game_box-name">Roulette</span><span class="game_box-tag tag-lime">Live</span></div></a></div></div>
            <div class="swiper-slide"><div class="game_box tone-ruby"><a ng-click="ctrl.openCasinoGame('630dfaf3a419f88910179f46')"><div class="game_box-media"><img ng-src="/public/images/drpapaya/casino/img/baccarat.jpg" alt="Baccarat" /></div><div class="game_box-info"><span class="game_box-name">Baccarat</span><span class="game_box-tag tag-ruby">Live</span></div></a></div></div>
            <div class="swiper-slide"><div class="game_box tone-violet"><a ng-click="ctrl.openCasinoGame('630dfbca9510dff723385b75')"><div class="game_box-media"><img ng-src="/public/images/drpapaya/casino/img/tp2card.jpg" alt="2 Card Teenpatti" /></div><div class="game_box-info"><span class="game_box-name">2 Card Teenpatti</span><span class="game_box-tag tag-violet">Live</span></div></a></div></div>
            <div class="swiper-slide"><div class="game_box tone-olive"><a ng-click="ctrl.openCasinoGame('630df7b3dc0c3fd8f78bf072')"><div class="game_box-media"><img ng-src="/public/images/drpapaya/casino/img/dragontiger.jpg" alt="Dragon Tiger" /></div><div class="game_box-info"><span class="game_box-name">Dragon Tiger</span><span class="game_box-tag tag-olive">Live</span></div></a></div></div>
            <div class="swiper-slide"><div class="game_box tone-plum"><a ng-click="ctrl.openCasinoGame('630df6f49510dff723384d49')"><div class="game_box-media"><img ng-src="/public/images/drpapaya/casino/img/up7down.jpg" alt="7 Up Down" /></div><div class="game_box-info"><span class="game_box-name">7 Up Down</span><span class="game_box-tag tag-plum">Live</span></div></a></div></div>
            <div class="swiper-slide"><div class="game_box tone-sand"><a ng-click="ctrl.openCasinoGame('630df616a419f88910179087')"><div class="game_box-media"><img ng-src="/public/images/drpapaya/casino/img/hilow.jpg" alt="Hi Low" /></div><div class="game_box-info"><span class="game_box-name">Hi Low</span><span class="game_box-tag tag-sand">Live</span></div></a></div></div>
            <div class="swiper-slide"><div class="game_box tone-orange"><a ng-click="ctrl.openCasinoGame('630df8a79510dff72338530a')"><div class="game_box-media"><img ng-src="/public/images/drpapaya/casino/img/race2020.jpg" alt="Race 20-20" /></div><div class="game_box-info"><span class="game_box-name">Race 20-20</span><span class="game_box-tag tag-orange">Live</span></div></a></div></div>
            <div class="swiper-slide"><div class="game_box tone-fuchsia"><a ng-click="ctrl.openCasinoGame('630df63e0c22dbface4f68f0')"><div class="game_box-media"><img ng-src="/public/images/drpapaya/casino/img/poker.jpg" alt="Poker" /></div><div class="game_box-info"><span class="game_box-name">Poker</span><span class="game_box-tag tag-fuchsia">Live</span></div></a></div></div>
            <div class="swiper-slide"><div class="game_box tone-amber"><a ng-click="ctrl.openCasinoGame('630df58edc0c3fd8f78bee2e')"><div class="game_box-media"><img ng-src="/public/images/drpapaya/casino/img/tp-day.jpg" alt="Teenpatti One Day" /></div><div class="game_box-info"><span class="game_box-name">Teenpatti One Day</span><span class="game_box-tag tag-amber">Live</span></div></a></div></div>
            <div class="swiper-slide"><div class="game_box tone-emerald"><a ng-click="ctrl.openCasinoGame('630df6a0dc0c3fd8f78bef3c')"><div class="game_box-media"><img ng-src="/public/images/drpapaya/casino/img/andarbahar.jpg" alt="Andar Bahar" /></div><div class="game_box-info"><span class="game_box-name">Andar Bahar</span><span class="game_box-tag tag-emerald">Live</span></div></a></div></div>
            <div class="swiper-slide"><div class="game_box tone-flame"><a ng-click="ctrl.openCasinoGame('630df9a30c22dbface4f73cb')"><div class="game_box-media"><img ng-src="/public/images/drpapaya/casino/img/roulette.jpg" alt="Roulette" /></div><div class="game_box-info"><span class="game_box-name">Roulette</span><span class="game_box-tag tag-flame">Live</span></div></a></div></div>
            <div class="swiper-slide"><div class="game_box tone-aqua"><a ng-click="ctrl.openCasinoGame('630dfaf3a419f88910179f46')"><div class="game_box-media"><img ng-src="/public/images/drpapaya/casino/img/baccarat.jpg" alt="Baccarat" /></div><div class="game_box-info"><span class="game_box-name">Baccarat</span><span class="game_box-tag tag-aqua">Live</span></div></a></div></div>
            <div class="swiper-slide"><div class="game_box tone-copper"><a ng-click="ctrl.openCasinoGame('630dfbca9510dff723385b75')"><div class="game_box-media"><img ng-src="/public/images/drpapaya/casino/img/tp2card.jpg" alt="2 Card Teenpatti" /></div><div class="game_box-info"><span class="game_box-name">2 Card Teenpatti</span><span class="game_box-tag tag-coral">Live</span></div></a></div></div>
            <div class="swiper-slide"><div class="game_box tone-gold"><a ng-click="ctrl.openCasinoGame('630df7b3dc0c3fd8f78bf072')"><div class="game_box-media"><img ng-src="/public/images/drpapaya/casino/img/dragontiger.jpg" alt="Dragon Tiger" /></div><div class="game_box-info"><span class="game_box-name">Dragon Tiger</span><span class="game_box-tag tag-gold">Live</span></div></a></div></div>
            <div class="swiper-slide"><div class="game_box tone-lime"><a ng-click="ctrl.openCasinoGame('630df6f49510dff723384d49')"><div class="game_box-media"><img ng-src="/public/images/drpapaya/casino/img/up7down.jpg" alt="7 Up Down" /></div><div class="game_box-info"><span class="game_box-name">7 Up Down</span><span class="game_box-tag tag-lime">Live</span></div></a></div></div>
            <div class="swiper-slide"><div class="game_box tone-ruby"><a ng-click="ctrl.openCasinoGame('630df616a419f88910179087')"><div class="game_box-media"><img ng-src="/public/images/drpapaya/casino/img/hilow.jpg" alt="Hi Low" /></div><div class="game_box-info"><span class="game_box-name">Hi Low</span><span class="game_box-tag tag-ruby">Live</span></div></a></div></div>
            <div class="swiper-slide"><div class="game_box tone-violet"><a ng-click="ctrl.openCasinoGame('630df8a79510dff72338530a')"><div class="game_box-media"><img ng-src="/public/images/drpapaya/casino/img/race2020.jpg" alt="Race 20-20" /></div><div class="game_box-info"><span class="game_box-name">Race 20-20</span><span class="game_box-tag tag-violet">Live</span></div></a></div></div>
            <div class="swiper-slide"><div class="game_box tone-olive"><a ng-click="ctrl.openCasinoGame('630df63e0c22dbface4f68f0')"><div class="game_box-media"><img ng-src="/public/images/drpapaya/casino/img/poker.jpg" alt="Poker" /></div><div class="game_box-info"><span class="game_box-name">Poker</span><span class="game_box-tag tag-olive">Live</span></div></a></div></div>
            <div class="swiper-slide"><div class="game_box tone-plum"><a ng-click="ctrl.openCasinoGame('630df58edc0c3fd8f78bee2e')"><div class="game_box-media"><img ng-src="/public/images/drpapaya/casino/img/tp-day.jpg" alt="Teenpatti One Day" /></div><div class="game_box-info"><span class="game_box-name">Teenpatti One Day</span><span class="game_box-tag tag-plum">Live</span></div></a></div></div>
            <div class="swiper-slide"><div class="game_box tone-sand"><a ng-click="ctrl.openCasinoGame('630df6a0dc0c3fd8f78bef3c')"><div class="game_box-media"><img ng-src="/public/images/drpapaya/casino/img/andarbahar.jpg" alt="Andar Bahar" /></div><div class="game_box-info"><span class="game_box-name">Andar Bahar</span><span class="game_box-tag tag-sand">Live</span></div></a></div></div>
            <div class="swiper-slide"><div class="game_box tone-orange"><a ng-click="ctrl.openCasinoGame('630df9a30c22dbface4f73cb')"><div class="game_box-media"><img ng-src="/public/images/drpapaya/casino/img/roulette.jpg" alt="Roulette" /></div><div class="game_box-info"><span class="game_box-name">Roulette</span><span class="game_box-tag tag-orange">Live</span></div></a></div></div>
            <div class="swiper-slide"><div class="game_box tone-fuchsia"><a ng-click="ctrl.openCasinoGame('630dfaf3a419f88910179f46')"><div class="game_box-media"><img ng-src="/public/images/drpapaya/casino/img/baccarat.jpg" alt="Baccarat" /></div><div class="game_box-info"><span class="game_box-name">Baccarat</span><span class="game_box-tag tag-fuchsia">Live</span></div></a></div></div>
            <div class="swiper-slide"><div class="game_box tone-amber"><a ng-click="ctrl.openCasinoGame('630dfbca9510dff723385b75')"><div class="game_box-media"><img ng-src="/public/images/drpapaya/casino/img/tp2card.jpg" alt="2 Card Teenpatti" /></div><div class="game_box-info"><span class="game_box-name">2 Card Teenpatti</span><span class="game_box-tag tag-amber">Live</span></div></a></div></div>
            <div class="swiper-slide"><div class="game_box tone-emerald"><a ng-click="ctrl.openCasinoGame('630df7b3dc0c3fd8f78bf072')"><div class="game_box-media"><img ng-src="/public/images/drpapaya/casino/img/dragontiger.jpg" alt="Dragon Tiger" /></div><div class="game_box-info"><span class="game_box-name">Dragon Tiger</span><span class="game_box-tag tag-emerald">Live</span></div></a></div></div>
            <div class="swiper-slide"><div class="game_box tone-flame"><a ng-click="ctrl.openCasinoGame('630df6f49510dff723384d49')"><div class="game_box-media"><img ng-src="/public/images/drpapaya/casino/img/up7down.jpg" alt="7 Up Down" /></div><div class="game_box-info"><span class="game_box-name">7 Up Down</span><span class="game_box-tag tag-flame">Live</span></div></a></div></div>
            <div class="swiper-slide"><div class="game_box tone-aqua"><a ng-click="ctrl.openCasinoGame('630df616a419f88910179087')"><div class="game_box-media"><img ng-src="/public/images/drpapaya/casino/img/hilow.jpg" alt="Hi Low" /></div><div class="game_box-info"><span class="game_box-name">Hi Low</span><span class="game_box-tag tag-aqua">Live</span></div></a></div></div>
            <div class="swiper-slide"><div class="game_box tone-copper"><a ng-click="ctrl.openCasinoGame('630df8a79510dff72338530a')"><div class="game_box-media"><img ng-src="/public/images/drpapaya/casino/img/race2020.jpg" alt="Race 20-20" /></div><div class="game_box-info"><span class="game_box-name">Race 20-20</span><span class="game_box-tag tag-coral">Live</span></div></a></div></div>
        </div>
    </div>
</div>

<!-- ===== CATEGORIES SECTION ===== -->
<div class="home-provider" ng-if="hasCasino">
    <div class="hp-left">
        <div class="hp-card hp-large hp-casino">
            <a ng-click="ctrl.openModal('login-modal')">
                <div class="hp-card-copy">
                    <div class="hp-card-title"><i class="fa fa-diamond"></i><span>Casino</span></div>
                    <p>Dive into our in-house games, live casino and slots</p>
                </div>
                <div class="hp-card-art" aria-hidden="true">
                    <img ng-src="{{webImagePath}}category/casino-wheel.png" alt="Casino" class="hp-art-img" />
                </div>
            </a>
        </div>
        <div class="hp-card hp-large hp-sports">
            <a ui-sref="mobile.promo.sports">
                <div class="hp-card-copy">
                    <div class="hp-card-title"><i class="fa fa-futbol-o"></i><span>Sports</span></div>
                    <p>Bet on Football, Cricket, eSports & over 80 sports!</p>
                </div>
                <div class="hp-card-art" aria-hidden="true">
                    <img ng-src="{{webImagePath}}category/sports-trophy.png" alt="Sports" class="hp-art-img" />
                </div>
            </a>
        </div>
    </div>
    <div class="hp-right">
        <div class="hp-card hp-small hp-crazytime">
            <a ng-click="ctrl.openModal('login-modal')">
                <div class="hp-card-copy">
                    <div class="hp-card-title"><i class="fa fa-star"></i><span>Crazy Time</span></div>
                </div>
                <div class="hp-card-art" aria-hidden="true">
                    <img ng-src="{{webImagePath}}category/crazy-time.png" alt="Crazy Time" class="hp-art-img" />
                </div>
            </a>
        </div>
        <div class="hp-card hp-small hp-racing">
            <a ui-sref="mobile.promo.sports">
                <div class="hp-card-copy">
                    <div class="hp-card-title"><i class="fa fa-flag-checkered"></i><span>Racing</span></div>
                </div>
                <div class="hp-card-art" aria-hidden="true">
                    <img ng-src="{{webImagePath}}category/racing.png" alt="Racing" class="hp-art-img" />
                </div>
            </a>
        </div>
        <div class="hp-card hp-small hp-aviator">
            <a ng-click="ctrl.openModal('login-modal')">
                <div class="hp-card-copy">
                    <div class="hp-card-title"><i class="fa fa-paper-plane"></i><span>Aviator</span></div>
                </div>
                <div class="hp-card-art" aria-hidden="true">
                    <img ng-src="{{webImagePath}}category/aviator.png" alt="Aviator" class="hp-art-img" />
                </div>
            </a>
        </div>
        <div class="hp-card hp-small hp-mines">
            <a ng-click="ctrl.openModal('login-modal')">
                <div class="hp-card-copy">
                    <div class="hp-card-title"><i class="fa fa-bomb"></i><span>Mines</span></div>
                </div>
                <div class="hp-card-art" aria-hidden="true">
                    <img ng-src="{{webImagePath}}category/mines.png" alt="Mines" class="hp-art-img" />
                </div>
            </a>
        </div>
    </div>
</div>

<!-- FoxBetX Original Games -->
<div class="original-games-section">
    <h3 class="original-games-title">{{displayName}} Original Games</h3>
    <div class="swiper footer-games-swiper" id="mobileOriginalGamesSwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><a ng-click="ctrl.openCasinoGame('630df58edc0c3fd8f78bee2e')"><img loading="lazy" ng-src="{{webImagePath}}casino/img/tp-day.jpg" alt="Teenpatti One Day"></a></div>
            <div class="swiper-slide"><a ng-click="ctrl.openCasinoGame('630df6a0dc0c3fd8f78bef3c')"><img loading="lazy" ng-src="{{webImagePath}}casino/img/andarbahar.jpg" alt="Andar Bahar"></a></div>
            <div class="swiper-slide"><a ng-click="ctrl.openCasinoGame('630df9a30c22dbface4f73cb')"><img loading="lazy" ng-src="{{webImagePath}}casino/img/roulette.jpg" alt="Roulette"></a></div>
            <div class="swiper-slide"><a ng-click="ctrl.openCasinoGame('630dfaf3a419f88910179f46')"><img loading="lazy" ng-src="{{webImagePath}}casino/img/baccarat.jpg" alt="Baccarat"></a></div>
            <div class="swiper-slide"><a ng-click="ctrl.openCasinoGame('630dfbca9510dff723385b75')"><img loading="lazy" ng-src="{{webImagePath}}casino/img/tp2card.jpg" alt="2 Card Teenpatti"></a></div>
            <div class="swiper-slide"><a ng-click="ctrl.openCasinoGame('630df616a419f88910179087')"><img loading="lazy" ng-src="{{webImagePath}}casino/img/dragontiger.jpg" alt="Dragon Tiger"></a></div>
            <div class="swiper-slide"><a ng-click="ctrl.openCasinoGame('630df5f50c22dbface4f67fb')"><img loading="lazy" ng-src="{{webImagePath}}casino/img/up7down.jpg" alt="7 Up Down"></a></div>
            <div class="swiper-slide"><a ng-click="ctrl.openCasinoGame('630df6f49510dff723384d49')"><img loading="lazy" ng-src="{{webImagePath}}casino/img/hilow.jpg" alt="Hi Low"></a></div>
            <div class="swiper-slide"><a ng-click="ctrl.openCasinoGame('630df8a79510dff72338530a')"><img loading="lazy" ng-src="{{webImagePath}}casino/img/race2020.jpg" alt="Race 20-20"></a></div>
            <div class="swiper-slide"><a ng-click="ctrl.openCasinoGame('630df979a419f88910179b37')"><img loading="lazy" ng-src="{{webImagePath}}casino/img/poker.jpg" alt="Poker"></a></div>
            <div class="swiper-slide"><a ng-click="ctrl.openCasinoGame('630dfbe8dc0c3fd8f78bf43a')"><img loading="lazy" ng-src="{{webImagePath}}casino/img/sicbo.jpg" alt="Sicbo"></a></div>
            <div class="swiper-slide"><a ng-click="ctrl.openCasinoGame('630dfd280c22dbface4f7c00')"><img loading="lazy" ng-src="{{webImagePath}}casino/img/matka.jpg" alt="Matka"></a></div>
        </div>
    </div>
</div>

<!-- Aura Games -->
<div class="original-games-section">
    <h3 class="original-games-title">Aura Games</h3>
    <div class="swiper footer-games-swiper" id="mobileAuraGamesSwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><a ng-click="ctrl.openCasinoGame('630dfaf3a419f88910179f46')"><img loading="lazy" ng-src="{{webImagePath}}casino/img/baccarat.jpg" alt="Baccarat"></a></div>
            <div class="swiper-slide"><a ng-click="ctrl.openCasinoGame('630df6f49510dff723384d49')"><img loading="lazy" ng-src="{{webImagePath}}casino/img/hilow.jpg" alt="Hi Low"></a></div>
            <div class="swiper-slide"><a ng-click="ctrl.openCasinoGame('630dfd280c22dbface4f7c00')"><img loading="lazy" ng-src="{{webImagePath}}casino/img/matka.jpg" alt="Matka"></a></div>
            <div class="swiper-slide"><a ng-click="ctrl.openCasinoGame('630df8a79510dff72338530a')"><img loading="lazy" ng-src="{{webImagePath}}casino/img/race2020.jpg" alt="Race 20-20"></a></div>
            <div class="swiper-slide"><a ng-click="ctrl.openCasinoGame('630dfcc99510dff723385da8')"><img loading="lazy" ng-src="{{webImagePath}}casino/img/trio.jpg" alt="Trio"></a></div>
            <div class="swiper-slide"><a ng-click="ctrl.openCasinoGame('630dfda8dc0c3fd8f78bf5a5')"><img loading="lazy" ng-src="{{webImagePath}}casino/img/t20.jpg" alt="T20 Teen Patti"></a></div>
            <div class="swiper-slide"><a ng-click="ctrl.openCasinoGame('630df616a419f88910179087')"><img loading="lazy" ng-src="{{webImagePath}}casino/img/dragontiger.jpg" alt="Dragon Tiger"></a></div>
            <div class="swiper-slide"><a ng-click="ctrl.openCasinoGame('630df979a419f88910179b37')"><img loading="lazy" ng-src="{{webImagePath}}casino/img/poker.jpg" alt="Poker"></a></div>
        </div>
    </div>
</div>

<!-- Vimplay Games -->
<div class="original-games-section">
    <h3 class="original-games-title">Vimplay Games</h3>
    <div class="swiper footer-games-swiper" id="mobileVimplayGamesSwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><a ng-click="ctrl.openCasinoGame('630dfbca9510dff723385b75')"><img loading="lazy" ng-src="{{webImagePath}}casino/img/sicbo.jpg" alt="Sicbo"></a></div>
            <div class="swiper-slide"><a ng-click="ctrl.openCasinoGame('630df7d19510dff723385047')"><img loading="lazy" ng-src="{{webImagePath}}casino/img/bollywoodcasino.jpg" alt="Bollywood Casino"></a></div>
            <div class="swiper-slide"><a ng-click="ctrl.openCasinoGame('630dfdc90c22dbface4f7d7c')"><img loading="lazy" ng-src="{{webImagePath}}casino/img/casinometer.jpg" alt="Casino Meter"></a></div>
            <div class="swiper-slide"><a ng-click="ctrl.openCasinoGame('630df6c20c22dbface4f6afd')"><img loading="lazy" ng-src="{{webImagePath}}casino/img/casinowar.jpg" alt="Casino War"></a></div>
            <div class="swiper-slide"><a ng-click="ctrl.openCasinoGame('64706b654833d7c4afecc03c')"><img loading="lazy" ng-src="{{webImagePath}}casino/img/queen.jpg" alt="Queen"></a></div>
            <div class="swiper-slide"><a ng-click="ctrl.openCasinoGame('64706bbf051288e71e3de9e9')"><img loading="lazy" ng-src="{{webImagePath}}casino/img/superover.jpg" alt="Super Over"></a></div>
            <div class="swiper-slide"><a ng-click="ctrl.openCasinoGame('647087f6e7669443b0ca0641')"><img loading="lazy" ng-src="{{webImagePath}}casino/img/trap.jpg" alt="Trap"></a></div>
            <div class="swiper-slide"><a ng-click="ctrl.openCasinoGame('64708815e7669443b0ca067a')"><img loading="lazy" ng-src="{{webImagePath}}casino/img/poker20.jpg" alt="Poker 20-20"></a></div>
        </div>
    </div>
</div>

<div>
    <div class="main-tabs">
        <div class="game-list home swiper-container swiper-container-horizontal" id="swiper5">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="item">
                        <a ui-sref="mobile.promo.sports">
                            <img ng-src="{{webImagePath}}icons/sports.png" />
                            <h6>Sports</h6>
                        </a>
                    </div>
                </div><div class="swiper-slide">
                    <div class="item">
                        <a ui-sref="mobile.promo.inplay">
                            <img ng-src="{{webImagePath}}icons/live.png" />
                            <h6>In-Play</h6>
                        </a>
                    </div>
                </div><div class="swiper-slide" ng-if="hasCasino">
                    <div class="item">
                        <a ui-sref="mobile.promo.indiancasino">
                            <img ng-src="{{webImagePath}}icons/indian-casino.png" />
                            <h6>Indian Casino</h6>
                        </a>
                    </div>
                </div><div class="swiper-slide" ng-if="hasCasino">
                    <div class="item">
                        <a ui-sref="mobile.promo.casino">
                            <img ng-src="{{webImagePath}}icons/live-casino.png" />
                            <h6>Live Casino</h6>
                        </a>
                    </div>
                </div>
                <!--<div class="swiper-slide">
                    <div class="item">
                        <a ui-sref="mobile.promo.slotcasino">
                            <img ng-src="{{webImagePath}}icons/slot.png" />
                            <h6>Slots</h6>
                        </a>
                    </div>
                </div>-->
                <div class="swiper-slide aviator-icon" ng-if="hasCasino">
                    <div class="item">
                        <a ng-click="ctrl.openModal('login-modal')">
                            <img ng-src="{{webImagePath}}icons/aviator.png" />
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div ng-include="'sports/template/loader-center.html'"
             ng-show="isRequestProcessing"
             class="d-flex w-100 justify-content-center position-absolute"></div>

        <div class="chart-content mt-0" ng-if="!isRequestProcessing">
            <div class="chart-body home-page-sports" ng-repeat="s in sports" ng-show="(popularMarkets | filter:{eventTypeId:s.id}).length>0">
                <div class="d-flex flex-row justify-content-between align-items-center sports-collapse-btn-block" ng-init="s.hide=false">
                    <a>
                        <span>{{s.name}}</span>
                        <i class="material-icons plus">expand_more</i>
                    </a>
                    <div class="event-count-block">
                        {{s.competitions.length}} Events
                    </div>
                </div>
                <div class="market-list collapse in">
                    <div>
                        <div class="market-data" ng-repeat="cmp in s.competitions">
                            <div class="markets">
                                <a class="sport-league">
                                    <div class="sport-league-name"><span>{{cmp.name}}</span></div>
                                    <h6 class="league-count d-flex flex-row align-items-center">
                                        <span>{{(popularMarkets | filter:{event:{competitionId:cmp.id} }).length}}</span>
                                        <span class="material-icons collapse-icon">expand_more</span>
                                    </h6>
                                </a>
                                <div class="collapse in">
                                    <a ng-click="ctrl.openModal('login-modal')" ng-repeat="h in popularMarkets | filter:{event:{competitionId:cmp.id} }" class="event-name market-left">
                                        <div class="sport-event">
                                            <div class="event">
                                                <div class="event-item">
                                                    <div class="event-icon event-icon" ng-class="{'inplay':h.inPlay}">
                                                        <span>
                                                            <img ng-src="{{webImagePath}}icons/{{s.name|joinme}}.png" alt="cricket" width="18px">
                                                        </span>
                                                    </div>
                                                    <div class="event-main-detail">
                                                        <div class="event-detail justify-content-between">
                                                            <div class="event-level-one">
                                                                <div class="runner-one">
                                                                    {{h.marketRunner[0].runner.name}}
                                                                </div> <div class="runner-two">
                                                                    {{h.marketRunner[1].runner.name}}
                                                                </div>
                                                            </div>
                                                            <div class="d-flex">
                                                                <div class="event-level-two">
                                                                    <div class="live-match" ng-show="h.inPlay">Live</div>
                                                                    <div class="event-date-time">
                                                                        {{h.event.openDate | toDays}} {{h.event.openDate | date:'HH:mm'}}
                                                                        <div class="event-fb-details">
                                                                            <div class="live-match one" ng-show="h.hasVideo">
                                                                                <span class="material-icons">ondemand_video</span>
                                                                            </div>
                                                                            <div class="live-match two" ng-if="h.hasFancy">F</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> <div class="sport-market">
                                                    <div class="match-rate" ng-init="m0 = h.marketRunner[0]">
                                                        <div class="market-back d-blue" kt-animate-on-change="m0.backPrice[0].price" kt-click>
                                                            <span class="odds">{{m0.backPrice[0].price}}</span>
                                                        </div>
                                                        <div class="market-lay d-pink" kt-animate-on-change="m0.layPrice[0].price" ng-if="h.bettingType!=6">
                                                            <span class="odds">{{m0.layPrice[0].price}}</span>
                                                        </div>
                                                        <div class="market-lay d-pink" ng-if="h.bettingType==6"><span class="odds">-</span></div>
                                                    </div>
                                                    <div class="match-rate" ng-init="m2 = h.marketRunner[2]">
                                                        <div class="market-back d-blue" ng-if="m2" kt-animate-on-change="m2.backPrice[0].price">
                                                            <span class="odds">{{ m2.backPrice[0].price }}</span>
                                                        </div>
                                                        <div class="market-back d-blue" ng-if="!m2"><span class="odds">-</span></div>

                                                        <div class="market-lay d-pink" ng-if="m2 && h.bettingType!=6">
                                                            <span class="odds">{{ m2.layPrice[0].price }}</span>
                                                        </div>
                                                        <div class="market-lay d-pink" ng-if="!m2 || h.bettingType==6"><span class="odds">-</span></div>
                                                    </div>
                                                    <div class="match-rate" ng-init="m1 = h.marketRunner[1]">
                                                        <div class="market-back d-blue" kt-animate-on-change="m1.backPrice[0].price">
                                                            <span class="odds">{{m1.backPrice[0].price }}</span>
                                                        </div>
                                                        <div class="market-lay d-pink" kt-animate-on-change="m1.layPrice[0].price"
                                                             ng-if="h.bettingType!=6">
                                                            <span class="odds">{{m1.layPrice[0].price}}</span>
                                                        </div>
                                                        <div class="market-lay d-pink" ng-if="h.bettingType==6"><span class="odds">-</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="footerTemplate"></div>