
<div class="account-statement">
    <h1 class="title">Transfer Statement</h1>
    <div class="input-detail" style="height:90px;">
        <div class="input-group" style="width:9.5%">
            <label>From</label>
            <input type="text" class="form-control"
                   uib-datepicker-popup="dd MMM yyyy"
                   ng-model="search.fromdate"
                   is-open="fopened"
                   placeholder="{{'fromdate.placeholder' | translate}}"
                   ng-click="fopened=true"
                   close-text="Close"
                   alt-input-formats="dd/MM/yyyy" />
        </div>

        <div class="input-group" style="width:9.5%">
            <label>To</label>
            <input type="text" class="form-control"
                   uib-datepicker-popup="dd MMM yyyy"
                   ng-model="search.todate"
                   is-open="topened"
                   placeholder="{{'todate.placeholder' | translate}}"
                   ng-click="topened=true"
                   close-text="Close"
                   alt-input-formats="dd/MM/yyyy" />
        </div>
        <a class="btn small-btn search_btn" ng-click="ctrl.refreshGrid();">
            <i class="fa fa-search"></i> {{'common.button.search' | translate}}
        </a>
    </div>
    <div class="table-bets" style="margin-top:6px">
        <kt-grid grid-id="kt-transferstatement-grid"
                 load-items="ctrl.getTransferStatement(params)"
                 show-total="false"
                 can-i-load="canILoad"
                 data-date-group="true"
                 data-group-field="createdOn"
                 cache-key="kttransferstatementgrid">

            <table ng-table="tableParams" class="table table-hover clickable "
                   template-pagination="{{ :: $parent.$parent.paginationUrl }}">
                <thead>
                    <tr>
                        <th class="size-sm align-l">Date</th>
                        <th class="align-l size-lg">Description</th>
                        <th class="align-l"></th>
                        <th class="size-smd boolean">Amount</th>

                    </tr>
                </thead>
                <tbody class="info-text" ng-repeat="itemGrp in $data track by $index">
                    <tr>
                        <td class="td-date">
                            <kt-date data-date-value="itemGrp.date"></kt-date>
                        </td>
                    </tr>
                    <tr class="inner-tr" ng-repeat="item in itemGrp.values track by $index">
                        <td class="size-sm align-l" style="padding-left:20px!important;">
                            <span>
                                <kt-date data-date-value="item.createdOn" data-format="HH:mm:ss" style="color:#909090"></kt-date>
                            </span>
                        </td>
                        <td class="size-lg align-l">
                            <span title="{{item.narration}}">{{item.narration}} </span>
                        </td>
                        <td class="align-l">
                            <span ng-if="item.name" title="{{item.name}}">{{item.name }}</span>
                            <span title="{{item.remarks}}" ng-if="item.remarks">{{item.remarks}} </span>
                        </td>
                        <td class="size-smd boolean">
                            <span class="positive" ng-class="{'negative':item.balance<0}">
                                {{item.balance  | toRate}}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </kt-grid>
    </div>
</div>
