/// <reference path="../../variables/__variables.scss" />
/// <reference path="../../utlis/__utils.scss" />
/// <reference path="../../base/__base.scss" />

:root::-webkit-scrollbar {
    display: none;
}

.sec-childe-inner {
    display: flex;
    margin-bottom: 15px;
    padding: 0 13px;
}



.edit-st {
    border: none !important;
    font-size: 10px;
    white-space: nowrap;
    font-style: italic;
    outline: none;
    display: flex;
    align-items: center;
    background: transparent;
}

.all-gmplay {
    float: left;
    width: 100%;

    .gmContainer {
        padding-left: 10px;
    }
}

.gmTitle.announcement {
    padding: 5px;
    letter-spacing: 0px;
    text-transform: unset;

    .fa-microphone {
        font-size: 16px;
    }
}

.position_match {
    .position {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #e0e0e0;
        padding: 5px 0px;

        &:last-child {
            border-bottom: none;
        }
    }
}
