/// <reference path="../../variables/__variables.scss" />
/// <reference path="../../base/__base.scss" />

.exposure-border {
    @include padding(1px, 8px, 1px, 8px);
    @include border-radius(4px);
    @include border-all(1px, solid, $verylight-green);
    margin: 0 10px 0 6px;
    float: right;
    color: $theme-color;
}


.position-special {
    .center-part {
        .tab-desc {
            .permission {
                table {
                    tr {
                        td {
                            font-size: 12px;
                            line-height: 28px;
                            min-width: 85px;
                        }
                    }
                }
            }
        }
    }
}

.sidenav {
    .add-pin {
        float: right;
        color: $blue-color;
        border-color: $blue-color;
    }

    .add-pin.pinned, .add-pin-square.pinned {
        @include border-all(1px, solid, $light-green);
        color: $light-green;
    }
}

.full-position {
    .filter-panel {
        @include padding(5px, 5px, 5px, 5px);
        margin: 0px;
    }

    .form-control {
        height: 28px;
        font-size: 11px;
    }

    .btn {
        font-size: 12px;
        line-height: 1.1;
    }

    .table-bets {
        border: none;

        .list-view {
            @include display(block);
            @include resize($float-left, $width);
            @include padding(0px, 10px, 0px, 10px);
        }

        table {
            display: grid;
        }

        
    }

    .full-position-table {
        div[template-url="templates.pagination"] {
            //width: 950px !important
        }
    }

    .ui-select-choices-row > a {
        @include padding(3px, 5px, 3px, 5px);

        span {
            font-size: 11px;
        }
    }

    .tab-desc {
        .full-market-back {
            @include padding(0px, 0px, 4px, 0px);

            a {
                @include padding(0px, 3px, 0px, 3px);

                .fa {
                    margin-left: 2px;
                }
            }
        }
    }

    .exposure-table {
        .scorecard {
            .game-head {
                @include padding(5px, 5px, 5px, 5px);

                .matches {
                    color: $white-color;
                }
            }
        }

        .exposure-filter label {
            font-weight: 400;
            margin-right: 5px;
        }

        .full-market-back {
            @include padding(3px, 0px, 2px, 0px);
        }

        div[template-url="templates.pagination"] {
            //   max-width: 1526px !important;
            width: 100% !important;
        }

        .table-score {
            .tr-data {
                border-bottom: 1px solid $border-color;

                td {
                    text-align: $text-center;

                    .price {
                        @include display(block);
                        width: $width;
                        color: $black-color;
                        @include txt(bold);
                    }

                    .size {
                        @include display(block);
                        width: $width;
                        color: #1e1e1e;
                        @include txt(normal);
                    }
                }
            }

            .match-title {
                width: 50%;
                @include padding(3px, 3px, 3px, 3px);
            }
        }

        .exposure-col, .exposure-2col {
            background-color: transparent;

            thead {
                th {
                    @include padding(6px, 5px, 6px, 5px);
                }
            }
        }
    }
}

.position-special {
    .tab-desc {
        .full-market-back {
            font-size: 13px;
            @include padding(0px, 0px, 4px, 0px);

            a {
                @include padding(0px, 3px, 0px, 3px);

                .fa {
                    margin-left: 2px;
                }
            }
        }
    }
}

.net-exposure {
    font-size: 12px;
    color: white;

    .red {
        color: #ff9393;
    }

    thead {
        tr {
            background-color: transparent !important;

            th {
                // color: $black-color !important;
                text-align: $text-center;
                @include padding(5px, 0px, 5px, 0px);
            }
        }
    }

    tbody {
        tr {
            line-height: 25px;
        }
    }

    .icons-list {
        float: right;
        width: 70px;

        .fa-th-list {
            padding: 2px 3px 3px;
        }

        .fa-sitemap {
            padding: 2px 3px 3px;
        }
    }

    .exposure-left {
        @include resize($float-left, 50%);

        .m-name {
            width: 250px;
        }
    }

    .exposure-right {
        @include resize(right, 50%);

        table {
            tbody {
                tr {
                    @include border(bottom, 1px, solid, $border-color);
                }
            }
        }
    }

    .event-name {
        background: linear-gradient(to bottom,$mybook-header 84%, lighten($mybook-header,10%) 100%);
        color: $white-color;
        font-size: 14px;
        @include padding(7px, 7px, 7px, 7px);
        //box-shadow: inset 1px -1px 1px 0px lighten($mybook-header,10%);
    }

    .in-play {
        margin-left: 5px;
        color: #5dca5f;
    }

    .m-name {
        background-color: $mybook-m-name; //#5059a7;
        @include padding(3px, 0px, 3px, 5px);
        color: $black-color;
        width: 200px;
        font-size: 13px;
    }


    .icons {
        font-size: 13px;
        @include padding(0px, 5px, 0px, 0px);
        color: $black-color;
        cursor: pointer;
        //height: 32px;
    }

    .fa-dashboard {
        // background-color: $mybook-dashboard; //#485096;
    }

    .fa-th-list {
        //background-color: $mybook-list; //#373d73;
    }

    .fa-sitemap {
        //background-color: #2f3462;
    }

    .stake {
        background-color: #e4e4e4; // #deeaf7;
        color: #4d4a4a;
        @include txt(bold);
        min-width: 90px;
        text-align: $text-center;
        font-size: 13px;
    }

    .runner-pl {
        background-color: #f4f4f4; // #e6f2ff;
        @include txt(bold);
        min-width: 90px;
        text-align: $text-center;
        font-size: 13px;

        &.green-light {
            color: $light-green;
        }
    }

    .position-bg {
        background: $mybook-open;
    }

    .fixedodds {
        .icons {
            color: $mybook-m-name;
        }
    }
}

.master-class .master_wrap .session-tr .session-table {
    color: black;

    thead {
        background-color: #b2d0fc;
    }
}

.exposure-detail .exposure-table .table-score tbody .tr-data .match-title {
    padding: 4px 6px 6px 4px;
}

.exposure-detail .exposure-table .table-score tbody tr .match-title, .exposure-table .team-score tbody tr .team-name {
    border: 1px solid #101010;
    padding-top: 0;
    background-color: transparent;
    color: #fff;
    line-height: 20px;
    font-size: 15px !important;
}

.exposure-detail .userposition .exposure-col tbody .parent-tr {
    background-color: #deeaf7 !important;
    color: #000;
}

.master_wrap .exposure-detail .userposition, .master_wrap .exposure-detail .userposition .exposure-col thead tr {
    background-color: $gray_black;
}

.sa-userposition {
    //background-color: #37133f;
    padding: 0 10px 10px 10px;

    .session-runs .session-table thead {
        background-color: #4f767c;
    }

    .icons {
        font-size: 13px;
        @include padding(0px, 6px, 0px, 0px);
        //color: $mybook-icon;
        cursor: $cursor;
    }

    .icons-list {
        width: 70px;
        float: right;
        margin-top: 5px;

        .fa-dashboard {
            padding: 2px 3px 3px;
        }

        .fa-th-list {
            padding: 2px 3px 3px;
        }

        .fa-sitemap {
            padding: 2px 3px 3px;
        }
    }


    .permission {
        padding: 3px;
    }

    .exposure-col {
        th, td {
            width: auto;
            min-width: 50px;
            @include padding(5px, 0px, 5px, 5px);
        }

        .p-user {
            font-weight: bold;
            font-size: 12px;
        }

        thead {
            line-height: 22px;

            th {
                @include padding(5px, 0px, 5px, 5px);
                color: #fff;
            }

            tr {
                background-color: #163439;
            }
        }

        tbody {
            font-size: 13px !important;

            .parent-tr {
                background-color: #deeaf7 !important;
                color: black;
            }

            tr.session-tr {
                background-color: transparent;
            }

            tr {
                border: none !important;
                background-color: rgba(245, 245, 245, 0.1);

                td {
                    border: none !important;
                    line-height: 25px;
                }

                .parent-box {
                    //background-color: #373d73;
                    width: 30px;
                    margin: -2px;
                    line-height: 30px;
                    text-align: center;

                    &.box2 {
                        //  background-color: #192164;
                    }
                }

                .p-user {
                    // color: $white-color;
                }
            }
        }

        .fa-sort-amount-desc {
            color: $theme-color;
            margin-right: 4px;
        }
    }

    .exposure-2col {
        th, td {
            width: 25%;
        }
    }
}

.exposure-detail {
    .back2, .back3, .back1, .back-1, .back-2, .back-3,
    .lay2, .lay3, .lay1, .lay-1, .lay-2, .lay-3 {
        min-width: 63px;
        border: 1px solid #947b97;

        a {
            font-size: 14px;
            color: black;

            .size {
                font-size: 7px;
            }
        }
    }

    .permission {
        overflow: auto;
    }

    .positive {
        color: #85e819;
    }

    .negative {
        color: #ff6868;
    }

    .userposition .exposure-col tbody tr {
        border: none !important;
        background-color: rgba(245,245,245,.1);

        td {
            border: none;
            line-height: 25px;
        }

        .p-user {
            color: #fff;
            font-size: 12px;
        }
    }

    .fa {
        color: #a3f5ff !important;
        padding-top: 5px;
        padding-right: 5px;
        font-size: 13px;
    }

    .fa-rotate-180 {
        padding-top: 0;
        padding-bottom: 5px;
        padding-left: 5px;
    }

    .full-position-table {
        padding: 6px 10px 0px 10px !important;
    }

    .sports_book .sports_data {
        background-color: transparent;
        color: white;

        .sport_td, .sport_fulltd {
            border: 1px solid #101010;

            &:hover {
                background: none;
            }
        }
    }

    .userposition .exposure-col td, .userposition .exposure-col th {
        min-width: 150px;
    }
}

.pl_table {


    .list-view {
        padding-bottom: 50px;
    }

    .border-r {
        border-right: 1px solid #fff !important;
    }

    .list-view-table table.table tbody tr:nth-child(odd) {
        background-color: rgba(245,245,245,.1);
    }

    .list-view-table table.table tbody tr:nth-child(even) {
        background-color: unset;
    }
}

.pl_table .list-view .list-view-table table .no-bg, .pl_table .list-view .list-view-table table.no-bg {
    background-color: transparent !important;
}

.master-class .pl-market .list-view .list-view-table table td {
    overflow: unset;
    text-overflow: unset;
    white-space: unset;
}

.pad-0 {
    padding: 0 !important;
}

.no-tr-hover:hover {
    background-color: unset !important;
}

.pl_table .table > tbody > tr > td, .pl_table .table > tbody > tr > th, .pl_table .table > tfoot > tr > td, .pl_table .table > tfoot > tr > th, .pl_table .table > thead > tr > td, .pl_table .table > thead > tr > th {
    border-top: none !important;
}

.table > tbody + tbody {
    border: 0 !important;
}

.master-class .pl-market .list-view .list-view-table table thead tr th {
    padding: 5px !important;
}

.master-class .list-view .list-view-table {
    .positive {
        color: #93ef2e;
    }

    .negative {
        color: #ff6767;
    }
}


$font-market: 12px;

.sports_book {
    @include txt(bold);
    font-size: $font-market;
    //box-shadow: rgba(0, 0, 0, 0.08) 2px 5px 8px, rgba(0, 0, 0, 0.12) -2px -1px 6px;

    .book_title {
        background: url("/public/images/header-img.jpg");
        background-repeat: repeat-x;
        @include resize($float-left, $width);

        a {
            width: $width;
            color: $white-color;
            @include display(block);
            @include padding(5px, 5px, 5px, 5px);
            background: url('/public/images/arrows.png');
            background-position: 99% 9px;
            background-repeat: $back-norepeat;
        }
    }

    .sports_data {
        width: $width;
        background-color: $white-color;
        column-gap: 0px;

        .runner_p {
            float: left;
            width: calc(100% - 75px) !important;

            .name, .ppl {
                line-height: 40px !important;
            }

            .black-icon, .grey-icon {
                height: 40px;
            }
        }

        .runner_name {
            //@include resize(left, 87%);
            float: left;
            width: calc(100% - 75px);
        }

        .r_score {
            //@include resize(left,13%);
            float: left;
            width: 75px;

            span {
                top: -8px !important;
                padding-left: 0px !important;
                font-size: 10px;
                @include resize(left, $width);
            }
        }

        .sport_td {
            @include resize($float-left, 50%);
            height: 43px;
            @include border('bottom', 1px,solid,$grayish);

            p {
                width: 97%;
                display: table-cell;
                height: 36px;
                vertical-align: middle;

                .name {
                    @include resize(left, auto);
                    @include display(inline-block);
                    @include padding(0px, 0px, 0px,10px);
                    line-height: 15px;
                    @include txt(bold);
                    position: initial;
                    text-transform: capitalize;
                }
            }

            span {
                @include txt(normal);
                line-height: 13px;
                padding-left: 10px;
                @include position(relative);
                //top: -13px;
            }

            a, .price {
                height: 42px;
                @include display(inline-block);
                color: $white-color;
                line-height: 42px;
                text-align: $text-center;
                @include resize(right, 100%);
                background-color: #2180c4;
                @include padding(0px, 4px, 0px, 4px);
                font-size: $font-market;

                &:hover {
                    background-color: lighten(#2180c4,5%);
                }
            }

            &:hover {
                background-color: $light-white;
            }
        }

        .sport_fulltd {
            @include resize($float-left, $width);
            @include padding(0, 0, 0, 10px);
            @include border('bottom', 1px, solid, $grayish);

            .sport_run {
                span {
                    @include display(inline-block);
                }
            }

            p {
                @include display(block);
                //@include resize($float-left, 80%);
                float: left;
                width: calc(100% - 75px);
                line-height: 42px;
                // .r_name {line-height:27px;}
                span {
                    line-height: 15px;
                    @include display(inline-block);
                }
            }

            a {
                height: 42px !important;
                line-height: 42px;
                @include display(inline-block);
                color: $white-color;
                text-align: $text-center;
                @include resize(right, 75px);
                background-color: #2180c4;
                @include padding(0px, 4px, 0px, 4px);
                font-size: $font-market;

                &:hover {
                    background-color: #2180c4;
                }
            }

            &:hover {
                background-color: $light-white;
            }
        }

        .td-popup {
            @include resize($float-left, $width);

            .score-btn {
                text-align: $text-center;

                span {
                    line-height: 27px;
                    font-size: 11px;
                }
            }
        }
    }

    .sport_team {
        column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
    }

    .sport_team1 {
        column-count: 3;
        -moz-column-count: 3;
        -webkit-column-count: 3;
    }
}

.full_position {
    background-color: #fff;
    margin: 0 10px;

    .tab-desc {
        display: inline-block;
        width: 100%;
    }
}

.full-position {
    .back-text {
        color: #60ace5;
    }

    .lay-text {
        color: #faa9ba;
    }
}
.full-position .table-bets .list-view {
    padding: 0;
}

.full_position .team-score .bet-all .refer-bet, .full_position .team-score .bet-all .refer-book, .full_position .win-title {
    font-size: 12px;
    font-weight: 700;
}

.full_position .team-score .tr-data td {
    text-align: center;
    vertical-align: middle;
}

.full-position .full-position-table.table-bets, .full-position .table-bets tbody {
    font-size: 10px;
}

.full-position .full-position-table.table-bets .list-view .list-view-table table, .full-position .table-bets tbody .list-view .list-view-table table {
    font-size: 11px;
}

.position-special, .full_position {

    .team-score {
        width: $width;
        //box-shadow: rgba(0, 0, 0, 0.08) 2px 5px 8px, rgba(0, 0, 0, 0.12) -2px -1px 6px;

        .bet-all {
            @include border('bottom', 1px, solid, #DDD);
            padding: 5px;
            line-height: 31px;

            .back-all {
                background-color: $back-1-color;
                text-align: $text-center;
                @include border('left', 1px, solid, $white-color);

                a {
                    @include headline( $dark-gray-black, $font-market);
                }
            }

            .refer-bet, .refer-book {
                font-size: 11px;
                line-height: 22px;
                @include txt (normal);
            }

            .lay-all {
                text-align: $text-center;
                border-left: 1px solid $white-color !important;
                background-color: $lay-1-color;

                a {
                    @include headline($dark-gray-black, $font-market);
                }
            }
        }

        .message {
            @include padding(5px, 5px, 5px, 5px);
        }

        .winner {
            line-height: 35px;
            text-align: $text-center;

            span {
                font-size: $font-market !important;
                color: $dark-black-color;
            }
        }

        .tr-data {
            @include border('bottom',1px, solid, #DDD);

            td {
                @include padding(5px, 0px, 5px, 0px);
                cursor: $cursor;
                @include border('left', 1px, solid, #DDD);

                a, div {
                    text-align: $text-center;
                    @include resize ($float-left, $width);
                    height: 36px;
                    @include headline( $dark-gray-black, $font-market);

                    &.onlyprice {
                        padding-top: 10px;
                    }

                    span {
                        @include resize ($float-left, $width);
                        text-align: $text-center;
                        @include txt(normal);
                        @include headline($dark-gray-black, 10px);
                    }
                }
            }
        }

        td {
            // width: 8.97436%;
            //min-width:60px;
            //@include border('left', 1px, solid, $white-color);
            @include txt(bold);
        }

        .team-name {
            width: 48%;
            @include padding(3px, 5px, 3px, 5px);
            vertical-align: middle;
            background-color: $white-color;

            p {
                margin: 3px 0 0 0px;
                font-size: $font-market;
                @include resize($float-left, auto);
            }

            a {
                font-size: $font-market;

                i {
                    margin: 0 5px !important;
                }
            }

            span {
                font-size: $font-market;
                @include txt(bold);
            }
        }
    }

    .back-1, .back-2, .back-3, .back1, .back2, .back3, .lay-1, .lay-2, .lay-3, .lay1, .lay2, .lay3 {
        min-width: 75px;
        width: 75px;
    }
}
