<div class="main-content-block publink-wrapper">
    <div class="home-middle-block publink-scroll" style="height: calc(100vh - 60px); overflow-y: auto;">
        <div class="other-page-section d-flex" logo="sportsexch" layout="sportsexch" style="overflow-x: hidden;">
            <div class="mr-lg-3 mr-0 w-100 p-10">
                <div class="casino-iframe-wrapper" ng-if="!useApiGrid" style="width:100%; height: calc(100vh - 140px); min-height: 600px;">
                    <iframe ng-src="{{casinoIframeUrl}}" width="100%" height="100%" frameborder="0" allow="fullscreen; autoplay" style="border:0; display:block;"></iframe>
                </div>
                <div class="provider-games-grid" ng-if="useApiGrid">
                    <div class="card-header"><h3>{{(providerKey | uppercase) || 'ALL SLOT'}} Games</h3></div>
                    <div class="text-center p-4" ng-if="providerLoading">Loading games...</div>
                    <div class="text-center p-4" ng-if="!providerLoading && !providerGames.length">No games available for this provider.</div>
                    <div class="live-casino-games-main-block" ng-if="!providerLoading && providerGames.length">
                        <div class="live-casino-games-block">
                            <div class="live-casino-grid-block">
                                <div ng-repeat="lg in providerGames">
                                    <div class="casino-item live-casino-game">
                                        <img ng-src="{{lg.image}}" class="pos-rel v-lazy-image v-lazy-image-loaded" alt="{{lg.name}}">
                                        <div class="overlay-bg text-center">
                                            <h4><a ng-click="ctrl.openGame(lg)" class="casino-game-play-btn">PLAY</a></h4>
                                        </div>
                                    </div>
                                    <div class="game-thumb-info">
                                        <h4 class="game-thumb-name">{{lg.name}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-include="'sports/template/footer.html'"></div>
            </div>
        </div>
    </div>
</div>
