<div class="common-betprocess" ng-cloak="" ng-show="betInProcess">
    <div class="col-sm-12 betprocess">
        <div class="row">
            <div class="col-sm-12">
                Your bet is being processed.&nbsp; please wait... <span ng-show="betDelay>=0 && small=='true'"><strong>{{betDelay}}</strong></span>
            </div>
            <div class="col-sm-12 loader" ng-show="small== 'false'">
                <div class="bet-process">
                    <!--<span class="delay" ng-show="betDelay>=0">{{betDelay}}</span>-->
                </div>
            </div>
        </div>
    </div>
</div>