/// <reference path="../../utlis/__utils.scss" />
/// <reference path="../../variables/__variables.scss" />
/// <reference path="../../base/__base.scss" />

.my-profile {
    @include padding(10px, 0, 0, 0);

    .profile-wrap {
        background-color: $white-color;
        @include border(bottom, 1px, solid, $light-gray-blue);
        margin-bottom: 20px;

        .heading {
            background-color: $light-gray-blue;
        }

        dl {
            margin: 0px;
            @include headline($medium-gray-black, 14px);

            dt {
                @include padding(5px, 0px, 0px, 10px);
                @include resize (left, 125px);
                @include txt(normal);
                font-size: 14px;
            }

            dd {
                @include position(relative);
                height: 29px;
                @include padding(5px, 0px, 5px, 10px);
                @include border(bottom, 1px, solid, $light-grey);
            }

            .dd-lang {
                height: 36px;
            }

            .favor-set {
                @include position(absolute, right 0);
            }
        }

        select {
            width: 25%;
            height: 25px;
        }

        table {
            color:#243b4b;
            tr {
                height: 29px;
                @include padding(5px, 0px, 5px, 10px);
                @include border(bottom, 1px, solid, $light-grey);

                th, td {
                    vertical-align: middle;
                }
            }
        }
    }
}

.status-popup {
    background-color: $light-white;
    box-shadow: 0 4px 5px rgba(0,0,0,0.5);
    @include border-radius(4px);
    @include padding(15px, 15px, 10px, 15px);

    h3 {
        @include headline($dark-blue, 16px);
        margin: 0 0 0px 0;
        @include txt (bold);
        @include resize(left, auto);
    }

    .pop-detail {
        margin-top: 35px;

        .status_id {
            @include padding(10px, 7px, 10px, 7px);
            @include border('bottom',1px, solid, $light-white);
            @include position(relative);
            background-color: $white-color;
            clear: $clear-both;

            p {
                @include txt(bold);
                font-size: 13px;
                @include position(absolute, right 8px top 10px);
                .fa-circle{
                    font-size: 9px;
                    margin-right: 5px;
                }
            }

            .active-btn {
               // @include position(absolute, right 8px top 10px);
            }
        }

        .space-btn {
            clear: $clear-both;
            // @include border('bottom',1px, solid, $tabbing-background );
            background-color: $white-color;
            @include padding (10px, 0px, 15px, 0px);
            @include display(inline-block);
            width: $width;
        }

        ul {
            clear: $clear-both;
            text-align: $text-center;
            width: 345px;
            margin: 8px auto !important;

            li {
                float: $float-left;
            }
        }
        
        .but_active, .but_suspend, .but_locked {
            width: 105px;
            height: 65px;
            font-size: 15px;
            @include display(block);
            line-height: 15px;
            background-image: linear-gradient(-180deg, #FEFEFE 0%, #E0E0E0 100%);
            @include border-all(1px, solid, $light-medium-grey);
            @include border-radius(8px);
            margin: 0 5px;
            @include padding(8px, 0px, 8px, 0px);

            &:hover {
                text-decoration: none;
                background-image: linear-gradient(-180deg, #E9E9E9 23%, #FEFEFE 100%);
            }

            &.disable {
                background: $white-color;
                color: $light-skin;
                @include border-all(1px, solid, $light-grayish-yellow);
                cursor: not-allowed;
            }

            img {
                width: 28px;
                height: 31px;
                margin: 0 auto;
                @include display(block);
                background-image: url('/public/images/agent.png');
            }
        }

        .but_active {
            color: $green-color;

            img {
                background-position: -27px -743px;
            }

            &.disable {
                img {
                    background-position: -25px -776px;
                }
            }
        }

        .but_suspend {
            color: $red-color;

            img {
                background-position: -25px -997px;
            }

            &.disable {
                img {
                    background-position: -25px -1029px;
                }
            }
        }

        .but_locked {
            color: $dark-blue;

            img {
                background-position: -27px -843px;
            }

            &.disable {
                img {
                    background-position: -25px -875px;
                }
            }
        }

        .btn_box {
            margin-top: 15px;
            @include display(inline-block);

            p {
                float: $float-left;
            }

            label {
                @include txt (normal);
                margin-right: 10px;
            }

            input {
                @include border-radius(4px);
                border-width: 1px;
                @include padding(2px, 5px, 2px, 5px);
                width: 150px;
                margin-right: 15px;
            }

            .btn {
                @include padding(2px, 7px, 2px, 7px);
                width: 150px;
            }
        }
    }
}


.usertype-lable {
    @include headline($white-color, 10px);
    @include border-radius(4px);
    @include padding(1px, 7px, 1px, 7px);
    text-transform: uppercase;
    @include txt(bold);
    margin-right: 5px;

    &.SA {
        background-color: $icon-color;
    }

    &.AG,&.OP {
        background-color: $lay-1-color;
    }

    &.SM,&.CUS {
        background-color: $purple;
    }

     &.AD {
        background-color: $back-1-color;
    }

    &.MA,&.RD {
        background-color: $green-color;
    }

    &.PL {
        background-color: $lay-1-color;
    }

    &.PLS {
        background-color: $lay-1-color;
    }

    &.BM {
        background-color: $icon-color;
    }
    &.SBM {
        background-color: $theme-dark-color;
    }
    &.MGR {
        background-color: $theme-color;
    }
    &.CP {
        background-color: $back-1-color;
    }
}

.modal-body form .set_comm{
    padding-bottom: 20px;
    @include display(block);
    @include txt(bold);
}
















