<ul class="pagination justify-content-center mt-2" ng-if="pages && pages.length > 1">
    <li class="page-item"  ng-repeat="page in pages" ng-switch="page.type"
        ng-class="{ 'disabled': !page.active && !page.current, 'active': page.current }">
        <a ng-switch-when="prev" ng-click="params.page(1)" class="page-link">&lt;&lt;</a>
    </li>
    <li class="page-item"  ng-repeat="page in pages" ng-switch="page.type"
        ng-class="{ 'disabled': !page.active && !page.current, 'active': page.current }">
        <a ng-switch-when="prev" ng-click="params.page(page.number)" class="page-link">&lt;</a>
        <a ng-switch-when="first" ng-click="params.page(page.number)" class="page-link">{{page.number}}</a>
        <a ng-switch-when="page" ng-click="params.page(page.number)" class="page-link">{{page.number}}</a>
        <span ng-switch-when="more" class="">&hellip;</span>
        <a ng-switch-when="last" ng-click="params.page(page.number)" class="page-link">{{page.number}}</a>
        <a ng-switch-when="next" ng-click="params.page(page.number)" class="page-link">&gt;</a>
    </li>
    <li class="page-item" ng-repeat="page in pages" ng-switch="page.type"
        ng-class="{ 'disabled': !page.active && !page.current, 'active': page.current }">
        <a ng-switch-when="next" ng-click="params.page(pages.length+1)" class="page-link">&gt;&gt;</a>
    </li>
</ul>