<div id="footer-main" ng-controller="footerCtrl as fc">
    <div class="footer">

        <!-- Partner / Certification Logos -->
        <div class="footer-partners">
            <img loading="lazy" src="/public/images/drpapaya/footer/sigma.webp" alt="SiGMA">
            <img loading="lazy" src="/public/images/drpapaya/footer/responsible-gambling.webp" alt="Responsible Gambling">
            <img loading="lazy" src="/public/images/drpapaya/footer/gamcare.webp" alt="GamCare">
            <img loading="lazy" src="/public/images/drpapaya/footer/betblocker.webp" alt="BetBlocker">
            <img loading="lazy" src="/public/images/drpapaya/footer/plus.webp" alt="18+">
            <img loading="lazy" src="/public/images/drpapaya/footer/c9.webp" alt="Cloud9">
            <img loading="lazy" src="/public/images/drpapaya/footer/jason_derulo.webp" alt="Jason Derulo">
            <img loading="lazy" src="/public/images/drpapaya/footer/jason_derulo.webp" alt="Partner">
        </div>

        <!-- Four-column Navigation -->
        <div class="footer-nav">
            <div class="footer-col">
                <div class="footer-col-title">Promo</div>
                <ul>
                    <li><a ng-click="fc.showLink('aboutus')">Promotions</a></li>
                    <li><a ng-click="fc.showLink('aboutus')">Refer a Friend</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <div class="footer-col-title">Support/Legal</div>
                <ul>
                    <li><a ng-click="fc.showLink('aboutus')">Contact Us</a></li>
                    <li><a ng-click="fc.showLink('privacypolicy')">Privacy Policy</a></li>
                    <li><a ng-click="fc.showLink('responsiblegambling')">Responsible Gaming</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <div class="footer-col-title">About Us</div>
                <ul>
                    <li><a ng-click="fc.showLink('aboutus')">Fair Play</a></li>
                    <li><a ng-click="fc.showLink('aboutus')">Games Rules</a></li>
                    <li><a ng-click="fc.showLink('termscondition')">Terms and Conditions</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <div class="footer-col-title">Join Our Community</div>
                <div class="footer-community-icons">
                    <a ng-href="{{supportDetail.whatsapp ? ('https://wa.me/' + supportDetail.whatsapp) : 'javascript:void(0)'}}" target="_blank" class="community-icon whatsapp">
                        <i class="fa fa-whatsapp"></i>
                    </a>
                    <a ng-href="{{supportDetail.telegram || 'javascript:void(0)'}}" target="_blank" class="community-icon telegram">
                        <i class="fa fa-telegram"></i>
                    </a>
                    <a ng-href="{{supportDetail.instagram || 'javascript:void(0)'}}" target="_blank" class="community-icon instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a ng-href="{{supportDetail.facebook || 'javascript:void(0)'}}" target="_blank" class="community-icon facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- Footer Bottom Disclaimer -->
        <div class="footer-bottom-block">
            <div class="footer-bottom-logo">
                <img ng-src="{{webImagePath}}logo.png" alt="Logo">
            </div>
            <div class="footer-bottom-text">
                <p>A multi-award winning crypto casino. With a player-centric approach, FoxBetX is able to satisfy millions of gamblers across the globe. FoxBetX has set its priority set on its community, ensuring an everlasting and endlessly entertaining gambling experience.</p>
                <p>Your use of and access to FoxBetX signifies that you fully understand and agree to be legally bound by the contents of our Terms of Service and Responsible Gaming Policy.</p>
                <p>Crypto trading is not gambling by definition, therefore it is not covered by our gaming license.</p>
            </div>
        </div>

        <!-- Copyright -->
        <div class="footer-copyright">
            <span>&copy;{{currentYear}} Fenice Tech Ltd. ALL RIGHTS RESERVED.</span>
        </div>

    </div>
</div>
