/// <reference path="../../utlis/__utils.scss" />
/// <reference path="../variables/__variables.scss" />
/// <reference path="../base/__base.scss" />

.help-mainpage {
    background: $help-bg;
    min-height: 100vh;
    font-size: 12px;
    line-height: 1.5em;
    color: #fff;
    display: flex;

    .help-menu {
        float: left;
        width: 185px;
        min-width: 185px;
        padding: 12px 12px 22px 12px;
        border-right: 1px solid #fff;
        font-family: Arial, Helvetica, sans-serif;

        .help-li {
            margin: 0 0px 0 10px;
        }

        .inner-li {
            margin: 0 10px 0 20px;
        }

        ul {
            list-style-type: disc;
            padding: 5px 20px 5px 10px;
            //display: list-item;
            li {
                list-style-type: disc;
                display: list-item;

                a {
                    color: $white-color;
                    &:hover{color:#ccc}
                }
            }
        }
    }

    .help-details {
        flex: 1;
        padding: 10px 20px 20px 20px;

        .img-margin {
            margin-top: 32px;
        }

        .help-title {
            margin-top: 0px;
            font-size: 28px;
            margin-bottom: 20px;
        }

        .help-info {
            .help-table {
                width: 40.5%;

                table {
                    border: 1px solid #8d8d8d;
                    font-family:Arial, Helvetica, sans-serif;
                    th, td {
                        border: 1px solid #8d8d8d;
                        padding: 4px 0 4px 4px; 
                    }
                }
            }



            .sub-heading {
                color: $white-color;
                font-size: 24px;
                margin: 5px 0 20px 0;
            }

            p {
                margin: 0 0 16px 0 !important;
                font-family: Arial, Helvetica, sans-serif;
            }

            .p-margin {
                margin-bottom: 0px !important;
            }

            .help-link {
                color: #2ce5dd;
            }

            .img-help {
                margin: 10px 0 10px 0;
                border: 1px solid #ffc519;
            }

            .img-span {
                display: block
            }

            .icon-img {
                border: 1px solid #ffc519;
                width: 14px;
            }
        }
    }
}

