/// <reference path="../../utlis/__utils.scss" />
/// <reference path="../variables/__variables.scss" />
/// <reference path="../base/__base.scss" />

.mobile-view {
   .openbet-sidebar, .setting-sidebar {
        min-width:inherit ;
        max-width: inherit;
    }
    .mobile-menu{
        .menu-left, .menu-right{width:33vw !important; transition: all 0.5s; }
    } 
     .mb-close{display:none;}
    .mobile-main{transition: all 0.5s;}
    .main-left{transform: translateX(33vw); transition: all 0.5s; }
    .main-left::-webkit-scrollbar { width: 0 !important }
    .main-right{transform: translateX(-33vw); transition: all 0.5s;}
}

   .openbet-overlay{background:rgba(0, 0, 0, 0) !important }
