/// <reference path="../../utlis/__utils.scss" />
/// <reference path="../variables/__variables.scss" />
/// <reference path="../base/__base.scss" />



.splash, .dsplash, .main-login {
    background-image: linear-gradient(#0088cc,#2c3e50);
}

.header .header-top .logo-img {
    min-width: 200px !important;
}
.suspended:before {
    content: "";
    background-image: url(/public/images/dimd2/lock.svg);
    background-size: 17px 17px;
    filter: invert(1);
    background-repeat: no-repeat;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-position: center;
    pointer-events: none;
}

$white-color: #ffffff;
$red: #fe0000;
$yellow: #ffdf1b;

:root {
    /*--table-hover: #000000BF;*/
    --text-white: #ffffff;
    --text-black: #000000;
    --text-yellow: #fdcf13;
    --text-red: #fc4242;
    --text-green: #03b37f;
    --bg-success: #03b37f;
    --bg-success-hover: #008e64;
    --bg-warning: #fdcf13;
    --bg-danger: #fc4242;
    --bg-info: #f18521;
    --bg-bet: rgba(3, 179, 127, 0.32);
    --bg-tabs: rgba(3, 179, 127, 0.2);
    --book-green: #39ff39;
    --book-red: #f7505e;
    --back: #72bbef;
    --back-hover: #4fa1dc;
    --back1: rgba(114, 187, 239, 0.8);
    --back2: rgba(114, 187, 239, 0.64);
    --lay: #f994ba;
    --lay-hover: #e16f9a;
    --lay1: rgba(249, 148, 186, 0.8);
    --lay2: rgba(249, 148, 186, 0.64);
    --back-title: rgba(114, 187, 239, 0.5);
    --lay-title: rgba(249, 148, 186, 0.5);
    --football: #03b37f;
    --football_75: rgba(3, 179, 127, 0.75);
    --football_50: rgba(3, 179, 127, 0.5);
    --tennis: #f18521;
    --tennis_75: rgba(241, 133, 33, 0.75);
    --tennis_50: rgba(241, 133, 33, 0.64);
    --boxing: #e44e23;
    --boxing_75: rgba(228, 78, 35, 0.75);
    --boxing_50: rgba(228, 78, 35, 0.5);
    --cricket: #20327b;
    --cricket_75: rgba(32, 50, 123, 0.75);
    --cricket_50: rgba(32, 50, 123, 0.5);
    --golf: #015900;
    --golf_75: rgba(1, 89, 0, 0.75);
    --golf_50: rgba(1, 89, 0, 0.5);
    --beach-volleyball: #ff9c63;
    --beach-volleyball_75: rgba(255, 156, 99, 0.75);
    --beach-volleyball_50: rgba(255, 156, 99, 0.5);
    --table-tennis: #db2752;
    --table-tennis_75: rgba(219, 39, 82, 0.75);
    --table-tennis_50: rgba(219, 39, 82, 0.5);
    --futsal: #74c94b;
    --futsal_75: rgba(116, 201, 75, 0.75);
    --futsal_50: rgba(116, 201, 75, 0.5);
    --horse-racing: #9e4025;
    --horse-racing_75: rgba(158, 64, 37, 0.75);
    --horse-racing_50: rgba(158, 64, 37, 0.5);
    --egames: #623cea;
    --egames_75: rgba(98, 60, 234, 0.75);
    --egames_50: rgba(98, 60, 234, 0.5);
    --grey-hounds: #e89780;
    --grey-hounds_75: rgba(232, 151, 128, 0.75);
    --grey-hounds_50: rgba(232, 151, 128, 0.5);
    --trotting: #996658;
    --trotting_75: rgba(153, 102, 88, 0.75);
    --trotting_50: rgba(153, 102, 88, 0.5);
    --speedway: #c14347;
    --speedway_75: rgba(193, 67, 71, 0.75);
    --speedway_50: rgba(193, 67, 71, 0.5);
    --basketball: #fbb03b;
    --basketball_75: rgba(251, 176, 59, 0.75);
    --basketball_50: rgba(251, 176, 59, 0.64);
    --moto-gp: #9fbe3c;
    --moto-gp_75: rgba(159, 190, 60, 0.75);
    --moto-gp_50: rgba(159, 190, 60, 0.5);
    --chess: #0e345e;
    --chess_75: rgba(14, 52, 94, 0.75);
    --chess_50: rgba(14, 52, 94, 0.5);
    --vollyball: #074a60;
    --vollyball_75: rgba(7, 74, 96, 0.75);
    --vollyball_50: rgba(7, 74, 96, 0.5);
    --ice-hockey: #2f7ed5;
    --ice-hockey_75: rgba(47, 126, 213, 0.75);
    --ice-hockey_50: rgba(47, 126, 213, 0.5);
    --equine-sports: #e07a5f;
    --equine-sports_75: rgba(224, 122, 95, 0.75);
    --equine-sports_50: rgba(224, 122, 95, 0.5);
    --australians-rules: #ff6457;
    --australians-rules_75: rgba(255, 100, 87, 0.75);
    --australians-rules_50: rgba(255, 100, 87, 0.5);
    --badminton: #3c7a57;
    --badminton_75: rgba(60, 122, 87, 0.75);
    --badminton_50: rgba(60, 122, 87, 0.5);
    --formula-1: #bf6f7e;
    --formula-1_75: rgba(191, 111, 126, 0.75);
    --formula-1_50: rgba(191, 111, 126, 0.5);
    --nascar: #cb2755;
    --nascar_75: rgba(203, 39, 85, 0.75);
    --nascar_50: rgba(203, 39, 85, 0.5);
    --hockey: #3d2b58;
    --hockey_75: rgba(61, 43, 88, 0.75);
    --hockey_50: rgba(61, 43, 88, 0.5);
    --supercars: #772b59;
    --supercars_75: rgba(119, 43, 89, 0.75);
    --supercars_50: rgba(119, 43, 89, 0.5);
    --netball: #279a95;
    --netball_75: rgba(39, 154, 149, 0.75);
    --netball_50: rgba(39, 154, 149, 0.5);
    --surfing: #81a6ff;
    --surfing_75: rgba(129, 166, 255, 0.75);
    --surfing_50: rgba(129, 166, 255, 0.5);
    --cycling: #60a5da;
    --cycling_75: rgba(96, 165, 218, 0.75);
    --cycling_50: rgba(96, 165, 218, 0.5);
    --gaelick-sports: #07695f;
    --gaelick-sports_75: rgba(7, 105, 95, 0.75);
    --gaelick-sports_50: rgba(7, 105, 95, 0.5);
    --biathlon: #2f158b;
    --biathlon_75: rgba(47, 21, 139, 0.75);
    --biathlon_50: rgba(47, 21, 139, 0.5);
    --motorbikes: #bd6a58;
    --motorbikes_75: rgba(189, 106, 88, 0.75);
    --motorbikes_50: rgba(189, 106, 88, 0.5);
    --athletics: #d96c0d;
    --athletics_75: rgba(217, 108, 13, 0.75);
    --athletics_50: rgba(217, 108, 13, 0.5);
    --squash: #446ea6;
    --squash_75: rgba(68, 110, 166, 0.75);
    --squash_50: rgba(68, 110, 166, 0.5);
    --basketball-3-3: #e83d1a;
    --basketball-3-3_75: rgba(232, 61, 26, 0.75);
    --basketball-3-3_50: rgba(232, 61, 26, 0.5);
    --floorball: #04adbf;
    --floorball_75: rgba(4, 173, 191, 0.75);
    --floorball_50: rgba(4, 173, 191, 0.5);
    --sumo: #d95b66;
    --sumo_75: rgba(217, 91, 102, 0.75);
    --sumo_50: rgba(217, 91, 102, 0.5);
    --virtual-sports: #d592ff;
    --virtual-sports_75: rgba(213, 146, 255, 0.75);
    --virtual-sports_50: rgba(213, 146, 255, 0.5);
    --handball: #69306d;
    --handball_75: rgba(105, 48, 109, 0.75);
    --handball_50: rgba(105, 48, 109, 0.5);
    --politics: #b4845b;
    --politics_75: rgba(180, 132, 91, 0.75);
    --politics_50: rgba(180, 132, 91, 0.5);
    --weather: #518cad;
    --weather_75: rgba(81, 140, 173, 0.75);
    --weather_50: rgba(81, 140, 173, 0.5);
    --tv-games: #513896;
    --tv-games_75: rgba(81, 56, 150, 0.75);
    --tv-games_50: rgba(81, 56, 150, 0.5);
    --lottery: #e9bc26;
    --lottery_75: rgba(233, 188, 38, 0.75);
    --lottery_50: rgba(233, 188, 38, 0.5);
    --bowls: #590902;
    --bowls_75: rgba(89, 9, 2, 0.75);
    --bowls_50: rgba(89, 9, 2, 0.5);
    --waterpolo: #21a3b8;
    --waterpolo_75: rgba(33, 163, 184, 0.75);
    --waterpolo_50: rgba(33, 163, 184, 0.5);
    --alpine-skiing: #509bff;
    --alpine-skiing_75: rgba(80, 155, 255, 0.75);
    --alpine-skiing_50: rgba(80, 155, 255, 0.5);
    --sailing: #00b4d8;
    --sailing_75: rgba(0, 180, 216, 0.75);
    --sailing_50: rgba(0, 180, 216, 0.5);
    --hurling: #52b788;
    --hurling_75: rgba(82, 183, 136, 0.75);
    --hurling_50: rgba(82, 183, 136, 0.5);
    --ski-jumping: #70c1b3;
    --ski-jumping_75: rgba(112, 193, 179, 0.75);
    --ski-jumping_50: rgba(112, 193, 179, 0.5);
    --bandy: #d99b84;
    --bandy_75: rgba(217, 155, 132, 0.75);
    --bandy_50: rgba(217, 155, 132, 0.5);
    --motor-sports: #a175c8;
    --motor-sports_75: rgba(161, 117, 200, 0.75);
    --motor-sports_50: rgba(161, 117, 200, 0.5);
    --baseball: #c06c84;
    --baseball_75: rgba(192, 108, 132, 0.75);
    --baseball_50: rgba(192, 108, 132, 0.5);
    --rugby-union: #8a101c;
    --rugby-union_75: rgba(138, 16, 28, 0.75);
    --rugby-union_50: rgba(138, 16, 28, 0.5);
    --rugby-league: #ed5f62;
    --rugby-league_75: rgba(237, 95, 98, 0.75);
    --rugby-league_50: rgba(237, 95, 98, 0.5);
    --curling: #5478bf;
    --curling_75: rgba(84, 120, 191, 0.75);
    --curling_50: rgba(84, 120, 191, 0.5);
    --darts: #b21347;
    --darts_75: rgba(178, 19, 71, 0.75);
    --darts_50: rgba(178, 19, 71, 0.5);
    --americal-footbal: #d3393d;
    --americal-footbal_75: rgba(211, 57, 61, 0.75);
    --americal-footbal_50: rgba(211, 57, 61, 0.5);
    --snooker: #11b24b;
    --snooker_75: rgba(17, 178, 75, 0.75);
    --snooker_50: rgba(17, 178, 75, 0.5);
    --lottery-specials: #a53860;
    --lottery-specials_75: rgba(165, 56, 96, 0.75);
    --lottery-specials_50: rgba(165, 56, 96, 0.5);
    --special-bets: #e63946;
    --special-bets_75: rgba(230, 57, 70, 0.75);
    --special-bets_50: rgba(230, 57, 70, 0.5);
    --lotto: #05668d;
    --lotto_75: rgba(5, 102, 141, 0.75);
    --lotto_50: rgba(5, 102, 141, 0.5);
    --card-cricket: #581ab4;
    --card-cricket_75: rgba(88, 26, 180, 0.75);
    --card-cricket_50: rgba(88, 26, 180, 0.5);
    --kabaddi: #6e2e26;
    --kabaddi_75: rgba(110, 46, 38, 0.75);
    --kabaddi_50: rgba(110, 46, 38, 0.5);
    --boat-racing: #2b65ec;
    --boat-racing_75: rgba(43, 101, 236, 0.75);
    --boat-racing_50: rgba(43, 101, 236, 0.5);
    --e-socker: #03b37f;
    --e-socker_75: rgba(3, 179, 127, 0.75);
    --e-socker_50: rgba(3, 179, 127, 0.5);
}
:root {
    --bg-body: #23292E;
    --text-body: #AAAFB5;
    --bg-sidebar: #16191C;
    --text-sidebar: #AAAFB5;
    --bg-table: #2E3439;
    --text-table: #AAAFB5;
    --bg-table-header-new: #762E56 !important;
    --text-table-header-new: #eeeeee !important;
    --text-highlight: #ffffff;
    --text-fancy: #FDCF13;
    --btn-primary: #03B37F;
    --btn-reset: #FC4242;
    --bg-tabs: rgba(3, 179, 127, 0.2);
    // --bg-news:;
}

.logo-img {
    background: url(/public/images/dimd2/logo.png);
}

.navbar-nav .dropdown-menu.show li.show > .dropdown-toggle {
    background-image: url(/public/images/dimd2/arrow-up.svg);
}

.navbar-nav .dropdown-menu .dropdown-toggle {
    background-image: url(/public/images/dimd2/arrow-down.svg);
}

.new-event .new-event-item {
    background-image: url("/public/images/dimd2/wave2.svg");
    background-position: center bottom;
    min-width: calc(20% - 10px);
}

.navbar-nav .dropdown-menu .dropdown-toggle {
    background-image: url(/public/images/dimd2/arrow-down.svg);
}

.navbar-nav .dropdown-menu.show li.show > .dropdown-toggle {
    background-image: url(/public/images/dimd2/arrow-up.svg);
}