/// <reference path="../../utlis/__utils.scss" />
/// <reference path="../variables/__variables.scss" />
/// <reference path="../base/__base.scss" />

.member-nav {
    border-bottom: none !important;

    &.nav-tabs li {
        margin-bottom: 0px;
    }

    li.active > a, li:hover > a {
        background-color: $master-table-bg !important;
        color: #fff !important;
        border: 1px solid transparent !important;
    }
}

.master-class .nav-tabs a {
    color: #fff;
}
.master-class {
    .total-show, .total-show-pl {
        width: 100%;
        margin-top: 15px;
        color: #fff;
        float: left;

        .sports-switch {
            margin-right: 15px;
            margin-bottom: 10px;
            cursor:pointer;
            text-decoration:underline;
        }
    }

    .table-bets tbody {
        background-color: transparent;
    }

    .list-view-table .profit-expand .table-bets .net-total dt {
        float: left;
        width: 85%;
        font-weight: 400;
        text-align: right;
    }

    .list-view-table .profit-expand .table-bets .net-total dd {
        text-align: right;
        padding: 0 0 8px;
    }
}
.member-div {
    //background-color: $master-table-bg;
    float: left;
    width: 100%;
    padding: 10px 0px;
}

.member-detail {
    margin-top: 0px !important;
    padding: 10px 20px 20px 20px;
    float: left;
    width: 100%;
    background-color: $master-table-bg;

    .main-bg {
        background-color: transparent !important;
        padding: 0px;
    }

    .list-view {
        //background-color: transparent !important;
        padding-left: 0;
        padding-right: 0;

        .list-view-table {
            table {
                // background-color: transparent !important;
                tbody tr td {
                    line-height: 23px;
                }
            }
        }
    }

    .pl-table {
        .list-view {
            .currency {
                table {
                    tbody tr:nth-child(odd) {
                        background-color: transparent !important;
                    }

                    .childtr:nth-child(odd) {
                        background-color: rgba(245, 245, 245, 0.1) !important;
                    }

                    /*.childtr:nth-of-type(4n) {
                        background-color: rgba(245, 245, 245, 0.3) !important;
                    }*/
                }
            }
        }
    }

    .left-panel {
        float: left;
        width: 10%;

        .apl-table {
            margin-top: 37px;
            background-color: transparent !important;

            td {
                text-align: center !important;
                line-height: 26px;
                color: #fff;
                font-size: 15px;
                text-transform: capitalize;
                padding: 5px 10px;
            }
        }
    }

    .right-panel {
        float: left;
        width: calc(90% - 10px);
        margin-left: 10px;

        table {
            thead {
                tr th {
                    color: #fff;
                }
            }

            tbody {
                tr {
                    color: #fff;

                    td {
                        line-height: 26px;
                        padding: 5px 10px;
                    }

                    &:nth-child(odd) {
                        background-color: rgba(245, 245, 245, 0.1);
                    }

                    &:hover {
                        background: $grid-hover;
                    }
                }
            }
        }
    }

    .date {
        background-color: $grid-date !important;
        line-height: 30px !important;
    }

    table {
        background-color: transparent !important;

        thead {
            tr {
                background-color: transparent !important;

                th {
                    line-height: 30px;
                    padding: 5px 10px;
                }
            }
        }

        tbody {
            td {
                //line-height:35px;  padding:5px 10px;
                font-size: 14px;
            }
        }
    }

    .btn_value {
        padding: 0px 10px;
    }

    .filter-panel {
        float: left;
        width: 100%;
        border-bottom: 1px solid #fff;
        padding: 0 0 10px 0;
        color: #fff;

        .input-group .uib-datepicker-popup {
            div.uib-daypicker table tr {
                color: #000 !important;

                td {
                    color: #000 !important;
                }
            }
        }
    }



    .bet_list {
        p {
            padding: 10px 0 0 0;
            float: left;
            width: 100%;
        }

        .bet-manager {
            float: left;
            width: 100%;
            margin-top: 10px;

            .tab {
                li a {
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }
        }

        .input-date {
            .input-group {
                float: left;
                display: inline-flex;

                label {
                    margin: 0 10px 0 0;
                    color: #fff;
                    float: left;
                    line-height: 34px;
                }

                .form-control {
                    float: left;
                    padding: 6px;
                    height: 30px;
                    width: 19% !important;
                    margin: 2px 14px 0 0;
                }
                //.btn{padding:0px 12px;}
            }
        }

        .total-pnl {

            span {
                float: left;
                padding: 5px 0px;
            }
        }

        .table-listing {
            color: #fff;
        }
    }

    .list-table {
        .bet-list-table table {
            tbody {
                tr td {
                    //line-height: 55px;
                    padding: 8px;
                }

                tr .bet_td {
                    line-height: 20px;
                }
            }
        }
    }

    .transfer-table {
        table {
            tbody {
                .td-date {
                    padding: 0 0 0 25px;
                }

                .amount {
                    padding: 0 5px 0 0px;
                }
            }
        }
    }
}

.ktdatepicker {
    cursor: pointer;
    background-color: $m_selectbox;
    line-height: 26px;
    padding: 5px 15px;
    color: $m-selectbox-fr;

    i {
        padding-left: 10px;
    }
}

.filters-toggle {
    float: left;
    font-size: 18px;
    width: 20px;
    height: 20px;
    display: table;
    padding: 5px 11px;
    cursor: pointer;
    background-color: $m_selectbox;
    margin-left: 5px;
    color: $m-selectbox-fr;

    &:hover, &:focus {
        background-color: $m_selectbox;
        color: $m-selectbox-fr;
    }

    &.selected {
        background-color: $m-selectbox-fr;
        color: $m_selectbox;
    }
}

.form-pannel {
    .dropdown_list {
        background-color: #fff;
        color: #60686b;
        z-index: 999;
        max-height: 326px;
        min-width: 100%;
        white-space: nowrap;
        position: absolute;

        .number-content {
            padding: 8px 20px;
            display: inline-block;
            margin: 8px 0;

            input {
                background-color: #ececec;
                color: #000;
                text-align: center;
                border: none;
                width: 100px;
                padding: 5px;
                margin-left: 8px;

                &:focus {
                    outline: none !important;
                }
            }
        }
    }
}
.padding-l {
    padding-left: 5px;
}
.bet-manager {
    .tab li {
        .tabing-title {
            padding: 4px 20px;
        }
    }

    .tab {
        li {
            @include display(inline-block);
            text-align: center;
            cursor: $cursor;
            vertical-align: middle;
            border-top: 3px solid transparent !important;
        }
    }

    .tab {
        .tabing-title {
            background-color: transparent;
            color: #fff;
            display: block;
            float: left;
            min-width: 115px;
            padding: 4px 20px;
            font-size: 14px;
        }

        .tabing-title.active {
            background-color: $master-table-bg !important;
        }
    }

    .bet-list-table {
        background-color: $master-table-bg !important;
        padding: 15px;
        float: left;
        width: 100%;

        .select-radio {
            padding: 10px 0 5px 0px;

            span {
                display: inline-block;
                padding: 0 5px;
                color: #fff;

                label {
                    vertical-align: text-bottom;
                    margin: 0px 15px 0 0;
                    font-weight: normal;
                    font-size: 14px;
                }

                input {
                    margin-right: 3px;
                }
            }
        }
    }

    .slip-wrap .bet-detail {
        .odd-add {
            right: 20px;
        }

        .bet-events .popup-list {
            .btn {
                font-size: 10px;
                width: 14%;
            }
        }
    }

    .oneclickbet-wrap {
        margin-top: 8px;

        .oneclick-edit {
            .on-btn {
                width: 20%;

                .btn {
                    width: auto;
                    font-size: 10px !important;
                }
            }
        }
    }
}
