/// <reference path="../variables/__variables.scss" />
.all-bets-main-block {
    padding: 5px 10px;

    table tbody tr:first-child td:first-child {
        border-top-left-radius: 3px;
    }

    table tbody tr:first-child td:last-child {
        border-top-right-radius: 3px;
    }

    table tbody tr:last-child td:first-child {
        border-bottom-left-radius: 3px;
    }

    table tbody tr:last-child td:last-child {
        border-bottom-right-radius: 3px;
    }

    .form-check {
        display: inline-block;
        margin-right: 5px;
    }

    .form-check-input {
        margin-top: 2px;
        height: auto;
    }

    .bet-detail {
        padding: 10px 5px 0px 5px;

        .event-name {
            color: #ccc;
            font-size: 15px;
            padding-bottom: 5px;
        }

        .slip-head {
            color: #737978;
            text-transform: capitalize;
            font-size: 10px;
        }

        .col-odd, .col-stake, .col-profit {
            text-align: center;
        }



        tbody {
            background: #33383e;
            border-bottom: 1px solid #23262a;

            .col-bet {
                padding-left: 7px;
            }

            td {
                padding: 3px 0px 3px 2px;
            }

            &.back {
                background: #54b9ff;

                td {
                    color: #343434 !important;
                }
            }

            &.lay {
                background: #d85e8b;
            }
        }
    }
}
