/// <reference path="../../variables/__variables.scss" />
/// <reference path="../../utlis/__utils.scss" />
/// <reference path="../../base/__base.scss" />


.mobile-top {
    .login-inner {
        .box-login {
            .form-control {
                border: 0 !important;
                border-bottom: 1px solid $heading !important;
                border-radius: 0 !important;
            }
        }
    }
}