/// <reference path="../../variables/__variables.scss" />
/// <reference path="../../utlis/__utils.scss" />
/// <reference path="../../base/__base.scss" />


.mobilewrap {
    .report-card {
        overflow-x: hidden;

        .title {
            font-size: 16px;
            padding: 7px 1.25rem;
        }

        .form-control, select {
           // margin-right: 8px;
        }

        .table-bets {
            .list-view-table {
                .header {
                    font-size: 14px;
                }

                table {
                    .expand-table {
                        .table-bets {
                            width:78%;
                            min-width:78% !important;
                            margin:0 0 0 19%;
                            tbody {
                                tr td, tr th{
                                    line-height:1.2;
                                }
                            }
                        }
                    }
                }
            }
        }

        .chng-pwd {
            .form-group {
                input {
                    border: 0;
                    border-radius: 0;
                    border-bottom: 1px solid #ccc;
                    margin: 0;
                }

                button {
                    float: left;
                    width: 100%;
                    margin-bottom: 10px;
                    padding: 8px;
                }
            }
        }
    }
}

