/// <reference path="../../utlis/__utils.scss" />
/// <reference path="../../variables/__variables.scss" />
/// <reference path="../../base/__base.scss" />

#fairxcasino {
    height: 100vh;
}
.mobile-top {
    #fairxcasino {
        height: calc(100vh - 80px);
    }
}
.casino-bg {
    /* position: fixed;
    top: 0;
    left: 0;*/
    width: 100%;
    height: 100%;
    background: rgba(51,51,51,0.94);
    z-index: 999;

    .game-lobby {
        //position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        padding: 2px;
        background: #000;
        //width: calc(100% - 60px);
        box-shadow: rgba(20, 21, 18,1) 0px 0px 5px 2px;
    }

    .close-game {
        color: white;
        right: 10px;
        text-align: right;
        position: relative;
        top: 4px;
        font-size: 20px;
        cursor: pointer;
        float: right;
        display: inline-block;
    }

    .home-game {
        color: white;
        right: 20px;
        text-align: right;
        position: relative;
        top: 4px;
        font-size: 20px;
        cursor: pointer;
        float: right;
        display: inline-block;
    }
}
