/// <reference path="../../variables/__variables.scss" />
/// <reference path="../../base/__base.scss" />

.fact-box.swap-animation {
    -webkit-animation-name: highlightBack;
    -webkit-animation-duration: .2s;
    -moz-animation-name: highlightBack;
    -moz-animation-duration: .2s;
    animation-name: highlightBack;
    animation-duration: .2s;
}

.fact-box.pink.swap-animation {
    -webkit-animation-name: highlightLay;
    -webkit-animation-duration: .2s;
    -moz-animation-name: highlightLay;
    -moz-animation-duration: .2s;
    animation-name: highlightLay;
    animation-duration: .2s;
}

.position-animation {
    -webkit-animation-name: highlightBack;
    -webkit-animation-duration: .8s;
    -moz-animation-name: highlightBack;
    -moz-animation-duration: .8s;
    animation-name: highlightBack;
    animation-duration: .8s;
}



@-moz-keyframes highlightBack {
    0% {
        background-color: $back-hover;
    }

    50% {
        background-color: $white-color;
    }

    100% {
        background-color: $back-hover;
    }
}

@-o-keyframes highlightBack {
    0% {
        background-color: $back-hover;
    }

    50% {
        background-color: $white-color;
    }

    100% {
        background-color: $back-hover;
    }
}

@keyframes highlightBack {
    0% {
        background-color: $back-hover;
    }

    50% {
        background-color: $white-color;
    }

    100% {
        background-color: $back-hover;
    }
}

@-moz-keyframes highlightLay {
    0% {
        background-color: $lay-hover;
    }

    50% {
        background-color: $white-color;
    }

    100% {
        background-color: $lay-hover;
    }
}

@-o-keyframes highlightLay {
    0% {
        background-color: $lay-hover;
    }

    50% {
        background-color: $white-color;
    }

    100% {
        background-color: $lay-hover;
    }
}

@keyframes highlightLay {
    0% {
        background-color: $lay-hover;
    }

    50% {
        background-color: $white-color;
    }

    100% {
        background-color: $lay-hover;
    }
}

.blink {
    -webkit-animation: blink 2s linear infinite;
    -moz-animation: blink 2s linear infinite;
    -ms-animation: blink 2s linear infinite;
    -o-animation: blink 2s linear infinite;
    animation: blink 2s linear infinite;
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    50.01% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    50.01% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-ms-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    50.01% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    50.01% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    50.01% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.blink-color {
    -webkit-animation: blinkcolor 2s linear infinite;
    -moz-animation: blinkcolor 2s linear infinite;
    -ms-animation: blinkcolor 2s linear infinite;
    -o-animation: blinkcolor 2s linear infinite;
    animation: blinkcolor 2s linear infinite;
}

@-webkit-keyframes blinkcolor {
    0% {
        color: #000000;
    }

    25% {
        color: red;
    }

    100% {
        color: red;
    }
}

@-moz-keyframes blinkcolor {
    0% {
        color: #000000;
    }

    25% {
        color: red;
    }

    100% {
        color: red;
    }
}

@-ms-keyframes blinkcolor {
    0% {
        color: #000000;
    }

    25% {
        color: red;
    }

    100% {
        color: red;
    }
}

@-o-keyframes blinkcolor {
    0% {
        color: #000000;
    }

    25% {
        color: red;
    }

    100% {
        color: red;
    }
}

@keyframes blinkcolor {
    0% {
        color: #000000;
    }

    25% {
        color: red;
    }

    100% {
        color: red;
    }
}

.market-Content {
    &.newitem {
        -webkit-animation: blinknewitem 3s linear;
        -moz-animation: blinknewitem 3s linear;
        -ms-animation: blinknewitem 3s linear;
        -o-animation: blinknewitem 3s linear;
        animation: blinknewitem 3s linear;
    }
}


@-webkit-keyframes blinknewitem {
    0% {
        background-color: #91bed4;
    }
    100% {
        background-color: $table-back;
    }
}

@-moz-keyframes blinknewitem {
    0% {
        background-color: #91bed4;
    }
    100% {
        background-color: $table-back;
    }
}

@-ms-keyframes blinknewitem {
    0% {
        background-color: #91bed4;
    }
    100% {
        background-color: $table-back;
    }
}

@-o-keyframes blinknewitem {
    0% {
        background-color: #91bed4;
    }
    100% {
        background-color: $table-back;
    }
}

@keyframes blinknewitem {
    0% {
        background-color: #91bed4;
    }
    100% {
        background-color: $table-back;
    }
}
