///
/// ANIMATION-TIMINGS
///

/// Animation timing base
$animationTimingBpm: 60;

/// Calculate animation timings
$wholeNote: 	60s / $animationTimingBpm;
$halfNote:		$wholeNote / 2;
$thirdNote:		$wholeNote / 3;
$quarterNote:	$wholeNote / 4;
$eightNote:		$wholeNote / 8;
$sixteenthNote:	$wholeNote / 16;
