<div class="row">
    <div class="col-sm-12">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-newspaper-o"></i></span>
            <input type="text" minlength="1" maxlength="100"
                   placeholder="{{::'runner.name.placeholder' | translate}}"
                   required autofocus ng-model="runner.name" class="form-control">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-chain"></i></span>
            <input type="text" minlength="1" maxlength="100"
                   placeholder="{{::'runner.sourceid.placeholder' | translate}}"
                   ng-model="runner.sourceId" class="form-control">
        </div>
        <div class="form-group">
            <textarea type="text"
                      placeholder="{{::'runner.metadata.placeholder' | translate}}" multiple rows="6"
                      ng-model="runner.runnerMetadata" class="form-control"></textarea>
        </div>
    </div>
</div>



