/// <reference path="../variables/__variables.scss" />







$font-stack: Roboto,sans-serif;

$font-size: 13px;
$theme-color: #6717a8; //#6717a8;
$theme-hover: #6e31a5; // #0d8247 ;

$dark-selected: #4c555e;
$dark-header: #32383e;
$dropdown-bg: linear-gradient(180deg, #22262a 0, #6618ad 180%);
$deposit-btn-top-bg: rgba(22, 156, 89, 0.2);
$deposit-btn-top-fr: #f9fafa;
$withdrawal-btn-top-bg: rgba(0, 143, 255, 0.2);
$withdrawal-btn-top-fr: #f9fafa;
$border-btn: #6618ad;
$btn-success: #28a745;
$mobile-header-bg: linear-gradient(180deg, #22262a 10%, #6717a8 100%);

$white-color: white;
$font-size-tab: 12px;
$base-color-light: green;
$black-color: black;
$login-back: white;
$green-color: green;

$overlay-bg: rgba(225,225,225,0.1);
$login-header: #22270c;
$login-header-font: white;
$popup-btn-bg: #f4d821;
$popup-btn-fr: #273a47;
$signup-btn-bg: #fff;
$signup-btn-fr: #000;

$login-btn-bg: $theme-color;
$login-btn-fr: #F6F6F6;
$dialog-fr: #f9fafa;
$dialog-bg: #0b0d0e;

$gray: #000;
$heading: #748a7b;

$light-gray-blue: #3a3a3b;
$light-grayish-blue: #23262a;




$table-headingbg: #dddddd;
$light-white: darken(desaturate($white-color, 10%), 6.5%);
$payment-bg: #33383e;
$tab-text: #ccc;
$tab-active-border: #09363c;
$medium-white: darken(desaturate($white-color, 10%), 4.5%); /* #f2f2f2 */

$gray-gains: #dfdfdf;
$p-btn-bg-1: $theme-color;
$p-btn-bg-2: #4bc66c;
$p-btn-shadow: #4f9773;

$btn-small-border: #379c52;
$btn-small-bg: $theme-color;
$btn-small-border-bottom: #777949;
$btn-small-color: #fff;
$btn-small-hover-shadow: #68693f;
$btn-small-bg-dark: #1a4126;

$txt-success: #169c59;
