<a ng-class="{'onlyprice':(showSize=='false' && !item.percentage)}" class="price">
    {{isBm=='true' && item.price ? (item.price | toBMPrice  ): item.price }}
    {{showSize == 'true' && item.percentage && item.percentage!=100 ? ' : '+item.percentage : ''}}
    <span class="size percentage" ng-if="showSize == 'false' && item.percentage ">
        {{item.percentage}}
    </span>
    <span ng-if="showSize == 'true' && item && item.size > 0 " class="size">
        {{item.size | toRateOnly | shortNumber}}
    </span>
</a>
