/// <reference path="../utils/_mixins.scss" />
/// <reference path="../variables/__variables.scss" />

.modal-dialog {
    .modal-header {
        background-color: $theme-color;
        color: $white-color;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
        background-color: #b3abab;
    }

    .close {
        float: right;
        @include txt(bold);
        @include headline($white-color, 21px);
        line-height: 1;
        opacity: 1;
    }

    .modal-footer {
        &.md-white {
            background: #fff;
        }
    }
    /*.modal-footer {
        
        /*border-top: none;
     
        #-close{background-color:$dark-gray-black; color:$login-back;}
    }*/
    .user-form {
        input, select {
            margin-bottom: 10px;
        }
    }

    .toggle-buttons {
        .btn {
            @include padding(4px, 8px, 4px, 8px);
            height: 27px;
            font-size: $font-size-tab;

            &.active {
                background: $theme-color;
            }

            &:not(.active) {
                @include link-background-colors( transparent, mix($base-color-light, $white-color, 28%), mix($base-color-light, $white-color, 37%) );
                @include border-all(1px, solid, $base-color-light);
                color: #bfbfbf;
                @include padding(4px, 8px, 4px, 8px);
            }
            /*&.btn-default:focus, &.btn-default:hover {
            color: $white-color;
            //background-color:$support-a-color;
        }*/
        }

        div.btn-group {
            .btn {
                border-color: $black-color;
            }

            .active {
                background-color: $black-color;
                color: $login-back;
            }
        }
    }
    /*.form-tried-to-save {
    .toggle-buttons.ng-invalid {
        .btn {
            border-color: $theme-danger;
        }
    }
}
*/
}

.modal-dialog.modal-xlg {
    width: 875px;
}

.mobile-bg {
    .modal.in .modal-dialog {
        transform: translate(0%, -50%);
        bottom: -50%;

        .pop_close {
            right: -16px;
            top: -50px;
        }
    }
}

.modal-dialog.modal-banner {
    .carousel-inner, .carousel, div {
        height: 100%;
    }

    width: 80vw;
    max-height: 80vh;
    height: 80vh;
    margin: auto;

    .pop_close {
        right: -50px;
        height: 35px;
    }

    .popup-div {
        overflow: hidden;
        background-color: transparent;
    }

    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        max-height: 100%;
        width: auto !important;
        max-width: 100%;
        margin: auto;
    }

    .modal-content {
        box-shadow: unset;
        border: none;
    }

    .carousel-indicators li {
        background-color: yellow;
        border-color: rgba(255,0,0,0.29);
    }

    .carousel-indicators .active {
        background-color: red;
    }
}


.modal-dialog.modal-full {
    width: 97%;
    height: 97%;
}

.modal-body {
    border: 0;

    form {
        .input-group {
            margin-bottom: 10px;
        }

        .position {
            @include padding(6px, 0, 6px, 0px);
            width: 55%;
            margin: 0 auto;
            @include txt(bold);

            .p_value {
                float: right
            }
        }
    }

    &.md-white {
        background: #fff;
    }
}

.popup-div {
    color: #fff;
    overflow: auto;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    font-size: 14px;

    .datetimepicker {
        color: #000;

        .switch {
            width: unset;
        }

        th, td {
            width: 35px;
        }
    }

    .datetimepicker .disabled, .datetimepicker .disabled:hover {
        color: #adadad;
    }
}

.popup-div .pop_close {
    position: absolute;
    top: -16px;
    right: -18px;
    cursor: pointer;
    background-color: #dedede;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    color: #000;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    border: none;
}

.modal-open .modal {
    background-color: rgba(0,0,0,.7);
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.fade.in {
    opacity: 1;
}

.popup-div .pop-inner {
    float: left;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    background: #191919;
}


.modal-dialog .modal-content {
    background-color: transparent !important;
}

.popup-div {
    input {
        padding: 0 5px;
        border: 2px solid #ddd;
        color: #000;
    }

    .credit {
        float: left;
        margin-right: 25px;
        width: 45%;
    }

    .pop-form-row label {
        float: left;
        width: 100%;
    }

    .readonly {
        .pop-form-row {
            width: 100%;
        }
    }

    .pop-form-row {
        float: left;
        width: 50%;
        margin: 10px 0;
        padding-right:5px;
    }

    .credit-row {
        width: 100%;
    }

    .pop-form-row .paswd {
        width: 100%;
        height: 35px;
    }

    .credit .c-value {
        display: block;
        line-height: 18px;
    }

    .credit input {
        width: 170px;
        float: left;
        margin-right: 5px;
    }

    input {
        height: 35px;
    }

    label {
        font-weight: normal;
    }

    .popup-table tr .td-limit {
        padding: 8px;
        min-width: 100px;
    }

    .popup-table tr th {
        padding: 8px;
    }

    .popup-table {
        width: auto;
        margin-right: 60px;
    }

    textarea {
        width: 100%;
        border: 2px solid #ddd;
        min-width: 270px;
        min-height: 100px;
        color: #000;
        padding: 5px;
    }

    .pop-btn button {
        padding: 8px 16px;
        text-transform: capitalize;

        &:focus {
            outline: none !important;
            border:1px dotted;
        }
    }

    .pop-btn .cancle-popup {
        color: #18c432;
        background-color: transparent;
        border: 1px dotted transparent;

        &:focus {
            border: 1px dotted #18c432;
        }
    }

    .pop-btn .save-popup {
        background-color: #0f8422;
        color: #FFF;
        border-top: none;
        border-left: none;
        border-bottom: 2px solid #0a5616;
        border-right: 2px solid #0a5616;
    }

    .pop-option label {
        text-transform: uppercase;
        font-weight: 400;
        vertical-align: middle;
        position: relative;
    }
}

.option-detail-square {
    padding: 0 10px 0 22px;
    font-weight: 400;
    position: relative;
}

.option-detail-square .checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: transparent;
    border-radius: 0;
    border: 2px solid #fff;

    &.disable {
        border: 2px solid #eee;
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.option-detail-square input:checked ~ .checkmark:after {
    display: block;
}

.option-detail-square .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 3px;
    top: -1px;
    width: 7px;
    height: 10px;
    border-radius: 0;
    border: solid #1d7f1e;
    border-width: 0 3px 2px 0;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    background-color: transparent;
}

.option-detail-circle {
    padding: 0 10px 0 22px;
    font-weight: normal;
    position: relative;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        width: 100%;
    }

    .checkmark {
        position: absolute;
        top: 2px;
        left: 0;
        height: 16px;
        width: 16px;
        background-color: transparent;
        border-radius: 50%;
        border: 2px solid #fff;

        &.disable {
            border: 2px solid #eee;
            opacity: 0.5;
        }
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    input:checked ~ .checkmark:after {
        display: block;
    }

    .checkmark:after {
        top: 2px;
        left: 2px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: $green-color;
    }
}
