<div class="row">
    <div class="col-sm-12">
        <div class="input-group">
            <span class="input-group-addon">Bonus %</span>
            <input type="text" minlength="1" maxlength="20" kt-number-only
                   allow-decimal="true"
                   autocomplete="off" placeholder="Bonus"
                   ng-model="data.bonus" class="form-control">
        </div>
    </div>
    <div class="col-sm-12">
        <div class="input-group">
            <span class="input-group-addon">Locking Days</span>
            <input type="text" minlength="1" maxlength="20" kt-number-only
                   autocomplete="off" placeholder="Locking Days"
                   ng-model="data.lockingDays" class="form-control">
        </div>
    </div>
    <div class="col-sm-12">
        <div class="input-group">
            <span class="input-group-addon">Min Deposit</span>
            <input type="text" minlength="1" maxlength="20" kt-number-only
                   allow-decimal="true"
                   autocomplete="off" placeholder="Min. Withdrawal Amount"
                   ng-model="data.minDeposit" class="form-control">
        </div>
    </div>
    <div class="col-sm-12">
        <div class="input-group">
            <span class="input-group-addon">Min Withdrawal</span>
            <input type="text" minlength="1" maxlength="20" kt-number-only
                   allow-decimal="true"
                   autocomplete="off" placeholder="Min. Withdrawal Amount"
                   ng-model="data.minWithdrawalAmount" class="form-control">
        </div>
    </div>
    <div class="col-sm-12">
        <div class="input-group">
            <span class="input-group-addon">Min Balance</span>
            <input type="text" minlength="1" maxlength="20" kt-number-only
                   allow-decimal="true"
                   autocomplete="off" placeholder="Min. Balance Required"
                   ng-model="data.minimumBalanceRequired" class="form-control">
        </div>
    </div>
</div>
