/// <reference path="../variables/__variables.scss" />


html {
    font-size: 12px;

    font: {
        family: $font-stack;
    }
}

body {
    font: {
        family: $font-stack;
    }

   // height: $height;
 //   max-height: $width;
    //background-color: $body-color !important;
}