<div class="sidebar-tab  position-special">
    <div class="vertical-tab">
        <div class="path">
            <ul>
                <li class="path-last">
                    <a ui-sref="admin.commentary">Sport</a>
                </li>
            </ul>
        </div>
        <nav class="inner-nav">
            <div ng-scrollbars class="sidenav">
                <ul class="left-menulist" ng-if="breadcrumb" style="float:left; width:100%;">
                    <li ng-repeat="b in breadcrumb track by $index">
                        <a ng-click="ctrl.breadcrumbClick(b);">{{b.name}}</a>
                    </li>
                </ul>
                <ul>
                    <li ng-repeat="sport in sportTreeList">
                        <a class="active"  ng-click="ctrl.treeClick(sport.sportNodeType,sport.id,sport.name)">
                            {{sport.name}}
                            <i class="fa fa-chevron-right go-icon"></i>
                        </a>

                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>