<div class="loader-table" ng-show="generalLoader.active()">
    <div class="loader-container" ng-include="loadderTemplate"></div>
</div>
<div class="mobile-view fair-promo" ng-init="openbetsCollapse=true;settingCollapse=true">
    <header>
        <div class="mobile_header">
            <div class="m-header">
                <div class="m-header-center">
                    <img class="m-logo" ng-if="currentWebApp!='scorpionbook'" ng-src="{{webImagePath}}logo.png" />
                    <img class="m-logo" ng-if="currentWebApp=='scorpionbook'" ng-src="{{webImagePath}}m-logo.png" />
                </div>
                <div class="main-wallet">
                    <a class="bf-login-btn" ng-click="ctrl.openModal('login-modal')">
                        <i class="fa fa-user"></i>
                        <span class="txt">
                            Login<span ng-show="isRegisterEnabled ">/Register</span>
                        </span>
                    </a>
                    <a class="bf-login-btn blink-color" ng-click="ctrl.downloadAPK()" ng-if="hasAPK">
                        <i class="fa fa-android"></i>
                        <span class="txt">App</span>
                    </a>
                </div>
            </div>
        </div>

    </header>

    <div ui-view="mobile-center"></div>
    <div class="whatsApp-float" ng-if="supportDetail.whatsapp">
        <a href="{{supportDetail.whatsapp}}" target="_blank" title="Get instant support over whatsapp">
            <img class="whatsApp_img" ng-src="/public/images/{{currentWebApp}}/whatsapp.svg" alt="">
            <div class="circleIconPanel"></div>
        </a>
    </div>
    <nav class="mobile_nav">
        <ul>
            <li ng-class="{'active':ctrl.isActive('/mobile/m-promo')}"><a ui-sref="mobile.promo"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
            <li><a ng-click="ctrl.openModal('login-modal')"><i class="fa fa-clock-o" aria-hidden="true"></i>In-Play</a></li>
            <li><a><i class="fa fa-magic" aria-hidden="true" ng-click="ctrl.openModal('login-modal')"></i>My</a></li>
            <li class="sport"><a ng-click="ctrl.openModal('login-modal')"><i class="fa fa-trophy" aria-hidden="true"></i>Menu</a></li>
            <li ng-show="hasCasino">
                <a ng-click="ctrl.openModal('login-modal')">
                    <i class="bottom-casino"></i>Casino
                </a>
            </li>
            <li ng-show="!hasCasino"><a ng-click="openbetsCollapse=false"><i class="fa fa-thumb-tack" aria-hidden="true"></i>Bets</a></li>
            <li><a ng-click="ctrl.openModal('login-modal')"><i class="fa fa-user" aria-hidden="true"></i> Account</a></li>
        </ul>
    </nav>
</div>

<div class="modal-overlay" id="login-modal" ng-click="ctrl.closeAllMOdal(true,$event)">
    <div class="overlay ">
        <div class="dialog-container">
            <div class="dialog" style="width: auto;">
                <div class="dialog-header">
                    <span class="close-dialog" ng-click="ctrl.closeAllMOdal(true,$event)"></span>
                </div>
                <section class="dialog-content no-close">
                    <form ng-submit="ctrl.login()" name="loginform" class="left ng-pristine ng-valid">
                        <div class="logo-div">
                            <a class="logo-img"></a>
                        </div>
                        <div class="pop-title">
                            <div class="title">Welcome</div>
                            <div>Login in to your account to continue</div>
                        </div>
                        <kt-messages data-messages="loginMessages" style="width: 100%!important;float: left;left: 0;padding:5px 0px"></kt-messages>
                        <label class="label-text" >
                            {{loginMethod==1 ? 'Mobile' : 'Username'}}:
                            <span class="float-r" style="display: flex; flex-direction: row; align-items: center;" ng-show="isRegisterEnabled">
                                <input type="radio" class="ch" value="1" style="margin-top: 0px; margin-right: 3px!important" name="loginmethod" id="chek-1" ng-model="loginMethod">Mobile
                                <input type="radio" class="ch" value="2" style="margin-top: 0px; margin-left: 5px; margin-right: 3px!important" name="loginmethod" ng-model="loginMethod">ID
                            </span>
                        </label>

                        <div class="two_input" ng-if="loginMethod==1">
                            <div class="first_box">
                                <ui-select ng-model="loginModel.selectedCountry" theme="bootstrap"
                                           on-select="ctrl.countrySelected()"
                                           close-on-select="true">
                                    <ui-select-match class="ui-select-match">
                                        {{$select.selected.code}} ({{$select.selected.dialCode}})
                                    </ui-select-match>
                                    <ui-select-choices repeat="u in countryList | filter: $select.search"
                                                       class="ui-select-choices"
                                                       refresh="$parent.ctrl.searchCountry($select.search)">
                                        <span class="align-l" ng-bind-html="u.code | highlight: $select.search"></span>
                                        (<span class="align-l" ng-bind-html="u.dialCode | highlight: $select.search"></span>)
                                        &nbsp;
                                        <span class="align-l" ng-bind-html="u.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <input class="login-input" maxlength="16" minlength="5" placeholder="Mobile *" required
                                   type="text" ng-model="loginModel.username">
                        </div>

                        <input class="login-input" type="text" ng-if="loginMethod==2" placeholder="Username *"
                               autofocus required ng-model="loginModel.username" maxlength="256">

                        <label class="label-text">Password:</label>
                        <input class="login-input" type="password" placeholder="Password *" ng-model="loginModel.password" required title="Enter your password"
                               ng-maxlength="16" ng-minlength="6">

                        <div ng-if="captchaMode==2" class="captcha-div">
                            <label class="label-text">Captcha:</label>
                            <input class="login-input" type="text"
                                   required ng-model="loginModel.captcha" title="Enter captcha" placeholder="Captcha *" maxlength="10">
                            <img class="captcha-img" ng-src="data:image/png;base64,{{captcha.captcha}}" />
                            <i class="fa fa-refresh" aria-hidden="true" ng-click="ctrl.getCaptcha(false)"></i>
                        </div>

                        <div class="login-btn-div">
                            <input class="login-button" type="submit" value="Log In" ng-disabled="loginform.$invalid">
                            <img class="grid-spinner p-abs" ng-show="showLoading" ng-src="{{spinnerImg}}" />
                        </div>
                        <div style="margin-bottom:5px;text-align:right" ng-show="isRegisterEnabled ">
                            <span class="forgot-label">Forgot your</span>
                            <a class="forgot-link" ng-click="ctrl.openModal('forget-modal')">password</a> ?
                        </div>
                        <div class="login-btn-div" ng-if="supportDetail.demoUsername">
                            <input class="login-button" type="button" value="Demo Login" ng-click="ctrl.startDemoLogin()">
                            <img class="grid-spinner p-abs" ng-show="showDemoLoading" ng-src="{{spinnerImg}}" />
                        </div>
                    </form>
                    <div class="right" ng-if="currentWebApp!='sportsbar11' ">
                        <span class="first-text">
                            This game may be habit-forming or financially risky.
                        </span>
                        <span class="second-text">
                            Play responsibly, This is applicable for people above 18 only.
                        </span>
                        <span class="second-text">Opening an account is quick and easy to do.</span>
                        <a class="join-now-button" ng-if="isRegisterEnabled" ng-click="ctrl.openModal('verify-modal')">Register Now</a>
                    </div>
                   
                    <div class="right" ng-if="currentWebApp=='sportsbar11'">

                        <span class="title">New to {{displayName}}?</span>
                        <span class="first-text">
                            {{displayName}} is indian's number one and among world's leading online gambling companies with most comprehensive In-Play services. India's No.1 Casino Game Teenpatti with Live Streaming of More than 15 different Games Offered 24/7.
                        </span>
                        <span class="second-text">Opening an account is quick and easy to do.</span>
                        <a class="join-now-button" ng-if="isRegisterEnabled" ng-click="ctrl.openModal('verify-modal')">Register Now</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<div class="modal-overlay" id="demo-login-modal" ng-click="ctrl.closeAllMOdal(true,$event)">
    <div class="overlay ">
        <div class="dialog-container">
            <div class="dialog" style="width: auto;">
                <div class="dialog-header">
                    <span class="close-dialog" ng-click="ctrl.closeAllMOdal(true,$event)"></span>
                </div>
                <section class="dialog-content no-close">
                    <form ng-submit="ctrl.demoLogin()" name="demologinform" class="left ng-pristine ng-valid">
                        <div class="logo-div">
                            <a class="logo-img"></a>
                        </div>
                        <div class="pop-title">
                            <div class="title">Welcome</div>
                            <div>Enter captcha to login with demo account</div>
                        </div>
                        <kt-messages data-messages="loginMessages" style="width: 100%!important;float: left;left: 0;padding:5px 0px"></kt-messages>

                        <div class="captcha-div">
                            <label class="label-text">Captcha:</label>
                            <input class="login-input" type="text"
                                   required ng-model="demoLoginModel.captcha" title="Enter captcha" placeholder="Captcha *" maxlength="10">
                            <img class="captcha-img" ng-src="data:image/png;base64,{{captcha.captcha}}" />
                            <i class="fa fa-refresh" aria-hidden="true" ng-click="ctrl.getCaptcha(false)"></i>
                        </div>

                        <div class="login-btn-div">
                            <input class="login-button" type="submit" value="Log In" ng-disabled="demologinform.$invalid">
                            <img class="grid-spinner p-abs" ng-show="showDemoLoading" ng-src="{{spinnerImg}}" />
                        </div>
                    </form>

                    <div class="right" ng-if="currentWebApp!='sportsbar11'">
                        <span class="first-text">
                            This game may be habit-forming or financially risky.
                        </span>
                        <span class="second-text">
                            Play responsibly, This is applicable for people above 18 only.
                        </span>
                        <a class="join-now-button" ng-if="isRegisterEnabled" ng-click="ctrl.openModal('verify-modal')">Register Now</a>
                    </div>
                    <div class="right" ng-if="currentWebApp=='sportsbar11'">

                        <span class="title">New to {{displayName}}?</span>
                        <span class="first-text">
                            {{displayName}} is indian's number one and among world's leading online gambling companies with most comprehensive In-Play services. India's No.1 Casino Game Teenpatti with Live Streaming of More than 15 different Games Offered 24/7.
                        </span>
                        <span class="second-text">Opening an account is quick and easy to do.</span>
                        <a class="join-now-button" ng-if="isRegisterEnabled" ng-click="ctrl.openModal('verify-modal')">Register Now</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div class="modal-overlay" id="verify-modal" ng-click="ctrl.closeAllMOdal(true,$event)">
    <div class="overlay ">
        <div class="dialog-container">
            <div class="dialog" style="width: auto;">
                <div class="dialog-header">
                    <span class="close-dialog" ng-click="ctrl.closeAllMOdal(true,$event)"></span>
                </div>
                <section class="dialog-content no-close">
                    <form name="verifyform" ng-submit="ctrl.confirmOpt()" class="left">
                        <div class="logo-div">
                            <a class="logo-img"></a>
                        </div>
                        <div class="pop-title">
                            <div class="title">Register</div>
                            <div>Step-1, Verify your mobile to continue</div>
                        </div>
                        <kt-messages data-messages="verifyMessages" style="width: 100%!important;float: left;left: 0;padding:5px 0px"></kt-messages>

                        <label class="label-text">Mobile:</label>
                        <div class="two_input">
                            <div class="first_box">
                                <ui-select ng-model="verifyModel.selectedCountry" theme="bootstrap"
                                           on-select="ctrl.countryChanged(verifyModel)"
                                           close-on-select="true">
                                    <ui-select-match class="ui-select-match">
                                        {{$select.selected.code}} ({{$select.selected.dialCode}})
                                    </ui-select-match>
                                    <ui-select-choices repeat="u in countryList | filter: $select.search"
                                                       class="ui-select-choices"
                                                       refresh="$parent.ctrl.searchCountry($select.search)">
                                        <span class="align-l" ng-bind-html="u.code | highlight: $select.search"></span>
                                        (<span class="align-l" ng-bind-html="u.dialCode | highlight: $select.search"></span>)
                                        &nbsp;
                                        <span class="align-l" ng-bind-html="u.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <input class="login-input" maxlength="16" minlength="5" placeholder="Mobile *" required
                                   type="text" ng-model="verifyModel.mobile">
                        </div>
                        <div ng-show="verifyModel.selectedCountry.supportedChannel!=2">
                            <input type="radio" class="ch" value="1" name="otpby" id="chek-1" ng-model="verifyModel.otpvia">Receive OTP via SMS
                        </div>
                        <div ng-show="verifyModel.selectedCountry.supportedChannel!=1">
                            <input type="radio" class="ch" value="2" name="otpby" ng-model="verifyModel.otpvia">Receive OTP via Whatsapp
                        </div>
                        <div class="otp-timer">
                            <span style="margin: 5px;font-weight: bold;vertical-align:sub" ng-hide="resendTimer<=0">
                                {{resendTimer>0?('Resend in '+ctrl.formatTime(resendTimer)):''}}
                            </span>
                            <button type="button" ng-click="otpEverClicked=true;ctrl.requestNewOtp()" ng-show="resendTimer<=0"
                                    ng-disabled="!verifyModel.mobile">
                                Send OTP
                            </button>
                        </div>
                        <label class="label-text mr-top-10">OTP:</label>
                        <input class="login-input" type="text" ng-model="verifyModel.otp" required title="Enter otp"
                               ng-maxlength="6" ng-minlength="6">
                        <div class="login-btn-div">
                            <input class="login-button" type="submit" value="Verify" ng-disabled="verifyform.$invalid">
                            <img class="grid-spinner p-abs" ng-show="showLoading" ng-src="{{spinnerImg}}" />
                        </div>
                        <div style="margin-bottom: 5px; text-align: right">
                            <span class="forgot-label">Forgot your</span>
                            <a class="forgot-link" ng-click="ctrl.openModal('forget-modal')">password</a> ?
                        </div>
                    </form>
                    <div class="right" ng-if="currentWebApp!='sportsbar11'">
                        <span class="first-text">
                            This game may be habit-forming or financially risky.
                        </span>
                        <span class="second-text">
                            Play responsibly, This is applicable for people above 18 only.
                        </span>
                        <span class="second-text">Already have an account?</span>
                        <a class="join-now-button" ng-click="ctrl.openModal('login-modal')">Login Now</a>
                    </div>
                    <div class="right" ng-if="currentWebApp=='sportsbar11'">

                        <span class="title">New to {{displayName}}?</span>
                        <span class="first-text">
                            {{displayName}} is indian's number one and among world's leading online gambling companies with most comprehensive In-Play services. India's No.1 Casino Game Teenpatti with Live Streaming of More than 15 different Games Offered 24/7.
                        </span>
                        <span class="second-text">Already have an account?</span>
                        <a class="join-now-button" ng-click="ctrl.openModal('login-modal')">Login Now</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<div class="modal-overlay" id="changepassword-modal" ng-click="ctrl.closeAllMOdal(true,$event)">
    <div class="overlay ">
        <div class="dialog-container">
            <div class="dialog" style="width: auto;">
                <div class="dialog-header">
                    <span class="close-dialog" ng-click="ctrl.closeAllMOdal(true,$event)"></span>
                </div>
                <section class="dialog-content no-close">
                    <form ng-submit="ctrl.changePassword()" name="changepwform" class="left ng-pristine ng-valid">
                        <div class="logo-div">
                            <a class="logo-img"></a>
                        </div>
                        <div class="pop-title">
                            <div class="title">Reset Password</div>
                            <div>Change your password</div>
                        </div>
                        <kt-messages data-messages="changePasswordMessages" style="width: 100%!important;float: left;left: 0;padding:5px 0px"></kt-messages>
                        <label class="label-text">Current Password:</label>
                        <input class="login-input" type="password"
                               placeholder="Old Password *"
                               ng-maxlength=16
                               ng-minlength="1"
                               required ng-model="changePasswordModel.oldpassword">

                        <label class="label-text">New Password:</label>
                        <input class="login-input" type="password" placeholder="New Password *"
                               ng-maxlength=16
                               ng-minlength="1"
                               required ng-model="changePasswordModel.newpassword">

                        <label class="label-text">Confirm Password:</label>
                        <input class="login-input" type="password" placeholder="Confirm Password *"
                               ng-maxlength=16
                               ng-minlength="1"
                               required ng-model="changePasswordModel.confirmpassword">

                        <div class="login-btn-div">
                            <input class="login-button" type="submit" value="Submit" ng-disabled="changepwform.$invalid">
                            <img class="grid-spinner p-abs" ng-show="showLoading" ng-src="{{spinnerImg}}" />
                        </div>
                        <div style="margin-bottom:5px;">
                            <span class="forgot-label">Forgot your</span>
                            <a class="forgot-link">password</a> ?
                        </div>
                    </form>
                    <div class="right" ng-if="currentWebApp!='sportsbar11'">
                        <span class="first-text">
                            This game may be habit-forming or financially risky.
                        </span>
                        <span class="second-text">
                            Play responsibly, This is applicable for people above 18 only.
                        </span>
                        <span class="second-text">Opening an account is quick and easy to do.</span>
                        <a class="join-now-button" ng-if="isRegisterEnabled" ng-click="ctrl.openModal('verify-modal')">Register Now</a>
                    </div>
                    <div class="right" ng-if="currentWebApp=='sportsbar11'">

                        <span class="title">New to {{displayName}}?</span>
                        <span class="first-text">
                            {{displayName}} is indian's number one and among world's leading online gambling companies with most comprehensive In-Play services. India's No.1 Casino Game Teenpatti with Live Streaming of More than 15 different Games Offered 24/7.
                        </span>
                        <span class="second-text">Opening an account is quick and easy to do.</span>
                        <a class="join-now-button" ng-if="isRegisterEnabled" ng-click="ctrl.openModal('verify-modal')">Register Now</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<div class="modal-overlay" id="register-modal" ng-click="ctrl.closeAllMOdal(true,$event)">
    <div class="overlay ">
        <div class="dialog-container">
            <div class="dialog" style="width: auto;">
                <div class="dialog-header">
                    <span class="close-dialog" ng-click="ctrl.closeAllMOdal(true,$event)"></span>
                </div>
                <section class="dialog-content no-close">
                    <form name="registerform" ng-submit="ctrl.register()" class="left ng-pristine ng-valid">
                        <div class="logo-div">
                            <a class="logo-img"></a>
                        </div>
                        <div class="pop-title">
                            <div class="title">Register</div>
                            <div>Step-2, Please fill in below to open an account</div>
                        </div>
                        <kt-messages data-messages="registerMessages" style="width: 100%!important;float: left;left: 0;padding:5px 0px"></kt-messages>

                        <label class="label-text">Mobile:</label>
                        <input class="login-input" type="text" maxlength="15" placeholder="Mobile *" name="mobile" autocomplete="off" disabled
                               required value="{{registerModel.mobile}}">

                        <label class="label-text">Reference code(optional):</label>
                        <input class="login-input" maxlength="100" placeholder="Reference code" ng-model="registerModel.referralCode">

                        <label class="label-text">
                            Bonus code (optional)
                            <a class="float-r" ng-click="ctrl.selectOfferFromModal(registerModel);">
                                <u>Select Offer</u>
                            </a>
                        </label>
                        <div class="offer-section">
                            <input class="login-input" maxlength="100" placeholder="Bonus code"
                                   ng-keyup="ctrl.validateOffer(registerModel)"
                                   ng-model="registerModel.offer.bonusCode">

                            <i class="fa fa-spinner fa-pulse fa-3x fa-fw" ng-show="registerModel.offerLoader"></i>
                            <i class="fa fa-remove" ng-click="ctrl.removeOffer(registerModel);"
                               ng-show="registerModel.offer.bonusCode.length>0  && registerModel.offerLoader==false"></i>

                        </div>
                        <div class="row" style="margin:2px 15px 2px -15px;" ng-if="registerModel.offerMessages.length>0">
                            <kt-messages data-messages="registerModel.offerMessages"></kt-messages>
                        </div>

                        <label class="label-text">Username:</label>
                        <input class="login-input" maxlength="100" placeholder="Username *" required ng-model="registerModel.username">

                        <label class="label-text">Password:</label>
                        <input class="login-input" type="password" ng-model="registerModel.password" required placeholder="Password *"
                               ng-maxlength="16" ng-minlength="6">

                        <label class="label-text">Confirm Password:</label>
                        <input class="login-input" type="password" ng-model="registerModel.confirmpassword" required placeholder="Confirm Password *"
                               ng-maxlength="16" ng-minlength="6">

                        <div ng-if="captchaMode==2" class="captcha-div">
                            <label class="label-text">Captcha:</label>
                            <input class="login-input" type="text"
                                   required ng-model="registerModel.captcha" title="Captcha" maxlength="10">
                            <img class="captcha-img" ng-src="data:image/png;base64,{{captcha.captcha}}" />
                            <i class="fa fa-refresh" aria-hidden="true" ng-click="ctrl.getCaptcha(false)"></i>
                        </div>

                        <div class="small-text">
                            <i>
                                <i class="fa fa-check-square-o"></i>
                                By continuing you will receive a one-time
                                <br />verification code to your phone number by SMS.
                                <br />Message and data rates may apply.
                            </i>
                        </div>

                        <div class="login-btn-div">
                            <input class="login-button" type="submit" value="Next" ng-disabled="registerform.$invalid || (registerModel.offer && registerModel.offer.isValid==false)">
                            <img class="grid-spinner p-abs" ng-show="showLoading" ng-src="{{spinnerImg}}" />
                        </div>
                        <div style="margin-bottom:5px;float:left">
                            <span class="forgot-label">Forgot your</span>
                            <a class="forgot-link" ng-click="ctrl.openModal('forget-modal')">password</a> ?
                        </div>
                        <div style="margin-bottom:5px;float:left">
                            <span class="forgot-label">Already have an account?</span>
                            <a class="forgot-link" ng-click="ctrl.openModal('login-modal')">Login Here</a>
                        </div>
                    </form>

                </section>
            </div>
        </div>
    </div>
</div>

<div class="modal-overlay" id="forget-modal" ng-click="ctrl.closeAllMOdal(true,$event)">
    <div class="overlay ">
        <div class="dialog-container">
            <div class="dialog" style="width: auto;">
                <div class="dialog-header">
                    <span class="close-dialog" ng-click="ctrl.closeAllMOdal(true,$event)"></span>
                </div>
                <section class="dialog-content no-close">
                    <form name="forgetform" ng-submit="ctrl.forgotPassword()" class="left">
                        <div class="logo-div">
                            <a class="logo-img"></a>
                        </div>
                        <div class="pop-title">
                            <div class="title">Forget Password</div>
                            <div>Reset your password</div>
                        </div>

                        <kt-messages data-messages="forgotMessages" style="width: 100%!important;float: left;left: 0;padding:5px 0px"></kt-messages>

                        <label class="label-text">Mobile:</label>
                        <div class="two_input">
                            <div class="first_box">
                                <ui-select ng-model="forgotModel.selectedCountry" theme="bootstrap"
                                           on-select="ctrl.countryChanged(forgotModel)"
                                           close-on-select="true">
                                    <ui-select-match class="ui-select-match">
                                        {{$select.selected.code}} ({{$select.selected.dialCode}})
                                    </ui-select-match>
                                    <ui-select-choices repeat="u in countryList | filter: $select.search"
                                                       class="ui-select-choices"
                                                       refresh="$parent.ctrl.searchCountry($select.search)">
                                        <span class="align-l" ng-bind-html="u.code | highlight: $select.search"></span>
                                        (<span class="align-l" ng-bind-html="u.dialCode | highlight: $select.search"></span>)
                                        &nbsp;
                                        <span class="align-l" ng-bind-html="u.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <input class="login-input" maxlength="16" minlength="5" placeholder="Mobile *" required
                                   type="text" ng-model="forgotModel.mobile">
                        </div>
                        <div ng-show="forgotModel.selectedCountry.supportedChannel!=2">
                            <input type="radio" class="ch" value="1" name="forgetotpby" id="chek-1" ng-model="forgotModel.otpvia">Receive OTP via SMS
                        </div>
                        <div ng-show="forgotModel.selectedCountry.supportedChannel!=1">
                            <input type="radio" class="ch" value="2" name="forgetotpby" ng-model="forgotModel.otpvia">Receive OTP via Whatsapp
                        </div>
                        <div class="otp-timer">
                            <span style="margin: 5px;font-weight: bold;vertical-align:sub">
                                {{resendTimer>0?('Resend in '+ctrl.formatTime(resendTimer)):''}}
                            </span>
                            <button type="button" ng-click="otpEverClicked=true;ctrl.requestOtpForForget()" ng-show="resendTimer<=0 && forgotModel.mobile">
                                Send OTP
                            </button>
                        </div>
                        <label class="label-text">OTP:</label>
                        <input class="login-input" type="text" ng-model="forgotModel.otp" required title="Enter otp" placeholder="Otp *"
                               ng-maxlength="6" ng-minlength="6">

                        <label class="label-text">New Password:</label>
                        <input class="login-input" type="password"
                               ng-maxlength=16
                               ng-minlength="1"
                               ng-disabled="!forgotModel.otp"
                               ng-model="forgotModel.newpassword" required title="Enter otp" placeholder="New Password *">

                        <label class="label-text">Confirm Password:</label>
                        <input class="login-input" type="password"
                               ng-maxlength=16
                               ng-minlength="1"
                               ng-disabled="!forgotModel.otp"
                               ng-model="forgotModel.confirmpassword" required title="Enter otp" placeholder="Confirm Password *">

                        <div class="login-btn-div">
                            <input class="login-button" type="submit" value="Reset Password" ng-disabled="forgetform.$invalid">
                            <img class="grid-spinner p-abs" ng-show="showLoading" ng-src="{{spinnerImg}}" />
                        </div>
                        <div style="margin-bottom: 5px; text-align: right;">
                            <span class="forgot-label">Already have an account?</span>
                            <a class="forgot-link" ng-click="ctrl.openModal('login-modal')">Login Here</a> ?
                        </div>
                    </form>
                    <div class="right" ng-if="currentWebApp!='sportsbar11'">

                        <span class="first-text">
                            This game may be habit-forming or financially risky.
                        </span>
                        <span class="second-text">
                            Play responsibly, This is applicable for people above 18 only.
                        </span>
                        <span class="second-text">Already have an account?</span>
                        <a class="join-now-button" ng-click="ctrl.openModal('login-modal')">Login Here</a>
                    </div>
                    <div class="right" ng-if="currentWebApp=='sportsbar11'">

                        <span class="title">New to {{displayName}}?</span>
                        <span class="first-text">
                            {{displayName}} is indian's number one and among world's leading online gambling companies with most comprehensive In-Play services. India's No.1 Casino Game Teenpatti with Live Streaming of More than 15 different Games Offered 24/7.
                        </span>
                        <span class="second-text">Already have an account?</span>
                        <a class="join-now-button" ng-click="ctrl.openModal('login-modal')">Login Here</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div id="captchaholder"></div>
