/// <reference path="../../utlis/__utils.scss" />
/// <reference path="../variables/__variables.scss" />
/// <reference path="../base/__base.scss" />
$font-stack: 'Montserrat', sans-serif;

html, body {
    //background: url('/public/images/lotuspm/main-background.jpg') repeat center center;
    background-size: 20%;
    height: 100% !important;
    width: 100%;
    overflow-y: overlay; //auto;
    color: #0f2327 !important;
    font-family: $font-stack !important;
}

.cbg {
    background: url('/public/images/lotusbook2477/main-background.jpg') repeat center center;
    background-size: 20%;
}

.mbg {
    background: #3a0c3f;
    font-family: Lato, Avenir, Verdana, Nunito !important;
    //overflow-y: scroll;
    /*background: url('/public/images/lotuspm/main-background.jpg') repeat center center;
    background-size: 20%;*/
}


div.master_header .master-logo .logo-img {
    width: 100% !important;
}

.admin-header .logo-img {
    height: 54px !important;
}

.bm-header .logo-img {
    width: 60.5% !important;
}

.header {
    .logo-img {
        height: 98px;
        // margin-top: -33px !important;
        //margin-bottom: -33px !important;
        background: url(/public/images/lotusbook2477/logo.png) no-repeat top center;
    }

    .mobile-logo {
        .logo-img {
            width: 100% !important;
        }
    }

    background-color: #1e89a7;
}

.section-logo {
    background: url(/public/images/lotusbook2477/logo.png)no-repeat left center;
    height: 70px;
}


.captcha-div .code {
    background-color: white;

    .fa-refresh {
        margin-right: 5px;
    }
}

.login-top {
    .logo-img {
        background: url(/public/images/lotusbook2477/logo.png) no-repeat center center;
    }
}

.login-top {
    .logo-img {
        height: 75px;
        width: 100%;
        display: block;
        margin-top: -7px;
        margin-bottom: -27px;
        background-size: contain;
    }
}

.bookmark_table {
    .matches {
        .green-light {
            color: white;
        }
    }
}


.net-exposure .in-play {
    color: black !important;
}

.mobile-view {
    .login-page {
        background: url('/public/images/lotusbook2477/login-bg.jpg') repeat center 50%;
        background-size: auto;

        .logo-img {
            width: 100% !important;
            height: 50px !important;
            margin-bottom: 0px;
            //margin-bottom: -36px !important;
        }
    }
}

.live-rule-img {
    background-image: url(/public/images/lotusbook2477/logo.png);
}

$theme-color: #1e6b80;
$theme-color-font: #fff;

$theme-dark-color: #000000;
$theme-light-dark-color: #404040;
$theme-danger: #fe0000;
$theme-success: #508D0E;

$xgame-header: #303030;
$white-color: #ffffff;
$accordian-bg: #fbfbfb;
$light-white: darken(desaturate($white-color, 10%), 6.5%); /* #eeeeee */
$medium-white: darken(desaturate($white-color, 10%), 4.5%); /* #f2f2f2 */
$light-medium-white: #f5f5f5;
$light-grey: darken(desaturate($white-color, 10%), 10%); /* #e6e6e6  */
$black-color: #000000;
$light-gray: #e2e2e2;
$green: #1d7f1e;
$light-green: #26a928;

$one-click: #09262b;
$one-click-color: #fff;

$red: #fe0000;
$yellow: #e4c41e;
$gray: #bbbbbb;
$blue: #59b6ff;
$pink: #fb7e9a;
$purple: #389eba;
$light-purple: #228997;
$light-pink: $black-color;
$dark-blue: #2C97E6;
$dark-pink: #f89ab0; //#ff86a2;
$white-smoke: #efefef;
$icon-color: #77570c;
$orange: #f53b4a;
$back-shadow: #2e82c0;
$lay-shadow: #ff86a2;
$grayish: #474747;
$dark-grayish: #1e89a7;
$light-medium-grey: #999999;
$gray-black: #666666;


$login-btn-color: #fff;
$login-btn: #277d94;
$login-btn-hover: #075367;
$login-border: #075367;
$login-shadow: #040b0c;

$marquee-bg: #389eba;
$header-bg: #1e6b80;
$timezone: #ffffff; //#ffecc6;
$border-color: #DDDDDD;
$history-btn: #9f9f9f;
$heading: #0f2327;
$back1: #a7d8fd;
$back-text: #3b8dca;
$back2: #e3f3fe;
$lay1: #f9c9d4;
$lay-text: #f5708f;
$lay2: #fdeef2;
$bet-title-bg: #1e6b80;
$bet-title-hover: #8126a1;
$cricket: #8c1000;
$soccer: #111111;
$tennis: #75a93c;
$teenpatti: #69a57c;
$horse-race: #854d46;
$specilbets: #34e9e9;
$greyhound-race: #215867;
$virtual-game: #1b485b;

$button: #00a950;
$button-border: #007638;
$button-hover: #00c35c;
$button-shadow: #005d2c;

$bet-button: #228997;
$bet-button-border: #0a5d77;
$bet-button-hover: #208daf;
$bet-button-shadow: #2e0e3a;


$back-hover: #f2f9ff;
$lay-hover: #fef7f9;
$swap-color: $white-color;

$table-headingbg: #dddddd;

$active-background: #dfe8d4;
$active-border: #a7d07c;
$suspend-color: $red;
$suspend-background: lighten($suspend-color, 43%);
$suspend-border: lighten($suspend-color, 33%);


$dark-gray-black: #151515;
$scorebox-bg: $theme-color;
$soccer-progress: $green;

$inline-btn-cr1: #0f5963;
$inline-btn-cr2: #228997;

$account-overview: #389eba;

$master-menu: rgba(255, 255, 255, 0.15);
$master-submenu: rgba(0, 0, 0, 0);
$master-submenu-hover: rgba(255, 255, 255, 0.2);
$master-menu-hover: rgba(255, 255, 255, 0.1);
$master-grid-header-bg: #37133f; // #228997;
$modal-content: rbga(0,0,0,0);
$mybook-header: linear-gradient(to bottom, #44227f 84%, rgba(68, 34, 127, 0.56) 100%); //#228997;
$mybook-m-name: #5059a7; //#18636d;
$mybook-icon: #a3f5ff;
$mybook-dashboard: #0f545d;
$mybook-list: #03363c;
$mybook-sitemap: #2f3462;
$mybook-stake: #deeaf7;
$mybook-runner: #e6f2ff;
$mybook-green: $light-green;
$mybook-fixedodds: $white-color;
$mybook-odds-bg: #3c2a3e;
$mybook-odds-border: #947b97;
$mybook-position-row: #5e3c61;
$parent-box: #373d73;
$parent-box-2: #33375b;


$score-inns: $white-color;
$score-tab: #1e89a7;
$score-tab-color: #000;
$market-border: #389eba;

$master-bl-bg: rgba(0, 0, 0, 0.33);
$master-bl-fr: $white-color;

$cashbtn-bg: #F2D660;
$cashbtn: #FF8624;
$cashbg: #FFB80C;

$game-headerbg: $theme-color;
$result-bg: #228997;
$live-winnerbg: #228997;

$loader-color1: #fff;
$loader-color2: #ddd;

$flip-clock-bg: #333;
$flip-clock: $theme-color;
$flip-clock-shadow: $theme-color;

$notification-bg: $white-color;
$notification: #1666a1;
$body-color: #f5f5f5;
$pattitr-hover: #9ac0bf;
$filter-save-bg: #1f5057;
$filter-save: #fff;
$filter-border: #1f5057;
$filter-save-hover: #1f5057;
$livenumber: #fff;
$liveresult-bg: #333333;
$result-a: #ab1944;
$result-b: #2573A7;
$result-g: #208730;
$theme-secondary-color: #398895;

$openbet-a: #333333;

$sub-text: #fe0000;
$login-text: #d2d2d2;
$register-color: #ffffff;
$confirm: #d2d2d2;
$login-user: #d2d2d2;


$payment-bg: #efefef;
$tab-text: #ccc;
$wallet-submitbg: #1e1e1e;
$wallet-submit: #34727a;
$wallet-title: #4f4f4f;
$tab-active-border: #09363c;

$mbpayment-bg: #ffffff;

$ab-header-bg: #1C1F3E;
$ab-detail-bg: #171A33;
$ab-blue: #B0202F;
$ab-red: #0A6BB6;
$ab-border: #292D55;
$ab-btn-bg: rgba(156, 168, 194, 0.65);
$winner: #fff;
$primary-bg-hover: $theme-color;
$promotion-arrow: #cbcbcb;
$login-link: #fff;
$lunching-bg: #0F2327;
$lunching-title: #ffecc6;
$lunch-text: #fff;
$m_selectbox: #37133f; //rgba(0, 0, 0, 0.33);

$m-expand-header: #37133f;
$master-table-bg: rgba(0, 0, 0, 0.4);
$grid-hover: rgba(245, 245, 245, 0.2);
$grid-bg: #0b1c20;
$grid-date: rgba(245, 245, 245, 0.3);
$a-link: #2ce5dd;

//********* checked****
$btn-secondary-border: #0a5551; // #228997;
$secondary-bg: #10827d;
$secondary-btn: #e6e6e6;
$secondary-hover: #139993;

$m-btn-default-border: #8e1e98;
$m-btn-default-bg: #8e1e98;
$m-btn-default-border-bottom: #66166d;
$m-btn-default-color: #fff;
$m-btn-default-shadow: #521158;

$m-btn-success-border: #0a5616;
$m-btn-success-bg: #0f8422;
$m-btn-success-border-bottom: #0a5616;
$m-btn-success-color: #fff;

$btn-danger-color: #FFFFFF;
$btn-danger-bg: #b71601;
$btn-danger-border-bottom: #841001;
$btn-danger-hover: #d01901;
$btn-danger-hover-shadow: #6b0d01;

$btn-small-border: #43d3f9;
$btn-small-bg: #0d89ab;
$btn-small-border-bottom: #02262f;
$btn-small-color: #fff;
$btn-small-hover-shadow: #074b5d;
$btn-small-bg-dark: #1a4126;

$btn-inline-bg: #0c5367;
$btn-inline-border: #043644;
$btn-inline-color: #fff;
$btn-inline-hover-shadow: #000000;
$btn-inline-hover-bg: #043644;

$btn-primary-bg: #389eba;
$btn-primary-hover: #081215;

$event-0-bg: #422076;
$event-0-bg-hover: #6f36c6;
$event-1-bg: #454ea5;
$event-1-bg-hover: #848bcc;
$event-2-bg: #636cc3;
$event-2-bg-hover: #adb1df;

$master-switch: #00dc61;
$position-header-bg: #58425e;
$m-grid-border: #503c55;
$m-popup-bg: #26183e;
$m-input-border: #cd42da;

$btn-light-bg: #0c6460;
$btn-light-color: #fff;

$help-bg: #2e1d31;
$score-box: #4b1f55;
$scroll-border: #3a0e3f;
$tab-top-color: $theme-color;

$eye-info-bg: #1e6b80;
$open-link-bg: #587441;


$promo-text: #d7a00e;
$promo-text2: #ffb900;

$admin-row-hover: #00a9d7;
$admin-row-selected-cr: #fff;

// sdfsdf
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .casino-header {
        .casino-logo {
            padding-left: 20px;
        }
    }
}

@media only screen and (max-device-width: 641px) and (min-device-width: 640px) and (orientation: landscape) {
    .mobile-view div.login-page {
        height: 100vh !important;
    }
}

@media only screen and (max-device-width: 568px) and (min-device-width: 567px) and (orientation: landscape) {
    .mobile-view div.login-page {
        height: 100vh !important;
    }
}


@import '../pages/_lotuspm.scss';
