/// <reference path="../../utlis/__utils.scss" />
/// <reference path="../variables/__variables.scss" />
/// <reference path="../base/__base.scss" />
$font-stack: 'Montserrat', sans-serif;

html, body {
    background-size: 20%;
    height: 100% !important;
    width: 100%;
    overflow-y: overlay; //auto;
    color: #0f2327 !important;
    font-family: $font-stack !important;
}

.mbg {
    background: #3a0c3f;
    font-family: Lato, Avenir, Verdana, Nunito !important;
}


div.master_header .master-logo .logo-img {
    width: 100% !important;
}

.admin-header .logo-img {
    height: 54px !important;
}

.bm-header .logo-img {
    width: 60.5% !important;
}

.header {
    .content-wrap .logo-area {
        padding: 0px;
    }

    .logo-img {
        width: 100%;
        margin-top: 5px;
        height: 60px;
        background: url(/public/images/gameokinb2b/logo.png) no-repeat top center;
    }

    background-color: #80161E;
}

.section-logo {
    background: url(/public/images/gameokinb2b/logo.png)no-repeat left center;
    height: 70px;
}


.captcha-div .code {
    background-color: white;

    .fa-refresh {
        margin-right: 5px;
    }
}

.login-top {
    .logo-img {
        background: url(/public/images/gameokinb2b/logo.png) no-repeat center center;
    }
}

.login-top {
    .logo-img {
        height: 75px;
        width: 100%;
        display: block;
        margin-top: -7px;
        margin-bottom: -27px;
        background-size: contain;
    }
}

.bookmark_table {
    .matches {
        .green-light {
            color: white;
        }
    }
}


.net-exposure .in-play {
    color: black !important;
}

.mobile-view .mobile-main .header .mobile-logo .logo-area .logo-img {
    height: 47px !important;
    margin-top: 0px;
    background-position: top left;
}

.live-rule-img {
    background-image: url(/public/images/gameokinb2b/logo.png);
}

.dialog-logo {
    background: url(/public/images/gameokinb2b/logo.png) no-repeat top center;
    height: 50px;
    height: 50px;
    position: relative;
    display: block;
    width: 100%;
    background-size: contain;
    margin-bottom: 20px;
}

$theme-color: #80161E;
$theme-color-font: #fff;

$theme-dark-color: #000000;
$theme-light-dark-color: #404040;
$theme-danger: #fe0000;
$theme-success: #508D0E;


$gray-gains: #dfdfdf;
$btn-border: #fa2;
$btn-border-2: #bf7c12;
$theme-hover: #e5a50b;
$bf-black: #1e1e1e;
$bf-black-2: #303030;
$m-menu-bg: #525252;
$empty-box-bg: #ebebeb;
$font-on-dark: #ffb80c;
$bf-grid-header-bg: #d9e8ea;
$btn-gr-1: #e1e1e1;
$btn-gr-2: silver;
$btn-gr-color: $bf-black;
$p-btn-bg-1: #c03e39;
$p-btn-bg-2: #e55752;
$p-btn-shadow: #ff8a8a;
$crypto-btn-1: #d6d6d6;
$crypto-btn-hover: #bebebe;
$bf-gray-1: #dfdfdf;


$overlay-bg: #eee;
$dialog-bg: #80161E;
$dialog-fr: #fff;


$popup-btn-bg: #80161E;
$popup-btn-fr: #273a47;

$login-header: #80161E;
$dialog-border: #ff2232;
$login-header-font: white;
$login-btn-bg: #80161E;
$login-btn-fr: #fff;
$signup-btn-bg: #fff;
$signup-btn-fr: #000;

$xgame-header: #303030;
$white-color: #ffffff;
$accordian-bg: #fbfbfb;
$light-white: darken(desaturate($white-color, 10%), 6.5%); /* #eeeeee */
$medium-white: darken(desaturate($white-color, 10%), 4.5%); /* #f2f2f2 */
$light-medium-white: #f5f5f5;
$light-grey: darken(desaturate($white-color, 10%), 10%); /* #e6e6e6  */
$black-color: #000000;
$light-gray: #e2e2e2;
$green: #1d7f1e;
$light-green: #26a928;

$one-click: #09262b;
$one-click-color: #fff;

$red: #fe0000;
$yellow: #e4c41e;
$gray: #bbbbbb;
$blue: #59b6ff;
$pink: #fb7e9a;
$purple: #ce0600;
$light-purple: #972222;
$light-pink: $black-color;
$dark-blue: #2C97E6;
$dark-pink: #f89ab0; //#ff86a2;
$white-smoke: #efefef;
$icon-color: #77570c;
$orange: #f53b4a;
$back-shadow: #2e82c0;
$lay-shadow: #ff86a2;
$grayish: #474747;
$dark-grayish: #80161E;
$light-medium-grey: #999999;
$gray-black: #666666;


$login-btn-color: #fff;
$login-btn: #277d94;
$login-btn-hover: #075367;
$login-border: #075367;
$login-shadow: #040b0c;

$marquee-bg: #312929;
$header-bg: #261e1e;
$timezone: #ffffff; //#ffecc6;
$border-color: #DDDDDD;
$history-btn: #9f9f9f;
$heading: #0f2327;
$back1: #a7d8fd;
$back-text: #3b8dca;
$back2: #e3f3fe;
$lay1: #f9c9d4;
$lay-text: #f5708f;
$lay2: #fdeef2;
$bet-title-bg: #3a3333;
$bet-title-hover: #8126a1;
$cricket: #8c1000;
$soccer: #111111;
$tennis: #75a93c;
$teenpatti: #69a57c;
$horse-race: #854d46;
$specilbets: #34e9e9;
$greyhound-race: #215867;
$virtual-game: #1b485b;

$button: #00a950;
$button-border: #007638;
$button-hover: #00c35c;
$button-shadow: #005d2c;

$bet-button: #972222;
$bet-button-border: #0a5d77;
$bet-button-hover: #208daf;
$bet-button-shadow: #2e0e3a;


$back-hover: #2e444a;
$lay-hover: #4d3644;
$swap-color: #583230;

$table-headingbg: #dddddd;

$active-background: #dfe8d4;
$active-border: #a7d07c;
$suspend-color: $red;
$suspend-background: lighten($suspend-color, 43%);
$suspend-border: lighten($suspend-color, 33%);


$dark-gray-black: #151515;
$scorebox-bg: $theme-color;
$soccer-progress: $green;

$inline-btn-cr1: #0f5963;
$inline-btn-cr2: #972222;

$account-overview: #ca3d3b;

$master-menu: rgba(255, 255, 255, 0.15);
$master-submenu: rgba(0, 0, 0, 0);
$master-submenu-hover: rgba(255, 255, 255, 0.2);
$master-menu-hover: rgba(255, 255, 255, 0.1);
$master-grid-header-bg: #37133f; // #229781;
$modal-content: rbga(0,0,0,0);
$mybook-header: linear-gradient(to bottom, #44227f 84%, rgba(68, 34, 127, 0.56) 100%); //#229781;
$mybook-m-name: #5059a7; //#18636d;
$mybook-icon: #a3f5ff;
$mybook-dashboard: #0f545d;
$mybook-list: #03363c;
$mybook-sitemap: #2f3462;
$mybook-stake: #deeaf7;
$mybook-runner: #e6f2ff;
$mybook-green: $light-green;
$mybook-fixedodds: $white-color;
$mybook-odds-bg: #3c2a3e;
$mybook-odds-border: #947b97;
$mybook-position-row: #5e3c61;
$parent-box: #373d73;
$parent-box-2: #33375b;


$score-inns: $white-color;
$score-tab: #80161E;
$score-tab-color: #ffcbc9;
$market-border: #ce0600;

$master-bl-bg: rgba(0, 0, 0, 0.33);
$master-bl-fr: $white-color;

$cashbtn-bg: #F2D660;
$cashbtn: #FF8624;
$cashbg: #FFB80C;

$game-headerbg: $theme-color;
$result-bg: #972222;
$live-winnerbg: #972222;

$loader-color1: #fff;
$loader-color2: #ddd;

$flip-clock-bg: #333;
$flip-clock: $theme-color;
$flip-clock-shadow: $theme-color;

$notification-bg: $white-color;
$notification: #1666a1;
$body-color: #f5f5f5;
$pattitr-hover: #9ac0bf;
$filter-save-bg: #1f5057;
$filter-save: #fff;
$filter-border: #1f5057;
$filter-save-hover: #1f5057;
$livenumber: #fff;
$liveresult-bg: #333333;
$result-a: #ab1944;
$result-b: #2573A7;
$result-g: #208730;
$theme-secondary-color: #398895;

$openbet-a: #333333;

$sub-text: #fe0000;
$login-text: #d2d2d2;
$register-color: #ffffff;
$confirm: #d2d2d2;
$login-user: #d2d2d2;


$payment-bg: #efefef;
$tab-text: #ccc;
$wallet-submitbg: #1e1e1e;
$wallet-submit: #34727a;
$wallet-title: #4f4f4f;
$tab-active-border: #09363c;

$mbpayment-bg: #ffffff;

$ab-header-bg: #1C1F3E;
$ab-detail-bg: #171A33;
$ab-blue: #B0202F;
$ab-red: #0A6BB6;
$ab-border: #292D55;
$ab-btn-bg: rgba(156, 168, 194, 0.65);
$winner: #fff;
$primary-bg-hover: $theme-color;
$promotion-arrow: #cbcbcb;
$login-link: #fff;
$lunching-bg: #0F2327;
$lunching-title: #ffecc6;
$lunch-text: #fff;
$m_selectbox: #37133f; //rgba(0, 0, 0, 0.33);

$m-expand-header: #37133f;
$master-table-bg: rgba(0, 0, 0, 0.4);
$grid-hover: rgba(245, 245, 245, 0.2);
$grid-bg: #0b1c20;
$grid-date: rgba(245, 245, 245, 0.3);
$a-link: #2ce5dd;

//********* checked****
$btn-secondary-border: #0a5551; // #229781;
$secondary-bg: #10827d;
$secondary-btn: #e6e6e6;
$secondary-hover: #139993;

$m-btn-default-border: #8e1e98;
$m-btn-default-bg: #8e1e98;
$m-btn-default-border-bottom: #66166d;
$m-btn-default-color: #fff;
$m-btn-default-shadow: #521158;

$m-btn-success-border: #0a5616;
$m-btn-success-bg: #0f8422;
$m-btn-success-border-bottom: #0a5616;
$m-btn-success-color: #fff;

$btn-danger-color: #FFFFFF;
$btn-danger-bg: #b71601;
$btn-danger-border-bottom: #841001;
$btn-danger-hover: #d01901;
$btn-danger-hover-shadow: #6b0d01;

$btn-small-border: #80161E;
$btn-small-bg: #910001;
$btn-small-border-bottom: #910001;
$btn-small-color: #fff;
$btn-small-hover-shadow: #910001;
$btn-small-bg-dark: #1a4126;

$btn-inline-bg: #af2c2c;
$btn-inline-border: #d84141;
$btn-inline-color: #fff;
$btn-inline-hover-shadow: #d84141;
$btn-inline-hover-bg: #f04444;

$btn-primary-bg: #ce0600;
$btn-primary-hover: #081215;

$event-0-bg: #422076;
$event-0-bg-hover: #6f36c6;
$event-1-bg: #454ea5;
$event-1-bg-hover: #848bcc;
$event-2-bg: #636cc3;
$event-2-bg-hover: #adb1df;

$master-switch: #00dc61;
$position-header-bg: #58425e;
$m-grid-border: #503c55;
$m-popup-bg: #26183e;
$m-input-border: #cd42da;

$btn-light-bg: #0c6460;
$btn-light-color: #fff;

$help-bg: #2e1d31;
$score-box: #4b1f55;
$scroll-border: #3a0e3f;
$tab-top-color: $theme-color;

$eye-info-bg: #d43c3d;
$open-link-bg: #9f5f5f;


$promo-text: #d7a00e;
$promo-text2: #ffb900;

$admin-row-hover: #00a9d7;
$admin-row-selected-cr: #fff;

div.login-casino .casino-header .casino-logo {
    height: unset !important;

    .logo-img {
        height: 40px;
        margin-top: 0px !important;
    }
}
// sdfsdf
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .casino-header {
        .casino-logo {
            padding-left: 20px;
        }
    }
}

@media only screen and (max-device-width: 641px) and (min-device-width: 640px) and (orientation: landscape) {
    .mobile-view div.login-page {
        height: 100vh !important;
    }
}

@media only screen and (max-device-width: 568px) and (min-device-width: 567px) and (orientation: landscape) {
    .mobile-view div.login-page {
        height: 100vh !important;
    }
}


@import '../pages/_lotuspm.scss';
@import '../pages/_lotus_promo.scss';

//****

.sport-buttons {
    padding: 10px 10px 0;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 5px;


    .sport-button__content {
        width: 100%;
        height: 100%;
        font-family: "Lato";
        font-weight: 700;
        font-size: 12px;
        color: #fff;
        position: relative;
        border-radius: 5px;
    }

    .sport-button__background-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    .sport-button__content-text {
        position: absolute;
        top: 5px;
        left: 5px;
        display: flex;
        flex-direction: column;
        color: #fff;

        img {
            width: 16px;
            height: 16px;
        }

        span {
            text-transform: none;
        }
    }
}

.sport-button, .sport-button.md, .promotion-button, .promotion-button.md {
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-family: "Lato",sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 17px !important;
    border-radius: 5px !important;
    height: 38px;
    padding: 0px !important;
    background-color: transparent;
    cursor: pointer;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.promotion-buttons {
    justify-content: space-between;
    grid-row-gap: 5px;
    margin: 12px 10px 0;
    display: grid;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    overflow-x: scroll;
    grid-column-gap: 6px;

    .promotion-button {
        flex: 1 1;
        height: 36px !important;
        margin: 0 !important;
        width: 175px;
        font-family: "Lato",sans-serif !important;
        font-style: normal;
        font-weight: 700 !important;
        font-size: 12px !important;
        line-height: 14px !important;
        text-transform: capitalize !important;
        color: white;

        .promotion-button__icon {
            width: 16px;
            height: 16px;
            margin-right: 3px;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: auto 100%;
        }

        .promotion-button__content {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            padding-left: 8px;
            padding-right: 16px;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: auto 100%;
            border-radius: 5px;
        }
    }
}

@media (max-width: 460px) {

    .sport-buttons {
        padding-left: 0px;
        padding-right: 1px;
    }
}

@media (min-width: 1024px) {
    .promotion-buttons {
        grid-template-rows: 1fr 1fr;
        grid-auto-columns: 45%;
        grid-column-gap: 1vw;
        grid-auto-flow: column;
        grid-row-gap: 7px;
        width: auto;
        overflow-x: auto;
    }

    .promotion-buttons .promotion-button {
        flex: none;
        width: 100%;
    }

    .promotion-buttons::-webkit-scrollbar {
        display: none;
    }

    ::-webkit-scrollbar {
        height: 0.5em;
        width: 0;
    }

    .promotion-buttons .promotion-button .promotion-button__content {
        background-size: 100% auto;
    }
}

.modal-overlay .dialog-container .dialog {
    background-image: radial-gradient(circle, #EC1C24, #6C0004);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #210a0a;
}
//**** dark mode*************//
body.dark-mode {
    background-image: radial-gradient(circle, #EC1C24, #6C0004);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    .account-overview .positive {
        color: #3cd03e;
    }

    .modal-body .list-view {
        background-color: whitesmoke;
    }

    .list-view {
        background-color: rgba(0,0,0,0.64);

        .positive {
            color: #3cd03e;
        }
    }

    .mobile-view .mobile-main .planner .g-line {
        color: #37e539 !important;
    }

    .offer-desc {
        .green {
            color: #37e539;
        }
    }

    .header {
        //background-color: #221c1c;
        background-image: url('/public/images/gameokinb2b/header-bg.jpg');
        background-size: contain;
    }

    .bet-heading {
        color: #d6d6d6;
    }

    .sports-leftmenu ul li a span, .table-score tbody tr td {
        font-weight: 500;
    }

    .menu-highlight {
        background: var(--sec-bg);
        border-bottom: 1px solid #2a2a2a;
    }

    .menu-highlight .nav-menu .nav_link:before {
        background: #57560a;
    }

    .menu-highlight .nav-menu .nav_link a {
        color: #b6b6b6;
        text-shadow: unset;
    }

    .sports-leftmenu {
        background-color: var(--sec-bg);
        border-left: 1px solid #403634;
        border-right: 1px solid #403634;
    }

    .sportmenu-li .i-sport {
        color: #ca3d3b !important;
    }

    .sports-leftmenu ul li a {
        border-bottom: 1px solid #403634;
        color: #b6b6b6;
    }

    .sports-leftmenu .sport-type a:hover {
        border-top: 1px solid #403634;
        background: #221a1a;
    }

    color: var(--font-color) !important;
    background-color: var(--header-bg);

    .table-score tbody .match-title a {
        color: white;
    }

    .lotus-promo .table-score thead tr, .inplay-page .table-score thead tr {
        background-color: var(--header-bg);
        line-height: 25px;
    }

    .table-score tbody {
        background-color: var(--sec-bg);
    }

    .table-score tbody tr:last-child, .border-bottom {
        border-bottom: 1px solid #403634 !important;
    }

    .table-score tbody tr td {
        border-color: #403634;
    }

    .table-score tbody .match-title:hover, .table-score tbody tr:hover {
        background-color: #2d2424;
    }

    .inplay-item-list_casino .inplay-item-list-exchange__header {
        margin-bottom: 10px;
    }

    .inplay-item-list-exchange__header {
        background: #80161E !important;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: #e7b932;
    }

    .sport-type .icon-star-empty {
        color: #e7b932 !important;
    }

    .main-content .main-event .event-heading {
        color: var(---font-color);
    }

    .bet-heading {
        border-bottom: 1px solid rgba(127, 131, 8, 0.64);
    }

    .tab li .tabing-title {
        background-color: #2d2e31;
        color: var(---font-color);

        &.active {
            background-color: var(--sec-bg);
            color: white;
        }
    }

    .right-section .inner-section .bet-manager .bet-title, .trade-history-section .recent-bet-bg .bet-container {
        background-color: #2d2e31;
    }

    .open-bet .openbet-filter, .trade-history-section .recent-bet-bg,
    [type="checkbox"]:not(:checked) + label::before, [type="checkbox"]:checked + label::before {
        background: var(--header-bg);
    }

    .open-bet .action-ctrl, .open-bet .openbet-filter .unmatched-bet .bet-text, .open-bet .openbet-filter .matched-bet .bet-text, .open-bet .openbet-filter .bet-details.show {
        background-color: var(--sec-bg) !important;
    }

    .open-bet .openbet-filter .matched-bet table tr {
        border-bottom: 2px solid #2d2e31;
    }

    [type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after {
        color: #348065;
    }

    .left-icon.icon-sport-soccer, .left-icon.icon-sport-football {
        color: rgb(0, 169, 142);
    }

    .modal-overlay .overlay {
        background-color: rgba(45, 32, 32, 0.95);
    }

    .right-section .inner-section .bet-manager .bet-filter, .slip-wrap .betslipboard,
    .right-section .inner-section .bet-manager .slip-wrap .bets-btn {
        background-color: var(--sec-bg);
    }

    .main-content .account-overview .overview-detail {
        background-color: var(--header-bg);
    }

    .radar-view {
        background-color: var(--sec-bg);
        color: var(--font-color);

        .bm-special, .bm-tab {
            background-color: var(--sec-bg);
        }

        .bm-special .bm-tab .tab-head.active, .bm-special .bm-tab .tab-head:hover {
            background-color: var(--sec-bg);
            border-top: 2px solid #f6b800;
            color: #f6b800;
        }

        .bm-special .bm-tab .tab-head:first-child {
            border-left: 1px solid #40464f;
        }

        .bm-special .bm-tab .tab-head {
            background: #2d2e31;
            border-right: 1px solid #40464f;
            border-top: 2px solid #40464f;
        }

        .bm-special .bm-content {
            border-color: #40464f;
        }

        .rd-th, .rd-table, {
            border: 1px solid #2d2e31;
        }

        .rd-td {
            border: 1px solid #000;
        }

        .rd-table tr:hover td {
            border: 1px solid #000;
            background-color: #42464e !important;
        }

        .rd-table tbody tr td:hover .no-size {
            color: white;
        }

        .rd-td.lay-1 {
            color: $lay1;
        }

        .rd-td.back-1 {
            color: $back1;
        }

        .rd-th.back-2, .rd-th.lay-2 {
            background-color: var(--header-bg);
        }

        .rd-table .summary-data {
            background-color: #2d2e31;
        }

        .bm-special .stake-content .stake-btn {
            border-color: var(--sec-bg);
        }

        .bm-special .stake-content .section-item input {
            background: #2c3035;
            border: 1px solid #5e5c5c;
        }
    }

    .my-profile .profile-wrap {
        background-color: transparent;
        border: none;
    }

    .my-profile .profile-wrap dl dd {
        border-bottom: 1px solid #666666;
    }

    select {
        background-color: var(--sec-bg) !important;
    }

    .my-wallet .tab-wallet {
        .tabs-container .tab-container {
            background-color: rgba(34,28,28,0.60);

            a {
                color: var(--font-color);
            }

            &.active {
                background-color: rgba(34,28,28,0.85);
                border-top: 3px solid #80161E !important;
            }
        }

        .payment {
            background-color: rgba(34,28,28,0.85);
            border-color: #221c1c;
        }

        .chg-pass {
            border: 1px solid var(--sec-bg);
            background: var(--sec-bg);
        }

        .event-heading, .with-small a {
            color: unset;
        }

        .chg-pass .deposit-form .d-stake-btns button {
            color: #d6c4c4;
        }
    }

    .chg-pass {
        background: var(--sec-bg);
    }

    .my-account .center-section table.table thead tr {
        background-color: var(--sec-bg);
        color: var(--font-color) !important;
    }

    .ng-table-header {
        color: var(--font-color);
    }

    .list-view .list-view-table table {
        background-color: transparent !important;
    }

    .main-content .ac-btn {
        color: var(--font-color);
        border: 1px solid #655704 !important;
    }

    .table > thead > tr > th {
        border-bottom: 2px solid #2d3025;
    }

    .main-content .mybet-table .list-view .list-view-table table tbody tr:nth-child(odd) {
        background-color: #313337 !important;
    }

    .main-content .mybet-table .list-view .list-view-table table tbody tr:nth-child(even) {
        background-color: #222428 !important;
    }

    .main-content .ac-btn.btn-primary, .main-content .ac-btn.btn-edit {
        color: var(--sec-bg);
    }

    .main-content .my-account table .td-date {
        background-color: #313337 !important;
    }

    .table-hover > tbody > tr:hover {
        background-color: #494949;
        color: whitesmoke;
    }

    .mobile-view .menu-left {
        background-color: var(--sec-bg);

        ul li {
            border-top: 1px solid #39391d;

            a {
                color: var(--font-color);
            }
        }
    }

    .mobile-view .mobile-main .planner {
        background-color: var(--sec-bg);
    }

    .mobile-view .mobile-main .new-table .markets-odd .back:hover,
    .mobile-view .mobile-main .new-table .markets-odd .back1:hover,
    .mobile-view .mobile-main .new-table .markets-odd .back2:hover,
    .mobile-view .mobile-main .new-table .markets-odd .back3:hover,
    .mobile-view .mobile-main .new-table .markets-odd .lay:hover,
    .mobile-view .mobile-main .new-table .markets-odd .lay1:hover,
    .mobile-view .mobile-main .new-table .markets-odd .lay2:hover,
    .mobile-view .mobile-main .new-table .markets-odd .lay3:hover {
        background-color: #040404;
        border: none;
    }

    .mobile-view .mobile-main .new-table .consolidated-events .item-inner {
        border: none;
    }

    .mobile-view .scorecard .t-header tr {
        background: #070708;
    }

    .mobile-view .my-multi .event-heading a, .mobile-view .mobile-main .section .inner-mb-menu .compation {
        color: #80161E;
    }

    .mobile-view .mobile-main .section .inner-mb-menu a,
    .mobile-view .mobile-main .open-bet .openbet-filter .unmatch-btn a {
        background-color: var(--sec-bg);
        color: var(--font-color);

        &.update-btn {
            background-color: $btn-primary-bg;
        }
    }

    .mobile-view .filter-panel {
        background-color: var(--sec-bg);
    }

    .mobile-view .Profit-l .table-bets .info-text .profit-expand .profit-td tr.net-total {
        background: var(--sec-bg);
        color: var(--font-color);
    }

    .link-a {
        color: #80161E;
    }

    .market-notification {
        background-color: #2d2424;
        border-color: #2d2424;
        color: #80161E;
    }

    .my-wallet .tab-wallet .event-heading {
        border-bottom: 1px solid var(--font-color);
    }

    --header-bg: #1f0707;
    --sec-bg: #271e1e;
    --font-color: #b6b6b6;

    .empty-score {
        background-color: #434343;
    }

    .back1, .back-1 {
        background-color: #221c1c;
        color: $back1;

        .price {
            color: $back1;
        }

        .size {
            color: #d4d4d4;
        }
    }

    .back2, .back3, .back-2, .back-3 {
        background-color: #302929;

        .price {
            color: $back2;
        }

        .size {
            color: #d4d4d4;
        }
    }

    .lay1, .lay-1 {
        background-color: #221c1c;
        color: $lay1;

        .price {
            color: $lay1;
        }

        .size {
            color: #d4d4d4;
        }
    }

    .lay2, .lay-2, .lay3, .lay-3 {
        background-color: #2b2424;

        .price {
            color: $lay2;
        }

        .size {
            color: #d4d4d4;
        }
    }

    .back {
        background-color: #38434a;
    }

    .lay {
        background-color: #3f2f33;
    }

    .slip-wrap .bet-detail .bet-events.back:hover {
        background-color: #3f4c54;
    }

    .slip-wrap .bet-detail .bet-events.lay:hover {
        background-color: #74565d;
    }

    .slip-wrap .bet-detail .bet-events .popup-list {
        background-color: #2c3339;
    }

    .slip-wrap .bet-detail .bet-events table input {
        background: rgba(0,0,0,0.25);
        border-color: var(--sec-bg);
    }

    .header .header-wrap {
        display: flex;
        align-items: center;
    }

    .menu-dropdown .h-login-btn {
        background: #80161E;
        padding: 6px 12px;
        border-radius: 4px;
        color: rgb(24, 26, 32);
        font-size: 14px;


        &:hover {
            background-color: rgb(252, 213, 53);
            opacity: 0.9;
            color: rgb(24, 26, 32);
        }
    }

    .trade-history-section .recent-bet-bg .r-bet-detail .bet-section {
        .b-back, b-lay {
            color: black;
            border-radius: 3px;
        }
    }

    .right-section .oneclickbet-wrap .oneclick-edit .on-btn .btn:not(.one-select) {
        background: rgba(75, 78, 2,1);
        color: #c6c7a5;
    }

    .open-link-count {
        color: #1d1d1d;
    }

    .sport-right-menu {
        .cricket-link {
            background-color: #4a4342;
        }

        .cricket-link:hover, .sport-type-cricket:hover {
            background-color: #554b4a;
        }

        .football-link, .soccer-link {
            background-color: #363636;
        }

        .football-link:hover, .sport-type-football:hover, .soccer-link:hover, .sport-type-soccer:hover {
            background-color: #464545;
        }

        .tennis-link {
            background-color: #484b45;
        }

        .tennis-link:hover, .sport-type-tennis:hover {
            background-color: #5d6258;
        }
    }

    .amt-td, .client-pl-detail p span, .event-heading {
        color: #b6b6b6 !important;
    }

    .modal-overlay .two_input .first_box select {
        background-color: transparent !important;

        option {
            color: #000;
            background-color: transparent !important;
        }
    }

    .inplay-content__logo-icon {
        color: #e7b932;
        padding-top: 2px;
    }

    .cus-placeholder {
        color: #8e8e8e;
    }

    .main-content .match-odd {
        color: #ee4b57;
    }

    .my-profile .profile-wrap dl .favor-set {
        color: #ffe2e2 !important;
    }

    .my-profile .profile-wrap dl .dd-lang select {
        color: white !important;
    }

    .h-login.bal {
        background: #ffffff;
        color: #80161E;
    }

    .mobile-view .mobile-main .header .right-menu span.align-c{font-size:13px;}
}
