/// <reference path="../../utlis/__utils.scss" />
/// <reference path="../variables/__variables.scss" />
/// <reference path="../base/__base.scss" />
$font-stack: 'Montserrat', sans-serif;

html, body {
    //background: url('/public/images/inrbook/main-background.jpg') repeat center center;
    background-size: 20%;
    height: 100% !important;
    width: 100%;
    overflow-y: auto; //auto;
    color: #343534 !important;
    font-family: $font-stack !important;
}

.cbg {
    background: url('/public/images/inrbook/main-background.jpg') repeat center center;
    background-size: 20%;
}

.mbg {
    background: #282404;
    font-family: Lato, Avenir, Verdana, Nunito !important;
    //overflow-y: scroll;
    /*background: url('/public/images/inrbook/main-background.jpg') repeat center center;
    background-size: 20%;*/
}


div.master_header .master-logo .logo-img {
    width: 100% !important;
}

.admin-header .logo-img {
    height: 54px !important;
}

.bm-header .logo-img {
    width: 60.5% !important;
}

.header {
    .logo-area {
        padding: 0px !important;
    }

    .logo-img {
        width: 100% !important;
        height: 60px;
        background: url(/public/images/inrbook/logo.png) no-repeat top center;
    }

    background-color: #343534;
}

.mobile-top .mobile-view .mobile-main .header .mobile-logo .logo-img {
    margin-top: -5px !important;
    height: 40px !important;
    background-position: top left;
    margin-left: -8px;
}

.section-logo {
    background: url(/public/images/inrbook/logo.png)no-repeat left center;
    height: 70px;
}


.captcha-div .code {
    background-color: white;

    .fa-refresh {
        margin-right: 5px;
    }
}

.login-top {
    .logo-img {
        background: url(/public/images/inrbook/logo.png) no-repeat center center;
    }
}

.login-top {
    .logo-img {
        height: 75px;
        width: 100%;
        display: block;
        margin-top: -7px;
        margin-bottom: -27px;
        background-size: contain;
    }
}

.bookmark_table {
    .matches {
        .green-light {
            color: white;
        }
    }
}


.net-exposure .in-play {
    color: black !important;
}



.live-rule-img {
    background-image: url(/public/images/inrbook/logo.png);
}

.dialog-logo {
    background: url(/public/images/inrbook/logo.png) no-repeat top center;
    height: 50px;
    height: 50px;
    position: relative;
    display: block;
    width: 100%;
    background-size: contain;
    margin-bottom: 20px;
}

$theme-color: #343534;
$theme-color-font: #fff;


$gray-gains: #dfdfdf;
$btn-border: #fa2;
$btn-border-2: #bf7c12;
$theme-hover: #e5a50b;
$bf-black: #1e1e1e;
$bf-black-2: #303030;
$m-menu-bg: #525252;
$empty-box-bg: #ebebeb;
$font-on-dark: #ffb80c;
$bf-grid-header-bg: #d9e8ea;
$btn-gr-1: #e1e1e1;
$btn-gr-2: silver;
$btn-gr-color: $bf-black;
$p-btn-bg-1: #f36700;
$p-btn-bg-2: #fd8a2c;
$p-btn-shadow: #fad1ae;
$crypto-btn-1: #d6d6d6;
$crypto-btn-hover: #bebebe;
$bf-gray-1: #dfdfdf;

$overlay-bg: rgba(50,50,50,0.63);
$login-header: #22270c;
$login-header-font: white;
$popup-btn-bg: #f4d821;
$popup-btn-fr: #273a47;
$signup-btn-bg: #fff;
$signup-btn-fr: #000;

$login-btn-bg: #f48400;
$login-btn-fr: #eeffec;
$dialog-fr: #fff;
$dialog-border: #f48400;
$dialog-bg: #343534;

$theme-dark-color: #000000;
$theme-light-dark-color: #404040;
$theme-danger: #fe0000;
$theme-success: #508D0E;

$xgame-header: #303030;
$white-color: #ffffff;
$accordian-bg: #fbfbfb;
$light-white: darken(desaturate($white-color, 10%), 6.5%); /* #eeeeee */
$medium-white: darken(desaturate($white-color, 10%), 4.5%); /* #f2f2f2 */
$light-medium-white: #f5f5f5;
$light-grey: darken(desaturate($white-color, 10%), 10%); /* #e6e6e6  */
$black-color: #000000;
$light-gray: #e2e2e2;
$green: #1d7f1e;
$light-green: #26a928;

$one-click: #09262b;
$one-click-color: #fff;

$red: #fe0000;
$yellow: #e4c41e;
$gray: #bbbbbb;
$blue: #59b6ff;
$pink: #fb7e9a;
$purple: #3e4141;
$light-purple: #c05201;
$light-pink: $black-color;
$dark-blue: #2C97E6;
$dark-pink: #f89ab0; //#ff86a2;
$white-smoke: #efefef;
$icon-color: #77570c;
$orange: #f53b4a;
$back-shadow: #d7d22a;
$lay-shadow: #ff86a2;
$grayish: #474747;
$dark-grayish: #343534;
$light-medium-grey: #999999;
$gray-black: #666666;

$login-btn-color: #fff;
$login-btn: #070d02;
$login-btn-hover: #2c2f10;
$login-border: #161f0b;
$login-shadow: #040b0c;

$marquee-bg: #070d02;
$header-bg: #070d02;
$timezone: #ffffff; //#ffecc6;
$border-color: #DDDDDD;
$history-btn: #9f9f9f;
$heading: #343534;
$back1: #a7d8fd;
$back-text: #3b8dca;
$back2: #e3f3fe;
$lay1: #f9c9d4;
$lay-text: #f5708f;
$lay2: #fdeef2;
$bet-title-bg: #2b2b09;
$bet-title-hover: #8126a1;
$cricket: #8c1000;
$soccer: #111111;
$tennis: #75a93c;
$teenpatti: #69a57c;
$horse-race: #854d46;
$specilbets: #34e9e9;
$greyhound-race: #215867;
$virtual-game: #1b485b;

$button: #00a950;
$button-border: #007638;
$button-hover: #00c35c;
$button-shadow: #005d2c;

$bet-button: #228997;
$bet-button-border: #0a5d77;
$bet-button-hover: #208daf;
$bet-button-shadow: #2e0e3a;


$back-hover: #f2f9ff;
$lay-hover: #fef7f9;
$swap-color: $white-color;

$table-headingbg: #dddddd;

$active-background: #dfe8d4;
$active-border: #a7d07c;
$suspend-color: $red;
$suspend-background: lighten($suspend-color, 43%);
$suspend-border: lighten($suspend-color, 33%);


$dark-gray-black: #151515;
$scorebox-bg: $theme-color;
$soccer-progress: $green;

$inline-btn-cr1: #0f5963;
$inline-btn-cr2: #228997;

$account-overview: #3a8c3f;

$master-menu: rgba(255, 255, 255, 0.15);
$master-submenu: rgba(0, 0, 0, 0);
$master-submenu-hover: rgba(255, 255, 255, 0.2);
$master-menu-hover: rgba(255, 255, 255, 0.1);
$master-grid-header-bg: #342f0d; // #228997;
$modal-content: rbga(0,0,0,0);
$mybook-header: linear-gradient(to bottom, #55681b 84%, rgba(83, 127, 34, 0.56) 100%);
$mybook-m-name: #7e9937; //#18636d;
$mybook-icon: #e4ffa3;
$mybook-dashboard: #0f545d;
$mybook-list: #03363c;
$mybook-sitemap: #2f3462;
$mybook-stake: #deeaf7;
$mybook-runner: #e6f2ff;
$mybook-green: $light-green;
$mybook-fixedodds: $white-color;
$mybook-odds-bg: #3f3c22;
$mybook-odds-border: #92977b;
$mybook-position-row: #444521;
$parent-box: #55611f;
$parent-box-2: #687337;


$score-inns: $white-color;
$score-tab: #343534;
$score-tab-color: #6acf51;
$market-border: #e95a00;

$master-bl-bg: rgba(0, 0, 0, 0.33);
$master-bl-fr: $white-color;

$cashbtn-bg: #F2D660;
$cashbtn: #FF8624;
$cashbg: #FFB80C;

$game-headerbg: $theme-color;
$result-bg: #228997;
$live-winnerbg: #228997;

$loader-color1: #fff;
$loader-color2: #ddd;

$flip-clock-bg: #333;
$flip-clock: $theme-color;
$flip-clock-shadow: $theme-color;

$notification-bg: $white-color;
$notification: #1666a1;
$body-color: #f5f5f5;
$pattitr-hover: #0d333f;
$filter-save-bg: #1f5057;
$filter-save: #fff;
$filter-border: #1f5057;
$filter-save-hover: #1f5057;
$livenumber: #fff;
$liveresult-bg: #333333;
$result-a: #ab1944;
$result-b: #2573A7;
$result-g: #208730;
$theme-secondary-color: #398895;

$openbet-a: #333333;

$sub-text: #fe0000;
$login-text: #d2d2d2;
$register-color: #ffffff;
$confirm: #d2d2d2;
$login-user: #d2d2d2;


$payment-bg: #efefef;
$tab-text: #ccc;
$wallet-submitbg: #1e1e1e;
$wallet-submit: #34727a;
$wallet-title: #4f4f4f;
$tab-active-border: #09363c;

$mbpayment-bg: #ffffff;

$ab-header-bg: #1C1F3E;
$ab-detail-bg: #171A33;
$ab-blue: #B0202F;
$ab-red: #0A6BB6;
$ab-border: #292D55;
$ab-btn-bg: rgba(156, 168, 194, 0.65);
$winner: #fff;

$promotion-arrow: #cbcbcb;
$login-link: #fff;
$lunching-bg: #343534;
$lunching-title: #ffecc6;
$lunch-text: #fff;
$m_selectbox: #3f3513; //rgba(0, 0, 0, 0.33);

$m-expand-header: #3f3513;
$master-table-bg: rgba(0, 0, 0, 0.4);
$grid-hover: rgba(245, 245, 245, 0.2);
$grid-bg: #0b1c20;
$grid-date: rgba(245, 245, 245, 0.3);
$a-link: #2ce5dd;

//********* checked****
$btn-secondary-border: #0a5551; // #228997;
$secondary-bg: #19704e;
$secondary-btn: #e6e6e6;
$secondary-hover: #115339;

$m-btn-default-border: #4f5f03;
$m-btn-default-bg: #4f5f03;
$m-btn-default-border-bottom: #262e02;
$m-btn-default-color: #fff;
$m-btn-default-shadow: #262e02;

$m-btn-success-border: #0a5616;
$m-btn-success-bg: #0f8422;
$m-btn-success-border-bottom: #0a5616;
$m-btn-success-color: #fff;

$btn-danger-color: #FFFFFF;
$btn-danger-bg: #b71601;
$btn-danger-border-bottom: #841001;
$btn-danger-hover: #d01901;
$btn-danger-hover-shadow: #6b0d01;

$btn-small-border: #e86800;
$btn-small-bg: #f36700;
$btn-small-border-bottom: #b85505;
$btn-small-color: #fff;
$btn-small-hover-shadow: #b85505;
$btn-small-bg-dark: #1a4126;

$btn-inline-bg: #282b09;
$btn-inline-border: #010100;
$btn-inline-color: #fff;
$btn-inline-hover-shadow: #000000;
$btn-inline-hover-bg: #f48400;

$btn-primary-bg: #4e582c;
$btn-primary-hover: #081215;
$primary-bg-hover: $theme-color;

$event-0-bg: #58641a;
$event-0-bg-hover: #79862e;
$event-1-bg: #84913d;
$event-1-bg-hover: #a9ba4b;
$event-2-bg: #97a550;
$event-2-bg-hover: #bdca74;

$master-switch: #00dc61;
$position-header-bg: #393a17;
$m-grid-border: #50553c;
$m-popup-bg: #1e1c05;
$m-input-border: #e1ae2e;

$btn-light-bg: #4c640c;
$btn-light-color: #fff;

$help-bg: #100E02;
$score-box: #55611f;

$scroll-border: #342f0d;
$tab-top-color: $theme-color;

$eye-info-bg: #51a23e;
$open-link-bg: #468c35;

$promo-text: #468c35;
$promo-text2: #395025;

$admin-row-hover: $theme-color;
$admin-row-selected-cr: #fff;


@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .casino-header {
        .casino-logo {
            padding-left: 20px;
        }
    }
}

@media only screen and (max-device-width: 641px) and (min-device-width: 640px) and (orientation: landscape) {
    .mobile-view div.login-page {
        height: 100vh !important;
    }
}

@media only screen and (max-device-width: 568px) and (min-device-width: 567px) and (orientation: landscape) {
    .mobile-view div.login-page {
        height: 100vh !important;
    }
}


@import '../pages/_lotuspm.scss';
@import '../pages/_lotus_promo.scss';
