/// <reference path="../../variables/__variables.scss" />
/// <reference path="../../utlis/__utils.scss" />
/// <reference path="../../base/__base.scss" />

.tvtab {
    .top-tbs {
        padding: 5px;
        text-align: center;
        width: 100%;
        font-size: 12px;

        .title {
            color: gray;
        }

        .fa-arrow {
            float: right;
            margin-top: 3px;
            color: gray;
        }
    }

    .accordion-part {
        padding: 5px 5px 0px 5px;
        background: white;
        display: block;
        float: left;
        width: 100%;
    }
}

.mobile-top {
    div.modal-overlay div.modal-box div.inner-modal {
        padding: 10px 10px;
    }

    .popup-close {
        margin-top: unset;
        margin-right: unset;
    }

    .cmodal-content {
        .two-input {
            .input_text {
                .dropdown .form-control {
                    color: #242629;
                    opacity: 0.8;
                }
            }
        }
    }

    .ui-select-bootstrap .ui-select-toggle > .caret {
        right: 5px;
    }
}

.mobile-view {
    /*height: calc(100% - 48px);
    display: flex;
    flex-direction: column;
    
    position: relative;*/
    width: 100%;

    .my-wallet .tab-wallet .chg-pass.deposit {
        .bank-left, .bank-right {
            width: 100%;
        }
    }

    .transfer-home {
        float: right;
        margin-top: -46px;
        background: $transfer-btn-bg;
        padding: 5px 20px;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.30) 2px 2px 10px, rgba(0, 0,0, 0.08) -1px 0px 4px;

        a {
            color: $transfer-btn-color;
            text-transform: uppercase;
            font-size: 12px;
        }
    }

    .tab-title {
        margin: 0px !important;
    }

    .list-view .list-view-table div[template-url="templates.pagination"] div {
        right: 0px;
    }

    .my-wallet .tab-wallet .chg-pass {
        width: 100%;
    }

    .card-on-video {
        .img-on-video {
            height: 28px;
        }

        .rname-on-video {
            height: 15px;
            font-size: 10px;
        }

        .cards-inside-video {
            height: 28px;
        }
    }

    .gamePLay-title > h2 {
        font-size: 15px;
    }

    .hide-header {
        thead {
            display: none !important;
        }
    }

    .andar-bahar .ab-detail .gmContainer, .updown .updown-detail .gmContainer {
        width: 100%;
    }

    .header {
        position: relative;
        width: 100%;
        transition: all 0.3s ease-in-out 0s;
        opacity: 1;
        transform: translateY(0px);
        margin-bottom: 0px;
        background: 0% 0%/cover #f4f6f9;

        &.scrolled {
            transform: translateY(-61px);
            opacity: 0;
            height: 0px;
        }
    }

    .tbs {
        padding: 10px 0px 10px 10px;
    }

    .livegame-result {


        img {
            width: 20px;
            margin-right: 5px;
            cursor: pointer;
        }

        .last-result {
            font-size: 10px;

            .result-b {
                @include padding(4px, 8px, 4px, 8px);
                margin: 5px 2px;
            }
        }


        .circle-value {
            @include padding(4px, 8px, 4px, 8px);
            margin: 5px 2px;
            font-size: 12px;
        }
    }

    .tb-icn {
        right: 12px;
        top: 14px;
    }

    .acordion-body {
        width: 100%;
    }

    .full-market .accordion-part .fixed-odds-other .gmContainer {
        display: flex;
    }

    .fact-box, .tomatch-score {
        .size {
            font-size: 8px;
        }
    }

    .center-mobile {
        &::-webkit-scrollbar {
            display: none;
        }

        height: calc(100vh - 48px);
        overflow: auto;
        //padding-bottom: 61px;
    }

    .center {
        min-height: 0px;
        -webkit-box-flex: 1;
        flex-grow: 1;
        flex-shrink: 1;
        position: relative;
        background: 0% 0% / cover rgba(244, 246, 249,1);
    }


    .main-container {
        margin-left: 0px;
        width: 100%;
        margin-top: 0px;
        //height: calc(100vh - 48px);
        overflow: auto;
    }

    .gmContent {
        height: unset;
        //margin: 7px 3px;
    }

    .full-market {
        .nm-match-odds, .gmTitle-name-match {
            flex-basis: 55%;
        }

        .back-lay-odd {
            flex-basis: 45%;
        }

        .bt-country-odd {
            flex-basis: 55%;
        }

        .bk {
            width: calc(50%);
        }

        .fact-odd {
            width: 100%;
        }

        .factor-odds {
            width: 100%;
            flex-basis: 45%;
        }

        .gmContent {
            height: 53px;
            flex-direction: row;
        }

        .price {
            font-size: 12px;
        }

        .size {
            font-size: 9px;
        }
    }

    .fixed-odds {
        .gmTitle-name-match, .gmContainer {
            flex-basis: 100%;
            width: 100%;
        }
    }

    .addvalue.khado {
        width: 20%;
    }

    .addvalue.khado-to {
        width: 13%;
        font-size: 10px;
    }

    .sidebar-content .sid-img i {
        position: absolute;
    }

    .sid-img i {
        position: relative;
    }

    .list-view .list-view-table table thead tr th {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        letter-spacing: 0.66px;
        font-size: 11px;
        color: #5f5f5f;
        text-transform: uppercase;
        background: linear-gradient(white, white);
        line-height: 2;
    }

    .mb-account {
        font-family: Montserrat, sans-serif !important;
        padding: 10px;

        ul {
            margin-bottom: 0px;
        }

        .team-name {
            display: none;
        }

        .title {
            font-family: Montserrat, sans-serif !important;
            letter-spacing: 0.66px;
            color: #fec700;
            font-weight: bold;
            margin: 15px 0 15px 0;
            text-transform: uppercase;
            font-size: 18px;
        }

        .mobile-btn {
            font-size: 14px;
            padding: 1em 3.25em;
            position: relative;
            border: 0px;
            border-radius: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            letter-spacing: 0.075em;
            margin-top: 1.5em;
            margin-bottom: 1em;
            background-color: #a6a6a6;
            color: #ffffff;
            cursor: pointer;
        }

        .chng-pwd {
            width: 100%;
            max-width: 450px;
            padding: 2em 1em;
            border-radius: 4px;
            background-color: rgb(255, 255, 255);
            color: rgb(36, 38, 41);
            //overflow: hidden;
            box-shadow: rgba(0, 0, 0, 0.3) 2px 5px 8px, rgba(0, 0, 0, 0.08) -2px 1px 6px;
        }

        .filter-panel {
            font-family: Montserrat, sans-serif;
            margin: 15px 0px;

            ul {
                margin-bottom: 10px;
            }

            .input-date {
                display: none !important;
            }

            .input-list {
                display: flex;

                li {
                    display: inline-block;
                    margin-right: 5px;
                    float: left;

                    label {
                        text-transform: uppercase;
                        font-size: 13px;
                        margin: 0 10px 1em 0;
                        color: #242629;
                        line-height: 33px;
                    }

                    select {
                        width: 120px;
                        height: 24px;

                        &:focus {
                            outline: none;
                        }
                    }
                }

                a.btn {
                    background: #fec700;
                    color: #000;

                    &:hover {
                        background-color: #ffd847;
                    }
                }

                .input-group {
                    input:focus {
                    }
                }
            }
        }
    }

    .menulist-detail {
        width: 25%;
    }
}

.mb-header-time {
    display: none;
}

/* - - - - - */
.mobile-top {
    .sidebar-content {
        left: -265px;

        &.active {
            left: 0;
        }

        .sidebar > h3 {
            padding: 10px;
        }
    }

    .promo .ye > i {
        top: 24px
    }

    .promo .ye-img {
        top: 17px;
    }

    .mb-bethistory, .mb-current {
        .back-text {
            background: $back-bg;
            border-radius: 4px;
            padding: 2px 11px;
            color: #045274;
        }

        .lay-text {
            background: $lay-bg;
            border-radius: 4px;
            padding: 2px 11px;
            color: #990f2e;
        }
    }

    .mb-bethistory {
        table {
            thead {
                display: none;
            }
        }

        .expand-table {
            border: 1px solid rgba(128, 128, 128, 0.2);
            border-radius: 4px;
        }
    }

    .mb-current {
        .list-view .list-view-table {
            table {
                thead {
                    display: none;
                }

                tr {
                    &:nth-child(odd) {
                        background: rgba(255, 255, 255, 0.1);
                    }

                    &:hover {
                        background: rgba(255, 255, 255, 0.1) !important;
                    }
                }

                tr {
                    &:nth-child(even) {
                        background: rgba(255, 255, 255, 0.5);
                    }
                }
            }
        }
    }

    .mb-pl {
        .list-view .list-view-table {
            table {
                border: none;
                background: transparent !important;

                tbody {
                    margin-bottom: 10px;
                    border-radius: 5px;
                }

                tbody:nth-child(odd) {
                    background: rgba(255, 255, 255, 255) !important;
                }

                tbody:nth-child(even) {
                    background: rgba(255, 255, 255, 255) !important;
                }

                .my-b-field {
                    padding: 5px;
                }
            }
        }

        .mybet-new {
            .field-date {
                background-color: #e7e7e7;
                border-bottom: 1px dashed #aaaaaa;

                .bet-title {
                    font-size: 12px;
                    font-style: normal;
                    padding: 0px;
                }
            }

            .my-b-detail {
                background-color: #e6e6e6;
                padding: 4px 0;

                label {
                    margin-bottom: 0px;
                }
            }

            .expand-table {
                width: 95%;
                margin: 0 auto;

                .mb-expand {
                    border: 1px solid rgba(128, 128, 128, 0.2);
                    border-radius: 4px;
                }

                .expand-header {
                    background-color: #d9d9d9;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                }

                .net-total {
                    .inner-field {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        font-size: 16px;

                        .my-title {
                            font-size: 10px !important;
                            font-style: italic;
                        }
                    }
                }
            }

            .back-total {
                color: #11aff2;

                .my-title {
                    color: #11aff2 !important;
                }
            }

            .lay-total {
                color: #ec5577;

                .my-title {
                    color: #ec5577 !important;
                }
            }
        }
    }

    .mb-mybets {
        .list-view .list-view-table {
            overflow: hidden;

            .table-hover > tbody > tr:hover {
                background-color: transparent;
            }

            table {
                background: rgba(255, 255, 255, 0.5);

                tbody:nth-child(odd) {
                    background: rgba(255, 255, 255, 0.1);
                }

                tbody:nth-child(even) {
                    background: rgba(255, 255, 255, 0.5);
                }
            }
        }

        .mybet-new {
            border-radius: 5px;
            overflow: hidden;

            .field-title {
                //font-weight: bold;
                border-bottom: 1px dotted #b6b6b6;
                //color: #606060;

                label {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    max-width: 94%;
                }
            }

            .inner-field {
                .my-title {
                    padding-bottom: 5px;
                }
            }

            .my-b-field {
                display: flex;
                padding: 2px;
                -webkit-box-flex: 0;
                flex: 0 0 14%;
                -webkit-box-pack: justify;
                justify-content: space-between;
                overflow: hidden;
                position: relative;
                text-transform: capitalize;
                font-size: 12px;

                .my-title {
                    font-family: Montserrat, sans-serif;
                    color: #606060;
                }
            }
        }

        .my-b-detail {
            padding: 10px;
            border-bottom: 1px solid rgba(128, 128, 128, 0.2);
        }
    }

    .matched {
        .match-info {
            .select-event {
                .evnt-name {
                    margin-right: 25px;
                    flex: none;
                }
            }
        }
    }

    .mbac-tab {
        .tabbing {
            .tab {
                display: flex;
            }

            button.active {
                background-color: #fff;
                color: #f7c200;
            }

            button:focus {
                outline: none;
            }

            .tablinks {
                border: none;
                width: calc(22%);
                text-transform: capitalize;
                font-size: 12px;
                padding: 4px 0;
                text-align: center;
                background-color: transparent;
                color: #4a4848;
            }
        }
    }
}

.mobile-view {
    .header-tv {
        width: 35px;
        height: 35px;
        font-size: 0px;
        padding: 0px;
        border-radius: 5px;
        // box-shadow: rgb(0 0 0 / 20%) 0px 0px 5px;
        justify-content: center;
        align-items: center;
        margin-left: 8px;

        &.active {
            background: radial-gradient(circle, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
        }

        a {
            position: relative;
            left: auto;
            top: auto;
            margin: 0px;

            .fa {
                font-size: 18px;
                color: $white-color;
                position: absolute;
                top: 10px;
                left: 8px;
            }
        }
    }


    #overlay-button {
        padding: 15px 0px;
        z-index: 5;
        cursor: pointer;
        user-select: none;
        font-weight: normal;
        margin: 0px;
        font-size: 17px;
    }



    #overlay {
        height: 100vh;
        width: 100vw;
        z-index: 2;
        position: fixed;
        left: 0;
        padding: 10px 10px;
        height: calc(100vh - 80px);
        overflow: auto;
        display: none;

        &.active {
            visibility: visible;
        }

        .device-time {
            background: rgba(255, 255, 255, 0.5);
            border-radius: 4px;

            .d-left {
                width: 35%;
                height: 35px;
                text-align: center;

                span {
                    line-height: 33px;
                }
            }
        }

        .credit-display {
            .cr-div {
                display: grid;
                width: calc(100% + 0.6em);
                padding: 0.3em 0px;
                margin: 0px -0.3em;
                grid-template-columns: 50% 50%;
                flex-shrink: 0;
                flex-wrap: wrap;
                justify-content: space-around;

                .cd-detail {
                    opacity: 0.75;
                    color: #330507;
                }

                .cd-value {
                    color: #330507;
                }
            }

            .cd-info {
                display: flex;
                padding: 0.8em 0px;
                flex-direction: column;
                -webkit-box-align: center;
                align-items: center;
                width: calc(100% - 0.6em);
                margin: 0.3em;
                position: relative;
                background: rgba(255, 255, 255, 0.5);
                border-radius: 5px;
            }
        }

        .member {
            &:before {
                content: 'MEMBER';
                position: absolute;
                top: -26px;
                z-index: 2;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                text-transform: uppercase;
                font-size: 16px;
                color: rgb(178, 19, 24);
                font-weight: bold;
            }
        }

        .m-dashbord {
            &:before {
                content: 'MAIN DASHBOARD';
                position: absolute;
                top: -26px;
                z-index: 2;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                text-transform: uppercase;
                font-size: 16px;
                color: rgb(178, 19, 24);
                font-weight: bold;
            }
        }

        .p-dashbord {
            &:before {
                content: 'PERSONAL';
                position: absolute;
                top: -26px;
                z-index: 2;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                text-transform: uppercase;
                font-size: 16px;
                color: rgb(178, 19, 24);
                font-weight: bold;
            }
        }

        .mb-trasfer {
            display: flex;
            position: relative;
            width: calc(100% - 1em);
            font-size: 15px;
            margin: 0px 0.5em 0.5em;
            padding: 0.8em 1em;
            cursor: pointer;
            z-index: 0;
            background: rgba(255, 255, 255, 0.5);
            border-radius: 4px;
            align-items: center;
        }

        .mb-details {
            position: relative;
            width: 100%;
            border-radius: 5px;
            background: rgba(255, 255, 255, 0.5);
            padding: 0.8em 0px 0.2em 0px;
            margin: 2.4em 0px 3em;

            a {
                color: #242629;
                text-transform: capitalize;
            }

            .fa {
                color: $promo-text2;
                margin-right: 0.5em;
                font-size: 17px;
            }
        }

        .logout {
            margin: 0 0 0.8em 0;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            font-size: 13px;
        }
    }
}


@media only screen and (max-width:1366px) and (min-width: 768px) {
    .mobile-top {
        .mb-mybets {
            display: none;
        }
    }

    .mobile-view {
        .mb-right-hd {
            display: none;
        }

        .header-tv {
            display: none;
        }

        .sidebar-content {
            top: 60px;
        }
    }
}



@media only screen and (max-width: 1199px) {
    .mobile-view {
        .mb-account {
            .title {
                text-align: center;
            }

            .chng-pwd {
                margin: 0 auto;
            }

            .table-bets {
                float: left;
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width:1023px) and (min-width: 767px) and (orientation : landscape) {
    .mobile-view {
        .sidebar-content {
            top: 70px;
        }
    }
}

@media only screen and (max-width:766px) and (min-width: 568px) and (orientation : landscape) {
    .mobile-view {
        .sidebar-content {
            top: 66px;
        }
    }
}

@media only screen and (max-width:768px) and (min-width: 767px) {
    .mobile-view {
        .sidebar-content {
            top: 73px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .mobile-top {
        .mb-mybets {
            display: block;
        }
    }

    .mobile-view {
        .mb-account {
            width: 100vw;
            z-index: 2;
            //position: fixed;
            left: 0;
            // height: calc(100vh - 120px);
            //overflow: auto;
            float: left;
            min-height: 100%;


            .team-name {
                display: block;
                margin-bottom: 10px;

                .gtm-member {
                    font-size: 13px;
                    padding: 0.25em 1em;
                    background-color: transparent;
                    border: 0px;
                    position: relative;
                    z-index: 0;
                    text-transform: capitalize;
                    cursor: pointer;
                    color: rgb(36, 38, 41);
                    opacity: 0.8;
                    transition: opacity 0.15s ease 0s;

                    &.active {
                        background-color: #fff;
                        font-weight: 600;
                        color: #fec700;

                        .sc-value {
                            color: rgb(36, 38, 41);
                        }
                    }
                }
            }

            .chng-pwd {
                margin: 0 auto;
                background-color: rgba(255, 255, 255, 0.5);
            }

            .list-view-table table {
                .profit-expand tbody tr.net-total td {
                    padding-right: 8px;
                }
            }

            .list-view .list-view-table div[template-url="templates.pagination"] {
                //min-width: 610px;
                justify-content: flex-end;
            }

            .Profit-l {
                .list-view .list-view-table {
                    &::-webkit-scrollbar {
                        display: none;
                    }
                }
            }

            .my-bets {
                .list-view .list-view-table {
                    div[template-url="templates.pagination"] {
                        //min-width: 1080px;
                    }
                }
            }

            .filter-panel {
                .input-list {
                    li {
                        margin-bottom: 5px;
                        line-height: 1.6;

                        &:last-child {
                            margin-right: 0px;
                        }
                    }
                }
            }

            .my-profile {
                padding-left: 0px;
                overflow-x: hidden;
            }
        }

        .mb-account {
            .filter-panel {
                .input-list li label {
                    line-height: 18px;
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .mobile-top {
        .mb-pl {
            .mybet-new {
                .expand-table {
                    .net-total .inner-field {
                        font-size: 13px;
                    }
                }
            }
        }
    }

    .mobile-view {
        .mb-account {
            .filter-panel {
                .input-list {
                    li {
                        margin-bottom: 0px;

                        label {
                            font-size: 12px;
                            margin: 0;
                            line-height: 1.6;
                        }

                        select {
                            width: 113px;
                        }
                    }

                    a.btn {
                        padding: 6px;
                        font-size: 11.2px;
                    }

                    .bets {
                        line-height: 2
                    }
                }
            }

            .list-view {
                .item-count {
                    font-size: 12px;
                    color: #606060;
                }
            }

            .bets-history {
                .filter-panel {
                    .bet-days {
                        a.btn {
                            padding: 5px !important;
                        }
                    }

                    .input-date {
                        display: flex !important;
                        /*width: 60%;
                        margin-left: 5.5em;*/
                    }

                    .input-list {
                        .h-mobile {
                            display: none;
                        }

                        a.btn {
                            padding: 5px 2.5em;
                        }
                    }
                }
            }
        }
        /*.logo {
            left: 38%;
        }*/

        .sidebar-content {
            top: 0px;
            z-index: 33;
        }
    }
}

@media only screen and (max-width:415px) and (min-width: 410px) {
    .mobile-top {
        .cmodal-content {
            .two-input {
                .input_text {
                    margin: 1.09em 1em 0 0;

                    .dropdown .form-control {
                        height: 54px;
                        line-height: 45px;
                    }
                }
            }

            .rg-mobile {
                width: 90%;
                flex: 2 95%;
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    .mobile-view {
        .mb-account {
            .filter-panel {
                .bet-days {
                    max-width: 100%;
                    float: left;
                    display: block;

                    a.btn {
                        font-size: 9.9px;
                    }
                }
            }

            .bets-history .filter-panel .input-date {
                width: 66%;
            }
        }

        .mb-current {
            .mybet-new {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .mobile-top {
        .cmodal-content {
            .two-input {
                .input_text {
                    margin: 0.80em 1em 0 0;

                    .dropdown .form-control {
                        height: 42px;
                        line-height: 30px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 360px) {
    .mobile-view {
        .mb-account {
            .filter-panel {
                .bet-days {

                    a.btn {
                        font-size: 9.3px;
                    }
                }
            }

            .bets-history .filter-panel .input-date {
                width: 68%;
            }
        }
        /*.mb-current {
            .mybet-new {
                width: 96%;
            }
        }*/
        /*.current-2 {
            .mybet-new {
                width: 90%;
            }
        }*/
    }
}

@media only screen and (max-width: 320px) {
    .mobile-top {
        .mb-mybets {
            .mybet-new {
                .my-b-detail {
                    .my-b-field {
                        font-size: 12px;
                    }
                }

                .my-b-field {
                    font-size: 13px;

                    .my-title {
                        font-size: 13px;
                    }
                }
            }
        }

        .current-2 {
            .mybet-new {
                width: 85.5%;
            }
        }

        .cmodal-content {
            .rg-mobile {
                width: 86%;
                flex: 2 75%;
            }
        }
    }

    .mobile-view {
        #overlay {
            .member, .m-dashbord, .p-dashbord {
                &:before {
                    font-size: 15px;
                }
            }
        }

        .mb-account {

            .filter-panel {
                .input-list {
                    li {
                        margin: 0 5px 5px 0;

                        label {
                            font-size: 11px;
                        }

                        select {
                            width: 89px;
                        }
                    }
                }

                .bet-days {
                    li {
                        margin: 0 4px 5px 0;
                    }

                    a.btn {
                        font-size: 11px;
                    }
                }
            }

            .bets-history .filter-panel .input-date {
                width: 69%;
                margin-left: 5em;
            }

            .list-view {
                .item-count {
                    font-size: 13px;
                }
            }
        }
    }
}

.mobile-top {
    .scorecard {
        .game-scores {
            .scores-team {
                .scores-time {
                    text-transform: uppercase;

                    @include respond-to2(handhelds) {
                        font-size: 10px;
                        vertical-align: text-top;
                    }

                    i {
                        padding-right: 5px;
                    }
                }


                @include respond-to2(extra-small-screens) {
                    width: 45%;
                }

                @include respond-to2(extra-medium-screens) {
                    width: 57%;
                }

                @include respond-to2(handhelds) {
                    width: 42% !important;
                }

                h4 {
                    font-size: 14px;

                    @include respond-to2(extra-small-screens) {
                        font-size: 12px;
                    }

                    @include respond-to2(handhelds) {
                        font-size: 10px;
                        margin: 6px 0;
                    }
                }
            }

            .scores-box {
                width: 18%;
                height: 90px;
                @include padding(5px, 10px, 5px, 10px);
                background-color: darken(white, 7%);
                //  @include border('right',1px, solid, $dark-blue);
                //@include border('bottom', 1px, solid, $dark-blue);

                @include respond-to2(extra-medium-screens) {
                    h4 {
                        font-size: 14px;
                    }
                }

                @include respond-to2(extra-small-screens) {
                    width: 24% !important;
                    height: 86px;
                    @include padding(5px, 4px, 5px, 4px);

                    h4 {
                        font-size: 11px;
                        height: 14px !important;
                    }

                    .scores-inns {
                        font-size: 11px;
                    }
                }

                @include respond-to2(handhelds) {
                    width: 24% !important;
                    @include padding(5px, 4px, 5px, 4px);
                    height: 75px;

                    h4 {
                        font-size: 9px !important;
                        height: 12px !important;
                        margin: 4px 0 !important;
                    }
                }

                h4 {
                    @include resize($float-left, $width);
                    margin: 5px 0;
                    height: 17px;
                }
            }


            .pin-btn {
                @include respond-to2(handhelds) {
                    @include padding(5px, 10px, 24px, 10px);
                }
            }
        }

        .game-head {
            .twoTeam {
                .game-visit {
                    font-size: 12px;
                }

                .game-vs {
                    font-size: 11px;
                    //padding-left: 30px;
                }
            }
        }

        .soccer-score {
            table {
                .scores-team {
                    width: auto !important;

                    @include respond-to2(extra-small-screens) {
                        width: 87% !important;
                        font-size: 13px;
                    }

                    @include respond-to2(handhelds) {
                        width: 87% !important;
                        font-size: 11px;
                    }
                }

                .pin-btn {
                    @include respond-to2(handhelds) {
                        @include padding(5px, 10px, 2px, 10px);
                    }
                }
            }

            .pin-btn {
                @include padding(5px, 10px, 3px, 10px);
            }
        }

        .tennis_score {
            .scores-team {
                width: 54.5%;

                @include respond-to2(extra-small-screens) {
                    width: 40%;

                    h4 {
                        font-size: 11px;
                    }
                }

                @include respond-to2(extra-medium-screens) {
                    width: 53%;
                }

                @include respond-to2(handhelds) {
                    width: 37% !important;
                }

                h4 {
                    font-size: 14px;

                    @include respond-to2(extra-small-screens) {
                        font-size: 12px;
                    }

                    @include respond-to2(handhelds) {
                        font-size: 9px;
                        margin: 6px 0;
                    }
                }
            }

            .tennis-scores-box {
                width: 8% !important;
                height: 90px;
                @include padding(5px, 10px, 5px, 10px);
                background-color: darken(white, 7%);
                //@include border('right',1px, solid, $dark-blue);
                //@include border('bottom', 1px, solid, $dark-blue);

                @include respond-to2(extra-small-screens) {
                    width: 9.8% !important;
                    height: 86px;
                    @include padding(5px, 4px, 5px, 4px);

                    h4 {
                        font-size: 10px;
                        height: 14px !important;
                    }

                    .scores-inns {
                        font-size: 11px;
                    }
                }

                @include respond-to2(handhelds) {
                    width: 10% !important;
                    @include padding(5px, 4px, 5px, 4px);
                    height: 75px;

                    h4 {
                        font-size: 9px !important;
                        height: 12px !important;
                        margin: 4px 0 !important;
                    }
                }

                h4 {
                    @include resize($float-left, $width);
                    margin: 5px 0;
                    height: 17px;
                }
            }

            .tennis-scores-time {
                @include respond-to2(handhelds) {
                    font-size: 10px;
                    vertical-align: text-top;
                }

                i {
                    padding-right: 5px;
                }
            }

            .pin-btn {
                @include respond-to2(handhelds) {
                    @include padding(20px, 4px, 25px, 5px);
                    width: 33px;
                }
            }
        }

        .game-info {
            .match_title {
                //span{font-size:18px;}
            }

            .matches {
                line-height: 21px;
            }

            .match_title {
                @include padding(0px, 15px, 7px, 3px);
            }

            @include respond-to2(extra-small-screens) {
                span {
                    font-size: 11px;
                }
            }

            @include respond-to2(handhelds) {
                span {
                    font-size: 11px;
                }
            }
        }

        .progress_bar {
            @include padding(25px, 0, 10px, 0);

            @include respond-to2(medium-screens) {
                .progress-left {
                    @include resize(left, 50%);
                }

                .progress-right {
                    @include resize(left, 50%);
                }
            }

            @include respond-to2(handhelds) {
                .progress-left {
                    @include resize(left, 50%);
                }

                .progress-right {
                    @include resize(left, 50%);
                }
            }
        }
    }
}
