<div class="menu-popup">
    <div class="popup-overlay"></div>
    <div class="popup-content gambling-text" style="max-width:500px;height:165px">
        <p  style="margin: auto!important;text-align: center;font-size: 20px;color: gray;">
            You have ben inactive for a long time,
            <br />Your session is about to expire.
        </p>

        <div class="actions" style="text-align:center;">
            <button class="small-btn" ng-click="renew()">CLICK TO RENEW SESSION</button>
        </div>
    </div>
</div>