<div class="master-page-class bets-history">
    <div class="form-pannel">
        <div class="row">
            <div class="col-sm-8 col-xs-8">
                <div class="event-heading">Manage Deposit/Withdrawal</div>
            </div>

            <div class="col-sm-4" ng-if="!isCPLogin">
                <div class="float-r">
                    <div class="one-click-bet master-toggle float-l" style="margin-top: -3px;">
                        <label class="switch">
                            <input class="switch-input" type="checkbox" ng-model="OBDstatus"
                                   ng-click="ctrl.OBDStatusChanged();" />
                            <span class="switch-label" data-on="On" data-off="Off"></span>
                            <span class="switch-handle"></span>
                        </label>
                    </div>
                    <div class="oneclick-off float-l" style="margin-left: 10px; color: white;">Activate Offline Banking</div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-listing list-table statement-table">
        <div class="bet-manager">
            <ul class="tab">
                <li><a class="tabing-title align-l" ng-class="{'active':selectedTab==0}" ng-click="selectedTab=0;">Deposit Requests</a></li>

                <li><a class="tabing-title align-l" ng-class="{'active':selectedTab==1}" ng-click="selectedTab=1;">Withdrawal Requests</a></li>
                <li ng-if="isPaymorEnabled">
                    <a class="tabing-title align-l" ng-class="{'active':selectedTab==3}" ng-click="$parent.selectedTab=3;">Online Withdrawal</a>
                </li>
                <li ng-if="!isCPLogin">
                    <a class="tabing-title  align-l" ng-class="{'active':selectedTab==2}" ng-click="$parent.selectedTab=2;">Setup Bank Detail</a>
                </li>
                <li style="float: right; margin-bottom: -10px; margin-top: -10px;" ng-if="!isCPLogin">
                    <button class="btn btn-secondary " ng-click="ctrl.addEditBank()">
                        <i class="fa fa-bank"></i> Add Bank
                    </button>
                    <button class="btn btn-secondary " ng-click="ctrl.setLimits()">
                        <i class="fa fa-balance-scale"></i> Set Limits
                    </button>
                </li>
            </ul>
            <div class="bet-list-table" ng-if="selectedTab==0">
                <div class="header-name">
                    <div class="filter-input">
                        <div class="filter-panel live-select">
                            <div class="input-group" style="float:left;margin-right:15px;">
                                <div id="picker-market-report-d" class="ktdatepicker"
                                     kt-date-range-picker
                                     data-from-date="depositSearch.fromdate"
                                     data-to-date="depositSearch.todate"
                                     data-on-selection="ctrl.refreshData()"
                                     data-format="DD MMM YYYY HH:mm:ss">
                                    {{depositSearch.fromdate | date:'dd MMM yyyy'}} - {{depositSearch.todate | date:'dd MMM yyyy'}}
                                    <i class="icon-calendar"></i>
                                </div>
                            </div>
                            <div class="input_text">
                                <ui-select ng-model="depositSearch.status" theme="bootstrap" tabindex="2" close-on-select="true">
                                    <ui-select-match class="ui-select-match" placeholder="Status: All">Status: {{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="mt in fairxpayinList | filter: $select.search" class="ui-select-choices">
                                        <span ng-bind-html="mt.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                            <div class="input_text ">
                                <ui-select ng-model="depositSearch.selectedUser" tabindex="1" theme="bootstrap" on-select="ctrl.userSelected()"
                                           close-on-select="true">
                                    <ui-select-match class="ui-select-match" placeholder="Username/Mobile">
                                        {{$select.selected.username}} - {{$select.selected.mobile ? $select.selected.mobile : $select.selected.userCode}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="u in userList | filter: $select.search | limitTo:15"
                                                       class="ui-select-choices"
                                                       refresh="$parent.ctrl.searchUser($select.search)">
                                        <span class="align-l" ng-bind-html="u.username | highlight: $select.search"></span>
                                        &nbsp;-&nbsp;
                                        <span class="align-l" ng-show="u.mobile" ng-bind-html="u.mobile | highlight: $select.search"></span>
                                        <span class="align-l" ng-show="u.userCode && !u.mobile" ng-bind-html="u.userCode | highlight: $select.search"></span>
                                        <span class="float-r" style="color:{{u.extra.color}}" ng-bind-html="u.extra.init"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="input_text" style="width:20%;">
                                <a class="btn btn-secondary" ng-click="ctrl.showDeposit();">
                                    Search Deposit
                                </a>
                                <a class="btn btn-danger" ng-click="ctrl.resetDepositCriteria();">
                                    Clear
                                </a>
                            </div>
                            <div class="input_text float-r">
                                <div class="float-r">
                                    <button class="btn btn-secondary" ng-click="ctrl.exportDepositToExcel()">
                                        Download CSV
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-bets">
                    <kt-grid grid-id="kt-deposit-grid"
                             load-items="ctrl.getPayins(params)"
                             show-total="false"
                             cache-key="ktdepositgrid">

                        <table ng-table="tableParams" class="table table-hover clickable master_table"
                               template-pagination="{{ :: paginationUrl }}">
                            <tbody>
                                <tr ng-repeat="item in $data track by item.id">
                                    <td data-title="::'Name' | translate" data-header-class="'size-md'" class="size-md">
                                        <a class="link-a" target="_blank" ui-sref="master.lotusmember({memberid:item.user.id,usertype:5})">
                                            {{item.user.username}}
                                        </a>
                                        <div>({{item.user.mobile}})</div>
                                    </td>

                                    <td data-title="::'Amount' | translate" data-header-class="'size-smd'" class="size-smd">
                                        <span>{{item.amount | toRate}}</span>
                                    </td>
                                    <td data-title="::'Bonus' | translate" data-header-class="'size-sm'" class="size-sm">
                                        <span> {{item.bonusAmount | toRate}}</span>
                                    </td>
                                    <td data-title="::'UTR' | translate" data-header-class="'size-lg '" class="size-lg">
                                        <span title="{{item.utrNo}}">{{item.utrNo }} </span>
                                        <i ng-click="$parent.$parent.$parent.$parent.ctrl.getReceiptImage(item)"
                                           class="fa fa-image" ng-if="item.imageId">
                                        </i>
                                    </td>
                                    <td data-title="::'A/C' | translate" data-header-class="'size-lg '" class="size-lg ">
                                        <div ng-if="item.acNo">A/C No. : {{item.acNo }} </div>
                                        <div ng-if="item.bankName">Bank : {{item.bankName }} </div>
                                    </td>
                                    <td data-title="::'Status' | translate" data-header-class="'size-sm boolean'"
                                        class="size-sm boolean"
                                        tooltip-class="master-tooltip"
                                        tooltip-placement="left"
                                        tooltip-trigger="click outsideClick"
                                        uib-tooltip-html="'{{item.comment}}'">
                                        <span ng-class="{'red':item.status==1,'green':item.status==2}">
                                            <b>{{$parent.$parent.$parent.ctrl.getPayInStatus(item.status) }}</b>
                                        </span>
                                        <a class="link-a" ng-show="item.comment"><i class="fa fa-info-circle"></i></a>
                                    </td>

                                    <td data-title="::'Created' | translate"
                                        data-header-class="'size-smd boolean'" class="size-smd boolean">
                                        <span>
                                            <kt-date data-date-value="item.createdOn" data-format="dd-MMM HH:mm:ss"></kt-date>
                                        </span>
                                    </td>
                                    <td data-title="::'Updated' | translate"
                                        data-header-class="'size-smd boolean'" class="size-smd boolean">
                                        <span>
                                            <kt-date data-date-value="item.updatedOn" data-format="dd-MMM HH:mm:ss"></kt-date>
                                        </span>
                                    </td>
                                    <td data-title="::'Timer' | translate"
                                        data-header-class="'size-smd boolean'" class="size-smd boolean">
                                        <span>
                                            {{item.createdOn | twoDateDiff:item.updatedOn}}
                                        </span>
                                    </td>
                                    <td class="boolean">
                                        <a ng-click="$parent.$parent.$parent.$parent.ctrl.changePayInStatus(item)"
                                           ng-if="item.status==1"
                                           class="btn btn-success">
                                            Update
                                        </a>
                                        <a ng-click="$parent.$parent.$parent.$parent.ctrl.rollbackPayIn(item)"
                                           ng-if="item.status==2"
                                           class="btn btn-danger">
                                            Rollback
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </kt-grid>
                </div>
            </div>
            <div class="bet-list-table flexi-table" ng-if="selectedTab==2">
                <div class="list-view">
                    <div class="list-view-table myTranscludedContent currency">

                        <table class="table table-hover member_table clickable ng-table">
                            <thead>
                                <tr>
                                    <th class="size-md align-l">A/C Number</th>
                                    <th class="size-sm ">Bank</th>
                                    <th class="size-md ">A/C Holder</th>
                                    <th class="size-md align-l">IFSC</th>
                                    <th class="size-sm align-l">Type</th>
                                    <th class="size-md align-l">Whatsapp</th>
                                    <th class="size-md align-l">Telegram</th>
                                    <th class="size-md boolean">Status</th>
                                    <th class="size-sm align-l">Action</th>
                                </tr>
                            </thead>
                            <tbody class="info-text">
                                <tr ng-repeat="a in bankingDetail">
                                    <td class="size-md align-l"><span>{{a.acNo}}</span></td>
                                    <td class="size-sm "><span>{{a.bankName}}</span></td>
                                    <td class="size-md "><span>{{a.acHolder}}</span></td>
                                    <td class="size-md align-l"><span>{{a.ifsc}}</span></td>
                                    <td class="size-sm align-l"><span>{{ctrl.getDetailType(a.detailType)}}</span></td>
                                    <td class="size-md align-l"><span>{{a.whatsAppNo}}</span></td>
                                    <td class="size-md align-l"><span>{{a.telegramNo}}</span></td>
                                    <td class="size-md boolean">
                                        <kt-radiobutton id="inplay{{$index}}"
                                                        data-item="a"
                                                        data-param-name="isActive"
                                                        data-optionlist="optionStatus"
                                                        notify-on-update="$parent.ctrl.optionStatusChanged(selectedId,a)"></kt-radiobutton>
                                    </td>
                                    <td class="size-sm align-l">
                                        <a ng-click="ctrl.addEditBank(a);"><i class="fa fa-pencil fa-lg link-a"></i></a>
                                        <a ng-click="ctrl.removeDetail(a);" class="text-danger mrg-left-10"><i class="fa fa-trash fa-lg "></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="bet-list-table" ng-if="selectedTab==1">
                <div class="header-name">
                    <div class="filter-input filter-detail">
                        <div class="filter-panel live-select">
                            <div class="input-group" style="float:left;margin-right:15px;">
                                <div id="picker-market-report" class="ktdatepicker"
                                     kt-date-range-picker
                                     data-from-date="withdrawalSearch.fromdate"
                                     data-to-date="withdrawalSearch.todate"
                                     data-on-selection="ctrl.refreshData()"
                                     data-format="DD MMM YYYY HH:mm:ss">
                                    {{withdrawalSearch.fromdate | date:'dd MMM yyyy'}} - {{withdrawalSearch.todate | date:'dd MMM yyyy'}}
                                    <i class="icon-calendar"></i>
                                </div>
                            </div>

                            <div class="input_text">
                                <ui-select ng-model="withdrawalSearch.status" theme="bootstrap" tabindex="2" close-on-select="true">
                                    <ui-select-match class="ui-select-match" placeholder="Status: All">Status: {{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="mt in fairxpayoutList | filter: $select.search" class="ui-select-choices">
                                        <span ng-bind-html="mt.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                            <div class="input_text ">
                                <ui-select ng-model="withdrawalSearch.selectedUser" tabindex="1" theme="bootstrap" on-select="ctrl.userSelected()"
                                           close-on-select="true">
                                    <ui-select-match class="ui-select-match" placeholder="Username/Mobile">
                                        {{$select.selected.username}} - {{$select.selected.mobile ? $select.selected.mobile : $select.selected.userCode}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="u in userList | filter: $select.search | limitTo:15"
                                                       class="ui-select-choices"
                                                       refresh="$parent.ctrl.searchUser($select.search)">
                                        <span class="align-l" ng-bind-html="u.username | highlight: $select.search"></span>
                                        &nbsp;-&nbsp;
                                        <span class="align-l" ng-show="u.mobile" ng-bind-html="u.mobile | highlight: $select.search"></span>
                                        <span class="align-l" ng-show="u.userCode && !u.mobile" ng-bind-html="u.userCode | highlight: $select.search"></span>
                                        <span class="float-r" style="color:{{u.extra.color}}" ng-bind-html="u.extra.init"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                            <div class="input_text" style="width:20%;">
                                <a class="btn btn-secondary" ng-click="ctrl.showWithdrawal();">
                                    Search Withdrawal
                                </a>
                                <a class="btn btn-danger" ng-click="ctrl.resetCriteria();">
                                    Clear
                                </a>
                            </div>
                            <div class="input_text float-r" >
                                <div class="float-r">
                                    <button class="btn btn-secondary" ng-click="ctrl.exportWithdrawalToExcel()">
                                        Download CSV
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="table-bets">
                    <kt-grid grid-id="kt-withdrawal-grid"
                             load-items="ctrl.getPayouts(params)"
                             name-param="id"
                             name-value-property="id"
                             show-total="false"
                             cache-key="ktwithdrawalgrid">

                        <table ng-table="tableParams" class="table table-hover clickable master_table"
                               template-pagination="{{ :: paginationUrl }}">
                            <tbody>
                                <tr ng-repeat="item in $data track by item.id">
                                    <td data-title="::'Name' | translate" data-header-class="'size-md'" class="size-md">
                                        <a class="link-a" target="_blank" ui-sref="master.lotusmember({memberid:item.user.id,usertype:5})">
                                            {{item.user.username}} ({{item.user.mobile}})
                                        </a>
                                    </td>

                                    <td data-title="::'Amount' | translate" data-header-class="'size-md'" class="size-md">
                                        {{item.amount | toRate}}
                                    </td>
                                    <td data-title="::'Cash' | translate" data-header-class="'size-lg '" class="size-lg ">
                                        <div ng-if="item.cashNote">Note : {{item.cashNote }}</div>
                                        <div ng-if="item.firstName">Name : {{item.firstName}}</div>
                                        <div ng-if="item.phone">Mobile : {{item.phone}}</div>
                                        <div ng-if="item.area">Area : {{item.area}}</div>
                                        <div ng-if="item.city">City : {{item.city}}</div>
                                    </td>

                                    <td data-title="::'A/C' | translate" data-header-class="'size-xl '" class="size-xl ">
                                        <div ng-if="item.acNo">A/C No. : {{item.acNo }} <i class="fa fa-copy" ng-click="$parent.$parent.$parent.$parent.ctrl.copyText(item.acNo)"></i></div>
                                        <div ng-if="item.ifscCode">IFSC : {{item.ifscCode }} <i class="fa fa-copy" ng-click="$parent.$parent.$parent.$parent.ctrl.copyText(item.ifscCode)"></i></div>
                                        <div ng-if="item.bankName">Bank : {{item.bankName }} <i class="fa fa-copy" ng-click="$parent.$parent.$parent.$parent.ctrl.copyText(item.bankName)"></i></div>
                                        <div ng-if="item.acName">Name : {{item.acName }} <i class="fa fa-copy" ng-click="$parent.$parent.$parent.$parent.ctrl.copyText(item.acName)"></i></div>
                                    </td>
                                    <td data-title="::'Status' | translate" data-header-class="'size-sm'" class="size-sm"
                                        tooltip-class="master-tooltip"
                                        tooltip-placement="left"
                                        tooltip-trigger="click outsideClick"
                                        uib-tooltip-html="'{{item.comment}}'">
                                        <span ng-class="{'red':item.status<=2,'green':item.status==3}">
                                            {{$parent.$parent.$parent.ctrl.getStatus(item.status) }}
                                        </span>
                                        <a class="link-a" ng-show="item.comment"><i class="fa fa-info-circle"></i></a>
                                    </td>

                                    <td data-title="::'Created' | translate"
                                        data-header-class="'size-md boolean'" class="size-md boolean">
                                        <span>
                                            <kt-date data-date-value="item.createdOn" data-format="yyyy-MM-dd HH:mm:ss"></kt-date>
                                        </span>
                                    </td>
                                    <td data-title="::'Updated' | translate"
                                        data-header-class="'size-smd boolean'" class="size-smd boolean">
                                        <span>
                                            <kt-date data-date-value="item.updatedOn" data-format="dd-MMM HH:mm:ss"></kt-date>
                                        </span>
                                    </td>
                                    <td data-title="::'Timer' | translate"
                                        data-header-class="'size-smd boolean'" class="size-smd boolean">
                                        <span>
                                            {{item.createdOn | twoDateDiff:item.updatedOn}}
                                        </span>
                                    </td>
                                    <td class="boolean">
                                        <a ng-click="$parent.$parent.$parent.$parent.ctrl.changePayoutStatus(item)"
                                           ng-if="item.status<=2"
                                           class="btn btn-success">
                                            Update
                                        </a>
                                        <span>
                                            <i ng-click="$parent.$parent.$parent.$parent.ctrl.getReceiptImage(item)"
                                               class="fa fa-image" ng-if="item.imageId">
                                            </i>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </kt-grid>
                </div>
            </div>
            <div class="bet-list-table" ng-if="selectedTab==3">
                <div class="header-name">
                    <div class="filter-input filter-detail">
                        <div class="filter-panel live-select">
                            <div class="input-group" style="float:left;margin-right:15px;">
                                <div id="picker-market-report" class="ktdatepicker"
                                     kt-date-range-picker
                                     data-from-date="paymorWithdrawalSearch.fromdate"
                                     data-to-date="paymorWithdrawalSearch.todate"
                                     data-on-selection="ctrl.refreshData()"
                                     data-format="DD MMM YYYY HH:mm:ss">
                                    {{paymorWithdrawalSearch.fromdate | date:'dd MMM yyyy'}} - {{paymorWithdrawalSearch.todate | date:'dd MMM yyyy'}}
                                    <i class="icon-calendar"></i>
                                </div>
                            </div>

                            <div class="input_text">
                                <ui-select ng-model="paymorWithdrawalSearch.status" theme="bootstrap" tabindex="2" close-on-select="true">
                                    <ui-select-match class="ui-select-match" placeholder="Status: All">Status: {{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="mt in paymorWithdrawalStatus | filter: $select.search" class="ui-select-choices">
                                        <span ng-bind-html="mt.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                            <div class="input_text ">
                                <ui-select ng-model="paymorWithdrawalSearch.selectedUser" tabindex="1" theme="bootstrap" on-select="ctrl.userSelected()"
                                           close-on-select="true">
                                    <ui-select-match class="ui-select-match" placeholder="Username/Mobile">
                                        {{$select.selected.username}} - {{$select.selected.mobile ? $select.selected.mobile : $select.selected.userCode}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="u in userList | filter: $select.search | limitTo:15"
                                                       class="ui-select-choices"
                                                       refresh="$parent.ctrl.searchUser($select.search)">
                                        <span class="align-l" ng-bind-html="u.username | highlight: $select.search"></span>
                                        &nbsp;-&nbsp;
                                        <span class="align-l" ng-show="u.mobile" ng-bind-html="u.mobile | highlight: $select.search"></span>
                                        <span class="align-l" ng-show="u.userCode && !u.mobile" ng-bind-html="u.userCode | highlight: $select.search"></span>
                                        <span class="float-r" style="color:{{u.extra.color}}" ng-bind-html="u.extra.init"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                            <div class="input_text" style="width:20%;">
                                <a class="btn btn-secondary" ng-click="ctrl.showPaymorWithdrawal();">
                                    Search Withdrawal
                                </a>
                                <a class="btn btn-danger" ng-click="ctrl.resetPaymorWithdrawalCriteria();">
                                    Clear
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="table-bets">
                    <kt-grid grid-id="kt-paymorwithdrawal-grid"
                             load-items="ctrl.getPaymorPayout(params)"
                             name-param="id"
                             name-value-property="id"
                             show-total="false"
                             cache-key="ktpaymorwithdrawalgrid">

                        <table ng-table="tableParams" class="table table-hover clickable master_table"
                               template-pagination="{{ :: paginationUrl }}">
                            <tbody>
                                <tr ng-repeat="item in $data track by item.id">
                                    <td data-title="::'Name' | translate" data-header-class="'size-md'" class="size-md">
                                        <a class="link-a" target="_blank" ui-sref="master.lotusmember({memberid:item.user.id,usertype:5})">
                                            {{item.user.username}} ({{item.user.mobile}})
                                        </a>
                                    </td>

                                    <td data-title="::'Amount' | translate" data-header-class="'size-md'" class="size-md">
                                        {{item.amount | toRate}}
                                    </td>
                                    <td data-title="::'A/C' | translate" data-header-class="'size-xl '" class="size-xl ">
                                        <div ng-if="item.accNo">A/C No. : {{item.accNo }} <i class="fa fa-copy" ng-click="$parent.$parent.$parent.$parent.ctrl.copyText(item.accNo)"></i></div>
                                        <div ng-if="item.ifscCode">IFSC : {{item.ifscCode }} <i class="fa fa-copy" ng-click="$parent.$parent.$parent.$parent.ctrl.copyText(item.ifscCode)"></i></div>
                                        <div ng-if="item.bankName">Bank : {{item.bankName }} <i class="fa fa-copy" ng-click="$parent.$parent.$parent.$parent.ctrl.copyText(item.bankName)"></i></div>
                                        <div ng-if="item.name">Name : {{item.name }} <i class="fa fa-copy" ng-click="$parent.$parent.$parent.$parent.ctrl.copyText(item.name)"></i></div>
                                        <div ng-if="item.transferType">Type : {{item.transferType }} <i class="fa fa-copy" ng-click="$parent.$parent.$parent.$parent.ctrl.copyText(item.transferType)"></i></div>
                                    </td>
                                    <td data-title="::'Status' | translate" data-header-class="'size-sm'" class="size-sm"
                                        tooltip-class="master-tooltip"
                                        tooltip-placement="left"
                                        tooltip-trigger="click outsideClick"
                                        uib-tooltip-html="'{{item.comment}}'">
                                        <span ng-class="{'red':item.status<=2,'green':item.status==3}">
                                            {{$parent.$parent.$parent.ctrl.getPaymorPayoutStatus(item.status) }}
                                        </span>
                                        <a class="link-a" ng-show="item.comment"><i class="fa fa-info-circle"></i></a>
                                    </td>

                                    <td data-title="::'Created' | translate"
                                        data-header-class="'size-md boolean'" class="size-md boolean">
                                        <span>
                                            <kt-date data-date-value="item.createdOn" data-format="yyyy-MM-dd HH:mm:ss"></kt-date>
                                        </span>
                                    </td>
                                    <td data-title="::'Updated' | translate"
                                        data-header-class="'size-smd boolean'" class="size-smd boolean">
                                        <span>
                                            <kt-date data-date-value="item.updatedOn" data-format="dd-MMM HH:mm:ss"></kt-date>
                                        </span>
                                    </td>
                                    <td data-title="::'Timer' | translate"
                                        data-header-class="'size-smd boolean'" class="size-smd boolean">
                                        <span>
                                            {{item.createdOn | twoDateDiff:item.updatedOn}}
                                        </span>
                                    </td>
                                    <td class="boolean">
                                        <a ng-click="$parent.$parent.$parent.$parent.ctrl.changePaymorPayoutStatus(item)"
                                           ng-if="item.status<=2"
                                           class="btn btn-success">
                                            Update
                                        </a>
                                        <a ng-click="$parent.$parent.$parent.$parent.ctrl.copyPaymorPayoutDetail(item)"
                                           class="btn btn-info">
                                            Copy
                                        </a>
                                        <span>
                                            <i ng-click="$parent.$parent.$parent.$parent.ctrl.getReceiptImage(item)"
                                               class="fa fa-image" ng-if="item.imageId">
                                            </i>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </kt-grid>
                </div>
            </div>
        </div>
    </div>

</div>
