<div class="row">
    <div class="col-sm-6">
        <div class="input-group">
            <span class="input-group-addon">Min Deposit</span>
            <input type="text" ng-model="item.minDeposit" class="form-control">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="input-group">
            <span class="input-group-addon">Max Deposit</span>
            <input type="text" ng-model="item.maxDeposit" class="form-control">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="input-group">
            <span class="input-group-addon">Min Withdrawal</span>
            <input type="text" ng-model="item.minWithdrwal" class="form-control">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="input-group">
            <span class="input-group-addon">Max Withdrawal</span>
            <input type="text" ng-model="item.maxWithdrwal" class="form-control">
        </div>
    </div>

</div>