/// <reference path="../../utlis/__utils.scss" />
/// <reference path="../variables/__variables.scss" />

.alert-class { position:relative !important;
    top: -15px;
    left: 82px;
   width:68% !important
}
.alert {
    padding: 2px 6px !important ;
    margin: 10px 0;
    margin:0px !important;
    font-size:12px;
    border: {
        width: 2px;
        style: solid;
        color: transparent;
        radius: 2px;
    }
}

.alert-danger {
    background: $theme-danger;
    color: $white-color;
    border: none;
}

.alert-success {
    background: $theme-success;
    color: $white-color;
    border: none;
}
