/// <reference path="../utils/_mixins.scss" />
/// <reference path="../variables/__variables.scss" />

.btn {
    border: none;
    @include border-radius(2px);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: $white-color;

    font: {
        size: 0.9231em;
        weight: 600;
    }

    @include padding(13px, 15px, 12px, 15px);
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;

    @include respond-to('sm') {
    @include padding(7px, 10px, 6px, 10px);
    }

    &:active,
    &.active {
        box-shadow: none;
    }

    &:focus,
    &:active:focus {
        box-shadow: none;
        outline: none;
    }
}

/**
 * Primary button style
 */


.btn-primary {
    background-image:url("/public/images/header-img.jpg") !important;
    background-repeat:repeat-x;
    color: $primary-btn !important;
     border:none !important;

    &:focus {
       background:url("/public/images/header-img.jpg");
         color: $theme-color !important;
    }

    &:hover {
      background:url("/public/images/header-img.jpg");
         color: $primary-btn !important;
    }

    &:active,
    &.active {
        background:url("/public/images/header-img.jpg");
         color: $theme-color !important;
    }

    &.disabled,
    &[disabled] {
        background: $light-hover-color;
        color: $theme-dark-color;
    }
}

/**
 * Secondary button style
 */

.btn-secondary {
    background-color: $theme-color;
    border: 1px solid $border-color !important;
    color: $secondary-btn;
    @include padding(12px, 14px, 11px, 14px);

    @include respond-to('sm') {
        @include padding(6px, 9px, 5px, 9px);
    }

    &:focus {
        @include border-all(1px, solid, $border-color);
        background-color: $theme-color;
        color: $theme-dark-color;
    }

    &:hover {
        background-color:$secondary-bg-hover;
        border-color: $border-color;
        color: $secondary-btn-hover !important ;
    }

    &:active,
    &.active {
        background-color: $theme-color;
        border-color: $border-color;
        color: $theme-dark-color;
    }

    &.disabled,
    &[disabled] {
        background-color: $white-color;
        border-color: $light-grey;
        color: $theme-dark-color;
    }
}

/*
    * Light button style
*/

.btn-light {
    background-color: $light-hover-color !important;
    color: $black-color !important;
    border:1px solid $border-color !important;
    @include padding(3px, 7px, 3px, 7px);

    &:focus {
       background-color: $light-hover-color !important;
       color: $black-color !important;
    }

    &:hover {
       background-color: $light-hover-color !important;
       color: $black-color !important;
    }

    &:active,
    &.active {
        background-color: $light-hover-color !important;
        color: $black-color !important;
    }

    &.disabled,
    &[disabled] {
        background: $light-hover-color;
        color: $theme-dark-color;
    }
}


/**
 * Edit button style
 */

.btn-edit {
    @extend .btn-primary;
}

/**
 * Save button style
 */

.btn-save {
    background-color: $theme-success;
    color: $white-color;

    &:focus {
        background-color: $theme-success;
        color: $white-color;
    }

    &:hover {
        background-color: $theme-success;
        color: $white-color;
    }

    &:active,
    &.active {
        background-color: darken($theme-success,10%);
        color: $white-color;
    }
}

/**
 * Cancel button style
 */

.btn-cancel {
    @extend .btn-secondary;
}

/**
 * Link-styled button styles
 */

.btn-link {
    @include generic-link-style(border-color, $link-border-color-default, $link-border-color-hover, $link-border-color-active);
    @include generic-link-style(text-decoration, none);
    @include link-colors($link-color-default, $link-color-hover, $link-color-active);
    cursor: pointer;

    border: {
        style: solid;
        width: 0 0 1px;
        radius: 0;
    }

    text: {
        decoration: none;
        transform: none;
    }
}

.btn-circle {
    @include border-radius(50%);
}


/**
 * New style buttons
 */
.button {
    background: linear-gradient(to bottom, $white-color 0, #f0f0f0 100%);
    @include border-all(1px, solid, $very-light-gray);
    @include border-radius(5px);

    box: {
        shadow: inset 0 1px 0 0 #f4f4f4;
        sizing: border-box;
    }

    color: $theme-color;
    @include display(inline-block);

    font: {
        size: 0.8462em;
        weight: 700;
    }

    text: {
        decoration: none;
        transform: uppercase;
    }

    @include padding(8px, 10px, 8px, 10px);
    cursor: $cursor;

    &:hover {
        background: linear-gradient(to bottom, $light-hover-color 0, #e2e2e2 100%);
        border-color: $silver;
    }

    &:active {
        background: linear-gradient(to bottom, $light-graywhite 0, #e5e5e5 100%);
    }

    &.button-primary {
        color: $green-mate;
    }

    &.button-secondary {
        color: $theme-light-dark-color;
    }

    &.button-link {
        background: transparent;
        border: none;
        box-shadow: none;
        color: $theme-light-dark-color;
        font-weight: 400;

        text: {
            decoration: underline;
            transform: none;
        }

        &:hover {
            background: $light-hover-color;
        }

        &:active {
            background: $light-graywhite;
        }
    }
}
