<div class="home-container">
    <div class="new-event">
        <div class="new-event-item sport{{p.eventTypeSourceId}}" ng-repeat="p in inPlayMarkets | limitTo:5 track by $index">
            <a ui-sref="mobile.base.market({marketid:p.id})">
                <i class="d-icon icon-{{p.eventTypeSourceId}}"></i>
                <span class="ml-2" style="color: rgb(248, 249, 250);">{{p.event.name}}</span>
            </a>
        </div>
    </div>
    <div class="banner">
        <div role="region" aria-busy="false" class="carousel slide pointer-event" id="home-banner">
            <div role="list" class="carousel-inner">
                <div class="carousel-item carousal-23 active" style="background: url(&quot;{{imagePath}}images/{{currentWebApp}}/banners/1710679375589.jpeg&quot;);">
                </div>
                <div class="carousel-item carousal-23" style="background: url(&quot;{{imagePath}}images/{{currentWebApp}}/banners/1695652955019.jpg&quot;);">
                </div>
                <div class="carousel-item carousal-23" style="background: url(&quot;{{imagePath}}images/{{currentWebApp}}/banners/1709619091413.jpeg&quot;);">
                </div>
                <div class="carousel-item carousal-23 " style="background: url(&quot;{{imagePath}}images/{{currentWebApp}}/banners/1710849675236.jpeg&quot;);">
                </div>
                <div class="carousel-item carousal-23" style="background: url(&quot;{{imagePath}}images/{{currentWebApp}}/banners/1710318466122.jpeg&quot;);">
                </div>
                <div class="carousel-item carousal-23" style="background: url(&quot;{{imagePath}}images/{{currentWebApp}}/banners/1705578979646.jpeg&quot;);">
                </div>
                <div class="carousel-item carousal-23 " style="background: url(&quot;{{imagePath}}images/{{currentWebApp}}/banners/1706111965529.jpg&quot;);">
                </div>
                <div class="carousel-item carousal-23" style="background: url(&quot;{{imagePath}}images/{{currentWebApp}}/banners/1702976110867.png&quot;);">
                </div>
                <div class="carousel-item carousal-23" style="background: url(&quot;{{imagePath}}images/{{currentWebApp}}/banners/1701691862501.jpeg&quot;);">
                </div>
                <div class="carousel-item carousal-23" style="background: url(&quot;{{imagePath}}images/{{currentWebApp}}/banners/1701691692740.jpeg&quot;);">
                </div>
                <div class="carousel-item carousal-23" style="background: url(&quot;{{imagePath}}images/{{currentWebApp}}/banners/1695653016735.jpg&quot;);">
                </div>
                <div class="carousel-item carousal-23" style="background: url(&quot;{{imagePath}}images/{{currentWebApp}}/banners/1701581279287.jpeg&quot;);">
                </div>
                <div class="carousel-item carousal-23" style="background: url(&quot;{{imagePath}}images/{{currentWebApp}}/banners/1701691918109.jpeg&quot;);">
                </div>
                <div class="carousel-item carousal-23" style="background: url(&quot;{{imagePath}}images/{{currentWebApp}}/banners/1701691934333.jpeg&quot;);">
                </div>
                <div class="carousel-item carousal-23" style="background: url(&quot;{{imagePath}}images/{{currentWebApp}}/banners/1695652973799.jpg&quot;);">
                </div>
            </div>
        </div>
    </div>
    <div class="sport-tabs menu-tabs d-none-desktop">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a ui-sref="mobile.base.home" aria-current="page" class="nav-link router-link-exact-active router-link-active">
                    Exchange
                </a>
            </li>
            <li class="nav-item">
                <a ui-sref="mobile.base.casino" class="nav-link">
                    Live Casino
                </a>
            </li>
            <li class="nav-item">
                <a ui-sref="mobile.base.slotcasino" class="nav-link">
                    Slot
                </a>
            </li>
        </ul>
    </div>
    <div class="sport-tabs">
        <ul id="taj_home_sports_list" class="nav nav-tabs">
            <li class="nav-item" ng-repeat="event in eventTypes  | filter:{showInMenu:true}">
                <a ng-click="ctrl.tabClicked(event.id)" ng-class="{'active':selectedEventType==event.id}"
                   class="nav-link sport{{event.sourceId}}">
                    <i class="d-icon icon-{{event.sourceId}}"></i>
                    <span>{{event.name}}</span>
                </a>
            </li>
            <li class="nav-item"><a href="javascript:void(0)" id="" class="nav-link sport4"><i class="d-icon icon-15"></i> <span>Basketball</span></a></li>
            <li class="nav-item"><a href="javascript:void(0)" id="" class="nav-link sport4"><i class="d-icon icon-58"></i> <span>American Football</span></a></li>
            <li class="nav-item"><a href="javascript:void(0)" id="" class="nav-link sport4"><i class="d-icon icon-18"></i> <span>Volleyball</span></a></li>
            <li class="nav-item"><a href="javascript:void(0)" id="" class="nav-link sport4"><i class="d-icon icon-22"></i> <span>Badminton</span></a></li>
            <li class="nav-item"><a href="javascript:void(0)" id="" class="nav-link sport4"><i class="d-icon icon-59"></i> <span>Snooker</span></a></li>
            <li class="nav-item"><a href="javascript:void(0)" id="" class="nav-link sport4"><i class="d-icon icon-19"></i> <span>Ice Hockey</span></a></li>
            <li class="nav-item"><a href="javascript:void(0)" id="" class="nav-link sport4"><i class="d-icon icon-11"></i> <span>E Games</span></a></li>
            <li class="nav-item"><a href="javascript:void(0)" id="" class="nav-link sport4"><i class="d-icon icon-9"></i> <span>Futsal</span></a></li>
            <li class="nav-item"><a href="javascript:void(0)" id="" class="nav-link sport4"><i class="d-icon icon-52"></i> <span>Motor Sports</span></a></li>
            <li class="nav-item"><a href="javascript:void(0)" id="" class="nav-link sport4"><i class="d-icon icon-39"></i> <span>Handball</span></a></li>
        </ul>
    </div>
    <div ng-if="!horseRacing">
        <div class="bet-table"
             ng-show="highlights.length<=0 && !isRequestProcessing">
            <div class="bet-table-header nodata">
                No Data Found...
            </div>
        </div>
        <div class="bet-table" ng-class="{'loader-section-parent':isRequestProcessing}">
            <div class="loader-section" ng-if="isRequestProcessing">
                <div class="lds-ripple">
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="bet-table-body" ng-show="highlights.length>0 && !isRequestProcessing">
                <div class="bet-table-box" ng-repeat="h in highlights">
                    <div class="bet-table-row-header-mobile d-none-desktop">
                        <div class="game-title">
                            <div class="game-date inplay" ng-if="h.inPlay">
                                <span>Live</span>
                            </div>
                            <div class="game-date" ng-if="!h.inPlay">
                                <p class="day text-left">{{h.event.openDate | date:'dd MMM'}}</p>
                                <p class="mb-0 day text-left">{{h.event.openDate | date:'HH:mm'}}</p>
                            </div>
                            <div class="game-name d-inline-block">
                                <a ui-sref="mobile.base.market({marketid:h.id})">
                                    <p class="team-name text-left">
                                        {{h.event.name}}
                                    </p>
                                    <p class="team-name text-left team-event" ng-if="h.event.competitionName">
                                        ({{h.event.competitionName}})
                                    </p>
                                </a>
                                <div class="game-icons">
                                    <div class="game-icon" ng-if="h.hasFancy"><span class="f-bm-icon">F</span></div>
                                    <div class="game-icon" ng-if="h.hasFancy"><span class="f-bm-icon">BM</span></div>
                                    <div class="game-icon" ng-if="h.hasVideo"><i class="icon-tv d-icon"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bet-table-row">
                        <div class="point-title" ng-init="m0 = h.marketRunner[0]"
                             ng-class="{'suspended':(h.marketStatus==3 || h.temporaryStatus==3 || h.marketStatus==4)}">
                            <div class="back bl-box" kt-animate-on-change="m0.backPrice[0].price" kt-click
                                 ng-click="ctrl.placeBet(h,1,m0.runner.id,m0.backPrice[0].price ? m0.backPrice[0].price : '',m0.runner.name,m0.backPrice[0].percentage ? m0.backPrice[0].percentage : '');">
                                <span class="d-block odds">{{m0.backPrice[0].price>0 ? m0.backPrice[0].price : '—'}}</span>
                            </div>
                            <div class="lay bl-box " kt-animate-on-change="m0.layPrice[0].price" kt-click
                                 ng-click="ctrl.placeBet(h,2,m0.runner.id,m0.layPrice[0].price ? m0.layPrice[0].price : '',m0.runner.name,m0.layPrice[0].percentage ? m0.layPrice[0].percentage : '');">
                                <span class="d-block odds">{{m0.layPrice[0].price>0 ? m0.layPrice[0].price : '—'}}</span>
                            </div>
                        </div>
                        <div class="point-title" ng-init="m2 = h.marketRunner[2]"
                             ng-class="{'suspended':(h.marketStatus==3 || h.temporaryStatus==3 || h.marketStatus==4)}">
                            <div class="no-val bl-box" ng-if="!m2">
                                <span class="d-block odds">—</span>
                            </div>
                            <div class="no-val bl-box" ng-if="!m2">
                                <span class="d-block odds">—</span>
                            </div>
                            <div class="back bl-box" ng-if="m2" role="button" kt-animate-on-change="m2.backPrice[0].price" kt-click
                                 ng-click="ctrl.placeBet(h,1,m2.runner.id,m2.backPrice[0].price ? m2.backPrice[0].price : '',m2.runner.name,m2.backPrice[0].percentage ? m2.backPrice[0].percentage : '');">
                                <span class="d-block odds">{{m2.backPrice[0].price>0 ? m2.backPrice[0].price : '—'}}</span>
                            </div>
                            <div class="lay bl-box" ng-if="m2" role="button" kt-animate-on-change="m2.layPrice[0].price" kt-click
                                 ng-click="ctrl.placeBet(h,2,m2.runner.id,m2.layPrice[0].price ? m2.layPrice[0].price : '',m2.runner.name,m2.layPrice[0].percentage ? m2.layPrice[0].percentage : '');">
                                <span class="d-block odds">{{m2.layPrice[0].price>0 ? m2.layPrice[0].price : '—'}}</span>
                            </div>
                        </div>
                        <div class="point-title" ng-init="m1 = h.marketRunner[1]"
                             ng-class="{'suspended':(h.marketStatus==3 || h.temporaryStatus==3 || h.marketStatus==4)}">
                            <div class="back bl-box" role="button" kt-animate-on-change="m1.backPrice[0].price" kt-click
                                 ng-click="ctrl.placeBet(h,1,m1.runner.id,m1.backPrice[0].price ? m1.backPrice[0].price : '',m1.runner.name,m1.backPrice[0].percentage ? m1.backPrice[0].percentage : '');">
                                <span class="d-block odds">{{m1.backPrice[0].price>0 ? m1.backPrice[0].price : '—'}}</span>
                            </div>
                            <div class="lay bl-box" role="button" kt-animate-on-change="m1.layPrice[0].price" kt-click
                                 ng-click="ctrl.placeBet(h,2,m1.runner.id,m1.layPrice[0].price ? m1.layPrice[0].price : '',m1.runner.name,m1.layPrice[0].percentage ? m1.layPrice[0].percentage : '');">
                                <span class="d-block odds">{{m1.layPrice[0].price>0 ? m1.layPrice[0].price : '—'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div ng-if="horseRacing"
         ng-init="selectedRaceCountry=-1">
        <div class="bet-table"
             ng-show="highlights.length<=0 && !isRequestProcessing">
            <div class="bet-table-header nodata">
                No Data Found...
            </div>
        </div>
        <div class="bet-table" ng-class="{'loader-section-parent':isRequestProcessing}">
            <div class="loader-section" ng-if="isRequestProcessing">
                <div class="lds-ripple">
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div ng-repeat="s in eventTypes | filter:{id:selectedEventType}"
                 ng-show="highlights.length>0 ">
                <div class="bet-table-header sport{{s.sourceId}}">
                    <div class="game-title">
                        <i class="d-icon icon-{{s.sourceId}}"></i>
                        <span>{{s.name}}</span>
                    </div>
                </div>
                <div class="horse-tab race{{s.sourceId}}">
                    <ul class="nav nav-pills">
                        <li class="nav-item" ng-repeat="c in highlights" ng-init="$parent.selectedRaceCountry=highlights[0].name">
                            <a data-toggle="tab" class="nav-link"
                               ng-click="$parent.selectedRaceCountry=c.name"
                               ng-class="{'active':c.name==selectedRaceCountry}">
                                {{c.name}}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="bet-table tab-pane fade horse-table "
                         ng-class="{'active show':c.name==$parent.selectedRaceCountry}"
                         ng-repeat="c in highlights">
                        <div class="bet-table-body">
                            <div class="bet-table-box" ng-repeat="event in c.events">
                                <div class="bet-table-row-header-mobile d-none-desktop">
                                    <div class="game-title">
                                        <div class="game-name d-inline-block">
                                            <div class="game-icons">
                                                <div class="game-icon tv-icon"><i class="icon-tv d-icon"></i></div>
                                            </div>
                                            <p class="team-name text-left">
                                                {{event.name}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="bet-table-row">
                                    <div class="horse-time-detail">
                                        <a ng-repeat="m in event.markets" ui-sref="mobile.base.horsemarket({marketid:m.id,eventtype:selectedEventType})">
                                            <span ng-class="{'active':m.inPlay}">{{m.startTime | date:'HH:mm'}}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="home-casiono-icons d-none-desktop container-fluid">
        <a ui-sref="mobile.base.casino" class="w-100">
            <h4><span>Our Casino</span></h4>
        </a>
        <section tabindex="0" class="hooper">
            <div class="hooper-list">
                <ul class="hooper-track">
                    <li aria-hidden="true" class="hooper-slide">
                        <a class="">
                            <div class="carousal-63" style="background-image: url(&quot;/public/images/{{currentWebApp}}/casino_icons/1711619375651.png&quot;);"></div>
                        </a>
                    </li>
                    <li aria-hidden="true" class="hooper-slide">
                        <a class="">
                            <div class="carousal-63" style="background-image: url(&quot;/public/images/{{currentWebApp}}/casino_icons/1711619437289.png&quot;);"></div>
                        </a>
                    </li>
                    <li aria-hidden="true" class="hooper-slide">
                        <a class="">
                            <div class="carousal-63" style="background-image: url(&quot;/public/images/{{currentWebApp}}/casino_icons/1686912004055.png&quot;);"></div>
                        </a>
                    </li>
                    <li class="hooper-slide"><a><div class="carousal-63" style="background-image: url(&quot;/public/images/{{currentWebApp}}/casino_icons/1711619476840.png&quot;);"></div> </a></li>
                    <li class="hooper-slide"><a><div class="carousal-63" style="background-image: url(&quot;/public/images/{{currentWebApp}}/casino_icons/1686912036747.png&quot;);"></div> </a></li>
                    <li class="hooper-slide"><a><div class="carousal-63" style="background-image: url(&quot;/public/images/{{currentWebApp}}/casino_icons/1686912081556.png&quot;);"></div> </a></li>
                    <li class="hooper-slide"><a><div class="carousal-63" style="background-image: url(&quot;/public/images/{{currentWebApp}}/casino_icons/1711619511598.png&quot;);"></div> </a></li>
                    <li class="hooper-slide"><a><div class="carousal-63" style="background-image: url(&quot;/public/images/{{currentWebApp}}/casino_icons/1711619596058.png&quot;);"></div> </a></li>
                    <li class="hooper-slide"><a><div class="carousal-63" style="background-image: url(&quot;/public/images/{{currentWebApp}}/casino_icons/1711696465146.png&quot;);"></div> </a></li>
                </ul>
            </div>
        </section>
    </div>

    <div class="home-casiono-icons d-none-desktop container-fluid">
        <a ui-sref="mobile.base.slotcasino" class="w-100">
            <h4><span>Slot Games</span></h4>
        </a>
        <section tabindex="0" class="hooper">
            <div class="hooper-list">
                <ul class="hooper-track">
                    <li aria-hidden="true" class="hooper-slide">
                        <a class="">
                            <div class="carousal-63" style="background-image: url(&quot;/public/images/{{currentWebApp}}/casino_icons/slots/DS-777.jpeg&quot;);"></div>
                        </a>
                    </li>
                    <li aria-hidden="true" class="hooper-slide">
                        <a class="">
                            <div class="carousal-63" style="background-image: url(&quot;/public/images/{{currentWebApp}}/casino_icons/slots/DS-fruitsbar.jpeg&quot;);"></div>
                        </a>
                    </li>
                    <li aria-hidden="true" class="hooper-slide">
                        <a class="">
                            <div class="carousal-63" style="background-image: url(&quot;/public/images/{{currentWebApp}}/casino_icons/slots/EVP-battletanks.jpeg&quot;);"></div>
                        </a>
                    </li>
                    <li class="hooper-slide"><a><div class="carousal-63" style="background-image: url(&quot;/public/images/{{currentWebApp}}/casino_icons/slots/HAK-cashcompass.jpeg&quot;);"></div> </a></li>
                    <li class="hooper-slide"><a><div class="carousal-63" style="background-image: url(&quot;/public/images/{{currentWebApp}}/casino_icons/slots/HAK-cubes2.jpeg&quot;);"></div> </a></li>
                    <li class="hooper-slide"><a><div class="carousal-63" style="background-image: url(&quot;/public/images/{{currentWebApp}}/casino_icons/slots/HAK-fearthedark.jpeg&quot;);"></div> </a></li>
                    <li class="hooper-slide"><a><div class="carousal-63" style="background-image: url(&quot;/public/images/{{currentWebApp}}/casino_icons/slots/HAK-stackem.jpeg&quot;);"></div> </a></li>
                    <li class="hooper-slide"><a><div class="carousal-63" style="background-image: url(&quot;/public/images/{{currentWebApp}}/casino_icons/slots/HAK-rocketreels.jpeg&quot;);"></div> </a></li>
                    <li class="hooper-slide"><a><div class="carousal-63" style="background-image: url(&quot;/public/images/{{currentWebApp}}/casino_icons/slots/TPG-highwaykings.jpeg&quot;);"></div> </a></li>
                </ul>
            </div>
        </section>
    </div>

</div>
