/// <reference path="../../variables/__variables.scss" />
/// <reference path="../../utlis/__utils.scss" />
/// <reference path="../../base/__base.scss" />

.admin-part{
    .chart-detail{float:left; width:100%; margin:0 0 10px 0;}
 
    .growth{
        float:left; width:100%;
        background-color:#fff; border-radius:4px;
        padding:15px 15px;
        .a-title{
            text-transform:capitalize; color:#494b41; font-size:15px;
        }
        .p-value{margin-right:5px;vertical-align:sub; }
        .c-value{font-size:15px; margin:10px 0px 5px 0px; font-weight:bold; color:#595959;
                 .c-sub{color: #a7a7a7;font-size: 13px;font-weight: normal;margin-left: 5px;}
        }
        .month-value{ 
            color:#a7a7a7;
            .positive {color: $theme-success !important;}
            .negative {color: $red-color !important;}
        }
        .v-btn{
            background-color:#DCDEFC; border-radius:4px; 
            padding:5px 10px;
            i{color:#6671fb;}
        }
    }

    .chart-value{background-color:#fff; float:left; width:100%;}
}


















