
.filters .row {
    margin: 0;
    padding: 0;
    text-align: justify
}

.filters .row.options_row {
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2
}

.filters .row.options_row > div:last-child:not(.tote-and-multiples) {
    text-align: right
}

.filters .row.options_row .dropdown-toggle span.caret {
    margin-left: 8px;
    margin-left: 8px
}

.filters .row .left--side__cell, .filters .row .right--side__cell {
    padding: 8px 0;
    text-align: left;
    vertical-align: top;
    display: inline-block
}

.filters .row .left--side__cell.status--selector, .filters .row .right--side__cell.status--selector {
    margin-left: 7px
}

.filters .row .right--side__cell {
    margin-left: 16px;
    line-height: 44px;
    padding: 2px 8px
}

.filters .row .option__cell {
    cursor: pointer;
    font-weight: 700;
    padding: 2px 16px
}

.filters .row .option__cell span {
    margin-left: 4px
}

.filters .row .option__cell.active {
    background: #f7f7f7
}

.filters .row .refresh__cell {
    padding-top: 1px;
    font-size: 18px;
    cursor: pointer
}

.filters .filters--detailed {
    background: #f7f7f7
}

.filters .filters--detailed .dropdown-toggle {
    width: 100%
}

.filters .filters--detailed > div > div {
    display: inline-block
}

.filters .filters--detailed > div > div:last-child {
    border-right: 0
}

.filters .filters--detailed > div > div > label {
    padding-left: 5px
}

.filters .filters--detailed > div > div > div:not(.status-and-sport) {
    padding-left: 5px;
    padding-right: 5px
}

.filters .filters--detailed > div > div > div.status-and-sport > label {
    padding-left: 5px
}

.filters .filters--detailed > div > div > div.status-and-sport > div {
    padding-left: 5px;
    padding-right: 5px
}

.filters .filters--detailed > div div + label {
    margin-top: 7px
}

.filters .filters--detailed > div input#calendar--dates {
    margin-top: 9px
}

.filters .filters--detailed > div .calendar--container div:first-child, .filters .filters--detailed > div .calendar--container div:last-child {
    padding: 0
}

.filters .filters--detailed > div .calendar--container div:first-child p, .filters .filters--detailed > div .calendar--container div:last-child p {
    margin: 0
}

.filters .filters--detailed > div .calendar--container div:last-child p.input-group ul {
    left: auto !important;
    right: 0 !important
}

.filters .filters--detailed div.date-filter-disabled {
    opacity: .7
}

.filters .filters--detailed:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.filters .filters--detailed .btn-group {
    display: block
}

.filters .filters--detailed .btn-group > .btn {
    float: none
}

.filters .filters--detailed button + ul.dropdown-menu {
    margin-left: 5px;
    right: 5px
}

.filters .filters--detailed button + ul.dropdown-menu li {
    cursor: pointer
}

.filters .filters--detailed button + ul.dropdown-menu li.disabled {
    cursor: not-allowed;
    opacity: .5
}

.filters .btn {
    font-size: 12px;
    font-weight: 700;
    background-color: #ccd0d3;
    line-height: 1.2;
    border-radius: 2px;
    border-color: #ccd0d3;
    white-space: normal
}

.filters .btn.btn-cal {
    padding: 5px 10px;
    height: 27px
}

.filters .btn-primary {
    border-color: #4f4f4f;
    background-color: #4f4f4f
}



.filters .form-control:disabled {
    opacity: .3
}

.filters .form-control.calendar-from__selector, .filters .form-control.calendar-to__selector {
    background-color: #d5d5d5;
    background-image: -moz-linear-gradient(top,#e1e1e1,#c2c2c2);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#e1e1e1),to(#c2c2c2));
    background-image: -webkit-linear-gradient(top,#e1e1e1,#c2c2c2);
    background-image: -o-linear-gradient(top,#e1e1e1,#c2c2c2);
    background-image: linear-gradient(to bottom,#e1e1e1,#c2c2c2);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE1E1E1',endColorstr='#FFC2C2C2',GradientType=0);
    height: 27px
}

.filters label {
    vertical-align: middle;
    margin-left: 2px
}

.filters .btn.btn-default:not(.btn-primary).dropdown-toggle {
    text-align: left
}

.filters .btn.btn-default:not(.btn-primary).dropdown-toggle span.caret {
    margin-top: 5px
}

.filters .dropdown-menu {
    padding: 0;
    border-radius: 2px
}

.filters .dropdown-menu li {
    border: 1px solid #fff
}

.filters .dropdown-menu li > a, .filters .dropdown-menu li > span {
    display: block
}

.filters .row .option__cell {
    color: #2489d5
}

.filters .row .left--side__cell.state--selector {
    margin-left: 10px
}

.filters .row .left--side__cell, .filters .row .right--side__cell {
    height: 44px
}

.filters .row .left--side__cell.state--selector, .filters .row .right--side__cell.state--selector {
    margin-left: 10px
}

.filters .row .refresh__cell {
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease
}

.filters .row .refresh__cell:hover {
    -webkit-transform: rotate(210deg);
    -moz-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    -o-transform: rotate(210deg);
    transform: rotate(210deg)
}

.filters .row.options_row {
    border-top: 1px solid #f2f2f2
}

.filters .row.options_row > div:last-child:not(.tote-and-multiples) {
    padding-top: 6px
}

.filters .row.options_row .dropdown-toggle {
    background-color: #ccd0d3
}

.filters .btn.btn-default:not(.btn-primary) {
    background-color: #d5d5d5;
    background-image: -moz-linear-gradient(top,#e1e1e1,#c2c2c2);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#e1e1e1),to(#c2c2c2));
    background-image: -webkit-linear-gradient(top,#e1e1e1,#c2c2c2);
    background-image: -o-linear-gradient(top,#e1e1e1,#c2c2c2);
    background-image: linear-gradient(to bottom,#e1e1e1,#c2c2c2);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE1E1E1',endColorstr='#FFC2C2C2',GradientType=0)
}

.filters .btn.btn-default:not(.btn-primary).dropdown-toggle {
    width: 100%
}

.filters .btn.btn-default:not(.btn-primary) span.caret {
    float: right
}

.filters .dropdown-menu {
    font-size: 12px;
    background-color: #eeeff0
}

.filters .dropdown-menu li > a, .filters .dropdown-menu li > span {
    //padding: 6px 10px;
    font-weight: 700;
    background-color: transparent
}

.filters .dropdown-menu li:hover:not(.disabled) {
    background-color: #efefef;
    background-image: -moz-linear-gradient(top,#fbfbfb,#dcdcdc);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fbfbfb),to(#dcdcdc));
    background-image: -webkit-linear-gradient(top,#fbfbfb,#dcdcdc);
    background-image: -o-linear-gradient(top,#fbfbfb,#dcdcdc);
    background-image: linear-gradient(to bottom,#fbfbfb,#dcdcdc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFBFBFB',endColorstr='#FFDCDCDC',GradientType=0)
}

.filters .dropdown-menu .active {
    background-color: #d5d5d5;
    background-image: -moz-linear-gradient(top,#e1e1e1,#c2c2c2);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#e1e1e1),to(#c2c2c2));
    background-image: -webkit-linear-gradient(top,#e1e1e1,#c2c2c2);
    background-image: -o-linear-gradient(top,#e1e1e1,#c2c2c2);
    background-image: linear-gradient(to bottom,#e1e1e1,#c2c2c2);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE1E1E1',endColorstr='#FFC2C2C2',GradientType=0)
}

.filters .filters--detailed {
    padding: 10px
}

.filters .filters--detailed > div > div {
    padding: 10px
}

.filters .filters--detailed button + ul.dropdown-menu {
    font-size: 12px
}

.min-filters .min-buttons .bet-now {
    color: $bf-black;
    background: #ffb816;
    background: linear-gradient(to bottom,#ffb816,#ffc40e);
    background: -webkit-gradient(linear,left top,left bottom,from(#ffb816),to(#ffc40e));
    background: -moz-linear-gradient(top,#ffb816,#ffc40e);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$mysin,endColorstr=$supernova);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$mysin,endColorstr=$supernova)
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.btn:hover, .btn:focus, .btn.focus {
    color: #333;
    text-decoration: none
}

.btn:active, .btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}

.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    background-image: none
}

.btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled].active, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
    background-color: #fff;
    border-color: #ccc
}

.btn-default .badge {
    color: #fff;
    background-color: #333
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #286090;
    border-color: #204d74
}

.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
    background-image: none
}

.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
    background-color: #337ab7;
    border-color: #2e6da4
}

.btn-primary .badge {
    color: #337ab7;
    background-color: #fff
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c
}

.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #449d44;
    border-color: #398439
}

.btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle {
    background-image: none
}

.btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled.focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled].focus, .btn-success[disabled]:active, .btn-success[disabled].active, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active {
    background-color: #5cb85c;
    border-color: #4cae4c
}

.btn-success .badge {
    color: #5cb85c;
    background-color: #fff
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da
}

.btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc
}

.btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
    background-image: none
}

.btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled.focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled].focus, .btn-info[disabled]:active, .btn-info[disabled].active, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info.focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active {
    background-color: #5bc0de;
    border-color: #46b8da
}

.btn-info .badge {
    color: #5bc0de;
    background-color: #fff
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236
}

.btn-warning:hover, .btn-warning:focus, .btn-warning.focus, .btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512
}

.btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle {
    background-image: none
}

.btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled.focus, .btn-warning.disabled:active, .btn-warning.disabled.active, .btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled].focus, .btn-warning[disabled]:active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning.focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning.active {
    background-color: #f0ad4e;
    border-color: #eea236
}

.btn-warning .badge {
    color: #f0ad4e;
    background-color: #fff
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a
}

.btn-danger:hover, .btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925
}

.btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
    background-image: none
}

.btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled.focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger[disabled], .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled].focus, .btn-danger[disabled]:active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger.focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active {
    background-color: #d9534f;
    border-color: #d43f3a
}

.btn-danger .badge {
    color: #d9534f;
    background-color: #fff
}

.btn-link {
    color: #337ab7;
    font-weight: 400;
    border-radius: 0
}

.btn-link, .btn-link:active, .btn-link.active, .btn-link[disabled], fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
    border-color: transparent
}

.btn-link:hover, .btn-link:focus {
    color: #23527c;
    text-decoration: underline;
    background-color: transparent
}

.btn-link[disabled]:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:hover, fieldset[disabled] .btn-link:focus {
    color: #777;
    text-decoration: none
}

.btn-lg, .btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33333;
    border-radius: 6px
}

.btn-sm, .btn-group-sm > .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}

.btn-xs, .btn-group-xs > .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}

.btn-block {
    display: block;
    width: 100%
}

.btn-block + .btn-block {
    margin-top: 5px
}

.dropup, .dropdown {
    position: relative
}

.dropdown-toggle:focus {
    outline: 0
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box
}

.dropdown-menu.pull-right {
    right: 0;
    left: auto
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857;
    color: #333;
    white-space: nowrap
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #337ab7
}

.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    color: #777
}

.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    cursor: not-allowed
}

.open > .dropdown-menu {
    display: block
}

.open > a {
    outline: 0
}

.dropdown-menu-right {
    left: auto;
    right: 0
}

.dropdown-menu-left {
    left: 0;
    right: auto
}

.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857;
    color: #777;
    white-space: nowrap
}

.dropdown-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 990
}

.pull-right > .dropdown-menu {
    right: 0;
    left: auto
}

.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px solid;
    content: ""
}

.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px
}

@media(min-width:768px) {
    .navbar-right .dropdown-menu {
        right: 0;
        left: auto
    }

    .navbar-right .dropdown-menu-left {
        left: 0;
        right: auto
    }
}

.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle
}

.btn-group > .btn, .btn-group-vertical > .btn {
    position: relative;
    float: left
}

.btn-group > .btn:hover, .btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active, .btn-group-vertical > .btn:hover, .btn-group-vertical > .btn:focus, .btn-group-vertical > .btn:active, .btn-group-vertical > .btn.active {
    z-index: 2
}

.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
    margin-left: -1px
}

.btn-toolbar {
    margin-left: -5px
}

.btn-toolbar:before, .btn-toolbar:after {
    content: " ";
    display: table
}

.btn-toolbar:after {
    clear: both
}

.btn-toolbar .btn-group, .btn-toolbar .input-group {
    float: left
}

.btn-toolbar > .btn, .btn-toolbar > .btn-group, .btn-toolbar > .input-group {
    margin-left: 5px
}

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0
}

.btn-group > .btn:first-child {
    margin-left: 0
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0
}

.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}

.btn-group > .btn-group {
    float: left
}

.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
    border-radius: 0
}

.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child, .btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0
}

.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}

.btn-group .dropdown-toggle:active, .btn-group.open .dropdown-toggle {
    outline: 0
}

.btn-group > .btn + .dropdown-toggle {
    padding-left: 8px;
    padding-right: 8px
}

.btn-group > .btn-lg + .dropdown-toggle, .btn-group-lg.btn-group > .btn + .dropdown-toggle {
    padding-left: 12px;
    padding-right: 12px
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
}

.btn-group.open .dropdown-toggle.btn-link {
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn .caret {
    margin-left: 0
}

.btn-lg .caret, .btn-group-lg > .btn .caret {
    border-width: 5px 5px 0;
    border-bottom-width: 0
}

.dropup .btn-lg .caret, .dropup .btn-group-lg > .btn .caret {
    border-width: 0 5px 5px
}

.btn-group-vertical > .btn, .btn-group-vertical > .btn-group, .btn-group-vertical > .btn-group > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%
}

.btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after {
    content: " ";
    display: table
}

.btn-group-vertical > .btn-group:after {
    clear: both
}

.btn-group-vertical > .btn-group > .btn {
    float: none
}

.btn-group-vertical > .btn + .btn, .btn-group-vertical > .btn + .btn-group, .btn-group-vertical > .btn-group + .btn, .btn-group-vertical > .btn-group + .btn-group {
    margin-top: -1px;
    margin-left: 0
}

.btn-group-vertical > .btn:not(:first-child):not(:last-child) {
    border-radius: 0
}

.btn-group-vertical > .btn:first-child:not(:last-child) {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.btn-group-vertical > .btn:last-child:not(:first-child) {
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-top-left-radius: 0
}

.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn {
    border-radius: 0
}

.btn-group-vertical > .btn-group:first-child:not(:last-child) > .btn:last-child, .btn-group-vertical > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0
}

.btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate
}

.btn-group-justified > .btn, .btn-group-justified > .btn-group {
    float: none;
    display: table-cell;
    width: 1%
}

.btn-group-justified > .btn-group .btn {
    width: 100%
}

.btn-group-justified > .btn-group .dropdown-menu {
    left: auto
}

[data-toggle=buttons] > .btn input[type=radio], [data-toggle=buttons] > .btn input[type=checkbox], [data-toggle=buttons] > .btn-group > .btn input[type=radio], [data-toggle=buttons] > .btn-group > .btn input[type=checkbox] {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate
}
