.feed-market {
    width: 100%;
    display:inline-block;
    .input-container{
        margin:10px 0 0 0;
        display:inline-block;
       .input-group{
           float:left;
           width: -webkit-calc(25% - 10px);
           width: -moz-calc(25% - 10px);
           width:calc(25% - 10px);
           margin-right:10px;
           input{height:35px;}
           &:last-child{
                margin-right:0;
                 width: -webkit-calc(25% - 0px);
                 width: -moz-calc(25% - 0px);
                 width:calc(25% - 0px);
            }
       }
    }

    .start-bar{
        width:100%; float:left;  margin-bottom:15px;
        .input-group{
            width:-webkit-calc(75% - 10px);
            width:-moz-calc(75% - 10px);
            width:calc(75% - 10px);
            float:left;
            margin:8px 10px 0 0;
        }
        .start-btn{
            width:25%;
            float:left;
            height:34px;
            margin:8px 0 0 0;
        }
    }
}


.playing-cards {
    margin: 0px 10px;
    padding: 5px 5px;
    background-color: #536b78;

    .runner-selection {
        width: 210px;
        min-height: 100px;
        float: left;
        .btn{
            margin-bottom:5px;
            margin-left:5px;
        }
    }

    .card-selection {
        width: calc(100% - 210px);
        display: inline-block;
    }

    .chk {
        width: 100%;
        float: left;
        color: white;
    }

    .cards {
        width: 35px;
        margin-left: 5px;
        transition: transform .2s;
        cursor: pointer;
    }

    .cards:hover {
        transform: scale(1.2);
    }

    .card-row {
        width: 100%;
    }
}

.cards-inside-runner {
    padding:0px 2px;
    margin-top: -11px;
    margin-bottom: -10px ;
    height: 35px;
    transition: transform .2s;
    cursor: pointer;
}
.session-alpha-ladder {
    .savebtn {
        background-color: #29ceae;
        color: #133e55;
    }

    table {
        margin-left: 15px;
        width: 98%;
        min-width: 1210px;
        background-color: #133e55;
    }

    .name {
        color: white;
        width: 29px;
        float: left;
        font-size: 10px;
        font-weight: bold;
        margin-top: 6px;
    }

    tr {
        width: 100%;
        float: left;
        padding: 5px;
    }

    td {
        width: 10%;
        min-width: 120px;
        float: left;
    }

    input {
        width: 38px;
        font-weight: bold;
        text-align: center;
    }
}