/// <reference path="../../utlis/__utils.scss" />
/// <reference path="../../variables/__variables.scss" />
/// <reference path="../../base/__base.scss" />


.import-market {
    background: white;
    padding-bottom: 10px;
    margin-top:10px;

    .row {
        padding-bottom: 5px;
        padding-top: 5px;
        border-bottom: 1px solid;
    }


    span {
        margin: 0px 3px;
    }

    .input-box {
    }

    .mname {
        width: 200px;
    }

    .mnumber {
        width: 75px;
        text-align: right;
    }

    .empty-span {
        width: 75px;
        display: inline-block;
        margin: 0px;
    }

    .m_mini {
        min-width: 50px;
        text-align: center;
        display: inline-block;
    }

    .m_label {
        min-width: 90px;
        text-align: center;
        display: inline-block;
    }

    .m_runner {
        width: 450px;
        float: right;
        span.ui-select-highlight{margin:0px;}
    }
}
