/// <reference path="../../utlis/__utils.scss" />
/// <reference path="../variables/__variables.scss" />
/// <reference path="../base/__base.scss" />


.abexch-login {
    background-color: #111111;
    height: 100vh;

    .login-wrapper {
        width: 500px;
        color: #fff;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top:5%;

        .logo-img {
            width: 100%;
            height: 100px;
            display: block;
            margin: 0 0 30px 0;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        .login-formdetail {
            position: relative;
            background-color: #1a1a1a;
            padding: 25px;
            border-top-left-radius: 11px;
            border-top-right-radius: 11px;

            .input-group {
                width: 100%;
            }

            .form-control {
                border-radius: 50px;
                margin: 14px 0;
                background-color: #333333;
                border: 1px solid #333333;
                height: 55px;
                font-size: 15px;
                color: #fff !important;
                width: 100%;
                padding: 6px 25px;

               &:focus{box-shadow:none !important;}
            }

            .ab-logininfo {
                float: left;
                width: 100%;

                .form-group {
                    float: left;
                    width: 100%;
                    margin: 0px !important;
                }
            }

            .login-btn {
                float: left;
                width: 100%;
                height: 55px;
                font-size: 18px;
                border-radius: 50px;
                letter-spacing: 1px;
                background-color: #14ADAB;
                box-shadow: 0 0 0 1px #14ADAB inset;
                border: 1px solid #14ADAB;
                text-transform: uppercase;
                font-weight: bold;
                margin: 14px 0;
                cursor:pointer !important;
                pointer-events:auto !important;
                &:focus{outline:none !important}
            }
            .login-btn:hover{
                    background-color:transparent !important;
                    color:#14ADAB;
                }

            .validation {
                float: left;
                width: 70%;
            }

            .captcha-div {
                float: left;
                margin: 29px 0 0 30px;

                .code {
                    background-color: #fff;
                    padding: 16px 13px 22px 20px;
                    border-radius: 30px;
                    text-align: center;
                }
            }

            .alert-class {
                position: absolute !important;
                top: 10px;
                left: 85px;
            }
        }

        .note {
            font-size: 16px;
            margin: 0 0 20px 0 !important;
        }

        .ablogin-user {
            float: left;
            width: 100%;
        }

        .ablogin-btn {
            float: left;
            width: 100%;
        }

        .login-support {
            background-color: #212121;
            padding: 15px;
            border-bottom-left-radius: 11px;
            border-bottom-right-radius: 11px;
            font-size: 14px;

            .s-note {
                color: #E1AA18;
                margin: 0 0 20px 0 !important;
            }

            .link-detail {
                color: #8F99A3;
                width: 100%;
                float: left;
                padding-left: 10px;
                text-align: left;

                .age {
                    margin-left: 5px;
                }

                .ab-link a {
                    color: #14ADAB;
                    font-size:11px;
                }
            }
        }
    }
}
