/// <reference path="../../utlis/__utils.scss" />
/// <reference path="../../variables/__variables.scss" />
/// <reference path="../../base/__base.scss" />


.sportmenu-li {
    .i-sport {
        @include resize($float-left, 18px);
        @include display(block);
        margin-right: 10px;
        background-repeat: no-repeat;
        vertical-align: middle;
        background-size: 18px 18px;
        height: 18px;
        background-image: url(/public/images/icons/special.png);
    }

    .casino {
        background-image: url(/public/images/icons/casino.png);
    }

    .kabaddi {
        background-image: url(/public/images/icons/kabaddi.ico);
    }

    .teen-patti, .Teen, .Royal, .exchange-games {
        background-image: url(/public/images/mobile/teenpatti.png);
    }

    .royal {
        background-image: url(/public/images/mobile/royalcasino.png);
    }

    .virtual-games {
        background-image: url(/public/images/icons/live.png);
    }

    .all-sports {
        background-image: url(/public/images/mobile/all-sports.png);
    }

    .poker {
        background-image: url(/public/images/mobile/bets.png);
    }

    .election, .rajasthan {
        background-image: url(/public/images/icons/election.png);
    }

    .cricket {
        background-image: url(/public/images/icons/cricket.png);
    }

    .soccer, .football {
        background-image: url(/public/images/icons/soccer.png);
    }

    .tennis {
        background-image: url(/public/images/icons/tennis.png);
    }

    .basketball {
        background-image: url(/public/images/icons/basketball.png);
    }

    .horse-racing {
        background-image: url(/public/images/icons/race-horse.png);
    }

    .session {
        background-image: url(/public/images/icons/session.png);
    }

    .snooker {
        background-image: url(/public/images/icons/snooker.png);
    }

    .handball {
        background-image: url(/public/images/icons/handball.png);
    }

    .greyhound-racing {
        background-image: url(/public/images/icons/greyhound.png);
    }

    .politics {
        background-image: url(/public/images/icons/politics.png);
    }

    .pool {
        background-image: url(/public/images/icons/snooker.png);
    }

    .rugby {
        background-image: url(/public/images/icons/rugby.png);
    }

    .special {
        background-image: url(/public/images/icons/special.png);
    }
}


.ssc-sprite {
    background-image: url(/public/images/icon2/ssc-sprite.svg?v=1) !important;
    background-repeat: no-repeat;
}

.grid-container {
    [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
        display: inline-block;
        margin: 0px;
    }

    .radio, .checkbox {
        margin: 0px;
    }

    label {
        font-weight: normal;
    }

    .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
        position: relative;
    }

    .settings-container .tab-navigation .tab-content {
        width: 350px;
    }

    .tab-list .tab-title {
        margin: 0px !important;
    }
}



div.place-bet-panel {
    width: 100%;
    height: 100%
}

.ssc-mls {
    background: url(/public/images/icon2/ssc-mobilelinks-sprite-v3.png) no-repeat;
}

.gutter-pad-8 {
    padding: 8px;
}

.login-dialog {
    display: none;

    &.disp {
        display: block;
    }
}

.modal-overlay {
    .grid-spinner {
        height: 28px;
        margin-bottom: -11px;
        outline: none !important;
    }

    .otp-timer {
        display: flex;
        justify-content: space-between;
    }

    .two_input {
        display: flex;
        justify-content: space-between;
        width: 203px;
        flex-direction: row;
        align-items: center;
        align-items: flex-start;

        .first_box {
            width: 80px;

            .btn {
                padding: 0px;
                font-size: unset;
            }

            .form-control {
                height: 22px;
                padding: 3px 8px 4px;

                &:focus, &:focus-within, &:active {
                    border-color: unset;
                    box-shadow: none;
                    padding: 0px 0px 0px;
                }
            }

            .ui-select-bootstrap .ui-select-toggle > .caret {
                right: 3px;
            }
        }

        .login-input {
            width: 100px;
        }
    }
}

.modal-dialog .overlay .dialog-container .dialog-content {
    display: flex;
}

.ssc-container.ssc-theme-betfair .mod-footer .ssc-fw,
.ssc-container.ssc-theme-betfair .mod-footer,
.ssc-container.ssc-theme-betfair .mod-footer .ssc-seos .ssc-seotc,
.ssc-container.ssc-theme-betfair .mod-footer .ssc-seos {
    background: transparent !important;
    background-color: transparent !important;
}

.ssc-fsal a {
    background: url(/public/images/icon2/ssc-logos-sprite-com-v22.png) no-repeat;
}

.bet-msg .errorMsg {
    background-color: #fe0000;
    line-height: 24px;
    color: #fff;
    font-size: 12px;
    padding: 0 5px;
}

.bet-msg .warningMsg {
    background-color: yellow;
    line-height: 24px;
    color: #000;
    font-size: 12px;
    padding: 0 5px;
}

.section-item {
    display: inline-block;

    .left-btn {
        width: 80%;
        float: left;

        input {
            width: 70px;
            line-height: 20px;
            margin: 2px;
        }
    }

    .stake-btn {
        text-align: center;
        float: left;
        width: 70px;
        line-height: 20px;
        font-weight: 700;
        color: $font-on-dark;
        font-size: 11px;
        background-color: $bf-black-2;
        border-width: 1px;
        border-style: solid;
        border-color: #c5c5c5;
        margin: 2px;
        border-radius: 4px;
    }

    .edit-btn {
        float: left;
        height: 22px;
        display: flex;
        padding: 5px;
        border: 1px solid;
        border-radius: 5px;
        flex-direction: row;
        align-content: center;
        align-items: center;
        background: $font-on-dark;
        color: $bf-black-2;

        a {
            text-transform: uppercase;
            color: $bf-black-2;

            .fa {
                margin-left: 2px;
            }
        }
    }
}

.ssc-bd {
    .ssc-tlpcs {
        top: -19px !important;
    }
}

.upcoming-race.accordion {
    display: flex;
    flex-direction: column;
    margin: 0px;

    .card {
        border: 1px solid #eaeaea;
        box-shadow: unset;
    }
}

.upcoming-title {
    padding: 10px 0px;
    font-size: 12px;
    font-weight: bold;
}

.ssc-wldd {
    text-align: right;
}

.ssc-container .mod-login .ssc-wlco table.ssc-wldd .ssc-wll .ssc-wla, .ssc-container .mod-login .ssc-wlco table.ssc-wldd .ssc-wll .ssc-wln {
    font-size: 15px !important;
}

.ssc-container .mod-login .ssc-wlco table.ssc-wldd .ssc-wlm .ssc-wla, .ssc-container .mod-login .ssc-wlco table.ssc-wldd .ssc-wlm .ssc-wlnc .ssc-wln {
    font-size: 13px !important;
}

.multimarket {
    .black-back {
        background-color: #303030;
        justify-content: flex-start;
        padding: 10px 0px;
    }
}

.recent-results {
    thead {
        background-color: #303030;
        padding: 8px;
        height: 40px;
        border-radius: 2px 2px 0 0;
        color: #fff;

        th {
            padding-left: 10px;
            font-weight: 600;
        }

        tr:hover {
            background-color: #303030 !important;
        }
    }
}

.modal-content {
    .login-dialog {
        display: block;



        .overlay {
            display: flex;
        }

        .dialog-container {
            width: 80%;
            height: calc(100vh - 50px);
            position: relative;
            display: inline-block;
            margin: auto;
            overflow-y: hidden;
            align-items: center;
            align-content: center;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
        }

        .dialog-content {
            max-height: calc(100vh - 146px);
            overflow-y: auto;
        }

        p {
            margin: 11px 0px;
        }
    }

    .modal-footer {
        padding: 5px 10px;
        display: flex;
        position: relative;
        float: right;
    }

    .login-button {
        color: #273a47;
        overflow: visible;
        background: #ffe659;
        background: linear-gradient(0deg,#fff,#ffb80c);
        zoom: 1;
        border-radius: 3px 3px 3px 3px;
        cursor: pointer;
        border: 1px solid;
        border-color: #fa2 #fa2 #bf7c12;
        padding: 4px 5px;
        margin-right: 5px;
        width: auto;
        font-weight: 700
    }
}

.card-content {
    a {
        color: #303030;
        text-decoration: none;
    }

    .popup_height {
        min-height: unset;
    }
}

.no-event {
    background: #fff;
}

#main-navigation {
    height: 43px;
    display: grid;
}

#grid-container {
    display: grid;
}

.mydetails-wrapper {
    select {
        height: 20px;
    }
}

.bf-grid {
    .alert {
        padding: 10px 10px !important;
        font-weight: bold;
        text-align: center;
        border: 1px solid #dadada;
    }

    .pagination {
        box-shadow: unset;
        padding: 5px 10px;
        margin-top: 10px;

        li {
            margin-right: 5px;
        }
    }

    .ng-table-pager {
        .btn {
            border: 1px solid #e2e2e2;
            margin-right: 5px;
            line-height: 25px;
            padding: 0px 15px;
        }
    }

    thead {
        background-color: $bf-grid-header-bg;
    }

    th {
        padding: 10px 2px;
        font-size: 13px;
        text-align: center;
        font-weight: bold;
    }

    td {
        border-bottom: 1px solid #dfdfdf;
        padding: 10px 2px;
        text-align: center;
    }

    .expand-td {
        padding: 0px;
        background: #e6eff7;

        .table-bets {
            width: 74%;
            float: right;
            border-left: 1px solid #7E97A7;
            border-right: 1px solid #7E97A7;
        }
    }

    .boolean {
        text-align: center;
    }

    dl {
        margin-bottom: 17px;
    }

    .net-total dt {
        float: left;
        width: 85%;
        font-weight: 400;
    }

    .net-total dd {
        padding: 0 0 8px;
    }

    .net-total {
        background-color: #b4c8da !important;
        border-top: 1px solid #7E97A7;
    }

    .net-total .net_total {
        border-top: 1px dotted #7E97A7;
        padding: 5px 0 0;
    }
}

table .matched a {
    color: #818181;
    font-size: 11px;
}

.position {
    display: flex;
    flex-direction: row;
    padding: 2px;
    border: 1px solid #f0f0f0;

    &:hover {
        background-color: rgba(198,198,198,0.33);
    }

    .p_left {
        padding: 5px;
        width: 100px;
    }

    .p_value {
        padding: 5px;
    }
}

.ssc-lib {
    .grid-spinner {
        display: inline-block;
        width: 20px;
        height: 20px;
        position: relative;
        top: 2px;
        vertical-align: top;
        left: -27px;
        margin: 0px !important;
        margin-right: -8px !important;
    }
}

.my-wallet .tab-wallet .tether .chg-pass {
    width: 50%;
    min-height: 500px;
}

.crypto-deposit {
    .token-title {
        font-size: 12px;
        margin: 5px;
        padding: 5px;
        font-weight: 700;
        font-family: system-ui;
        margin-top: 25px;
        color: #68676a;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        small {
            font-weight: normal;
        }
    }

    .suggest-token {
        display: flex;
        justify-content: space-evenly;
    }

    .token {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $crypto-btn-1;
        padding: 7px 5px;
        border-radius: 3px;
        //min-width: 65px;
        cursor: pointer;
        //transition: background 0.2s ease;
        width: 100%;
        margin: 0px 2px;
        min-height: 24px;
        border: 1px solid $p-btn-shadow;

        &:hover {
            background: $crypto-btn-hover;
        }

        .token-icon {
            width: 20px;
        }

        .token-name {
            margin-left: 5px;
            font-weight: 700;
        }

        &.network {
            &:hover {
                background: $p-btn-bg-2;
                color: $p-btn-shadow;
                border: 1px solid $p-btn-shadow;
                transform: scale(1.01);
            }

            &.selected {
                background: $p-btn-bg-2;
                color: $p-btn-shadow;
                border: 1px solid $p-btn-shadow;
                transform: scale(1.01);
            }
        }
    }

    .token-selection {
        border: 4px solid rgba(248, 248, 248, 0.44);
        background: $crypto-btn-1;
        padding: 2px;
        margin: 0px 2px;
        display: flex;
        justify-content: space-between;

        .token {
            border: 0;
            border-radius: 0;
            margin: 0px;
            justify-content: space-between;
            background: transparent;

            .part1 {
                display: flex;
                align-items: center;
            }
        }

        .select-wrapper {
            position: relative;
            user-select: none;
            width: 150px;
        }

        .select {
            position: relative;
            display: flex;
            flex-direction: column;
            background: $payment-bg;
            border-radius: 3px;

            &:hover {
                background: lighten($payment-bg,5%);
            }
        }

        .select__trigger {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            //padding: 10px;
            font-weight: 300;
            color: #3b3b3b;
            cursor: pointer;
            height: 40px;
            padding: 0px 5px;
        }

        .custom-options {
            position: absolute;
            display: block;
            top: 100%;
            left: 0;
            right: 0;
            border: 2px solid $crypto-btn-1;
            border-top: 0;
            background: #fff;
            transition: all 0.5s;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            z-index: 2;
            height: 250px;
            overflow-y: auto;
        }

        .select.open .custom-options {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }

        .custom-option {
            position: relative;
            //display: block;
            padding: 10px;
            font-weight: 300;
            color: #3b3b3b;
            cursor: pointer;
            transition: all 0.5s;
            height: 20px;
            display: flex;
            justify-content: flex-start;

            &.token {
                width: unset;
            }
        }

        .custom-option:hover {
            cursor: pointer;
            background-color: $crypto-btn-1;
        }

        .custom-option.selected {
            background-color: $crypto-btn-1;
        }

        .arrow {
            position: relative;
            height: 7px;
            width: 7px;
        }

        .arrow::before, .arrow::after {
            content: "";
            position: absolute;
            bottom: 0px;
            width: 0.15rem;
            height: 100%;
            transition: all 0.5s;
        }

        .arrow::before {
            left: -2px;
            transform: rotate(45deg);
            background-color: #394a6d;
        }

        .arrow::after {
            left: 3px;
            transform: rotate(-45deg);
            background-color: #394a6d;
        }

        .open .arrow::before {
            left: -2px;
            transform: rotate(-45deg);
        }

        .open .arrow::after {
            left: 3px;
            transform: rotate(45deg);
        }
    }

    .select_right {
        padding: 0px 5px;
        font-family: system-ui;
        min-width: 200px;
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .balance_lbl {
            font-size: 13px;
        }

        .balance_val {
            font-size: 11px;
            font-weight: bold;
            color: #5b5b5b;
        }
    }

    .token-address, input[type="number"] {
        height: 30px !important;
        background: no-repeat;
        background-color: transparent !important;
        border: none !important;
        width: 100%;
        padding: 5px 10px !important;
        font-weight: bold;
        box-sizing: content-box !important;
    }

    .token-fee {
        padding: 15px 5px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        color: #303030;
    }

    .t-highlight {
        color: $p-btn-bg-2;
        font-weight: bold;
    }

    .token-btn {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        .stake-btn {
            width: 70% !important;
        }
    }

    .small-address {
        margin: 2px 5px;
    }

    .token-deposit {
        width: 100%;
        min-height: 146px;
        background: $crypto-btn-1;
        margin-top: 25px;
        border-radius: 2px;
        display: flex;
        flex-direction: row;
        padding: 10px;
        justify-content: space-between;
        box-sizing: border-box;

        .token-title {
            margin: 0px;
            margin-top: 5px;
            padding: 0px;
            margin-bottom: 10px;
        }

        .d-address {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 5px;
        }

        .t-address {
            font-size: 14px;
            word-break: break-word;
        }

        .d-btn {
            button {
                background: #4d4e51;
                color: whitesmoke;
                padding: 5px 15px;
                border-radius: 2px;

                &:hover {
                    background: #373739;
                }
            }
        }

        .d-qr {
            img {
                width: 125px;
            }
        }
    }

    .loader {
        height: 35px;
    }

    .btn-grp {
        display: flex;
        align-items: center;
        margin-right: 5px;

        button {
            height: 25px;
            border: 1px solid $p-btn-shadow;
            background-color: $p-btn-bg-2;
            color: $p-btn-shadow;
            font-size: 10px;

            &:first-child {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }

            &:last-child {
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }

            &:hover {
                background-color: lighten($p-btn-bg-2,5%);
            }
        }
    }
}

.my-wallet .tab-wallet {
    .with-small {
        display: flex;
        justify-content: space-between;

        small {
            font-size: 12px;
        }

        a {
            color: black;
            text-decoration: underline;
        }
    }

    .w-history {
        position: absolute;
        background: #303030;
        color: whitesmoke;
        width: 100%;
        height: 100%;
        top: 0;
        left: 100%;
        transition: left 0.5s ease;
        padding: 20px;
        box-sizing: border-box;

        &.open {
            left: 0;
        }

        .event-heading {
            color: whitesmoke;
            border-bottom: 1px solid rgba(229, 251, 255, 0.40);
        }

        .close {
            cursor: pointer;
        }

        .h-table {
            height: 100%;
        }

        .r-row {
            padding: 0px 5px;
            border: 1px solid #575757;
            margin-bottom: 5px;

            &.status {
                border-color: var(--color-1);
                cursor: pointer;

                &:hover {
                    border-color: var(--color-2);
                }
            }

            .status-1 {
                color: var(--color-1);
            }

            .status-2 {
                color: var(--color-2);
            }

            .status-3, .status-4 {
                color: var(--color-3);
            }

            &.status-1 {
                border-color: var(--color-1);
            }

            &.status-2 {
                border-color: var(--color-2);
            }

            &.status-3, &.status-4 {
                border-color: var(--color-3);
            }

            --color-1: #987c0f;
            --color-2: #73bb26;
            --color-3: #fe0000;
        }

        .t-row {
            display: flex;
            justify-content: space-between;
            padding: 5px 0px;
        }

        .t-title {
            margin-right: 2px;
        }
    }
}

.connect-wallet {
    padding: 0px !important;

    .before-connect {
        display: flex;
        position: absolute;
        height: 100%;
        background: $wallet-bg;
        width: 300px;
        z-index: 5;
        flex-direction: row;
        right: 0;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
            background: darken($wallet-bg,5%);
        }
    }

    .wallet-icon {
        height: 25px;
        margin-right: 10px;
    }

    .wallet-text {
        font-family: $wallet-text-font;
        display: flex;
        flex-direction: column;
        color: $wallet-text;
        font-size: 16px;
        font-weight: bold;

        span {
            font-size: 13px;
        }
    }
}

#WEB3_CONNECT_MODAL_ID {
    z-index: 9999;
    position: absolute;
}

.after-connect {
    display: flex;
    position: absolute;
    height: 100%;
    background: linear-gradient(182deg, #191919, #313131);
    width: 330px;
    z-index: 5;
    flex-direction: row;
    right: 0;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
    align-items: stretch;
    padding: 5px;

    &:hover {
        background: linear-gradient(182deg, #313131, #444444);
    }

    .wallet-text {
        font-family: $wallet-text-font;
        display: flex;
        flex-direction: column;
        color: whitesmoke;
        font-size: 16px;
        font-weight: bold;
        justify-content: space-around;

        .Address {
            font-size: 10px;
            font-weight: normal;
        }

        span {
            font-size: 13px;
        }
    }

    .meta {
        height: 55px
    }

    .c-right {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .wallet-text {
            flex-direction: row;
            align-items: center;

            .wallet-icon {
                margin-right: 0px;
                margin-left: 10px;
            }
        }

        .tran-btn {
            margin-right: 5px;
            font-size: 12px;
            padding: 2px 11px;
            border-radius: 3px;
            font-family: $wallet-text-font;
            background: linear-gradient(45deg, #da7600, #da7600);
            font-weight: bold;

            .wallet-icon {
                height: 15px;
                margin-top: -5px;
                margin-right: 0px;
            }
        }
    }
}
.msg-list {
    margin-top: 10px;

    div {
        line-height: 25px;
        font-weight: bold;
    }
}
.lmt-score {
    position: relative;
    display: inline-flex;
    width: 100%;
    margin-bottom: -24px;
}