/// <reference path="../../utlis/__utils.scss" />
/// <reference path="../../variables/__variables.scss" />
/// <reference path="../../base/__base.scss" />


.market-detail {
        margin-bottom: 15px;
        background-color: $white-color;
        @include padding(0px, 0px, 6px, 0px);
        @include border(bottom, 1px, solid, $base-color-light);

        .multiMarketPin {
            background-position: -385px -501px;

            &:hover {
                background-position: -385px -476px;
            }
        }

        .team-score {
            margin: 0px 5px 0px 4px;
            width: 99%;

            .refer-book {
                text-align: right;
            }
        }
}

 .run_commentary{
     text-transform:uppercase;
     float:right; padding-right:5px; font-size:12px; 
     i{padding-right:4px;}
 }

.to-expand {
    margin-left: 5px;
    @include headline($white-color,13px);
}

/*.black-back {
    margin-bottom: 5px;
}*/

.multi-event_type {
    background-color: $white-color;
    @include padding(1px, 8px, 1px, 8px);
    @include border-radius(4px);
    margin: 0 10px 0 6px;
    color: $dark-gray-black;
}

