/// <reference path="../../utlis/__utils.scss" />
/// <reference path="../variables/__variables.scss" />
/// <reference path="../base/__base.scss" />

.logo-img {
    background: url(/public/images/lucky247/logo.png);
}
.splash {
    background: #4f66a6;
}
.mobile-view {
    .matrix-login {
        .login-form {
            margin: 10px 4%;
        }

        .powerby .power-img img {
            width: 20%;
        }
    }

    .logo {
        height:76%;
    }
}

.captcha:focus-visible {
    outline: none !important;
}

.v-img-cover {
    background: url(/public/images/lucky247/login-bg.jpg) no-repeat center center fixed;
}

//$font-stack: Montserrat, sans-serif !important;
$font-stack: 'Poppins', sans-serif !important;
$font-size: 12px;

$theme-color: #4f66a6;
$theme-dark-color: #000000;
$theme-light-dark-color: #404040;
$theme-danger: #fe0000;
$theme-success: #508D0E;

$green-color: $theme-success;

$black-color: #000000;
$white-color: #ffffff;
$light-white: darken(desaturate($white-color, 10%), 6.5%); /* #eeeeee */
$light-grey: darken(desaturate($white-color, 10%), 10%); /* #e6e6e6  */
$green: #1d7f1e;
$red: #fe0000;
$yellow: #ffdf1b;
$gray: #bbbbbb;
$blue: #59b6ff;
$pink: #fb7e9a;
$purple: #b50037;
$light-purple: #b50037;
$grayish: #474747;
$light-gray: #e2e2e2;
$light-green: #4acfa5;
$light-graygreen: #d3e7e2;
$medium-gray: #e4e4e4;
$darkgrey: #5e5e5e;
$dark-blue: #2C97E6;
$racing-green: #bd1419;

$back-hover: #f2f9ff;
$lay-hover: #fef7f9;

$back-bg: rgba(148, 223, 255,1);
$lay-bg: rgba(249, 200, 211,1);

$back2: rgba(199, 238, 255,1);
$lay2: #ffdee6;

$active-background: #dfe8d4;
$active-border: #4f66a6;
$suspend-color: $red;
$suspend-background: lighten($suspend-color, 43%);
$suspend-border: lighten($suspend-color, 33%);

$promo-text: #1d3d88;
$promo-text2: #1c3d88;
$gmhover: #1c3d88;
$account-menu-bg: #688de4;
$inplay-color: #4874da;

$notification-bg: $white-color;
$notification: #1666a1;
$body-color: #f4f6f9;

$small-btn: #f9c300;

$result-first: #228997;
$result-bg: #0e87bc;
$result-cr: #fff;
$result-a-cr: #fff;
$ab-blue: #bfe3ff;
$ab-red: #ffb1b9;

$transfer-btn-color: #f7db1d ;
$transfer-btn-bg: #1c3d88;

$mb_play: $promo-text2;
$coming-soon: black;
$blinking: black;

$sidebar-cr-1: #dee1e6;
$sidebar-cr-2: #d0d2d4;

$score-f-color: #5f5f5f;
$score-f-active-color:$theme-color;

$border-color:$active-border;
$matrix-btn-shade: #5d86c9;

// admin side
$master-bl-table: #010101;
$master-bl-bg: transparent;
$master-info: $white-color;
$master-info-bg: #010101;

$event-0-bg: #385196;
$event-0-bg-hover: #4361b4;
$event-1-bg: #475d9a;
$event-1-bg-hover: #5871b4;
$event-2-bg: #6477aa;
$event-2-bg-hover: #7d93ce;

$verylight-green: #e2ebb1;
$dark-black-color: #1b2d39;
$medium-gray-black: lighten($dark-black-color, 5.20%); /* #243b4b */

$blue-color: #2c97e6;
$light-blue: lighten($blue-color, 8.305%);
$dark-blue: #2180c4;

$mybook-header: #111111;
$mybook-m-name: #4f66a6;
$mybook-icon: #2ce5dd;
$mybook-dashboard: $theme-color;
$mybook-list: #e4a409;
$mybook-sitemap: #2f3462;
$mybook-stake: #e4e4e4;
$mybook-runner: #f4f4f4;
$mybook-green: $light-green;
$mybook-open: #3a3934;

$gray_black: #303030;

$dark-black-color: #1b2d39;
$header-account: $dark-black-color;
$header-font: $dark-black-color;
$header-hover: $theme-color;

$myaccount-hover: $dark-black-color;
$dark-gray-black: lighten($black-color, 8.3%);
$light-hover-color: darken(desaturate($white-color, 9%), 5%); /* #f2f2f2 */
$logout-btn: $theme-color;
$light-gray-blue: #919cba;

$theme-secondary-color: lighten($black-color, 11.8%);

$menu-fr-color: $white-color;
$tab-top-color: $theme-color;
$one-top-border: $theme-secondary-color;
$one-click: $white-color;
$one-click-active: $blue-color;

$stake-color: $theme-color;
$ok-btn: $theme-color;
$edit-btn: $dark-blue;
$font-color: $theme-color;
$bets-btn: $theme-color;
//$bets-back: $light-gray-black;
$dark-brown: #444444;
$dark-grayish: #ced5da;

$link-color-default: #237dac;
$link-color-hover: darken(desaturate($link-color-default, 18%), 8%);
$link-color-active: darken(desaturate($link-color-default, 19%), 14%);

$link-border-color-default: lighten($link-color-default, 15%);
$link-border-color-hover: lighten($link-color-hover, 15%);
$link-border-color-active: lighten($link-color-active, 15%);

$light-green-color: lighten($theme-success, 20%);
$support-a-color: #F2DCA7;

$sidebar-nav: $dark-black-color;
$red-color: $theme-danger;

$secondary-btn: $theme-dark-color;
$secondary-btn-hover: $theme-color;
$secondary-bg-hover: #000;

$m_selectbox: #4f66a6;
$m-selectbox-fr: white;
$m-header-border: #829be2;

$very-light-gray: #cccccc;

$switch-on-color: #4f66a6;
$switch-on-label: #fff;
$switch-off-color: #fff;
$switch-off-label: #000;

$master-table-bg: rgba(0,0,0,.4);
$grid-hover: rgba(245, 245, 245, 0.2);
$grid-date: #181818;

$lay-1-hover: #f4496d;
$lay-1-color: lighten($lay-1-hover, 20%);
$lay-2-color: lighten($lay-1-color, 8%);
$lay-3-color: lighten($lay-2-color, 4%);

$back-1-hover: #1a8ee1;
$back-1-color: lighten($back-1-hover, 25%);
$back-2-color: lighten($back-1-color, 14%);
$back-3-color: lighten($back-2-color, 7%);
$moderate-blue: lighten($back-1-hover, 13.85%);

$red-dark-color: #ff6262;
$icon-color: #77570c;

@import '../pages/_victory-login.scss';

.header-container {
    background: #1c3d88;
}

.e > :nth-child(1), #sub_1 > a:nth-child(1) {
    background-image: url('/public/images/lucky247/man.jpg');
}

.f > a:nth-child(1), #sub_1 > a:nth-child(2) {
    background-image: url('/public/images/lucky247/tennis_pic.jpg');
}

#sub_2 > a:nth-child(1) {
    background-image: url('/public/images/lucky247/32cards.jpg');
}

.d > a:nth-child(1) {
    background-image: url('/public/images/lucky247/Pokerodi.jpg');
}

.b > a:nth-child(2) {
    background-image: url('/public/images/lucky247/tpodi.jpg');
}

#sub_3 > a:nth-child(1) {
    background-image: url('/public/images/lucky247/tptest.jpg');
}

#sub_3 > a:nth-child(2) {
    background-image: url('/public/images/lucky247/roulete.jpg');
}

.bg-img {
    background-image: url('/public/images/lucky247/chevron-down.png');
}

.logo-bg {
    background-image: url('/public/images/lucky247/header-logo.png');
}

.games-container {
    background-image: url('/public/images/lucky247/platform_bg.jpg');
}


.sid-img {

    .inplay {
        background-image: url('/public/images/lucky247/stop-watch-sidebar.png');
    }

    .infinity {
        background-image: url('/public/images/lucky247/all.png');
    }

    .close {
        background-image: url('/public/images/lucky247/x-orderslip.png');
    }

    .check-white {
        background-image: url('/public/images/lucky247/check-white.png');
    }

    .trash {
        background-image: url('/public/images/lucky247/trash-orderslip.png');
    }

    .favourite {
        background-image: url('/public/images/lucky247/star-red.png');
    }

    .no-favourite {
        background-image: url('/public/images/lucky247/star-yellow.png');
    }

    .my-market, .icon-sport-special-bets {
        background-image: url('/public/images/lucky247/sss.png');
    }

    .casino {
        background-image: url('/public/images/lucky247/zar.png');
    }

    .icon-sport-casino, .icon-sport-teen-patti {
        background-image: url('/public/images/lucky247/cards.png');
    }

    .icon-sport-cricket {
        background-image: url('/public/images/lucky247/cricket.png');
    }

    .icon-sport-soccer, .icon-sport-football {
        background-image: url('/public/images/lucky247/football.png');
    }

    .icon-sport-tennis {
        background-image: url('/public/images/lucky247/tennis.png');
    }

    .icon-sport-race, .icon-sport-horse-racing {
        background-image: url('/public/images/lucky247/horseracing.png');
    }

    .icon-sport-greyhound-racing {
        background-image: url('/public/images/lucky247/greyhoundracing.png');
    }

    .icon-sport-other {
        background-image: url('/public/images/lucky247/trophy.png');
    }

    .icon-sport-politics {
        background-image: url('/public/images/lucky247/politics.png');
    }

    .icon-sport-kabaddi {
        background-image: url('/public/images/lucky247/kabaddi.png');
    }
}

.mobile-view {
    #overlay {
        background: linear-gradient(to right, #bcd0ff, #859fdd, #bcd0ff);
    }

    .mb-account {
        background: linear-gradient(to right, #94d8c3, #80aa9d, #94d8c3);
    }

    .login-form {
        .login-bottom {
            .btn-login:focus-visible {
                outline: none !important;
            }
        }
    }
}


.right-hd {
    .month-time.balance {
        border-right: 1px solid #f9c73d;
        border-left: 1px solid #f9c73d;
        border-radius: 5px;
        padding: 5px;
        box-shadow: #50749a -1px 3px 9px 0px, #0d325a -3px -2px 11px;


        .positive {
            color: #5eeb5e !important;
        }

        .negative {
            color: #ffa2a2 !important;
        }
    }
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1135px) {
    .content-wrap-table {
        div.section-logo {
            background-size: 40% 100% !important;
            height: 50px !important;
        }
    }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 767px) {
    .content-wrap-table {
        div.section-logo {
            background-size: 35% 100% !important;
            height: 35px !important;
        }
    }

    .matrix-login {
        height: 100vh;
        overflow-y: scroll;

        .header-top {
            width: 100%;
            overflow-y: scroll;
        }
    }
}


@media only screen and (min-device-width: 480px) and (max-device-width: 950px) and (orientation:landscape) {
    .matrix-login {
        height: 100vh;
        overflow-y: scroll;

        .header-top {
            overflow-y: scroll;
            transform: inherit !important;
        }
    }

    .mobile-view {
        .v-img-cover {
            height: inherit;
        }
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .content-wrap-table {
        div.section-logo {
            background-size: 65% 100% !important;
            height: 40px !important;
        }
    }

    .matrix-login {
        .header-top {
            width: 100%;
        }

        .powerby .power-img img {
            width: 25% !important;
        }

        .captcha-div {
            .captcha {
                width: 50%;
            }
        }
    }
}

