/// <reference path="../../utlis/__utils.scss" />
/// <reference path="../variables/__variables.scss" />
/// <reference path="../base/__base.scss" />

.promo-body {
    overflow-y: overlay; //auto;
}
//body{overflow:hidden;}

$font-stack: Montserrat, sans-serif !important;

$theme-color: #6c1111;
$theme-dark-color: #000000;
$theme-light-dark-color: #404040;
$theme-danger: #fe0000;
$theme-success: #508D0E;



$black-color: #000000;
$white-color: #ffffff;
$light-white: darken(desaturate($white-color, 10%), 6.5%); /* #eeeeee */
$light-grey: darken(desaturate($white-color, 10%), 10%); /* #e6e6e6  */
$green: #1d7f1e;
$red: #fe0000;
$yellow: #ffdf1b;
$gray: #bbbbbb;
$blue: #59b6ff;
$pink: #fb7e9a;
$purple: #b50037;
$light-purple: #b50037;
$grayish: #474747;
$light-gray: #e2e2e2;
$light-green: #4acfa5;
$light-graygreen: #d3e7e2;
$medium-gray: #e4e4e4;
$darkgrey: #5e5e5e;
$dark-blue: #2C97E6;
$racing-green: #bd1419;

$back-hover: #f2f9ff;
$lay-hover: #fef7f9;

$back-bg: rgba(148, 223, 255,1);
$lay-bg: rgba(249, 200, 211,1);

$back2: rgba(199, 238, 255,1);
$lay2: #ffdee6;

$active-background: #dfe8d4;
$active-border: #a7d07c;
$suspend-color: $red;
$suspend-background: lighten($suspend-color, 43%);
$suspend-border: lighten($suspend-color, 33%);

$promo-text: #a02020;
$promo-text2: #6c1111;
$gmhover: #6c1111;
$account-menu-bg: #d75555;
$inplay-color: #ba2525;

$notification-bg: $white-color;
$notification: #1666a1;
$body-color: #f4f6f9;

$small-btn: #c33737;

$result-first: #228997;
$result-bg: #0e87bc;
$result-cr: #fff;
$result-a-cr: #fff;
$ab-blue: #bfe3ff;
$ab-red: #ffb1b9;

$transfer-btn-color: #f7db1d ;
$transfer-btn-bg: #6c1111;

$sidebar-cr-1: #e6e2de;
$sidebar-cr-2: #d0d2d4;

.header-container {
    background: linear-gradient(#851d1d 40%, #5e0f0f 79%);


    .logo {
        left: 1%;
        height: 100%;
    }
}

.e > :nth-child(1), #sub_1 > a:nth-child(1) {
    background-image: url('/public/images/cricbet99/man.jpg');
}

.f > a:nth-child(1), #sub_1 > a:nth-child(2) {
    background-image: url('/public/images/cricbet99/tennis_pic.jpg');
}

#sub_2 > a:nth-child(1) {
    background-image: url('/public/images/cricbet99/32cards.jpg');
}

.d > a:nth-child(1) {
    background-image: url('/public/images/cricbet99/Pokerodi.jpg');
}

.b > a:nth-child(2) {
    background-image: url('/public/images/cricbet99/tpodi.jpg');
}

#sub_3 > a:nth-child(1) {
    background-image: url('/public/images/cricbet99/tptest.jpg');
}

#sub_3 > a:nth-child(2) {
    background-image: url('/public/images/cricbet99/roulete.jpg');
}

.bg-img {
    background-image: url('/public/images/cricbet99/chevron-down.png');
}

.logo-bg {
    background-image: url('/public/images/cricbet99/header-logo.png');
}

.games-container {
    background-image: url('/public/images/cricbet99/platform_bg.jpg');
}


.sid-img {

    .inplay {
        background-image: url('/public/images/cricbet99/stop-watch-sidebar.png');
    }

    .infinity {
        background-image: url('/public/images/cricbet99/all.png');
    }

    .close {
        background-image: url('/public/images/cricbet99/x-orderslip.png');
    }

    .check-white {
        background-image: url('/public/images/cricbet99/check-white.png');
    }

    .trash {
        background-image: url('/public/images/cricbet99/trash-orderslip.png');
    }

    .favourite {
        background-image: url('/public/images/cricbet99/star-red.png');
    }

    .no-favourite {
        background-image: url('/public/images/cricbet99/star-yellow.png');
    }

    .my-market, .icon-sport-special-bets {
        background-image: url('/public/images/cricbet99/sss.png');
    }

    .casino {
        background-image: url('/public/images/cricbet99/zar.png');
    }

    .icon-sport-exchange-games {
        background-image: url('/public/images/cricbet99/cards.png');
    }

    .icon-sport-cricket {
        background-image: url('/public/images/cricbet99/cricket.png');
    }

    .icon-sport-football {
        background-image: url('/public/images/cricbet99/football.png');
    }

    .icon-sport-tennis {
        background-image: url('/public/images/cricbet99/tennis.png');
    }

    .icon-sport-horse-racing {
        background-image: url('/public/images/cricbet99/horseracing.png');
    }

    .icon-sport-greyhound-racing {
        background-image: url('/public/images/cricbet99/greyhoundracing.png');
    }

    .icon-sport-trophy {
        background-image: url('/public/images/cricbet99/trophy.png');
    }
}

.mobile-view {
    #overlay {
        background: linear-gradient(to right, #94d8c3, #80aa9d, #94d8c3);
    }

    .mb-account {
        background: linear-gradient(to right, #94d8c3, #80aa9d, #94d8c3);
    }

    .header-container {
        .logo {
            height: 70%;
        }
    }
}
