/// <reference path="../../utlis/__utils.scss" />
/// <reference path="../variables/__variables.scss" />
/// <reference path="../base/__base.scss" />

.promo-body {
    overflow-y: overlay; //auto;
}
//body{overflow:hidden;}

$font-stack: Montserrat, sans-serif !important;
$font-size: 12px;

$theme-color: #801414;
$theme-dark-color: #000000;
$theme-light-dark-color: #404040;
$theme-danger: #fe0000;
$theme-success: #508D0E;


$p-btn-bg-1: #f6b800;
$p-btn-bg-2: #f9d020;
$p-btn-shadow: #fff5c8;
$crypto-btn-1: #d6d6d6;
$crypto-btn-hover: #bebebe;
$bf-gray-1: #dfdfdf;

$payment-bg: #efefef;
$tab-text: #ccc;
$wallet-submitbg: #1e1e1e;
$wallet-submit: #34727a;
$wallet-title: #4f4f4f;
$tab-active-border: #09363c;

$btngroup-hover: $theme-color;
$btngroup-back: #686868;

$black-color: #000000;
$white-color: #ffffff;
$light-white: darken(desaturate($white-color, 10%), 6.5%); /* #eeeeee */
$light-grey: darken(desaturate($white-color, 10%), 10%); /* #e6e6e6  */
$green: #1d7f1e;
$red: #fe0000;
$yellow: #ffdf1b;
$gray: #575353;
$blue: #59b6ff;
$pink: #fb7e9a;
$purple: #b50037;
$light-purple: #b50037;
$grayish: #474747;
$light-gray: #e2e2e2;
$light-green: #4acfa5;
$light-graygreen: #d3e7e2;
$medium-gray: #e4e4e4;
$darkgrey: #5e5e5e;
$dark-blue: #2C97E6;
$racing-green: #bd1419;

$back-hover: #f2f9ff;
$lay-hover: #fef7f9;

$back-bg: rgba(148, 223, 255,1);
$lay-bg: rgba(249, 200, 211,1);

$back2: rgba(199, 238, 255,1);
$lay2: #ffdee6;

$active-background: #dfe8d4;
$active-border: #a7d07c;
$suspend-color: $red;
$suspend-background: lighten($suspend-color, 43%);
$suspend-border: lighten($suspend-color, 33%);

$promo-text: #ac1e1e;
$promo-text2: #c01919;
$gmhover: #6e1212;
$account-menu-bg: #fa9191;
$inplay-color: #5bba12;

$notification-bg: $white-color;
$notification: #1666a1;
$body-color: #f4f6f9;

$small-btn: $theme-color;

$result-first: #228997;
$result-bg: #0e87bc;
$result-cr: #fff;
$result-a-cr: #fff;
$ab-blue: #bfe3ff;
$ab-red: #ffb1b9;

$transfer-btn-color: #f7db1d;
$transfer-btn-bg: #12536e;

$mb_play: $promo-text2;
$coming-soon: black;
$blinking: black;

$score-f-color: #5f5f5f;
$score-f-active-color: $theme-color;

$sidebar-cr-1: #dee5e6;
$sidebar-cr-2: #d0d3d4;


// admin side
$green-color: $theme-success;
$border-color: $active-border;

$master-bl-table: #010101;
$master-bl-bg: transparent;
$master-info: $white-color;
$master-info-bg: #010101;

$event-0-bg: #385196;
$event-0-bg-hover: #4361b4;
$event-1-bg: #475d9a;
$event-1-bg-hover: #5871b4;
$event-2-bg: #6477aa;
$event-2-bg-hover: #7d93ce;

$verylight-green: #e2ebb1;
$dark-black-color: #1b2d39;
$medium-gray-black: lighten($dark-black-color, 5.20%); /* #243b4b */

$blue-color: #2c97e6;
$light-blue: lighten($blue-color, 8.305%);
$dark-blue: #2180c4;

$mybook-header: #111111;
$mybook-m-name: #4f66a6;
$mybook-icon: #2ce5dd;
$mybook-dashboard: $theme-color;
$mybook-list: #e4a409;
$mybook-sitemap: #2f3462;
$mybook-stake: #e4e4e4;
$mybook-runner: #f4f4f4;
$mybook-green: $light-green;
$mybook-open: #3a3934;

$gray_black: #303030;

$dark-black-color: #1b2d39;
$header-account: $dark-black-color;
$header-font: $dark-black-color;
$header-hover: $theme-color;

$myaccount-hover: $dark-black-color;
$dark-gray-black: lighten($black-color, 8.3%);
$light-hover-color: darken(desaturate($white-color, 9%), 5%); /* #f2f2f2 */
$logout-btn: $theme-color;
$light-gray-blue: #919cba;

$theme-secondary-color: lighten($black-color, 11.8%);

$menu-fr-color: $white-color;
$tab-top-color: $theme-color;
$one-top-border: $theme-secondary-color;
$one-click: $white-color;
$one-click-active: $blue-color;

$stake-color: $theme-color;
$ok-btn: $theme-color;
$edit-btn: $dark-blue;
$font-color: $theme-color;
$bets-btn: $theme-color;
//$bets-back: $light-gray-black;
$dark-brown: #444444;
$dark-grayish: #ced5da;

$link-color-default: #237dac;
$link-color-hover: darken(desaturate($link-color-default, 18%), 8%);
$link-color-active: darken(desaturate($link-color-default, 19%), 14%);

$link-border-color-default: lighten($link-color-default, 15%);
$link-border-color-hover: lighten($link-color-hover, 15%);
$link-border-color-active: lighten($link-color-active, 15%);

$light-green-color: lighten($theme-success, 20%);
$support-a-color: #F2DCA7;

$sidebar-nav: $dark-black-color;
$red-color: $theme-danger;

$secondary-btn: $theme-dark-color;
$secondary-btn-hover: $theme-color;
$secondary-bg-hover: #000;

$m_selectbox: #4f66a6;
$m-selectbox-fr: white;
$m-header-border: #829be2;

$very-light-gray: #cccccc;

$switch-on-color: #4f66a6;
$switch-on-label: #fff;
$switch-off-color: #fff;
$switch-off-label: #000;

$master-table-bg: rgba(0,0,0,.4);
$grid-hover: rgba(245, 245, 245, 0.2);
$grid-date: #181818;

$lay-1-hover: #f4496d;
$lay-1-color: lighten($lay-1-hover, 20%);
$lay-2-color: lighten($lay-1-color, 8%);
$lay-3-color: lighten($lay-2-color, 4%);

$back-1-hover: #1a8ee1;
$back-1-color: lighten($back-1-hover, 25%);
$back-2-color: lighten($back-1-color, 14%);
$back-3-color: lighten($back-2-color, 7%);
$moderate-blue: lighten($back-1-hover, 13.85%);

$red-dark-color: #ff6262;
$icon-color: #77570c;


.header-container {
    background: linear-gradient(180deg, #ac4259, #7a0613);
}

.e > :nth-child(1), #sub_1 > a:nth-child(1) {
    background-image: url('/public/images/betguruji/man.jpg');
}

.f > a:nth-child(1), #sub_1 > a:nth-child(2) {
    background-image: url('/public/images/betguruji/tennis_pic.jpg');
}

#sub_2 > a:nth-child(1) {
    background-image: url('/public/images/betguruji/32cards.jpg');
}

.d > a:nth-child(1) {
    background-image: url('/public/images/betguruji/Pokerodi.jpg');
}

.b > a:nth-child(2) {
    background-image: url('/public/images/betguruji/tpodi.jpg');
}

#sub_3 > a:nth-child(1) {
    background-image: url('/public/images/betguruji/tptest.jpg');
}

#sub_3 > a:nth-child(2) {
    background-image: url('/public/images/betguruji/roulete.jpg');
}

.bg-img {
    background-image: url('/public/images/betguruji/chevron-down.png');
}

.logo-bg {
    background-image: url('/public/images/betguruji/header-logo.png');
}

.master-class .logo-img {
    background-image: url('/public/images/betguruji/header-logo.png');
}

.games-container {
    background-image: url('/public/images/betguruji/platform_bg.jpg');
}


.sid-img {

    .inplay {
        background-image: url('/public/images/betguruji/stop-watch-sidebar.png');
    }

    .infinity {
        background-image: url('/public/images/betguruji/all.png');
    }

    .close {
        background-image: url('/public/images/betguruji/x-orderslip.png');
    }

    .check-white {
        background-image: url('/public/images/betguruji/check-white.png');
    }

    .trash {
        background-image: url('/public/images/betguruji/trash-orderslip.png');
    }

    .favourite {
        background-image: url('/public/images/betguruji/star-red.png');
    }

    .no-favourite {
        background-image: url('/public/images/betguruji/star-yellow.png');
    }

    .my-market, .icon-sport-special-bets {
        background-image: url('/public/images/betguruji/sss.png');
    }

    .casino {
        background-image: url('/public/images/betguruji/zar.png');
    }

    .icon-sport-casino, .icon-sport-teen-patti {
        background-image: url('/public/images/betguruji/cards.png');
    }

    .icon-sport-cricket {
        background-image: url('/public/images/betguruji/cricket.png');
    }

    .icon-sport-soccer, .icon-sport-football {
        background-image: url('/public/images/betguruji/football.png');
    }

    .icon-sport-tennis {
        background-image: url('/public/images/betguruji/tennis.png');
    }

    .icon-sport-race, .icon-sport-horse-racing {
        background-image: url('/public/images/betguruji/horseracing.png');
    }

    .icon-sport-greyhound-racing {
        background-image: url('/public/images/betguruji/greyhoundracing.png');
    }

    .icon-sport-other {
        background-image: url('/public/images/betguruji/trophy.png');
    }

    .icon-sport-politics {
        background-image: url('/public/images/betguruji/politics.png');
    }

    .icon-sport-kabaddi {
        background-image: url('/public/images/betguruji/kabaddi.png');
    }
}

.header .logo {
    height: 92%;
}
.mobile-top {
    .header .logo {
        max-width: 145px;
        margin-left: -30px;
    }
}
.mobile-view {
    #overlay {
        background: linear-gradient(to right, #d89494, #aa8080, #d89494);
    }

    .mb-account {
        background: linear-gradient(to right, #d89494, #aa8080, #d89494);
    }
}


.right-hd {
    .month-time.balance {
        border-right: 1px solid #f93d3d;
        border-left: 1px solid #f93d3d;
        border-radius: 5px;
        padding: 5px;
        box-shadow: #a03f4c -1px 3px 9px 0px, #633745 -3px -2px 11px;


        .positive {
            color: #5eeb5e !important;
        }

        .negative {
            color: #ffa2a2 !important;
        }
    }
}
